<template>
	<div class="container">
	    <div class="row justify-content-center">
	        <div class="col-md-12">
	            <div class="card">
	                <div class="card-header" style="padding:10px 0px;">
	                	<div class="container-fluid row">
		                	<span class="col-6 pull-left"><h3>Mobile Devices</h3></span>
		                	<!-- <span class="col-6">
			                	<button class="btn btn-danger pull-right" @click.prevent="uploadModal()"><i class="fa fa-upload"></i> Upload</button>
			                </span> -->
		                </div>
	                </div>

	                <div class="card-body">
				        <div id="mobileCategories" class="container" v-if="selectedBrand == ''">
				    		<!-- 	<h2 style="color:#068edf;padding-bottom:12px">Select your Handset</h2> -->
							<div class="col-12">
								<div class="row ">
									<div class="col-1 mobilePlan" v-for="mobilePlan in mobilePlans" style="margin-bottom:20px;flex:0 0 19.666667%;max-width:19.666667% !important">
										<div class="planHover" @click.prevent="selectBrand(mobilePlan.id)">
									  		<img :src="(mobilePlan.image_url) ? mobilePlan.image_url : '/img/mobile_plans/default.png'" alt="Avatar" class="image" style="width:100%">
										  	<div class="middle">
										    	<div class="text"><h3>Select</h3></div>
										 	</div>
										 </div>
									</div>
								</div>
							</div>
				    	</div>

				    	<div v-if="selectedBrand != ''">
				        	<div class="container-fluid" v-if="selectedBrand != ''">

				        		<div class="col-12" style="padding-left: 0px;padding-right: 0px;">
				        			<div class="row">
										<div class="col-10" style="padding-top:10px;">
											<div class="form-group row">
											    <label for="inputPassword" class="col-sm-4 col-form-label"><h3 style="color:#068edf;">Search Device Model</h3></label>
											    <!-- <div class="col-sm-8">
											      <input type="text" class="form-control" id="inputSearchModel" v-model="search" placeholder="Search here..">
											    </div> -->
											    <div class="inner-addon right-addon col-sm-8">
												    <!-- <i class="fa fa-search"></i> -->
												    <input type="text" v-model="search"  class="form-control" placeholder="Search.." />
												</div>
											</div>
										</div>
										<div class="col-2" style="margin-bottom: 1rem;">
											<button class="pull-right btn btn-primary customBtn" @click.prevent="backBtnCategory('brand')"><h5 style="padding-top:5px;color:#fff">Back</h5></button>
										</div>
									</div>
								</div>
								<div class="col-12">
									<div class="row ">
									 	<table class="table table-striped table-hover">
											<thead>
												<tr>
													<!-- <th>
													</th> -->
													<th>id</th>
													<th>Make</th>
													<th>Model</th>
													<th>Categories</th>
												</tr>
											</thead>
											<tbody>
												<tr v-for="i in mobileDevices">
													<!-- <td>
														<label class="form-checkbox">
									    					<input type="checkbox" :value="i.id" v-model="selected">
															<i class="form-icon"></i>
									  					</label>
													</td> -->
													<td>{{i.id}}</td>
													<td>{{i.make}}</td>
													<td>{{i.model}} {{i.capacity}}</td>
													<td>
														<ul v-if="deviceCategories">
															<li v-for="item in deviceCategories" style="padding-top:1rem">
																<button :class="(i.device_category_id == item.id) ? 'btn btn-success' : 'btn btn-primary'" @click.prevent="selectCategory(i.id, item.id)">{{item.name}}</button></li>
														</ul>
														<button v-else class="btn btn-primary" @click.prevent="selectCategory(i.id, '0')">Huawei, Motorola, LG, Nokia, Telstra</button>
													</td>
												</tr>
											</tbody>
										</table>
									 </div>
								</div>
				        	</div>
				        </div>

				        <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  	<div class="modal-dialog modal-lg" role="document">
						    <div class="modal-content">
						      	<div class="modal-header">
						        	<h5 class="modal-title" id="exampleModalLabel">Upload</h5>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
						      	</div>
						      	<form class="form">
							      	<div class="modal-body">

		                                <div class="form-group row">
		                                    <label for="description" class="col-md-2 col-form-label text-md-right">Upload File</label>

		                                    <div class="col-md-10">
		                                    	<div class="row">
				                                    <div class="col-md-6 upload-btn-wrapper" style="padding-top:1%">
				                                      <button class="btn-upload">Upload or Drag File</button>
				                                      <input required type="file" ref="link" @change="onFileChange">
				                                    </div>
				                                    <h4 class="col-md-6" style="padding:-top:5px;margin-top:5px;padding-top:1%;">{{fileName}}</h4>
				                                </div>
		                                    </div>
		                                </div>

							    		
							     	</div>
							      	<div class="modal-footer">
								        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								        <input type="submit" class="btn btn-primary" value="Save" @click.prevent="save()">
							      	</div>
						      	</form>
						    </div>
					  	</div>
					</div>

			    	</div>
            	</div>
        	</div>
    	</div>
	</div>
</template>
<script type="text/javascript">
	import {ServerTable, ClientTable, Event} from 'vue-tables-2';
    
    Vue.use(ClientTable, {}, false, 'bootstrap4');

    import moment from 'moment';
	Vue.filter('formatDate', function(value) {
        if (value) {
            return moment(String(value)).format('D MMM Y')
        }
    })
	export default{
		data() {
            return {
                fileName: 'No File Selected',
            	form:{file:''},
            	mobileDevices: [],
                options: {
                    perPage: 10,
        //             sortIcon: {
				    //     base : 'fa',
				    //     is: 'fa-sort',
				    //     up: 'fa-sort-asc',
				    //     down: 'fa-sort-desc'
				    // }
				  	selectable:{
				    	mode: 'multiple', // or 'multiple'
				    	only: function(row) {
				       		return true // any condition
				    	}
				  	}
                },
                items: [
					{
						id: "id1",
						name: "John Doe",
						email: "email@example.com"
					},
					{
						id: "id2",
						name: "Jone Doe",
						email: "email2@example.com"
					}
				],
				selected: [],
				selectAll: false,
            	search: '',
            	mobilePlans: [{'image_url':'/img/mobile_plans/default.png'}],
            	plan: {'id': ''},
            	selectedBrand: '',
            	deviceCategories: [],
            	categoryDetails: {'mobileID': '', 'categoryID' : ''}
			}
		},
		mounted(){
			this.getMobileDevices()
			this.getMobilePlans()
		},
		computed:{
		    filteredList() {
		      return this.mobileDevices.filter(mobileDevice => {
		        return mobileDevice.model.toLowerCase().includes(this.search.toLowerCase())
		      })
		    },
		},
		methods:{
			getMobileDevices(){
				axios.get('/get-all-mobile-devices').then((response) => {
					this.mobileDevices = response.data
				})
			},
			select() {
				console.log(this.selectAll)
				this.selected = [];
				if (!this.selectAll) {
					for (let i in this.mobileDevices) {
						this.selected.push(this.mobileDevices[i].id);
					}
				}
			},
        	backBtnCategory(type){
        		this.search = ''
        		console.log(type)
        		if(type == 'brand'){
        			this.selectedBrand = ''
        		}

        		if(type == 'plan'){
        			this.mobileDevices = ''
        			this.selectedPlan = ''
        		}

        		if(type == 'mobileDevice'){
        			this.cartItem = {}
        			this.addExtra = 0
        			this.confirmedCartItem = 0
        			this.selectedBrand = ''
        			this.mobileDevices = ''
        			this.selectedPlan = ''

        			window.location.href = '/';
        		}
        	},
        	getMobilePlans(){
        		axios.get('/get-mobile-plans').then(response => {
        			this.mobilePlans = response.data
        		});
        	},
        	selectBrand(id){

        		this.selectedBrand = id
        		this.plan.id = id

        		axios.post('/get-mobile-devices', this.plan).then(response => {
        			this.mobileDevices = response.data
        		});

        		axios.get('/device-categories/'+this.selectedBrand).then((response) => {
        			this.deviceCategories = response.data
        		})
        	},
        	selectCategory(mobileID, categoryID){
        		this.categoryDetails.mobileID = mobileID
        		this.categoryDetails.categoryID = categoryID
        		axios.post('/mobile-device/update-category',this.categoryDetails).then((response) => {
        			axios.post('/get-mobile-devices', this.plan).then(response => {
	        			this.mobileDevices = response.data
	        		});

        			axios.get('/device-categories/'+this.selectedBrand).then((response) => {
	        			this.deviceCategories = response.data
	        		})
        		})
        	},
        	uploadModal(){
        		console.log("clicked")
        		$('#uploadModal').modal('show')
        	},
        	save(){
        		// axios.post('/upload-mobile-plans',this.gatherFormData()).then((response) => {
        		// 	$('#uploadModal').modal('hide')
        		// 	alert('upload success.')
        		// })

        		axios.post('/test-upload',this.gatherFormData()).then((response) => {
        			$('#uploadModal').modal('hide')
        			alert('upload success.')
        		})
        	},
            gatherFormData() {
                const data = new FormData();

                data.append('link', this.$refs.link.files[0]);     
                return data;
            },
            onFileChange(event){
               var fileData =  event.target.files[0];
               this.fileName=fileData.name;
            },
		}
	}
</script>

<style type="text/css" scoped>
	.productHover:hover{
		background: rgba(234,167,33,0.6);
		color:#fff;
		cursor: pointer;
	}

	.activeItem{
		background-color:#000;
		color:#fff;
		cursor: pointer;
	}

	.bordered{
		border: 2px solid #3490dc;
	}

	a:hover{
		cursor: pointer;
	}
	ul {
	  list-style-type: none;
	  padding: 0;
	}

	li {
	  display: inline-block;
	  margin: 0 10px;
	}

	.priceTable{
		border:1px solid #000;
	}

	.paginate-links{
		background-color: #fff;
		text-align: center;
		padding:10px;
		font-size: 18px;
		margin:0px 40px 20px 40px;
	}

	.paginate-list {
	  width: 159px;
	  margin: 0 auto;
	  text-align: left;
	  li {
	    display: block;
	    &:before {
	      content: '⚬ ';
	      font-weight: bold;
	      color: slategray;
	    }
	  }
	}

	.list-group-item {
		cursor: pointer;
		margin-bottom: 10px;
	}
	.paginate-links.items {
	  user-select: none;
	  a {
	    cursor: pointer;
	  }
	  li.active a {
	    font-weight: bold;
	  }
	  li.next:before {
	    content: ' | ';
	    margin-right: 13px;
	    color: #ddd;
	  }
	  li.disabled a {
	    color: #ccc;
	    cursor: no-drop;
	  }
	}

	.disabled{
		color: #ccc;
	    cursor: no-drop;
	}

	a {
	  color: #42b983;
	}

	.addedService{
		min-width: 210px;
	}

	.spacing{
		margin-left:1%;
	}

	.mobilePlan {
	  position: relative;
	  width: 50%;
	}

	.image .card-title{
	  opacity: 1;
	  display: block;
	  width: 100%;
	  height: auto;
	  transition: .5s ease;
	  backface-visibility: hidden;
	  color:#028cde !important;
	}

	.middle {
	  transition: .5s ease;
	  opacity: 0;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	  text-align: center;
	}

	.mobilePlan:hover .image {
	  opacity: 0.3;

	}

	.planHover:hover{
		border-radius:10px;
		cursor: pointer;
	  	  background-color: #1670a6 !important;
	}

	.mobilePlan:hover .middle {
	  opacity: 1;
	}

	.text {
	  color: white;
	  font-size: 16px;
	  padding: 16px 32px;
	}

	.tabPlan{
		border-top-left-radius: 10x;
		border: 1px solid #e2e2e2;
		background-color:#fca318;
	}

	#planTable { border-collapse: separate; border-spacing: 0px; }
	#planTable td { border:1px solid #dee2e6; }
	#planTable tr:first-child td:first-child { border-top-left-radius: 10px; }
	#planTable tr:first-child td:last-child { border-top-right-radius: 10px; }
	#planTable tr:last-child td:first-child { border-bottom-left-radius: 10px; }
	#planTable tr:last-child td:last-child { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }

	#customTbl{ border-collapse: separate; border-spacing: 0px; }
	#customTbl td { border:1px solid #dee2e6; }
	#customTbl tr:first-child td:first-child { border-top-left-radius: 10px; }
	#customTbl tr:first-child td:last-child { border-top-right-radius: 10px; }
	#customTbl tr:last-child td:first-child { border-bottom-left-radius: 10px; }
	#customTbl tr:last-child td:last-child { border-bottom-right-radius: 10px; }
	.customBtn{
		border-radius:25px;padding-right: 30px;padding-left:30px;
	}

	/* enable absolute positioning */
	.inner-addon { 
	    position: relative; 
	}

	/* style icon */
	.inner-addon .fa {
	  position: absolute;
	  padding: 10px 30px 10px 20px;
	  pointer-events: none;
	}

	/* align icon */
	.left-addon .fa  { left:  0px;}
	.right-addon .fa { right: 0px;font-size:18px;}

	/* add padding  */
	.left-addon input  { padding-left:  50px; }
	.right-addon input {  padding-right: 150px;
    border-radius: 15px;
    height: 40px;
    font-size: 20px; }

    #princingTable{ border-collapse: separate; border-spacing: 0px; }
    #princingTable tbody tr:last-child td:last-child { border-bottom-left-radius: 10px; }
    #princingTable tbody tr:last-child td:first-child { border-bottom-right-radius: 10px; }
    .multiselect{min-height: 65px !important;}

    #planCartTable { border-collapse: separate; border-spacing: 0px; }

    #priceTable { border-collapse: separate; border-spacing: 0px; }
	#priceTable thead {background-color:#bababa;color:#fff;}
	#priceTable tbody tr:first-child td:first-child { border-top-left-radius: 10px; }
	#priceTable tbody tr:first-child td:last-child { border-top-right-radius: 10px; }
	#priceTable tbody tr:last-child td:first-child { border-bottom-left-radius: 10px; }
	#priceTable tbody tr:last-child td:last-child { border-bottom-right-radius: 10px; }

	.pull-right{
		float:right;
	}

	.rowStyle{
        border:2px solid gray;
        border-radius: 5px;
        padding:15px;
    }

    .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
    }

    .btn-upload {
      border: 2px solid gray;
      color: gray;
      background-color: white;
      padding: 4px 15px;
      border-radius: 8px;
      font-size: 16px;
      font-weight: bold;
    }

    .upload-btn-wrapper input[type=file] {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }

    .VuePagination {
      text-align: center;
    }

    .vue-title {
      text-align: center;
      margin-bottom: 10px;
    }

    .vue-pagination-ad {
      text-align: center;
    }
</style>