<template>
	<div class="container">
	    <div class="row justify-content-center">
	        <div class="col-md-12">
	            <div class="card">
	                <div class="card-header" style="padding:10px 0px;">
	                	<div class="container-fluid row">
		                	<span class="col-6 pull-left"><h3>Discounts</h3></span>

			                <span class="col-2 pull-right">
			                	<button class="btn btn-primary pull-right"  @click.prevent="showActive()">Active Promotions</button>
			                </span>

			                <span class="col-2 pull-right">
			                	<button class="btn btn-info pull-right"  @click.prevent="showArchive()">Archive Records</button>
			                </span>

		                	<span class="col-2 pull-right">
			                	<button class="btn btn-success pull-right"  @click.prevent="addDiscount()"> Add Promotions</button>
			                </span>
		                </div>
	                </div>

	                <div class="card-body">
	                	<!-- <v-client-table class="text-center" v-if="discounts" :data="discounts" :columns="['name','category','vas','plan_type','discount_type','mobile_device','discount_price','is_credit','start_date','is_automatic','end_date','actions']" :options="options">
	                		<template slot="is_automatic" slot-scope="props">
	                			<span v-if="props.row.is_automatic == '0'">
	                				No
	                			</span>
	                			<span v-if="props.row.is_automatic == '1'">
	                				Yes
	                			</span>
	                		</template>

	                		<template slot="is_credit" slot-scope="props">
	                			<span v-if="props.row.is_credit == '0'">
	                				Charge
	                			</span>
	                			<span v-if="props.row.is_credit == '1'">
	                				Credit
	                			</span>
	                		</template>

	                		<template slot="vas" slot-scope="props">
	                			<span  v-if="props.row.vas && props.row.vas.length != 0">
									<ul v-for="vas in props.row.vas">
										<li>{{vas.name}}</li>
									</ul>
								</span>
								<span v-else>
									N/A
								</span>
		                    </template>

		                    <template slot="category" slot-scope="props">
								{{props.row.category.name}}
		                    </template>

		                    <template slot="plan_type" slot-scope="props">
								<span  v-if="props.row.plan_type && props.row.plan_type.length != 0">
									<ul v-for="vas in props.row.plan_type">
										<li>{{vas.name}}</li>
									</ul>
								</span>
								<span v-else>
									N/A
								</span>
		                    </template>

		                    <template slot="discount_type" slot-scope="props">
								{{props.row.type.name}}
		                    </template>
							<template slot="start_date" slot-scope="props">
								{{props.row.start_date | formatDate}}
		                    </template>

		                    <template slot="end_date" slot-scope="props">
								{{props.row.end_date | formatDate}}
		                    </template>

		                    <template slot="mobile_device" slot-scope="props">
		                    	<span v-if="props.row.mobile_devices">
									{{props.row.mobile_devices.make}} {{props.row.mobile_devices.model}}
									{{props.row.mobile_devices.capacity}}
								</span>
								<span v-else-if="props.row.aro_device">
									{{props.row.aro_device.ProductType}}
								</span>
								<span v-else-if="props.row.broadband_devices">
									{{props.row.broadband_devices.make}} {{props.row.broadband_devices.model}} 
								</span>
								<span v-else-if="props.row.hro_device">
									{{props.row.hro_device.name}}
								</span>
								<span v-else-if="props.row.device_id == '1000'">
									Any
								</span>
								<span v-else-if="props.row.device_id == '999'">
									None
								</span>
								<span v-else>
									N/A
								</span>
		                    </template>

		                    <template slot="actions" slot-scope="props">
		                    	<button class="btn btn-primary" @click.prevent="showModal(props.row)">Edit</button>
		                    	<button class="btn btn-danger" @click.prevent="removeDiscount(props.row)">Delete</button>
		                    </template>
		                    
    					</v-client-table> -->

    					<tabs>
					        <tab name="Filter By Name">
					            <v-client-table class="text-center" v-if="discounts" :data="discounts" :columns="['name']" :options="options">
				                    <template v-slot:child_row="props">
										<v-client-table class="text-center" v-if="props.row.data" :data="props.row.data" :columns="['id','name','category','vas','plan_type','discount_type','mobile_device','discount_price','is_credit','start_date','is_automatic','is_business','end_date','actions']" :options="options">
					                		<template slot="is_automatic" slot-scope="props">
					                			<span v-if="props.row.is_automatic == '0'">
					                				No
					                			</span>
					                			<span v-if="props.row.is_automatic == '1'">
					                				Yes
					                			</span>
					                		</template>

					                		<template slot="is_business" slot-scope="props">
					                			<span v-if="props.row.is_business == '0'">
					                				No
					                			</span>
					                			<span v-if="props.row.is_business == '1'">
					                				Yes
					                			</span>
					                		</template>

					                		<template slot="is_credit" slot-scope="props">
					                			<span v-if="props.row.is_credit == '0'">
					                				Charge
					                			</span>
					                			<span v-if="props.row.is_credit == '1'">
					                				Credit
					                			</span>
					                		</template>

					                		<template slot="vas" slot-scope="props">
					                			<span  v-if="props.row.vas && props.row.vas.length != 0">
													<ul v-for="vas in props.row.vas">
														<li>{{vas.name}}</li>
													</ul>
												</span>
												<span v-else>
													N/A
												</span>
						                    </template>

						                    <template slot="category" slot-scope="props">
												{{props.row.category.name}}
						                    </template>

						                    <template slot="plan_type" slot-scope="props">
												<span  v-if="props.row.plan_type && props.row.plan_type.length != 0">
													<ul v-for="vas in props.row.plan_type">
														<li>{{vas.name}}</li>
													</ul>
												</span>
												<span v-else>
													N/A
												</span>
						                    </template>

						                    <template slot="discount_type" slot-scope="props">
												{{props.row.type.name}}
						                    </template>
											<template slot="start_date" slot-scope="props">
												{{props.row.start_date | formatDate}}
						                    </template>

						                    <template slot="end_date" slot-scope="props">
												<span v-if="props.row.is_end_date_enabled == 1">
													{{props.row.end_date | formatDate}}
												</span>

												<span v-if="props.row.is_end_date_enabled == 0">
													N/A
												</span>
						                    </template>

						                    <template slot="mobile_device" slot-scope="props">
						                    	<span v-if="props.row.mobile_devices && props.row.device_id != '999' && props.row.device_id != '998'">
													{{props.row.mobile_devices.make}} {{props.row.mobile_devices.model}}
													{{props.row.mobile_devices.capacity}}
												</span>
												<span v-else-if="props.row.mobile_devices && props.row.broadband_device_id != 0">
													{{props.row.mobile_devices.make}} {{props.row.mobile_devices.model}}
													{{props.row.mobile_devices.capacity}}
												</span>
												<span v-else-if="props.row.mobile_devices && props.row.hardware_device_id != 0">
													{{props.row.mobile_devices.name}}
												</span>
												<span v-else-if="props.row.aro_device">
													{{props.row.aro_device.ProductType}}
												</span>
												<span v-else-if="props.row.broadband_devices">
													{{props.row.broadband_devices.make}} {{props.row.broadband_devices.model}} 
												</span>
												<span v-else-if="props.row.hro_device">
													{{props.row.hro_device.name}}
												</span>
												<span v-else-if="props.row.device_id == '1000'">
													Any
												</span>
												<span v-else-if="props.row.device_id == '999'">
													None
												</span>
												<span v-else>
													N/A
												</span>
						                    </template>

						                    <template slot="actions" slot-scope="props" v-if="props.row.is_active == '1'"> 
						                    	<button class="btn btn-primary" @click.prevent="showModal(props.row)">Edit</button>
						                    	<button class="btn btn-danger" @click.prevent="removeDiscount(props.row)">Delete</button>
						                    </template>
						                    
				    					</v-client-table>
									</template>
		    					</v-client-table>
					        </tab>
					        <tab name="Filter By End Date">
					            <v-client-table class="text-center" v-if="discountsByEndDate" :data="discountsByEndDate" :columns="['name']" :options="discountByEndDateOptions">
				                    <template v-slot:child_row="props">
										<v-client-table class="text-center" v-if="props.row.data" :data="props.row.data" :columns="['id','name','category','vas','plan_type','discount_type','mobile_device','discount_price','is_credit','start_date','is_automatic','is_business','end_date','actions']" :options="options">
					                		<template slot="is_automatic" slot-scope="props">
					                			<span v-if="props.row.is_automatic == '0'">
					                				No
					                			</span>
					                			<span v-if="props.row.is_automatic == '1'">
					                				Yes
					                			</span>
					                		</template>

					                		<template slot="is_business" slot-scope="props">
					                			<span v-if="props.row.is_business == '0'">
					                				No
					                			</span>
					                			<span v-if="props.row.is_business == '1'">
					                				Yes
					                			</span>
					                		</template>

					                		<template slot="is_credit" slot-scope="props">
					                			<span v-if="props.row.is_credit == '0'">
					                				Charge
					                			</span>
					                			<span v-if="props.row.is_credit == '1'">
					                				Credit
					                			</span>
					                		</template>

					                		<template slot="vas" slot-scope="props">
					                			<span  v-if="props.row.vas && props.row.vas.length != 0">
													<ul v-for="vas in props.row.vas">
														<li>{{vas.name}}</li>
													</ul>
												</span>
												<span v-else>
													N/A
												</span>
						                    </template>

						                    <template slot="category" slot-scope="props">
												{{props.row.category.name}}
						                    </template>

						                    <template slot="plan_type" slot-scope="props">
												<span  v-if="props.row.plan_type && props.row.plan_type.length != 0">
													<ul v-for="vas in props.row.plan_type">
														<li>{{vas.name}}</li>
													</ul>
												</span>
												<span v-else>
													N/A
												</span>
						                    </template>

						                    <template slot="discount_type" slot-scope="props">
												{{props.row.type.name}}
						                    </template>
											<template slot="start_date" slot-scope="props">
												{{props.row.start_date | formatDate}}
						                    </template>

						                    <template slot="end_date" slot-scope="props">
						                    	<span v-if="props.row.is_end_date_enabled == 1">
													{{props.row.end_date | formatDate}}
												</span>

												<span v-if="props.row.is_end_date_enabled == 0">
													N/A
												</span>
						                    </template>

						                    <template slot="mobile_device" slot-scope="props">
						                    	<span v-if="props.row.mobile_devices && props.row.device_id != '999' && props.row.device_id != '998'">
													{{props.row.mobile_devices.make}} {{props.row.mobile_devices.model}}
													{{props.row.mobile_devices.capacity}}
												</span>
												<span v-else-if="props.row.mobile_devices && props.row.broadband_device_id != 0">
													{{props.row.mobile_devices.make}} {{props.row.mobile_devices.model}}
													{{props.row.mobile_devices.capacity}}
												</span>
												<span v-else-if="props.row.mobile_devices && props.row.hardware_device_id != 0">
													{{props.row.mobile_devices.name}}
												</span>
												<span v-else-if="props.row.aro_device">
													{{props.row.aro_device.ProductType}}
												</span>
												<span v-else-if="props.row.broadband_devices">
													{{props.row.broadband_devices.make}} {{props.row.broadband_devices.model}} 
												</span>
												<span v-else-if="props.row.hro_device">
													{{props.row.hro_device.name}}
												</span>
												<span v-else-if="props.row.device_id == '1000'">
													Any
												</span>
												<span v-else-if="props.row.device_id == '999'">
													None
												</span>
												<span v-else>
													N/A
												</span>
						                    </template>

						                    <template slot="actions" slot-scope="props" v-if="props.row.is_active == '1'"> 
						                    	<button class="btn btn-primary" @click.prevent="showModal(props.row)">Edit</button>
						                    	<button class="btn btn-danger" @click.prevent="removeDiscount(props.row)">Delete</button>
						                    </template>
						                    
				    					</v-client-table>
									</template>
		    					</v-client-table>
					        </tab>
					        <tab name="Filter By Type">
					            <v-client-table class="text-center" v-if="discountsByType" :data="discountsByType" :columns="['name']" :options="options">
				                    <template v-slot:child_row="props">
										<v-client-table class="text-center" v-if="props.row.data" :data="props.row.data" :columns="['data.id','data.name','category','vas','plan_type','discount_type','mobile_device','data.discount_price','data.is_credit','data.start_date','data.is_automatic','data.is_business','data.end_date','actions']" :options="options">
					                		<template slot="is_automatic" slot-scope="props">
					                			<span v-if="props.row.is_automatic == '0'">
					                				No
					                			</span>
					                			<span v-if="props.row.is_automatic == '1'">
					                				Yes
					                			</span>
					                		</template>

					                		<template slot="is_business" slot-scope="props">
					                			<span v-if="props.row.is_business == '0'">
					                				No
					                			</span>
					                			<span v-if="props.row.is_business == '1'">
					                				Yes
					                			</span>
					                		</template>

					                		<template slot="is_credit" slot-scope="props">
					                			<span v-if="props.row.is_credit == '0'">
					                				Charge
					                			</span>
					                			<span v-if="props.row.is_credit == '1'">
					                				Credit
					                			</span>
					                		</template>

					                		<template slot="vas" slot-scope="props">
					                			<span  v-if="props.row.data.vas && props.row.data.vas.length != 0">
													<ul v-for="vas in props.row.vas">
														<li>{{vas.name}}</li>
													</ul>
												</span>
												<span v-else>
													N/A
												</span>
						                    </template>

						                    <template slot="category" slot-scope="props">
												{{props.row.data.category.name}}
						                    </template>

						                    <template slot="plan_type" slot-scope="props">
												<span  v-if="props.row.data.plan_type && props.row.data.plan_type.length != 0">
													<ul v-for="vas in props.row.plan_type">
														<li>{{vas.name}}</li>
													</ul>
												</span>
												<span v-else>
													N/A
												</span>
						                    </template>

						                    <template slot="discount_type" slot-scope="props">
												{{props.row.data.type.name}}
						                    </template>
											<template slot="start_date" slot-scope="props">
												{{props.row.start_date | formatDate}}
						                    </template>

						                    <template slot="end_date" slot-scope="props">
												<span v-if="props.row.is_end_date_enabled == 1">
													{{props.row.end_date | formatDate}}
												</span>

												<span v-if="props.row.is_end_date_enabled == 0">
													N/A
												</span>
						                    </template>

						                    <template slot="mobile_device" slot-scope="props">
						                    	<span v-if="props.row.data.mobile_devices && props.row.data.device_id != '999' && props.row.data.device_id != '998'">
													{{props.row.data.mobile_devices.make}} {{props.row.data.mobile_devices.model}}
													{{props.row.data.mobile_devices.capacity}}
												</span>
												<span v-else-if="props.row.data.mobile_devices && props.row.data.broadband_device_id != 0">
													{{props.row.data.mobile_devices.make}} {{props.row.data.mobile_devices.model}}
													{{props.row.data.mobile_devices.capacity}}
												</span>
												<span v-else-if="props.row.data.mobile_devices && props.row.data.hardware_device_id != 0">
													{{props.row.data.mobile_devices.name}}
												</span>
												<span v-else-if="props.row.data.aro_device">
													{{props.row.data.aro_device.ProductType}}
												</span>
												<span v-else-if="props.row.data.broadband_devices">
													{{props.row.data.broadband_devices.make}} {{props.row.data.broadband_devices.model}} 
												</span>
												<span v-else-if="props.row.data.hro_device">
													{{props.row.data.hro_device.name}}
												</span>
												<span v-else-if="props.row.data.device_id == '1000'">
													Any
												</span>
												<span v-else-if="props.row.data.device_id == '999'">
													None
												</span>
												<span v-else>
													N/A
												</span>
						                    </template>

						                    <template slot="actions" slot-scope="props" v-if="props.row.data.is_active == '1'"> 
						                    	<button class="btn btn-primary" @click.prevent="showModal(props.row.data)">Edit</button>
						                    	<button class="btn btn-danger" @click.prevent="removeDiscount(props.row.data)">Delete</button>
						                    </template>
						                    
				    					</v-client-table>
									</template>
		    					</v-client-table>
					        </tab>
					    </tabs>

				        <div class="modal fade" id="addDiscountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="min-height:500px;">
						  	<div class="modal-dialog modal-lg" role="document">
							    <div class="modal-content">
							      	<div class="modal-header">
							        	<h5 class="modal-title" id="exampleModalLabel">Promotion</h5>
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								          <span aria-hidden="true">&times;</span>
								        </button>
							      	</div>
							      	<form class="form">
								      	<div class="modal-body">
			                                <form>
			                                	<div class="form-group col-12">
												    <label for="exampleInputEmail1">Promotion Name:</label>
					                                <input type="text" class="form-control" v-model="promotion.name">
				                                </div>

			                                	<div class="form-group col-12">
												    <label for="exampleInputEmail1">Category:</label>
			                                		<multiselect @input="onChange($event)"
				                                      :options="[{'id':0, 'name': 'Mobile'},{'id':1,'name':'HRO'},{'id':2,'name':'Mobile Broadband'}, {'id':3,'name':'Fixed'}, {'id':4,'name':'Entertainment'}, {'id':5,'name':'Outright'}, {'id':6,'name':'Miscellaneous'}]" :close-on-select="true" :clear-on-select="true" :multiple="false" track-by="id" label="name" placeholder="Category" v-model="promotion.category">
				                                    </multiselect>
				                                </div>

				                                <div class="form-group col-12" v-if="showOutright">
												    <label for="exampleInputEmail1">Outright Category:</label>
			                                		<multiselect @input="onChangeOutright($event)"
				                                      :options="[{'id':0, 'name': 'Mobile Device'},{'id':1,'name':'Hardware'},{'id':2,'name':'Mobile Broadband'}, {'id':3,'name':'Accessory'}]" :close-on-select="true" :clear-on-select="true" track-by="id" label="name" placeholder="Category">
				                                    </multiselect>
				                                </div>
				                                <div class="form-group col-12" v-if="showOutright && showMobileOutright && !promotion.id">
												    <label for="exampleInputEmail1">Mobile Device:</label>
													<multiselect style="min-height:85px"
				                                      v-model="promotion.mobileDevice"
				                                      :options="mobileDevices" :close-on-select="false" :clear-on-select="false" :multiple="true" track-by="id" label="model" placeholder="Select Mobile Device" :custom-label="nameWithLang">
				                                    </multiselect>
				                                </div>

				                                <div class="form-group col-12" v-if="showOutright && showMobileOutright && promotion.id">
												    <label for="exampleInputEmail1">Mobile Device:</label>
													<multiselect style="min-height:85px"
				                                      v-model="promotion.mobileDevice"
				                                      :options="mobileDevices" :close-on-select="true" :clear-on-select="false" :multiple="false" track-by="id" label="model" placeholder="Select Mobile Device" :custom-label="nameWithLang">
				                                    </multiselect>
				                                </div>

				                                <div class="form-group col-12" v-if="showOutright && showAROOutright && !promotion.id">
												    <label for="exampleInputEmail1">Accessory Device:</label>
													<multiselect 
				                                      	:options="clickPosStocks" v-model="promotion.aroAccessory" :close-on-select="false" :clear-on-select="false" :multiple="true" track-by="BarCode" label="ProductType" placeholder="Select Accessory">
				                                    </multiselect>
				                                </div>	

				                                <div class="form-group col-12" v-if="showOutright && showBroadbandOutright && !promotion.id">
												    <label for="exampleInputEmail1">Mobile Broadband Device:</label>
													<multiselect style="min-height:85px"
				                                      v-model="promotion.broadBandDeviceID"
				                                      :options="getBroadbandDevices" :close-on-select="false" :clear-on-select="true" :multiple="true" track-by="id" label="model" placeholder="Select Mobile Device" :custom-label="nameWithLang">
				                                    </multiselect>
				                                </div>			                                

				                                <div class="form-group col-12" v-if="showOutright && showBroadbandOutright && promotion.id">
												    <label for="exampleInputEmail1">Mobile Broadband Device:</label>
													<multiselect style="min-height:85px"
				                                      v-model="promotion.broadBandDeviceID"
				                                      :options="getBroadbandDevices" :close-on-select="true" :clear-on-select="false" :multiple="false" track-by="id" label="model" placeholder="Select Mobile Device" :custom-label="nameWithLang">
				                                    </multiselect>
				                                </div>

				                                <div class="form-group col-12" v-if="showOutright && showHROOutright && !promotion.id">
												    <label for="exampleInputEmail1">Hardware:</label>
													<multiselect style="min-height:85px"
				                                      v-model="promotion.hardwareDeviceID"
				                                      :options="hroDevices" :close-on-select="false" :clear-on-select="false" :multiple="true" track-by="id" label="name" placeholder="Select HRO Device">
				                                    </multiselect>
				                                </div>

				                                <div class="form-group col-12" v-if="showOutright && showHROOutright && promotion.id">
												    <label for="exampleInputEmail1">Hardware:</label>
													<multiselect style="min-height:85px"
				                                      v-model="promotion.hardwareDeviceID"
				                                      :options="hroDevices" :close-on-select="true" :clear-on-select="false" :multiple="false" track-by="id" label="name" placeholder="Select HRO Device">
				                                    </multiselect>
				                                </div>

			                                	<div class="form-group col-12" v-if="showMobile && !promotion.id">
												    <label for="exampleInputEmail1">Device:</label>
													<multiselect style="min-height:85px"
				                                      v-model="promotion.mobileDevice"
				                                      :options="mobileDevices" :close-on-select="false" :clear-on-select="false" :multiple="true" track-by="id" label="model" placeholder="Select Mobile Device" :custom-label="nameWithLang">
				                                    </multiselect>
				                                </div>

				                                <div class="form-group col-12" v-if="showMobile && promotion.id">
												    <label for="exampleInputEmail1">Device:</label>
													<multiselect style="min-height:85px"
				                                      v-model="promotion.mobileDevice"
				                                      :options="mobileDevices" :close-on-select="true" :clear-on-select="false" :multiple="false" track-by="id" label="model" placeholder="Select Mobile Device" :custom-label="nameWithLang">
				                                    </multiselect>
				                                </div>

				                                <div class="form-group col-12" v-if="showOutright && promotion.id && promotion.device_id && promotion.device_id != 0 && promotion.device_id != 998 && promotion.device_id != 999">
												    <label for="exampleInputEmail1">Device:</label>
													<multiselect style="min-height:85px"
				                                      v-model="promotion.mobileDevice"
				                                      :options="mobileDevices" :close-on-select="true" :clear-on-select="false" :multiple="false" track-by="id" label="model" placeholder="Select Mobile Device" :custom-label="nameWithLang">
				                                    </multiselect>
				                                </div>

				                                <div class="form-group col-12" v-if="showOutright && promotion.id && promotion.hardware_device_id && promotion.hardware_device_id != 0">
												    <label for="exampleInputEmail1">Device:</label>
													<multiselect style="min-height:85px"
				                                      v-model="promotion.hardwareDevice"
				                                      :options="hroDevices" :close-on-select="true" :clear-on-select="false" :multiple="false" track-by="id" label="name" placeholder="Select Hardware Device">
				                                    </multiselect>
				                                </div>
				                                
				                                <div class="form-group col-12" v-if="showOutright && promotion.id && promotion.broadband_device_id && promotion.broadband_device_id != 0">
												    <label for="exampleInputEmail1">Device:</label>
													<multiselect style="min-height:85px"
				                                      v-model="promotion.broadbandDevice"
				                                      :options="getBroadbandDevices" :close-on-select="true" :clear-on-select="false" :multiple="false" track-by="id" label="model" placeholder="Select Mobile Broadband Device" :custom-label="nameWithLang">
				                                    </multiselect>
				                                </div>

				                                <div class="form-group col-12" v-if="showBroadband && !promotion.id">
												    <label for="exampleInputEmail1">Device:</label>
													<multiselect style="min-height:85px"
				                                      v-model="promotion.mobileDevice"
				                                      :options="getBroadbandDevices" :close-on-select="false" :clear-on-select="true" :multiple="true" track-by="id" label="model" placeholder="Select Mobile Device" :custom-label="nameWithLang">
				                                    </multiselect>
				                                </div>

				                                <div class="form-group col-12" v-if="showBroadband && promotion.id">
												    <label for="exampleInputEmail1">Device:</label>
													<multiselect style="min-height:85px"
				                                      v-model="promotion.mobileDevice"
				                                      :options="getBroadbandDevices" :close-on-select="true" :clear-on-select="false" :multiple="false" track-by="id" label="model" placeholder="Select Mobile Device" :custom-label="nameWithLang">
				                                    </multiselect>
				                                </div>

				                                <div class="form-group col-12" v-if="showHRO && !promotion.id">
												    <label for="exampleInputEmail1">Device:</label>
													<multiselect style="min-height:85px"
				                                      v-model="promotion.hroDevice"
				                                      :options="hroDevices" :close-on-select="false" :clear-on-select="false" :multiple="true" track-by="id" label="name" placeholder="Select HRO Device">
				                                    </multiselect>
				                                </div>

				                                <div class="form-group col-12" v-if="showHRO && promotion.id">
												    <label for="exampleInputEmail1">Devices:</label>
													<multiselect style="min-height:85px"
				                                      v-model="promotion.hroDevice"
				                                      :options="hroDevices" :close-on-select="true" :clear-on-select="false" :multiple="false" track-by="id" label="name" placeholder="Select HRO Device">
				                                    </multiselect>
				                                </div>

				                                <div class="form-group col-12" v-if="showFixed && !promotion.id">
												    <label for="exampleInputEmail1">Fixed Options:</label>
													<multiselect style="min-height:85px"
				                                      v-model="promotion.fixedList"
				                                      :options="fixedList" :close-on-select="false" :clear-on-select="false" :multiple="true" track-by="id" label="name" placeholder="Select Fixed">
				                                    </multiselect>
				                                </div>

				                                <div class="form-group col-12" v-if="showEntertainment && !promotion.id">
												    <label for="exampleInputEmail1">Entertainment Options:</label>
													<multiselect style="min-height:85px"
				                                      v-model="promotion.entertainmentList"
				                                      :options="entertainmentList" :close-on-select="false" :clear-on-select="false" :multiple="true" track-by="id" label="name" placeholder="Select Fixed">
				                                    </multiselect>
				                                </div>

			                                	<div class="form-group col-12" v-if="showMobile || showBroadband">
												    <label for="exampleInputEmail1">VAS:</label>
					                                <multiselect style="min-height:85px"
				                                      v-model="promotion.vas"
				                                      :options="vasOptions" :close-on-select="false" :clear-on-select="false" :multiple="true" track-by="id" label="name" placeholder="Select VAS">
				                                    </multiselect>
				                                </div>

				                                <div class="form-group col-12" v-if="showMobile">
												    <label for="exampleInputEmail1">Plan Option:</label>
					                                <multiselect 
				                                      	:options="mobilePlanOptions" v-model="promotion.planOption" :close-on-select="false" :clear-on-select="false" :multiple="true" track-by="id" label="name" placeholder="Select Mobile Plan">
				                                    </multiselect>
				                                </div>

				                                <div class="form-group col-12" v-if="showBroadband">
												    <label for="exampleInputEmail1">Plan Option:</label>
					                                <multiselect 
				                                      	:options="broadbandPlanOptions" v-model="promotion.planOption" :close-on-select="false" :clear-on-select="false" :multiple="true" track-by="id" label="name" placeholder="Select Mobile Plan">
				                                    </multiselect>
				                                </div>

				                                <div class="form-group col-12">
												    <label for="exampleInputEmail1">Price:</label>
					                                <input type="number" class="form-control" v-model="promotion.discountPrice">
				                                </div>

				                                <div class="form-group col-12">
												    <label for="exampleInputEmail1">Discount Type:</label>
													<select class="form-control" v-model="promotion.is_credit">
														<option value="0">Charge</option>
														<option value="1">Credit</option>
													</select>
				                                </div>

				                                <div class="form-group col-12" v-if="!showOutright">
												    <label for="exampleInputEmail1">Promotion Automatically Applied?</label>
					                               	<select class="form-control" v-model="promotion.isAutomatic">
					                               		<option value="0">No</option>
					                               		<option value="1">Yes</option>
					                               	</select>
				                                </div>

				                                <div class="form-group col-12">
												    <label for="exampleInputEmail1">Type:</label>
					                                <multiselect 
				                                      	:options="promotionTypes" v-model="promotion.promotionType" :close-on-select="true" :clear-on-select="false" :multiple="false" track-by="name" label="name" placeholder="Select Promotion Type">
				                                    </multiselect>
				                                </div>

				                                <div class="form-group col-12">
												    <label for="exampleInputEmail1">Is Promotion Business?</label>
					                                <select class="form-control" v-model="promotion.isBusiness" @change="changeBusiness">
					                               		<option value="0">No</option>
					                               		<option value="1">Yes</option>
					                               	</select>
				                                </div>

				                                <div class="form-group col-12">
												    <label for="exampleInputEmail1">Is End Date Enabled?</label>
					                                <select class="form-control" v-model="promotion.endDateEnabled">
					                               		<option value="0">No</option>
					                               		<option value="1">Yes</option>
					                               	</select>
				                                </div>

				                                <div class="form-group col-12">
												    <label for="exampleInputEmail1">Month Duration</label>
					                                <select class="form-control" v-model="promotion.monthDuration">
					                               		<option value="12">12 Months</option>
					                               		<option value="24">24 Months</option>
					                               	</select>
				                                </div>

				                                <div class="form-group col-12" v-if="showMiscellaneous">
												    <label for="exampleInputEmail1">Description:</label>
													<textarea class="form-control" v-model="promotion.description">{{promotion.description}}</textarea>
				                                </div>

				                                <!-- <span v-if="showOutright"><input type="hidden" v-model="promotion.promotionType" value="{'id':0,'name': 'Once Off Discount'}"></span>

				                                <span v-if="showOutright"><input type="hidden" v-model="promotion.is_credit" value="0"></span> -->

				                                <div class="form-group col-12">
												    <label for="exampleInputEmail1">Start date:</label>
												    <datepicker v-model="promotion.startDate" required input-class="form-control"></datepicker>
												</div>
												<div class="form-group col-12">
												    <label for="exampleInputEmail1">End date:</label>
												    <datepicker v-model="promotion.effectiveDate" required input-class="form-control"></datepicker>
												</div>
			                                </form>
								     	</div>
								      	<div class="modal-footer">
									        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									        <button class="btn btn-primary" :disabled="busy" @click.prevent="save()">
		                                        <span v-if="busy">
		                                            Uploading 
		                                        </span>

		                                        <span v-if="!busy">
		                                            Submit
		                                        </span>
		                                    </button>
								      	</div>
							      	</form>
							    </div>
						  	</div>
						</div>

			    	</div>
            	</div>
        	</div>
    	</div>
	</div>
</template>
<script type="text/javascript">
	import Datepicker from 'vuejs-datepicker';
 
	import {ServerTable, ClientTable, Event} from 'vue-tables-2';
    
    Vue.use(ClientTable, {}, false, 'bootstrap4');

    import moment from 'moment';
	Vue.filter('formatDate', function(value) {
        if (value) {
            return moment(String(value)).format('D MMM Y')
        }
    })
	import Multiselect from 'vue-multiselect'

	import Tabs from 'vue-tabs-component';

	Vue.use(Tabs);

	export default{
		components: {
		    Datepicker,Multiselect
		},
		data() {
            return {
            	promotion:{'aroAccessory':[],'mobileDevice':'','hroDevice' : '','startDate':moment().subtract(1, "days").format('D MMM Y'),'effectiveDate':moment().add(1, "days").format('D MMM Y'), 'planOption' : '','promotionType': '', 'vas' : [], 'category' : '', 'discountPrice' : 0,'isAutomatic': 0, 'monthDuration' : 12 ,'endDateEnabled' : 1,'isBusiness':0,'is_credit' : 0, 'fixedList' : [], 'entertainmentList' : [], 'broadBandDeviceID' : 0,'hardwareDeviceID': 0, 'broadbandDevice' : {}, 'hardwareDevice' : {}},
            	busy:false,
            	showMobile: false,
            	showBroadband: false,
            	showHRO : false,
            	showFixed: false,
            	showOutright : false,
            	showMiscellaneous: false,
            	showBroadbandOutright : false,
				showHROOutright : false,
				showMobileOutright : false,
				showAROOutright : false,
				showEntertainment :false,
            	mobileDevices: [],
            	hroDevices : [],
            	discounts: [],
            	discountsByEndDate : [],
				discountsByType : [],
            	mobileDevice: {},
            	broadbandDevice: {},
            	hardwareDevice: {},
                options: {
                    perPage: 10,
                    sortIcon: {
				        base : 'fa',
				        is: 'fa-sort',
				        up: 'fa-sort-asc',
				        down: 'fa-sort-desc'
				    },
				    headings:{
				    	is_credit: 'Discount Type',
				    	mobile_device: 'Device'
				    },
				  	selectable:{
				    	mode: 'multiple', // or 'multiple'
				    	only: function(row) {
				       		return true // any condition
				    	}
				  	}
                },
                discountByEndDateOptions:{
                	perPage: 10,
                    sortIcon: {
				        base : 'fa',
				        is: 'fa-sort',
				        up: 'fa-sort-asc',
				        down: 'fa-sort-desc'
				    },
				    headings:{
				    	name: 'Date',
				    	mobile_device: 'Device'
				    },
				  	selectable:{
				    	mode: 'multiple', // or 'multiple'
				    	only: function(row) {
				       		return true // any condition
				    	}
				  	}
                },
                vasOptions: [
            		{'id' : 0, 'name' : 'International Calling Pack' , 'amount' : 10},
            		{'id' : 1, 'name' : 'Stay Connected Advanced' , 'amount' : 15},
            		{'id' : 2, 'name' : 'Telstra Locator Subscription' , 'amount' : 10},
            		{'id' : 3, 'name' : 'Telstra One Number' , 'amount' : 5},
            		{'id' : 5, 'name' : 'Upgrade and Protect', 'amount' : 15},
            		{'id' : 6, 'name' : 'Tech Services', 'amount' : 60},
            		{'id' : 7, 'name' : 'Checkpoint SandBlast', 'amount' : 6},
            		{'id' : 8, 'name' : 'Cyber Security Services', 'amount' : 80},
            		{'id' : 9, 'name' : 'Cyber Security Device Protect', 'amount' : 10}
            	],
            	mobilePlanOptions: [
			        { 'id': 1, 'name' : 'Extra Small', 'planType': 'XS'},
			        { 'id': 2, 'name' : 'Small', 'planType': 'Small'},
			        { 'id': 3, 'name' : 'Medium', 'planType': 'Medium'},
			        { 'id': 4, 'name' : 'Large', 'planType': 'L'},
			        { 'id': 5, 'name' : 'Extra Large', 'planType': 'XL'}
			    ],
			    broadbandPlanOptions: [
			        { 'id': 2, 'name' : 'Extra Small', 'planType': 'XS'},
			        { 'id': 3, 'name' : 'Small', 'planType': 'Small'},
			        { 'id': 4, 'name' : 'Medium', 'planType': 'Medium'},
			        { 'id': 5, 'name' : 'Large', 'planType': 'L'}
			    ],
			    promotionTypes: [
					{'id':0,'name': 'Once Off Discount'},
					{'id':1,'name': 'Reoccuring Discount'},
				],
				fixedList: [
					{'id':3,'name': 'Ultimate Voice', 'amount': 55.00,'capacity': 'Not Available'},
					{'id':0,'name': 'Core', 'amount': 75.00,'capacity': '500GB'},
					{'id':1,'name': 'Unlimited', 'amount': 90.00,'capacity': 'unlimited'},
					{'id':2,'name': 'Premium', 'amount': 110.00,'capacity': 'unlimited'},
					{'id': 4, 'name': 'Unlimited Business Voice','amount': 55.00,'capacity': ''},
					{'id': 5, 'name': 'Unlimited Business Internet','amount': 100.00,'capacity': 'unlimited'}
				],
				entertainmentList: [
					{'id' : 0, 'name' : 'Foxtel Plus', 'price' : 49, 'planDescription' : 'Includes over 50 channels of entertainment. FX and Foxtel Original content. Foxtel GO included. Add and remove packs once per billing period. Additional installation and setup fees not included. Minimum 1 month subscription. Minimum cost $314.'},
					{'id' : 3, 'name' : 'Foxtel Premium', price : 99, 'planDescription' : 'Includes Kids Pack family channels, 12 HD Movie channels, and 12 HD Sport Channels. All Foxtel Plus Channels and Foxtel GO included. Add and remove packs once per billing period. Additional installation and setup fees not included. Minimum 1 month subscription. Minimum cost $314.'},
					{'id' : 9, 'name' : 'FOXTEL NOW', price : 25, 'planDescription' : "Foxtel Now includes all of Foxtel now for one month. After the trial, only pay for the packs you've chosen. HD availabe, watch on 2 screens, register up to any 5 devices, and add additional packs (for additional costs). "},
					{'id' : 15, 'name' : 'Foxtel Plus with Netflix', price : 61, 'planDescription' : 'Includes over 50 channels of entertainment. FX and Foxtel Original content. Foxtel GO included. Add and remove packs once per billing period. Additional installation and setup fees not included. Minimum 1 month subscription. Minimum cost $314.'},
					{'id' : 18, 'name' : 'Foxtel Premium with Netflix', price : 111, 'planDescription': 'Includes Kids Pack family channels, 12 HD Movie channels, and 12 HD Sport Channels. All Foxtel Plus Channels and Foxtel GO included. Add and remove packs once per billing period. Additional installation and setup fees not included. Minimum 1 month subscription. Minimum cost $314.'},
					{'id' : 1, 'name' : 'Movies HD + Foxtel Plus', 'price' : 69.00, 'planDescription' : 'Includes 12 HD Movie Channels. All Foxtel Plus Channels and Foxtel GO included. Add and remove packs once per billing period. Additional installation and setup fees not included. Minimum 1 month subscription. Minimum cost $314.'},
					{'id' : 2, 'name' : 'Sports HD + Foxtel Plus', price : 74, 'planDescription' : 'Includes 12 HD Sports channels. All Foxtel Plus Channels and Foxtel GO included. Add and remove packs once per billing period. Additional installation and setup fees not included. Minimum 1 month subscription. Minimum cost $314.'},
					{'id' : 16, 'name' : 'Movies HD + Foxtel Plus with Netflix ', price : 81.00, 'planDescription' : 'Includes 12 HD Movie Channels. All Foxtel Plus Channels and Foxtel GO included. Add and remove packs once per billing period. Additional installation and setup fees not included. Minimum 1 month subscription. Minimum cost $314.'},
					{'id' : 17, 'name' : 'Sports HD + Foxtel Plus with Netflix', price : 86, 'planDescription' : 'Includes 12 HD Sports channels. All Foxtel Plus Channels and Foxtel GO included. Add and remove packs once per billing period. Additional installation and setup fees not included. Minimum 1 month subscription. Minimum cost $314.'},
					{'id' : 20, 'name' : 'Telstra TV for 12 months', price : 18, 'planDescription' : 'Stream Netflix, Stan, Kayo, Binge & Foxtel Now (subscriptions required). Includes Catch up TV - 10 Play 7 Plus, SBS On Demand, 9 Now, ABC iView. Voice controlled search, play, pause. Power on,  volume up, and control your entertainment with your Wi-Fi enable Telstra TV Remote. Pause and rewind live TV '},
					{'id' : 21, 'name' : 'Smart modem - 12 months', price : 18, 'planDescription' : 'Smart modem: Telstra Smart Wi-Fi Booster includes use of up to three additional Telstra Smart Wi-Fi Boosters at no additional charge (if necessary as determined by us) and an on-site visit by a service technician (if necessary as determined by us). Smart Modem guarantees wall to wall Wi-Fi coverage. Minimum cost $288.'},
					{'id' : 22, 'name' : 'Smart modem - 24 months', price : 9, 'planDescription' : 'Smart modem: Telstra Smart Wi-Fi Booster includes use of up to three additional Telstra Smart Wi-Fi Boosters at no additional charge (if necessary as determined by us) and an on-site visit by a service technician (if necessary as determined by us). Smart Modem guarantees wall to wall Wi-Fi coverage. Minimum cost $288.'},
					{'id' : 23, 'name' : 'Smart modem - Outright', price : 216, 'planDescription' : 'Smart modem: Telstra Smart Wi-Fi Booster includes use of up to three additional Telstra Smart Wi-Fi Boosters at no additional charge (if necessary as determined by us) and an on-site visit by a service technician (if necessary as determined by us). Smart Modem guarantees wall to wall Wi-Fi coverage. Minimum cost $288.'},
					{'id' : 4, 'name' : 'Platinum Plus (incl. Netflix)', price : 139, 'planDescription' : 'Includes 10 Favourites channels, Kids Pack family channels, 12 HD Movie channels,  12 HD Sports channels, and a Standard Netflix subscription. All Foxtel Plus Channels and Foxtel GO included.Add and remove packs once per billing period. Additional installation and setup fees not included. Minimum 1 month subscription. Minimum cost $314.'},
					{'id' : 5, 'name' : 'Xbox One S', price : 27, 'planDescription' : 'Included if you stay connected for 24 months: Xbox One S 1TB console, 1 Xbox Wireless controller, Xbox power cables for console, and monthly subsciptions to Xbox Game Pass Ultimate which includes: Xbox Live Gold, Xbox Game Pass for Console, annd Xbox Game Pass for PC. Minimum cost $648'},
					{'id' : 6, 'name' : 'Xbox One X', price : 34, 'planDescription' : 'Included if you stay connected for 24 months: Xbox One X 1TB console, 1 Xbox Wireless controller, connection and power cables for console, and monthly subsciptions to Xbox Game Pass Ultimate which includes: Xbox Live Gold, Xbox Game Pass for Console, annd Xbox Game Pass for PC. Minimum cost $816'},
					{'id' : 24, 'name' : 'Xbox One Series S', price : 33, 'planDescription' : 'Included if you stay connected for 24 months: Xbox Series S 512GB Console, 1 x Xbox Wireless controller, Connection and Power cables for console, Monthly subscription to Game Pass Ultimate, which includes: Xbox Live Gold, Xbox Game Pass for Console and Xbox Game Pass for PC. Minimum cost $792 with a 24 month connection. Max Early Termination Chages $511.21 (1 month + $478.21 remaining on your console). '},
					{'id' : 25, 'name' : 'Xbox One Series X', price : 46, 'planDescription' : 'Included if you stay connected for 24 months: Xbox Series X 1TB Console, 1 x Xbox Wireless controller, Connection and Power cables for console, Monthly subscription to Game Pass Ultimate, which includes: Xbox Live Gold, Xbox Game Pass for Console and Xbox Game Pass for PC. Minimum cost $1104 when you stay connect for 24 months. Max ETC costs $763.79 (1 month + $717.92 remaining on your console). '},
					{'id' : 7, 'name' : 'Telstra TV Outright', price : 216, 'planDescription' : 'Stream Netflix, Stan, Kayo, Binge & Foxtel Now (subscriptions required). Includes Catch up TV - 10 Play 7 Plus, SBS On Demand, 9 Now, ABC iView. Voice controlled search, play, pause. Power on,  volume up, and control your entertainment with your Wi-Fi enable Telstra TV Remote. Pause and rewind live TV '},
					{'id' : 8, 'name' : 'Telstra TV Monthly', price : 9, 'planDescription' : 'Minimum cost $216 over 24 months. Stream Netflix, Stan, Kayo, Binge & Foxtel Now (subscriptions required). Includes Catch up TV - 10 Play 7 Plus, SBS On Demand, 9 Now, ABC iView. Voice controlled search, play, pause. Power on,  volume up, and control your entertainment with your Wi-Fi enable Telstra TV Remote. Pause and rewind live TV '},
					{'id' : 10, 'name' : 'Binge Basic', price : 10, 'planDescription' : 'Binge Basic includes SD acces on 1 screen to Ad-Free-On-Demand BINGE content. For Telstra post-paid customers only. '},
					{'id' : 11, 'name' : 'Binge Standard', price : 14, 'planDescription' : 'Binge Standard includes HD acces on 2 screens to Ad-Free-On-Demand BINGE content. For Telstra post-paid customers only. '},
					{'id' : 12, 'name' : 'Binge Premium', price : 18, 'planDescription' : 'Binge Premium includes HD acces on 4 screens to Ad-Free-On-Demand BINGE content. For Telstra post-paid customers only. '},
					{'id' : 13, 'name' : 'Kayo Basic', price : 15, 'planDescription' : 'Kayo Basic includes HD access on 2 screens to Kayo content. Add up to 5 profiles. Includes Kayo Minis and key moments with interactive stats. '},
					{'id' : 14, 'name' : 'Kayo Premium', price : 25, 'planDescription' : 'Kayo Premium includes HD access on 3 screens to Kayo content. Add up to 5 profiles. Includes Kayo Minis and key moments with interactive stats. '},
					// {'id' : 19, 'name' : 'Platinum Plus (incl. Netflix)', price : 139, 'planDescription' : 'Includes 10 Favourites channels, Kids Pack family channels, 12 HD Movie channels,  12 HD Sports channels, and a Standard Netflix subscription. All Foxtel Plus Channels and Foxtel GO included.Add and remove packs once per billing period. Additional installation and setup fees not included. Minimum 1 month subscription. Minimum cost $314.'}
				],
				clickPosStocks: [],
				selectedBroadbandDevice: {},
				getBroadbandDevices: []
			}
		},
		mounted(){
			this.getMobileDevices()
			this.getBroadbandDevice()
			this.getDiscounts()
			this.getHro()
			this.getStocks()
		},
		computed:{
		},
		methods:{
			changeBroadBandDevice(event,promotion){
				console.log(event)
				this.promotion.broadbandDevice = event
				console.log(promotion)
			},
			onChangeOutright(event){
				this.showHROOutright = false
				this.showAROOutright = false
				this.showMobileOutright = false
				this.showBroadbandOutright = false

				if(event.name === 'Mobile Broadband'){
	            	this.showBroadbandOutright = true
	            }

	            if(event.name === 'Hardware'){
        			this.showHROOutright = true
        		}

	            if(event.name === 'Mobile Device'){
	            	this.showMobileOutright = true
	            }

	            if(event.name === 'Accessory'){
	            	this.showAROOutright = true
	            }
			},
			onChange(event) {
				this.showHRO = false
				this.showFixed = false
				this.showMobile = false
				this.showBroadband = false
				this.showOutright = false
				this.showMiscellaneous = false
				this.showHROOutright = false
				this.showAROOutright = false
				this.showMobileOutright = false
				this.showBroadbandOutright = false
				this.showEntertainment = false

	            if(event.name === 'Mobile Broadband'){
	            	this.showBroadband = true
	            }

	            if(event.name === 'HRO'){
        			this.showHRO = true
        		}

	            if(event.name === 'Mobile'){
	            	this.showMobile = true
	            }

	            if(event.name === 'Fixed'){
	            	this.showFixed = true
	            }

	            if(event.name === 'Outright'){
	            	this.showOutright = true
	            }

	            if(event.name === 'Miscellaneous'){
	            	this.showMiscellaneous = true
	            }

	            if(event.name === 'Entertainment'){
	            	this.showEntertainment = true
	            }
	        },
			nameWithLang ({ make, model, capacity }) {
				if(capacity){
	      			return `${make} ${model} — [${capacity}]`
	      		}else{
	      			return `${make} ${model}`
	      		}
		    },
        	addDiscount(){
        		this.promotion.id = ''
        			this.promotion.mobileDevice = ''
        			this.promotion.category = ''
        			this.promotion.discountPrice = 0
	        		this.promotion.startDate = moment().subtract(1, "days").format('D MMM Y')
	        		this.promotion.effectiveDate = moment().add(1, "days").format('D MMM Y')
	        		this.promotion.mobileDevice = ''
					this.promotion.planOption = ''
					this.promotion.promotionType = ''
					this.promotion.aroAccessory = ''
					this.promotion.vas = ''
					this.promotion.name = ''
					this.promotion.description = ''
					this.promotion.broadBandDeviceID = ''
					this.promotion.hardwareDeviceID = ''
					this.showMobile = false
					this.showBroadband = false
					this.showHRO = false
					this.showOutright = false
					this.showMiscellaneous = false
					this.showHROOutright = false
					this.showAROOutright = false
					this.showMobileOutright = false
					this.showBroadbandOutright = false
					this.showEntertainment = false
        		$('#addDiscountModal').modal('show')
        	},
			getMobileDevices(){
				axios.get('/get-all-mobile-devices').then((response) => {
					this.mobileDevices = response.data
					//this.mobileDevices.push([{'id': 999,'name': 'None'}])
				})
			},
			getBroadbandDevice(){
				axios.get('/get-all-mobile-broadband-devices').then((response) => {
					this.getBroadbandDevices = response.data
				})
			},
			changeBusiness(){
				this.getBroadbandDevices = []
				if(this.promotion.isBusiness == '0'){

					axios.get('/get-all-mobile-broadband-devices').then((response) => {
						this.getBroadbandDevices = response.data
					})
				}

				if(this.promotion.isBusiness == '1'){

					console.log('here')
					axios.get('/get-all-business-mobile-broadband-devices').then((response) => {
						console.log(response.data)
						this.getBroadbandDevices = response.data
					})
				}
			},
        	save(){
	            this.promotion.startDate = moment(this.promotion.startDate).format('D MMM Y');
	            this.promotion.effectiveDate = moment(this.promotion.effectiveDate).format('D MMM Y');
        		axios.post('/add-discount',this.promotion).then((response) => {
        			this.getDiscounts()
        			$('#addDiscountModal').modal('hide')
        			this.promotion.id = ''
        			this.promotion.mobileDevice = ''
        			this.promotion.category = ''
        			this.promotion.discountPrice = 0
	        		this.promotion.startDate = moment().subtract(1, "days").format('D MMM Y')
	        		this.promotion.effectiveDate = moment().add(1, "days").format('D MMM Y')
	        		this.promotion.mobileDevice = ''
					this.promotion.planOption = ''
					this.promotion.promotionType = ''
					this.promotion.aroAccessory = ''
					this.promotion.vas = ''
					this.promotion.name = ''
					this.promotion.broadBandDeviceID = ''
					this.promotion.hardwareDeviceID = ''
					this.showMobile = false
					this.showBroadband = false
					this.showHRO = false
					this.showOutright = false
					this.showMiscellaneous = false
					this.showHROOutright = false
					this.showAROOutright = false
					this.showMobileOutright = false
					this.showBroadbandOutright = false
					this.showEntertainment = false
					this.$toastr.s("Success! Discount has been added.");
        		})
        	},
        	showArchive(){
        		axios.get('/get-admin-archived-discounts').then((response) => {
        			this.discounts = response.data
        		})
        	},
			showActive(){
				axios.get('/get-admin-discounts').then((response) => {
        			this.discounts = response.data
        		})

        		axios.get('/get-admin-discounts-by-end-date').then((response) => {
        			this.discountsByEndDate = response.data
        		})

        		axios.get('/get-admin-discounts-by-type').then((response) => {
        			console.log(response.data)
        			this.discountsByType = response.data
        		})
			},
        	getDiscounts(){
        		axios.get('/get-admin-discounts').then((response) => {
        			this.discounts = response.data
        		})

        		axios.get('/get-admin-discounts-by-end-date').then((response) => {
        			this.discountsByEndDate = response.data
        		})

        		axios.get('/get-admin-discounts-by-type').then((response) => {
        			console.log(response.data)
        			this.discountsByType = response.data
        		})
        	},
        	showModal(data){
        		console.log(data)
        		this.promotion.id = data.id
        		this.promotion.name = data.name
        		this.promotion.startDate = data.start_date
        		this.promotion.discountPrice = data.discount_price
        		this.promotion.effectiveDate = data.end_date
        		this.promotion.effectiveDate = data.end_date
        		this.promotion.promotionType = data.type
        		this.promotion.category = data.category
        		this.promotion.vas = data.vas
        		this.promotion.planOption = data.plan_type
        		this.promotion.device_id = data.device_id
        		this.promotion.is_credit = data.is_credit
        		this.promotion.isAutomatic = data.is_automatic
        		this.promotion.isBusiness = data.is_business
        		this.promotion.endDateEnabled = data.is_end_date_enabled
        		this.promotion.monthDuration = data.month_duration
        		this.promotion.description = data.description
        		this.promotion.aro_device = data.aro_device
        		this.promotion.hroDevice = data.hro_device
        		this.promotion.hardware_device_id = data.hardware_device_id
        		this.promotion.broadband_device_id = data.broadband_device_id

    			this.showMobile = false
				this.showBroadband = false
				this.showHRO = false
				this.showOutright = false
				this.showMiscellaneous = false
				this.showHROOutright = false
				this.showAROOutright = false
				this.showMobileOutright = false
				this.showBroadbandOutright = false
				this.showEntertainment = false
        		if(data.category.name == 'Mobile'){
        		this.promotion.mobileDevice = data.mobile_devices
        			this.showMobile = true
        		}

        		if(data.category.name == 'Mobile Broadband'){
        		this.promotion.mobileDevice = data.broadband_devices
        			this.showBroadband = true
        		}

        		if(data.category.name == 'HRO'){
        			this.showHRO = true
        		}

        		if(data.category.name == 'Outright'){
        			if(data.hardware_device_id != 0){
        				this.promotion.hardwareDevice = data.mobile_devices
        			}

        			if(data.broadband_device_id != 0){
        				this.promotion.broadbandDevice = data.mobile_devices
        			}

        			if(data.device_id != 999 && data.device_id != 998 && data.device_id != 0){
	        			this.promotion.mobileDevice = data.mobile_devices
	        		}
        			this.showOutright = true
        		}

        		if(data.category.name == 'Miscellaneous'){
        			this.showMiscellaneous = true
        		}

        		$('#addDiscountModal').modal('show')
        	},
        	removeDiscount(data){
        		this.promotion.id = data.id
        		axios.post('/remove-discount',this.promotion).then((response) => {
        			this.promotion.id = ''
        			this.getMobileDevices()
					this.getDiscounts()
					this.getHro()
					this.$toastr.s("Success! Discount has been removed.");
        		})
        	},
	        getHro(){
	        	axios.get('/get-all-hro').then((response) =>{
	        		console.log(response.data)
	        		this.hroDevices = response.data
	        	})
	        },
	        getStocks(){
	        	axios.get('/get-stock').then((response) => {
	        		this.clickPosStocks = response.data
	        	})
	        },
		}
	}
</script>

<style type="text/css" scoped>
	@media (min-width: 1200px){
		.container-xl, .container-lg, .container-md, .container-sm, .container {
		    max-width: 1620px;
		}
	}

	.VueTables__search{
		float:left !important
	}
</style>