<template>
	<div>
		<div class="row justify-content-center" style="padding-top:2rem;">
			<div class="col-md-12" style="margin-top:20px;">

	            <div class="container">
					
					<div class="container" style="padding-left: 0px;padding-right: 0px;">
						<table id="table" style="width:100%">
		                    <thead>
		                        <tr>
		                            <th style="background-color: #001e82;border:2px solid #1172ba"></th>
		                            <th style="background-color: #001e82;color:#fff;border:2px solid #1172ba"><h3>Repayment Type</h3></th>
		                            <th style="background-color: #001e82;color:#fff;border:2px solid #1172ba"><h3>Upfront Payment</h3></th>
		                            <th style="background-color: #001e82;color:#fff;border:2px solid #1172ba"><h3>Repayment Term</h3></th>
		                            <th style="background-color: #001e82;color:#fff;border:2px solid #1172ba"><h3>Total Repayment Amount</h3></th>
		                            <th style="background-color: #001e82;color:#fff;border:2px solid #1172ba"><h3>Monthly Commitment</h3></th>
		                            <th style="background-color: #001e82;color:#fff;border:2px solid #1172ba"><h3>Order Number</h3></th>
		                        </tr>
		                    </thead>
		                    <tbody v-for="(item, key) in aroItems">
                                <tr>
                                    <td rowspan="2" style="width: 5%;text-align: center">{{key+1}}.</td>
                                    <td>
                                        <!-- <p style="border:2px solid gray;width: 90%;margin:5px;">{{ (item['aroAccessories']) ? 'ARO' : 'HRO' }}</p> -->
                                        <p style="border:2px solid gray;width: 90%;margin:5px;" v-if="item['aroAccessories']">ARO</p>

                                        <p style="border:2px solid gray;width: 90%;margin:5px;" v-if="item['hro']">HRO</p>
                                        <p style="border:2px solid gray;width: 90%;margin:5px;" v-if="item['entertainment']">Entertainment</p>
                                        <p style="border:2px solid gray;width: 90%;margin:5px;" v-if="item['fixed']">Fixed</p>
                                    </td>

                                    <td><p style="width: 90%;margin:5px;"><input type="text" v-model="aro.upfrontPayment[key]"></p></td>

                                    <!-- <td><p style="width: 90%;margin:5px;"><p style="width: 90%;margin:5px;"><input type="text" value="12 months"></p></td> -->
                                    <td><p style="width: 90%;margin:5px;"><p style="width: 90%;margin:5px;"><input type="text" v-model="aro.months[key]"></p></td>

                                    <td><p style="width: 90%;margin:5px;"><input type="text" v-model="aro.aroBase[key]"></p></td>

                                    <td><p style="width: 90%;margin:5px;"><input type="text" v-model="aro.monthlyCommitment[key]"></p></td>
                                    <!-- <td><input type="text" v-model="item.customDescription"></td> -->
                                    <td><input type="text" v-model="aro.orderNumber[key]"></td>
                                </tr>
                                <tr >
                                    <td>Item(s)</td>
                                    <td colspan="6" v-if="item.aroAccessories">
                                            <h4 v-for="(aro,key) in item.aroAccessories" v-if="aro.ProductType != ''" style="border:2px solid gray;margin: 5px">{{aro['ProductType']}}</h4>

                                            <h4 v-else style="border:2px solid gray;margin: 5px">&nbsp;</h4>
                                    </td>

                                    <td colspan="6" v-else-if="item.entertainment">
                                            <h4 v-for="(entertainment,key) in item.entertainment" v-if="entertainment.name != ''" style="border:2px solid gray;margin: 5px">{{entertainment['name']}}</h4>

                                            <h4 v-else style="border:2px solid gray;margin: 5px">&nbsp;</h4>
                                    </td>

                                    <td colspan="6" v-else-if="item.itemType == 'fixed'">
                                            <h4 v-for="(entertainment,key) in item.vas" v-if="entertainment.name != ''" style="border:2px solid gray;margin: 5px">
                                            	<span v-if="entertainment.name == 'Telstra TV 1 Devices' || entertainment.name == 'Telstra TV 2 Devices' || entertainment.name == 'Telstra TV 3 Devices' || entertainment.name == 'Telstra TV 4 Devices'">
                                            		{{entertainment['name']}}
                                            	</span>
                                        	</h4>

                                            <h4 v-else style="border:2px solid gray;margin: 5px">&nbsp;</h4>
                                    </td>

                                    <td colspan="6" v-else>
                                            <h4 v-for="(hro,key) in item.hro" v-if="hro.name != ''" style="border:2px solid gray;margin: 5px">{{hro['name']}}</h4>

                                            <h4 v-else style="border:2px solid gray;margin: 5px">&nbsp;</h4>
                                    </td>
                                </tr>
		                    </tbody>
		                </table>
					</div>
					<br/>
					<p>
						The Repayment Option(s) will appear on my Telstra bill as a separate charge. There may be a pro-rata charge in addition to the regular monthly charge on the first bill, but the <strong>ongoing monthly cost</strong> will be as indicated in the <strong>Monthly Commitment</strong> field until the end of the specified Repayment Term.<br/><br/>
                        I understand the accessories I have purchased today are an <strong>optional add-on</strong>, are <strong><u>not free</u></strong>, <strong>not a gift with purchase</strong>, and are <strong>not included</strong> in the price of any other services I have with Telstra.<br/><br/>
                        The full terms and conditions for these purchases, including circumstances where remaining charges for the accessories may need to be paid out earlier in full, are in a separate contract to this acknowledgement, which I must read before signing the contract.
					</p>
					<div class="container">
			      		<h5 class="text-center">CUSTOMER DETAILS</h5>
			      		<div class="row">
				       		<div class="form-group col-4">
							    <label for="exampleInputEmail1">Full Name:</label>
							    <input type="text" class="form-control" v-model="customerDetails.name" placeholder="">
							</div>

							<div class="form-group col-4">
							    <label for="exampleInputEmail1">Contact Number:</label>
							    <input type="text" class="form-control" v-model="customerDetails.contactNumber" placeholder="">
							</div>

							<div class="form-group col-4">
							    <label for="exampleInputEmail1">Date:</label>
							    <datepicker v-model="customerDetails.date" required input-class="form-control"></datepicker>
							</div>
						</div>
							<!-- <div id="watermark">
								<p>
									The Repayment Option(s) will appear on my Telstra bill as a separate charge. There may be a pro-rata charge in addition to the regular monthly charge on the first bill, but the <strong>ongoing monthly cost</strong> will be as indicated in the <strong>Monthly Commitment</strong> field until the end of the specified Repayment Term.<br/><br/>
			                        I understand the accessories I have purchased today are an <strong>optional add-on</strong>, are <strong><u>not free</u></strong>, <strong>not a gift with purchase</strong>, and are <strong>not included</strong> in the price of any other services I have with Telstra.<br/><br/>
			                        The full terms and conditions for these purchases, including circumstances where remaining charges for the accessories may need to be paid out earlier in full, are in a separate contract to this acknowledgement, which I must read before signing the contract.
								</p>
							</div> -->

								<label for="exampleInputEmail1">Customer Signature:</label>
						        <vueSignature ref="signature" :sigOption="option" :w="'760px'" :h="'400px'" :disabled="disabled" :defaultUrl="dataUrl"></vueSignature> 
						        <!-- <vueSignature ref="signature1" :sigOption="option"></vueSignature>  -->
						        <!-- <button @click="save">Save</button> -->
						        <button @click="clear">Clear</button>
						        <button @click="undo">Undo</button>
						        <!-- <button @click="addWaterMark">addWaterMark</button>
						        <button @click="handleDisabled">disabled</button> -->

						<h5 style="padding-top:20px;" class="text-center">TELSTRA REPRESENTATIVE DETAILS</h5>
			      		<div class="row">
				       		<div class="form-group col-3">
							    <label for="exampleInputEmail1">Representitive Name:</label>
							    <input type="text" class="form-control" v-model="repDetails.name" placeholder="">
							</div>

							<div class="form-group col-3">
							    <label for="exampleInputEmail1">C/D/P Number:</label>
							    <input type="text" class="form-control" v-model="repDetails.number" placeholder="">
							</div>

							<div class="form-group col-3">
							    <label for="exampleInputEmail1">Store Name:</label>
							    <input type="text" class="form-control" v-model="repDetails.storeName" placeholder="">
							</div>

							<div class="form-group col-3">
							    <label for="exampleInputEmail1">Dealer Code:</label>
							    <input type="text" class="form-control" v-model="repDetails.dealerCode" placeholder="">
							</div>

							<div class="form-group col-3">
							    <label for="exampleInputEmail1">Store Contact Number:</label>
							    <input type="text" class="form-control" v-model="repDetails.storeContactNumber" placeholder="">
							</div>
						</div>   
						   
			      	</div>
	            </div>	

	            <div class="col-12">
            			<div class="row">
            				<!-- <div class="offset-9">
            				</div> -->
							<!-- <button type="button" class="btn btn-primary" @click.prevent="printAROForm()">Print</button> -->
							<div>
								<button v-if="isBusy == false" class="pull-right btn btn-primary customBtn" @click.prevent="printAROForm()"><h5 style="padding-top:5px;">Print ARO Acknowledgement Form</h5></button>

								<button v-else class="pull-right btn btn-primary customBtn" disabled=""><h5 style="padding-top:5px;"><i class="fa fa-spinner fa-spin"></i> Generating..</h5></button>
							</div>
						</div>
					</div>

			</div>
		</div>
	</div>
</template>

<script>
	import vueSignature from "vue-signature"
	import moment from 'moment'
	import Multiselect from 'vue-multiselect'
	import Datepicker from 'vuejs-datepicker';
	export default{
    	components: { vueSignature,Datepicker },
		data(){
			return{
				isBusy: false,
				aroForm: {'repaymentType' : 'ARO','upfrontPayment': 0,'repaymentTerm' : '12 Months', 'totalRepaymentAmount': 0, 'monthlyCommitment' : 0, 'orderNumber' : '', 'itemType': []},
				customerDetails: {'name': '','contactNumber': '','date': moment().format('D MMM Y')},
				repDetails: {'name': '', 'number' : '', 'storeName' : '', 'dealerCode' : '', 'storeContactNumber' : ''},
            	option:{
	                penColor:"rgb(0, 0, 0)",
	                backgroundColor:"rgb(255,255,255)"
	            },
	            disabled:false,
	            dataUrl:"/img/watermark.png",
	            //aro: [{'upfrontPayment': 0}]
	            aro: {'upfrontPayment': [],'aroBase': [],'monthlyCommitment': [],'orderNumber' : [], 'aroProducts' : [], 'itemType': []},
	            hro: {'hroProducts' : [], 'hroMonths' : [], 'hroMonthly': []},
	            userDetails: {},
	            aroItems : [],
	    //         waterMark:{
	    //         	text:'The Repayment Option(s) will appear on my Telstra bill as a separate charge. There may be a pro-rata charge in addition to the regular<br/> monthly charge on the first bill, but the <strong>ongoing monthly cost</strong> will be as indicated in the <strong>Monthly Commitment</strong> field until the end of the specified Repayment Term.',          // watermark text, > default ''
					// font:"12px Arial",         // mark font, > default '20px sans-serif'
					// style:'stroke', 
	    //         }
			}
		},
		computed: {
        	itemTotal(){
        		var self = this
        		var price = 0
    			if(this.hro.item != null && this.hro.hroMonthly == 24){
    				var price = this.hro.item.price_24_months
    			}

    			if(this.hro.item != null && this.hro.hroMonthly == 12){
    				var price = this.hro.item.price_24_months * 2
    			}	

    			if(typeof price === 'undefined'){
    				price = 0
    			}
    			this.hro.hroMonthlyPrice = price
    			return price
        	}
		},
		mounted(){
			//console.log(this.$store.state.quadrantCart)
			//"item.itemType == 'mobilePlan' && item.aroAccessories"
			var entertainmentList = []
			var fixedList = []
			for(let aroItem of this.$store.state.quadrantCart){
				if(aroItem.aroAccessories || aroItem.hro || aroItem.entertainment || aroItem.fixed){
					this.aroItems.push(aroItem)
				}

				if(aroItem.entertainment){
					for(let entertainment of aroItem.entertainment){
						if(entertainment.name == 'Telstra TV - 12 months' || entertainment.name == 'Telstra TV - 24 months'){
							entertainmentList.push(entertainment)
						}
					}
					aroItem.entertainment = []
					aroItem.entertainment = (entertainmentList)
				}

				// if(aroItem == 'fixed'){
				// 	for(let fixed of aroItem.vas){
				// 		if(fixed.name == 'Telstra TV 1 Devices' || fixed.name == 'Telstra TV 2 Devices'){
				// 			fixedList.push(fixed)
				// 		}
				// 	}

				// 	aroItem.fixed = []
				// 	aroItem.fixed = (fixedList)
				// }
			}
			//console.log(this.$store.state.quadrantCart)
			var upfrontPayment = []
			var repaymentAmount = []
			var monthlyCommitment = []
			var aroProducts = []
			var hroProducts = []
			var hroMonthly = []
			var hroMonths = []
			var aroMonths = []
			var itemType = []
			for (let item of this.$store.state.quadrantCart) {
				if(item.aroAccessories){
					upfrontPayment.push(0)
					repaymentAmount.push(item.aroBase)
					monthlyCommitment.push(item.aroAmount)
					aroProducts.push(item.aroAccessories)
					aroMonths.push(12)
					itemType.push('ARO')
				}

				if(item.itemType == 'fixed'){
					// console.log(item)
					// return
					var fixedPrice = 0
					var totalFixedPrice = 0
					if(item.fixed){
						for(let fixed of item.vas){
							// console.log(fixed)
							// return
							if(fixed.name == 'Telstra TV 1 Devices'){
								totalFixedPrice += 216
							}

							if(fixed.name == 'Telstra TV 2 Devices'){
								totalFixedPrice += 432.3
							}

							if(fixed.name == 'Telstra TV 3 Devices'){
								totalFixedPrice += 648.4
							}

							if(fixed.name == 'Telstra TV 4 Devices'){
								totalFixedPrice += 864
							}
						}

						upfrontPayment.push(0)
						aroProducts.push(item.vas)
						repaymentAmount.push(totalFixedPrice.toFixed(2))
						console.log(totalFixedPrice)
						monthlyCommitment.push((totalFixedPrice / 12).toFixed(2))
						
						itemType.push('fixed')
					}
				}

				if(item.hro){
					upfrontPayment.push(0)
					aroProducts.push(item.hro)
					repaymentAmount.push(item.hroMonthlyPrice * item.hroMonthly)
					monthlyCommitment.push(item.hroMonthlyPrice)
					aroMonths.push(item.hroMonthly)
					itemType.push('HRO')
				}

				if(item.entertainment){
					// upfrontPayment.push(0)
					// aroProducts.push(item.entertainment)
					// repaymentAmount.push(item.totalEntertainmentPrice)
					// monthlyCommitment.push(item.totalEntertainmentPrice)
					// aroMonths.push(12)
					// itemType.push('entertainment')
					var entertainmentPrice = 0
					var totalEntertainmentPrice = 0
					if(item.entertainment){
						for(let entertainment of item.entertainment){
							if(entertainment.name == 'Telstra TV - 12 months' || entertainment.name == 'Telstra TV - 24 months'){
								entertainmentPrice += entertainment.price
								totalEntertainmentPrice += 216
							}

							if(entertainment.name == 'Telstra TV - 24 months'){
								aroMonths.push(24)
							}else{
								aroMonths.push(12)
							}
						}

						upfrontPayment.push(0)
						aroProducts.push(item.entertainment)
						repaymentAmount.push(totalEntertainmentPrice)
						monthlyCommitment.push(entertainmentPrice)
						
						itemType.push('entertainment')
					}
				}
			}
			console.log(aroProducts)
			this.aro.aroBase = repaymentAmount
			this.aro.upfrontPayment = upfrontPayment
			this.aro.monthlyCommitment = monthlyCommitment
			this.aro.aroProducts = aroProducts
			this.aro.months = aroMonths
			this.aro.itemType = itemType
			axios.get('/get-user-details').then((response) => {
				this.userDetails = response.data
				this.repDetails.name = this.userDetails.userInfo.clickposName
				this.repDetails.firstName = this.userDetails.userInfo.firstName
				this.repDetails.number = this.userDetails.userInfo.pNumber
				this.repDetails.storeName = this.userDetails.currentBranch
				this.repDetails.dealerCode = this.userDetails.DealerCode
				this.repDetails.storeContactNumber = this.userDetails.PhoneNumber
			})
		},
		methods:{
        	aroAcknowlegement(){
				$('#aroAcknowlegementModal').modal('show')
			},
			printAROForm(){
				this.isBusy = true
				console.log(this.customerDetails)
				console.log(this.repDetails)
				var _this = this;
	            var png = _this.$refs.signature.save()
	            var jpeg = _this.$refs.signature.save('image/jpeg')
	            
	            // console.log(png);
	            // console.log(jpeg)
	            // console.log(svg)

				var svg = _this.$refs.signature.save('image/svg+xml');

				this.aroForm.customerDetails = this.customerDetails
				this.aroForm.repDetails = this.repDetails
				this.aroForm.quadrantCart = this.$store.state.quadrantCart
				this.aroForm.signature = svg
				this.aroForm.aro = this.aro
				// console.log(this.aroForm)
				// return
				// axios.post('/print-aro-form',this.aroForm).then((response) => {
				// 	console.log(response.data)
				// })

				axios.post('/print-aro-form', this.aroForm,
	            {
	                headers: {
	                    'Content-Type': 'application/json',
	                    'Accept': 'application/pdf'
	                },
	                responseType: "blob"
	            }).then((response) => {
	            	//localStorage.clear();
					let blob = new Blob([response.data], { type: 'application/pdf' })
				    let link = document.createElement('a')
				    link.href = window.URL.createObjectURL(blob)
				    link.download = 'Telstra-Accessory-Purchase.pdf'
      				link.click()
      				this.isBusy = false
      				//window.location.reload()
				})
				
			},
			save(){
	            var _this = this;
	            var png = _this.$refs.signature.save()
	            var jpeg = _this.$refs.signature.save('image/jpeg')
	            var svg = _this.$refs.signature.save('image/svg+xml');
	            console.log(png);
	            console.log(jpeg)
	            console.log(svg)
	        },
	        clear(){
	            var _this = this;
	            _this.$refs.signature.clear();
	        },
	        undo(){
	            var _this = this;
	            _this.$refs.signature.undo();
	        },
	        // addWaterMark(){
	        //     var _this = this;
	        //     _this.$refs.signature.addWaterMark({
	        //         text:"mark text",          // watermark text, > default ''
	        //         font:"20px Arial",         // mark font, > default '20px sans-serif'
	        //         style:'all',               // fillText and strokeText,  'all'/'stroke'/'fill', > default 'fill		
	        //         fillStyle:"red",           // fillcolor, > default '#333' 
	        //         strokeStyle:"blue",	   // strokecolor, > default '#333'	
	        //         x:100,                     // fill positionX, > default 20
	        //         y:200,                     // fill positionY, > default 20				
	        //         sx:100,                    // stroke positionX, > default 40
	        //         sy:200                     // stroke positionY, > default 40
	        //     });
	        // },
	        fromDataURL(url){
	            var _this = this;
	            _this.$refs.signature.fromDataURL("data:image/png;base64,iVBORw0K...");
	        },
	        handleDisabled(){
	            var _this = this;
	            _this.disabled  = !_this.disabled
	        },
		}
	}
</script>

<style type="text/css" scoped>
	#planCartTable { border-collapse: separate; border-spacing: 0px; }
	.canvas{
		border:2px solid gray !important;
	}

	#table tbody,tr,td{
    border:2px solid #1172ba;
  }
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

header {
    position: fixed;
    top: 0cm;
    left: 0cm;
    right: 0cm;
    height: 4.8cm;

    /** Extra personal styles **/
    background-color: #03a9f4;
    color: white;
    text-align: center;
    line-height: 1.5cm;
    /*background-image:url('/img/Telstra-Accessory-Purchase_Banner-01.png'); 
    background-size: 200px 100px; */
}

h3{
	font-weight: normal;
}

#watermark{
    position: absolute;
    width: 750px;
    top: 45%;
    left: 4%;
    opacity: 25%;
    padding:10px;
    z-index:1;
}
</style>