<template>
	<div class="container">
	    <div class="row justify-content-center">
	        <div class="col-md-12">
	            <div class="card">
	                <div class="card-header" style="padding:10px 0px;">
	                	<div class="container-fluid row">
		                </div>
	                </div>

	                <div class="card-body">				    	
	                	<v-client-table class="text-center" v-if="quicklinks" :data="quicklinks" :columns="['name','url']" :options="options">

	                		<template slot="url" slot-scope="props">
		                    	<a :href="props.row.url" target="_blank">{{props.row.url}}</a>
		                    </template>
		                    
    					</v-client-table>

	                	<div class="modal fade" id="addDiscountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="min-height:500px;">
						  	<div class="modal-dialog modal-lg" role="document">
							    <div class="modal-content">
							      	<div class="modal-header">
							        	<h5 class="modal-title" id="exampleModalLabel">Quicklink</h5>
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								          <span aria-hidden="true">&times;</span>
								        </button>
							      	</div>
							      	<form class="form">
								      	<div class="modal-body">
			                                <form>
			                                	<div class="form-group col-12">
												    <label for="exampleInputEmail1">Name:</label>
												    <input type="text" class="form-control" v-model="quicklink.name" placeholder="Enter Quicklink Name">
												</div>

												<div class="form-group col-12">
												    <label for="exampleInputEmail1">URL:</label>
												    <input type="text" class="form-control" v-model="quicklink.url" placeholder="Enter Quicklink URL">
												</div>

			                                </form>
								     	</div>
								      	<div class="modal-footer">
									        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									        <button class="btn btn-primary" :disabled="busy" @click.prevent="save()">
		                                        <span v-if="busy">
		                                            Uploading 
		                                        </span>

		                                        <span v-if="!busy">
		                                            Submit
		                                        </span>
		                                    </button>
								      	</div>
							      	</form>
							    </div>
						  	</div>
						</div>
			    	</div>
            	</div>
        	</div>
    	</div>
	</div>
</template>
<script type="text/javascript">
	import Datepicker from 'vuejs-datepicker';
 
	import {ServerTable, ClientTable, Event} from 'vue-tables-2';
    
    Vue.use(ClientTable, {}, false, 'bootstrap4');

    import moment from 'moment';
	Vue.filter('formatDate', function(value) {
        if (value) {
            return moment(String(value)).format('D MMM Y')
        }
    })
	import Multiselect from 'vue-multiselect'
	export default{
		components: {
		    Datepicker,Multiselect
		},
		data() {
            return {
            	quicklink:{'name':'','url':''},
            	busy:false,
            	quicklinks: [],
                options: {
                    perPage: 10,
                    sortIcon: {
				        base : 'fa',
				        is: 'fa-sort',
				        up: 'fa-sort-asc',
				        down: 'fa-sort-desc'
				    },
				  	selectable:{
				    	mode: 'multiple', // or 'multiple'
				    	only: function(row) {
				       		return true // any condition
				    	}
				  	}
                },
			}
		},
		mounted(){
			this.getMobileDevices()
			this.getQuicklinks()
		},
		computed:{
		},
		methods:{
			nameWithLang ({ make, model, capacity }) {
		      
		      	if(!model){
					return 'Search'
				}else{
		      		return `${make} ${model} — [${capacity}]`
				}
		    },
        	addDiscount(){
        		$('#addDiscountModal').modal('show')
        	},
			getMobileDevices(){
				axios.get('/get-all-mobile-devices').then((response) => {
					console.log(response.data)
					this.mobileDevices = response.data
				})
			},
        	save(){
        		axios.post('/add-quicklink',this.quicklink).then((response) => {
        			this.getQuicklinks()
        			$('#addDiscountModal').modal('hide')
        			this.quicklink.id = ''
        			this.quicklink.name = ''
        			this.quicklink.url = 0
					this.$toastr.s("Success! Quicklink has been added.");
        		})
        	},
        	getQuicklinks(){
        		axios.get('/get-quicklinks').then((response) => {
        			this.quicklinks = response.data
        		})
        	},
        	showModal(data){
        		console.log(data)
        		this.quicklink.id = data.id
        		this.quicklink.name = data.name
        		this.quicklink.url = data.url
        		$('#addDiscountModal').modal('show')
        	},
        	removeDiscount(data){
        		this.quicklink.id = data.id
        		axios.post('/remove-quicklink',this.quicklink).then((response) => {
        			this.quicklink.id = ''
        			this.getQuicklinks();
					this.$toastr.s("Success! Quicklink has been removed.");
        		})
        	}
		}
	}
</script>

<style type="text/css" scoped>
</style>