<template>
	<div id="hro" v-if="$store.state.businessHRO.length != '0'" class="container-fluid">
    	<div class="row" style="padding-top:3rem;">
			<div class="col-md-12">
	        	<h3 style="color:#3490dc">Business HRO</h3>

		    	<span v-for="(item,index) in $store.state.businessHRO">
		    		<input type="text" @keyup="createCustomMobileDescription(item, item.customDescription)" v-model="item.customDescription" class="form-control col-4" style="margin-bottom:1rem" placeholder="Enter Name or Number">
		        	<table  style="border:none !important;background: #fff" id="planCartTable" class="table table-bordered text-center" v-if="$store.state.businessHRO.length != '0'">
		        		<thead>
		        			<tr>
		        				<td style="border-top-left-radius: 10px;padding:10px 5px 5px 5px;"><h5 style="padding:0px;">Items</h5></td>
		        				<td style="padding:10px 5px 5px 5px;"><h5 style="padding:0px;">Amount</h5></td>
		        				<td style="border-top-right-radius: 10px;padding:10px 5px 5px 5px;"><h5 style="padding:0px;">Remove</h5></td>
		        			</tr>
		        		</thead>
		        		<tbody>
		        			<tr>
		            			<td style="text-align:left;width:40%;border-bottom-left-radius:10px;font-size:18px;">
		            				<div class="">
									    <h5>HRO:</h5>
										<div style="padding-top:1rem">
										  	<v-select label="name" :options="hroList" @input="addHroItem($event,item)" :value="item.hro" />
										  	</v-select>
									  	</div>
									  	
									  	<div style="padding-top:1rem">

											<select name="category_id" @change="changeHroMonthly($event, item)" class="form-control">
										     	<option :selected="item.hroMonthly == '12'" value="12">12 months</option>
										     	<option :selected="item.hroMonthly == '24'" value="24">24 months</option>
										  	</select>
									  	</div>
									</div>
		            			</td>
		            			<td style="text-align:left;width:45%;">
	            					<div class="row" style="margin-left:1px;">
			            				<h5 class="col-6">
			            					Device:
			            				</h5>

			            				<h5 class="col-6">
			            					${{item.hroMonthlyPrice}}
			            				</h5>
			            			</div>
		            			</td>
		            			<td class="text-center" style="text-align:left;width:15%;border-bottom-right-radius:10px;">
		            				<span style="cursor:pointer" 
					                    title="Remove from cart"
					                    @click.prevent="removeHroFromCart(item)">
					                    <img src="/img/Delete_Icon.svg" height="30">
					                   
					                </span>
		            			</td>
		            		</tr>

		            		<!-- <tr>
		            			<td>Subtotal:</td>
		            			<td colspan="2">${{subTotalHroPrice}}</td>
		            		</tr> -->
		        		</tbody>
		        	</table>
		        </span>

	        	<div class="container-fluid text-center">
		        	<div class="row">
		        		<div class="col-md-12">
		        			<div class="row">
			        			<div class="col-6" style="padding-right:0px;max-width:40%;flex:0 0 40%;">
				        			<h4 class="subTotalMobilePlanPrice" style="padding-top:10px;padding-bottom:10px;border-top-left-radius: 10px;border-bottom-left-radius:10px;">Subtotal</h4>
				        		</div>
				        		<div class="col-6" style="padding-left:0px;max-width:60%;flex:0 0 60%;">
				        			<h4 class="subTotalMobilePlanPrice" style="padding-top:10px;padding-bottom:10px;border-top-right-radius: 10px;border-bottom-right-radius:10px;">${{subTotalHroPrice}}</h4>
				        		</div>
				        	</div>
		        		</div>
		        		
			        </div>
		        </div>
	        </div>
        </div>
    </div>
</template>

<script>
	import Vue from "vue";
	import vSelect from "vue-select";
	import Multiselect from 'vue-multiselect'
	import moment from 'moment'

	Vue.component("v-select", vSelect);
	import "vue-select/dist/vue-select.css";
	import vueSmoothScroll from 'vue2-smooth-scroll'
	Vue.use(vueSmoothScroll)
	
	export default{
		components: { Multiselect },
		data(){
			return{
				value: [],
				customDescription:[],
				value2: '',
				paymentPlan: [],
				cartItems : [],
				paymentFrequency: '',
				frequency: {'paymentFrequencyVal' : '', 'paymentFrequency' : ''},
				hroList: [],
				hro: {'hroMonthly': 24, 'item' : {}, 'selectedHroItem': {}},
            	subTotalHro : 0,
			}
		},
		mounted(){
			this.paymentFrequency = (this.$store.state.cart.length && this.$store.state.cart[0].paymentFrequencyVal) ? this.$store.state.cart[0].paymentFrequencyVal : 12
			this.getHro()

	    	axios.get('/get-all-mobile-devices').then((response) => {
	    		this.allDevices = response.data
	    	})

	    	axios.get('/get-all-mobile-broadband-devices').then((response) => {
	    		this.allBroadbandDevices = response.data
	    	})
		},
	    computed: {
	    	totalCount(){
	    		let total = 0;

	            for (let item of this.$store.state.cart) {
	                total += item.quantity;
	            }

	            return total;
	    	},
	    	subTotalHroPrice(){
	    		let totalHro = 0;
	    		for (let item of this.$store.state.businessHRO) {
	                totalHro += Number(item.hroMonthlyPrice);
	            }
	            this.subTotalHro = Number(totalHro).toFixed(2)
	            return totalHro.toFixed(2)
	    	},
	    	subTotalMobilePlanPrice(){
	    		let total = 0;
				for (let item of this.$store.state.cart) {
	                total += Number(item.totalPrice);
	            }
	            this.subTotalMobilePlan = Number(total).toFixed(2)
	            return total.toFixed(2)
	    	},
	    	subTotalMobileBroadbandPrice(){
	    		let total = 0;
				for (let item of this.$store.state.mobileBroadbands) {
	                total += Number(item.totalPrice);
	            }
	            this.subTotalMobileBroadband = Number(total).toFixed(2)
	            return total.toFixed(2)
	    	},
	    	subTotalSimPlanPrice(){
	    		let totalSimPlan = 0;
	    		for (let item of this.$store.state.simPlan) {
	                totalSimPlan += Number(item.totalPrice);
	            }
	            this.subTotalSimPlan = (totalSimPlan).toFixed(2)
	            return totalSimPlan.toFixed(2)
	    	},
	        totalPrice() {
	            let total = 0;
	            let totalHro = 0;
	            let totalSimPlan = 0;
	            let totalMobileBroadband = 0

	            for (let item of this.$store.state.cart) {
	                total += Number(item.totalPrice);
	            }

	            for (let item of this.$store.state.businessHRO) {
	                totalHro += Number(item.hroMonthlyPrice);
	            }

	            for (let item of this.$store.state.simPlan) {
	                totalSimPlan += Number(item.totalPrice);
	            }

	            for (let item of this.$store.state.mobileBroadbands) {
	                totalMobileBroadband += Number(item.totalPrice);
	            }

	            this.grandTotal = (total + totalMobileBroadband + totalHro + totalSimPlan).toFixed(2)
	            return (total + totalMobileBroadband + totalHro + totalSimPlan).toFixed(2);
	        },

		    total: function(){

			  	let total = [];

			  	Object.entries(item.vas).forEach(([key, val]) => {
			      	total.push(val.amount) // the value of the current key.
			  	});

			  	return total.reduce(function(total, num){ return total + num }, 0);

			}
	    },
		methods:{
			nameWithLang ({ model, capacity }) {
		      return `${model} — [${capacity}]`
		    },
		    createCustomMobileDescription(item, event){
				if (this.timer) {
			        clearTimeout(this.timer);
			        this.timer = null;
			    }
			    this.timer = setTimeout(() => {
			        this.hro.hro = item.hro
			    	this.hro.hroMonthly = (item.hroMonthly) ? item.hroMonthly : 24
			    	this.hro.hroMonthlyPrice = item.hroMonthlyPrice
			    	this.hro.quantity = 1
			    	this.hro.itemType = 'businessHRO'
					this.hro.customDescription = event

			    	this.$store.commit('addHro', this.hro);
			    }, 800);
			},
		    addHroItem(event, item){
		    	this.hro.hro = event
		    	this.hro.itemType = 'businessHRO'
		    	this.hro.item = item
		    	this.hro.quantity = 1
				this.hro.customDescription = item.customDescription

		    	this.$store.commit('addHro', this.hro);
		    },
		    changeHroMonthly(event, item){
		    	// console.log(event.target.value)
		    	// return
		    	this.hro.hro = item.hro
		    	this.hro.item = item
				this.hro.customDescription = item.customDescription

		    	if(event.target.length && event.target.value == 24){
					this.hro.hroMonthly = 24
				}

				if(event.target.length && event.target.value == 12){
					this.hro.hroMonthly = 12
				}

		    	this.$store.commit('addHro', this.hro);
		    },
	        removeHroFromCart(item){
	        	this.$store.commit('removeHroFromCart', item);
	        },
	        getHro(){
	        	axios.get('/get-hro').then((response) =>{
	        		this.hroList = response.data
	        	})
	        },
		}
	}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>