<template>
	<div>
		<div class="row justify-content-center" style="padding-top:2rem">
			<div class="col-md-12">
				<div class="container"  v-if="selectedBrand != '' && addExtra == '1'"  id="planDetails">

        			<h2 style="color:#068edf;padding-bottom:12px;padding-left: 4%; padding-right: 4%;">Customise your Plan</h2>
					<div class="container" style="padding-left: 0px;padding-right: 0px;">
            			<div class="row">
							<div class="offset-7" v-if="confirmedCartItem == '0'">
								
							</div>
							<div class="offset-7" style="margin-left:52.333333%" v-if="confirmedCartItem == '1'">
								
							</div>
							<div class="col-2" v-if="confirmedCartItem == '0'" style="max-width: 22.666667%;flex: 0 0 22.666667%;margin-left:5%">
								<button  class="pull-right btn btn-primary customBtn" @click.prevent="confirmCartItem()"><h5 style="padding-top:5px;">Add to Cart</h5></button>
							</div>
							<div class="col-2"  v-if="confirmedCartItem == '0'" style="max-width: 10%">
								<button class="pull-right btn btn-secondary customBtn" @click.prevent="backBtnCategory('mobileDevice')"><h5 style="padding-top:5px;">Cancel</h5></button>
							</div>
							<div class="col-3" v-if="confirmedCartItem == '1'" style="padding-right: 0px;">
								<a href="/cart-items"><button class="pull-right btn btn-primary customBtn"><h5 style="padding-top:5px;">Go to Cart</h5></button></a>
							</div>
							<div class="col-2" v-if="confirmedCartItem == '1'" style="max-width: 18.666667%;flex:0 0 18.666667%;padding-left:0px;">
								<button class="btn btn-secondary pull-right customBtn" @click.prevent="backBtnCategory('mobileDevice')"><h5 style="padding-top:5px;">Continue Shopping</h5></button>
							</div>
						</div>
					</div>
					<br/>
					<div style="padding-left:4%;padding-right:4%;">
	            		<table style="border:none !important;background: #fff" id="planCartTable" class="table table-bordered text-center" >
	            			<tbody>
	            				<!-- <tr v-if="mobileOption == 'Siebel'">
	            					<td style="width:40%;border-top-left-radius:10px;">
	            						<h5 style="padding-top:10px;padding-left:3rem;text-align:left;">Accessory Repayment Option</h5>
	            					</td>
	            					<td style="border-top-right-radius:10px;">
										<div class="row">
											<div class="col-sm-7">
											  	<multiselect @input="onChangeAro($event)" v-model="aroSelection"
			                                      :options="[{'id':0,'name':'$0.00','value':'0.00'},{'id':1,'name':'$120.00','value':'120.00'},{'id':2,'name':'$180.00','value':'180.00'},{'id':3,'name':'$240.00','value':'240.00'}]" :close-on-select="false" :clear-on-select="false" :multiple="false" track-by="id" label="name" placeholder="Select ARO">
			                                    </multiselect>
										  	</div>

										  	<div class="col-sm-5">
										  	</div>
										  </div>
	            					</td>
	            				</tr> -->
	            				<tr style="background: rgba(0,0,0,.05)">
	            					<td style="padding-bottom:0px;">
	            						<h5 style="padding-top:10px;padding-left:3rem;text-align:left;">Value Added Service</h5>
	            					</td>
	            					<td style="padding-bottom:0px;" v-if="mobileOption == 'Console'">
										<multiselect style="min-height:85px"
	                                      v-model="vas"
	                                      :options="vasOptionsConsole" :close-on-select="false" :clear-on-select="false" :multiple="true" track-by="id" label="name" placeholder="Select VAS">
	                                    </multiselect>
	            					</td>
	            					<td style="padding-bottom:0px;">
										<multiselect style="min-height:85px"
	                                      v-model="vas"
	                                      :options="vasOptions" :close-on-select="false" :clear-on-select="false" :multiple="true" track-by="id" label="name" placeholder="Select VAS">
	                                    </multiselect>
	            					</td>
	            				</tr>
	            				<tr>
	            					<td style="border-bottom-left-radius:10px;">
	            						<h5 style="padding-top:10px;padding-left:3rem;text-align:left;">Item Details</h5>
	            					</td>
	            					<td style="border-bottom-right-radius:10px;">
	            						<!-- <tr>
	            							<td>
		            							<span>Device: {{this.cartItem.mobileDevice.make}} {{this.cartItem.mobileDevice.model}}</span><br/>
		            							<span>Payment Duration: {{this.cartItem.months}} Months</span><br/>
		            							<span>Device Plan: {{this.cartItem.planType}}</span>
		            						</td>
		            						<td>
		            							Unit Price: ${{this.cartItem.price}}<br/>
		            							Plan Price: ${{this.cartItem.planValue}}<br/>
		            							ARO : ${{this.aroPayment}}<br/>
		            							Value Added Service : ${{total}}<br/>
		            							Total: ${{ Number(itemTotal).toFixed(2) }}
		            						</td>
	        							</tr> -->
	        							<table id="priceTable" class="table table-bordered text-center table-striped" style="border:none !important;background: #fff"  v-if="cartItem.months != 'outright'">
	        								<tbody>
	        									<tr>
	        										<td style="text-align: left;width:40%;"><h5>Device</h5></td>
	        										<td><h5 style="text-align: left;padding-left:1rem;color:rgb(6, 142, 223)">{{this.cartItem.mobileDevice.make}} {{this.cartItem.mobileDevice.model}} {{this.cartItem.mobileDevice.capacity}} </h5></td>
	        									</tr>
	        									<tr>
	        										<td style="text-align: left;width:40%;"><h5>Payment Duration</h5></td>
	        										<td><h5 style="text-align: left;padding-left:1rem;color:rgb(6, 142, 223)">{{this.cartItem.months}} Months</h5></td>
	        									</tr>
	        									<tr>
	        										<td style="text-align: left;width:40%;"><h5>Plan</h5></td>
	        										<td><h5 style="text-align: left;padding-left:1rem;color:rgb(6, 142, 223)">{{this.cartItem.planType}} - ${{this.cartItem.planValue}}</h5></td>
	        									</tr>
	        									<tr>
	        										<td style="text-align: left;width:40%;"><h5>Device</h5></td>
	        										<td><h5 style="text-align: left;padding-left:1rem;color:rgb(6, 142, 223)">${{this.cartItem.price}}</h5></td>
	        									</tr>
	        									<tr>
	        										<td style="text-align: left;width:40%;"><h5>ARO</h5></td>
	        										<td><h5 style="text-align: left;padding-left:1rem;color:rgb(6, 142, 223)">${{Number(this.aroPayment).toFixed(2)}}</h5></td>
	        									</tr>
	        									<tr>
	        										<td style="text-align: left;width:40%;"><h5>VAS</h5></td>
	        										<td><h5 style="text-align: left;padding-left:1rem;color:rgb(6, 142, 223)">${{Number(total).toFixed(2)}}</h5></td>
	        									</tr>
	        									<tr>
	        										<td style="text-align: left;width:40%;"><h5>Total</h5></td>
	        										<td><h5 style="text-align: left;padding-left:1rem;color:rgb(6, 142, 223)">${{ Number(itemTotal).toFixed(2)}}</h5></td>
	        									</tr>
	        								</tbody>
	        							</table>

	        							<table style="border:none !important;background: #fff" id="planCartTable" class="table table-bordered text-center" v-if="cartItem.months == 'outright'">
					            			<tbody>
					            				<tr>
					            					<td style="border-bottom-left-radius:10px;">
					            						<h5 style="padding-top:10px;padding-left:3rem;text-align:left;">Item Details</h5>
					            					</td>
					            					<td style="border-bottom-right-radius:10px;">
					        							<table id="priceTable" class="table table-bordered text-center table-striped" style="border:none !important;background: #fff">
					        								<tbody>
					        									<tr>
					        										<td style="text-align: left;width:40%;"><h5>Device</h5></td>
					        										<td><h5 style="text-align: left;padding-left:1rem;color:rgb(6, 142, 223)">{{this.cartItem.mobileDevice.make}} {{this.cartItem.mobileDevice.model}} {{this.cartItem.mobileDevice.capacity}} </h5></td>
					        									</tr>
					        									<tr>
					        										<td style="text-align: left;width:40%;"><h5>Price</h5></td>
					        										<td><h5 style="text-align: left;padding-left:1rem;color:rgb(6, 142, 223)">${{this.cartItem.price}}</h5></td>
					        									</tr>
					        								</tbody>
					        							</table>
					        							<div class="col-md-12">
										        			<div class="row">
											        			<div class="col-6" style="padding-left:0px;padding-right:0px;max-width:40%;flex:0 0 40%;">
												        			<h5 class="grandTotalTable" style="padding-top:10px;padding-bottom:10px;border-top-left-radius: 10px;border-bottom-left-radius:10px;text-align:left;padding-left:1rem;">Total:</h5>
												        		</div>
												        		<div class="col-6" style="padding-right:0px;padding-left:0px;max-width:60%;flex:0 0 60%;">
												        			<h5 v-if="cartItem.months != 'outright'" class="grandTotalTable" style="padding-left:1.7rem;padding-top:10px;padding-bottom:10px;border-top-right-radius: 10px;border-bottom-right-radius:10px;text-align:left;padding-left:1.7rem;">${{ Number(itemTotal).toFixed(2)}}</h5>

												        			<h5 v-if="cartItem.months == 'outright'" class="grandTotalTable" style="padding-left:1.7rem;padding-top:10px;padding-bottom:10px;border-top-right-radius: 10px;border-bottom-right-radius:10px;text-align:left;padding-left:1.7rem;">${{ Number(this.cartItem.price).toFixed(2)}}</h5>								        			
												        		</div>
												        	</div>
										        		</div>
					            					</td>
					            				</tr>
					            			</tbody>
					            		</table>
	        							<!-- <div class="col-md-12">
						        			<div class="row">
							        			<div class="col-6" style="padding-left:0px;padding-right:0px;max-width:40%;flex:0 0 40%;">
								        			<h5 class="grandTotalTable" style="padding-top:10px;padding-bottom:10px;border-top-left-radius: 10px;border-bottom-left-radius:10px;text-align:left;padding-left:1rem;">Total:</h5>
								        		</div>
								        		<div class="col-6" style="padding-right:0px;padding-left:0px;max-width:60%;flex:0 0 60%;">
								        			<h5 class="grandTotalTable" style="padding-left:1.7rem;padding-top:10px;padding-bottom:10px;border-top-right-radius: 10px;border-bottom-right-radius:10px;text-align:left;padding-left:1.7rem;">${{ Number(itemTotal).toFixed(2)}}</h5>
								        		</div>
								        	</div>
						        		</div> -->
	            					</td>
	            				</tr>
	            			</tbody>
	            		</table>
	            	</div>
            	</div>

            	<div class="row justify-content-center">
					<div class="col-md-10" style="margin-top:20px;">
						<div  v-if="selectedPlan == ''" id="planDetails">
            				<h2 style="color:#068edf;padding-bottom:12px" class="col-10 pull-left row"><span v-if="mobileOption == 'Console'">Telstra Upfront&nbsp;</span>Mobile Broadband Plans</h2>
            				<select class="pull-right form-control col-2" v-model="mobileOption">
	            				<option>Siebel</option>
	            				<option>Legacy</option>
	            			</select>
							<table id="planTable" class="table text-center" style="border:none !important;background: #fff" v-if="mobileOption == 'Siebel'">
			                    <tbody>
			                        <!-- <tr>
			                            <td style="border:none !important;"></td>
							            <td style="border-top-left-radius: 10px;" class="tabPlan text-white"><h1>XS</h1></td>
							            <td class="tabPlan text-white"><h1>S</h1></td>
							            <td class="tabPlan text-white"><h1>M</h1></td>
							            <td class="tabPlan text-white"><h1>L</h1></td>
			                        </tr> -->
			                        <tr>
			                            <td style="border-top-left-radius: 10px;vertical-align: middle;text-align: center;" ><img class="flex" src="/img/welcome_page_icons/DataAllowance_Icon.svg" height="50"></td>
			                            <td>
			                            	<h3>Extra Small{{mobileBroadbandPageContent.extraSmallCapacity}}</h3>
			                            	<span style="color:#3490dc">
			                            		<h4>${{mobileBroadbandPageContent.extraSmallPricing}} per month</h4>
			                            	</span>
			                            	
			                            	<p>4G network access</p>
			                            	<p>No excess data charges in Australia</p>
			                            	<p>No lock-in plan</p>
				                            
			                            	<button class="btn btn-primary customBtn" @click="selectPlan('15', 'XS')"><h5 style="padding-top:5px;">Select</h5></button>
			                            </td>
			                            <td>
			                            	<h3>Small {{mobileBroadbandPageContent.smallCapacity}}</h3>
			                            	<span style="color:#3490dc">
			                            		<h4>${{mobileBroadbandPageContent.smallPricing}} per month</h4>
			                            	</span>
			                            	
			                            	<p>4G network access</p>
			                            	<p>No excess data charges in Australia</p>
			                            	<p>No lock-in plan</p>
				                            
			                            	<button class="btn btn-primary customBtn" @click="selectPlan('25', 'Small')"><h5 style="padding-top:5px;">Select</h5></button>
			                            </td>
			                            <td>
			                            	<h3>Medium {{mobileBroadbandPageContent.mediumCapacity}}</h3>
			                            	<span style="color:#3490dc">
			                            		<h4>${{mobileBroadbandPageContent.mediumPricing}} per month</h4>
			                            	</span>
			                            	
			                            	<p>5G network access</p>
			                            	<p>No excess data charges in Australia</p>
			                            	<p>No lock-in plan</p>
				                            
			                            	<button class="btn btn-primary customBtn" @click="selectPlan('50', 'Medium')"><h5 style="padding-top:5px;">Select</h5></button>
			                            </td>
			                            <td>
			                            	<h3>Large {{mobileBroadbandPageContent.largeCapacity}}</h3>
			                            	<span style="color:#3490dc">
			                            		<h4>${{mobileBroadbandPageContent.largePricing}} per month</h4>
			                            	</span>
			                            	
			                            	<p>5G network access</p>
			                            	<p>No excess data charges in Australia</p>
			                            	<p>No lock-in plan</p>
				                            
			                            	<button class="btn btn-primary customBtn" @click="selectPlan('75', 'Large')"><h5 style="padding-top:5px;">Select</h5></button>
			                            </td>
			                        </tr>
			                        <tr>
			                            <td style="vertical-align: middle;text-align: center;" ><img src="img/welcome_page_icons/BonusInclusion_Icon.svg" height="50"></td>
			                            <td colspan="4">
			                               <h3 style="font-weight: normal;color:#3490dc">Inclusions with your plan</h3>
			                                <br/>
			                                <div class="offset-2 col-9" style="text-align:left">
				                                <ul style="font-size:18px">
				                                	<li><i style="margin-right:.5cm;color:#3490dc" class="fa fa-check"></i> Unlimited standard national calls & texts</li>
				                                	<li><i style="margin-right:.5cm;color:#3490dc" class="fa fa-check"></i> Data-free sports streaming</li>
				                                	<li><i style="margin-right:.5cm;color:#3490dc" class="fa fa-check"></i> Data-free music streaming of Apple Music (additional suscription charges apply)</li>
				                                </ul>
				                            </div>
			                            </td>
			                        </tr>
			                    </tbody>
			                </table>

			                <table id="planTable" class="table text-center" style="border:none !important;background: #fff" v-if="mobileOption == 'Legacy'">
			                    <tbody>
			                        <!-- <tr>
			                            <td style="border:none !important;"></td>
							            <td style="border-top-left-radius: 10px;" class="tabPlan text-white"><h1>XS</h1></td>
							            <td class="tabPlan text-white"><h1>S</h1></td>
							            <td class="tabPlan text-white"><h1>M</h1></td>
							            <td class="tabPlan text-white"><h1>L</h1></td>
			                        </tr> -->
			                        <tr>
			                            <td style="border-top-left-radius: 10px;vertical-align: middle;text-align: center;" ><img class="flex" src="/img/welcome_page_icons/DataAllowance_Icon.svg" height="50"></td>
			                            <td>
			                            	<h3>Extra Small{{mobileBroadbandPageContent.extraSmallCapacity}}</h3>
			                            	<span style="color:#3490dc">
			                            		<h4>${{mobileBroadbandPageContent.extraSmallPricing}} per month</h4>
			                            	</span>
			                            	
			                            	<p>4G network access</p>
			                            	<p>No excess data charges in Australia</p>
			                            	<p>No lock-in plan</p>
				                            
			                            	<button class="btn btn-primary customBtn" @click="selectPlan('15', 'XS')"><h5 style="padding-top:5px;">Select</h5></button>
			                            </td>
			                            <td>
			                            	<h3>Small {{mobileBroadbandPageContent.smallCapacity}}</h3>
			                            	<span style="color:#3490dc">
			                            		<h4>${{mobileBroadbandPageContent.smallPricing}} per month</h4>
			                            	</span>
			                            	
			                            	<p>4G network access</p>
			                            	<p>No excess data charges in Australia</p>
			                            	<p>No lock-in plan</p>
				                            
			                            	<button class="btn btn-primary customBtn" @click="selectPlan('25', 'Small')"><h5 style="padding-top:5px;">Select</h5></button>
			                            </td>
			                            <td>
			                            	<h3>Medium {{mobileBroadbandPageContent.mediumCapacity}}</h3>
			                            	<span style="color:#3490dc">
			                            		<h4>${{mobileBroadbandPageContent.mediumPricing}} per month</h4>
			                            	</span>
			                            	
			                            	<p>5G network access</p>
			                            	<p>No excess data charges in Australia</p>
			                            	<p>No lock-in plan</p>
				                            
			                            	<button class="btn btn-primary customBtn" @click="selectPlan('55', 'Medium')"><h5 style="padding-top:5px;">Select</h5></button>
			                            </td>
			                            <td>
			                            	<h3>Large {{mobileBroadbandPageContent.largeCapacity}}</h3>
			                            	<span style="color:#3490dc">
			                            		<h4>${{mobileBroadbandPageContent.largePricing}} per month</h4>
			                            	</span>
			                            	
			                            	<p>5G network access</p>
			                            	<p>No excess data charges in Australia</p>
			                            	<p>No lock-in plan</p>
				                            
			                            	<button class="btn btn-primary customBtn" @click="selectPlan('85', 'Large')"><h5 style="padding-top:5px;">Select</h5></button>
			                            </td>
			                        </tr>
			                        <tr>
			                            <td style="vertical-align: middle;text-align: center;" ><img src="img/welcome_page_icons/BonusInclusion_Icon.svg" height="50"></td>
			                            <td colspan="4">
			                               <h3 style="font-weight: normal;color:#3490dc">Inclusions with your plan</h3>
			                                <br/>
			                                <div class="offset-2 col-9" style="text-align:left">
				                                <ul style="font-size:18px">
				                                	<li><i style="margin-right:.5cm;color:#3490dc" class="fa fa-check"></i> Unlimited standard national calls & texts</li>
				                                	<li><i style="margin-right:.5cm;color:#3490dc" class="fa fa-check"></i> Data-free sports streaming</li>
				                                	<li><i style="margin-right:.5cm;color:#3490dc" class="fa fa-check"></i> Data-free music streaming of Apple Music (additional suscription charges apply)</li>
				                                </ul>
				                            </div>
			                            </td>
			                        </tr>
			                    </tbody>
			                </table>
			            </div>
			        </div>
			    </div>

	            <div id="mobileCategories" v-if="selectedPlan != '' && selectedBrand == '' && byoSelected == '0'"class="container">
            		<h2 style="color:#068edf;padding-bottom:12px">Select Mobile Broadband Device</h2>
					<div class="row container">
						<div class="offset-8"></div>
						<div class="col-3">
							<button class="btn btn-primary pull-right customBtn" @click.prevent="selectedByo(paymentFrequencyVal, selectedPlan, '24')"><h5 style="padding-top:5px">SIM only</h5></button>
						</div>
						<div class="col-1" style="padding-right: 10px;">
							<button class="pull-right btn btn-secondary customBtn" @click.prevent="backBtnCategory('plan')"><h5 style="padding-top:5px;">Back</h5></button>
						</div>
					</div>
					<br/>
					<div class="col-12">
						<div class="row ">
							<!-- <div class="col-2" v-for="mobilePlan in mobileBroadbandCategories" style="margin-bottom:20px;flex:0 0 19.666667%;max-width:19.666667% !important">
		            			<div class="text-center card">
								  	<img class="card-img-top" :src="mobilePlan.image_url" alt="Card image cap">
								  	<div class="card-body">
								    <h5 class="card-title">{{mobilePlan.category_name}}</h5>
								    <a href="#" class="btn btn-primary" @click.prevent="selectBrand(mobilePlan.id)">Select</a>
								  </div>
								</div>
							</div> -->
							<div class="col-1 mobilePlan" v-for="mobilePlan in mobileBroadbandCategories" style="margin-bottom:20px;flex:0 0 19.666667%;max-width:19.666667% !important">
								<div class="planHover" @click.prevent="selectBrand(mobilePlan.id)">
							  		<img :src="mobilePlan.image_url" alt="Avatar" class="image" style="width:100%">
								  	<div class="middle">
								    	<div class="text"><h3>Select</h3></div>
								 	</div>
								 </div>
							</div>
						</div>
					</div>
            	</div>


            	<div v-if="selectedPlan != '' && selectedBrand != '' && byoSelected == '0'">
            		<div class="container-fluid" v-if="selectedBrand != '' && addExtra == '0'">

	            		
			            		<div class="col-12" style="padding-left: 0px;padding-right: 0px;">
			            			<div class="row">
										<div class="col-8" style="padding-top:10px;">
											<div class="form-group row">
											    <label for="inputPassword" class="col-sm-2 col-form-label" style="flex: 0 0 14.6666666667% !important;width:0 0 14.6666666667% !important"><h3 style="color:#068edf;">&nbsp;</h3></label>
											    <!-- <div class="col-sm-8">
											      <input type="text" class="form-control" id="inputSearchModel" v-model="search" placeholder="Search here..">
											    </div> -->
											    <div class="inner-addon right-addon col-sm-8">
												    <i class="fa fa-search"></i>
												    <input type="text" v-model="search"  class="form-control" placeholder="Search.." />
												</div>
											</div>
										</div>
										<div class="col-3" style="margin-bottom: 1rem;flex: 0 0 24% !important;width:24% !important">
											<button class="pull-right btn btn-secondary customBtn" @click.prevent="backBtnCategory('brand')"><h5 style="padding-top:5px;">Back</h5></button>
										</div>
									</div>
								</div>
								<div class="col-12">
									<div class="row ">
				            			<table id="princingTable" class="table table-bordered text-center table-striped col-10 offset-1" style="border:none !important;background: #fff">
									 		<thead>
									 			<tr>
									 				<td style="text-align:left;padding-left:3.7rem;background-color:#068edf;border-top-left-radius: 15px;padding-top:20px"><h4 class="text-white">Device</h4></td>
									 				<td style="background-color:#068edf;padding-top:20px"><h4 class="text-white">12 months</h4></td>
									 				<td style="background-color:#068edf;padding-top:20px"><h4 class="text-white">24 months</h4></td>
									 				<td style="background-color:#068edf;border-top-right-radius: 15px;padding-top:5px"><h4 style="padding-bottom:5px;height:10px" class="text-white">Outright</h4></td>
									 				<!-- <td>36 Months</td> -->
									 			</tr>
									 		</thead>
									 		<tbody>
										 		<tr v-for="mobileDevice in filteredList">
										 			<td>
										 				<span><h5 style="color:#068edf;text-align: left;margin-left:3rem">{{mobileDevice.model}} {{mobileDevice.capacity}}</h5></span>
										 			</td>
										 			<td class="productHover" @click="addCartItem(mobileDevice, mobileDevice.mths_12_device_payment_contract, paymentFrequencyVal, selectedPlan, '12')">
										 				<span>
										 					<h5 style="color:#068edf">${{Number(mobileDevice.mths_12_device_payment_contract).toFixed(2)}}</h5>
										 				</span>
										 			</td>
										 			<td class="productHover" @click="addCartItem(mobileDevice, mobileDevice.mths_24_device_payment_contract, paymentFrequencyVal, selectedPlan, '24')">
										 				<span>
										 					<h5 style="color:#068edf">${{Number(mobileDevice.mths_24_device_payment_contract).toFixed(2)}}</h5>
										 				</span>
										 			</td>
										 			<td class="productHover" @click="addCartItem(mobileDevice, mobileDevice.rrp_incl_gst, paymentFrequencyVal, selectedPlan, 'outright')">
										 				<span>
										 					<h5 style="height:10px;color:#068edf">${{Number(mobileDevice.rrp_incl_gst).toFixed(2)}}</h5>
										 				</span>
										 			</td>
										 		</tr>
										 	</tbody>
									 	</table>
									 </div>
								</div>
	            	</div>
	            </div>
	            <!-- <div class="container" v-if="selectedBrand != '' && addExtra == '1'">
            		<div class="col-12">
            			<div class="row">
            				<div class="offset-7">
            				</div>
							<button  v-if="confirmedCartItem == '0'" class="btn btn-primary col-2" @click.prevent="confirmCartItem()">Add to Cart</button>
							<button  v-if="confirmedCartItem == '0'" class="btn btn-secondary col-2 spacing" @click.prevent="backBtnCategory('mobileDevice')">Cancel</button>
							<a v-if="confirmedCartItem == '1'" class="col-2" href="/cart-items"><button class="btn btn-primary">Proceed to Checkout</button></a>
							<button v-if="confirmedCartItem == '1'" class="btn btn-secondary col-2 spacing" @click.prevent="backBtnCategory('mobileDevice')">Continue Shopping</button>
						</div>
					</div>
					<br/>
            		<table class="table table-bordered" style="background: #fff">
            			<tbody>
            				<tr>
            					<td style="width:30%">
            						Accessory Repayment Option for 24 Months
            					</td>
            					<td style="width:60%">
            						<div class="row">
										<div class="col-sm-7">
											<select name="category_id" @change="onChangeAro($event)" class="form-control">
										     	<option value="120.00">$120.00</option>
										     	<option value="240.00">$240.00</option>
										     	<option value="360.00" selected="">$360.00</option>
										  	</select>
									  	</div>

									  	<div class="col-sm-3">

											<select name="category_id" @change="changeMobileAROMonthly($event)" class="form-control">
										     	<option value="12">12 months</option>
										     	<option value="24" selected="">24 months</option>
										  	</select>
									  	</div>
									  </div>
            					</td>
            				</tr>
            				<tr>
            					<td>
            						Value Added Service
            					</td>
            					<td>
									<multiselect style="min-height:85px"
                                      v-model="vas"
                                      :options="vasOptions" :close-on-select="false" :clear-on-select="false" :multiple="true" track-by="id" label="name" placeholder="Select VAS">
                                    </multiselect>
            					</td>
            				</tr>
            				<tr>
            					<td>
            						Item Details
            					</td>
            					<td>
            						<tr>
            							<td>
	            							<span>Device: {{this.cartItem.mobileDevice.make}} {{this.cartItem.mobileDevice.model}}</span><br/>
	            							<span>Payment Duration: {{this.cartItem.months}} Months</span><br/>
	            							<span>Device Plan: {{this.cartItem.planType}}</span>
	            						</td>
	            						<td>
	            							Unit Price: ${{this.cartItem.price}}<br/>
	            							Plan Price: ${{this.cartItem.planValue}}<br/>
	            							ARO : ${{this.aroPayment}}<br/>
	            							Value Added Service : ${{total}}<br/>
	            							Total: ${{ Number(itemTotal).toFixed(2) }}
	            						</td>
        							</tr>
            					</td>
            				</tr>
            			</tbody>
            		</table>
            	</div> -->

            	<div v-if="byoSelected == '1'">
            		<h2 style="color:#068edf;padding-bottom:12px">Customize Sim Plan</h2>
            		<div class="col-12">
            			<div class="row">
								<div class="offset-8" v-if="confirmedCartItem == '0'">
									
								</div>
								<div class="offset-7" style="margin-left:61.333333%" v-if="confirmedCartItem == '1'">
									
								</div>
								<div class="col-2" v-if="confirmedCartItem == '0'" style="max-width: 22.666667%;flex: 0 0 22.666667%">
									<button  class="pull-right btn btn-primary customBtn" @click.prevent="confirmCartItem()"><h5 style="padding-top:5px;">Add to Cart</h5></button>
								</div>
								<div class="col-2"  v-if="confirmedCartItem == '0'" style="max-width: 10%">
									<button class="btn btn-secondary pull-right customBtn" @click.prevent="backBtnCategory('mobileDevice')"><h5 style="padding-top:5px;">Cancel</h5></button>
								</div>
								<div class="col-2" v-if="confirmedCartItem == '1'">
									<a href="/cart-items"><button class="pull-right btn btn-primary customBtn"><h5 style="padding-top:5px;">Go to Cart</h5></button></a>
								</div>
								<div class="col-2" v-if="confirmedCartItem == '1'" style="max-width: 20.666667%;flex:0 0 20.666667%">
									<button class="btn btn-secondary pull-right customBtn" @click.prevent="backBtnCategory('mobileDevice')"><h5 style="padding-top:5px;">Continue Shopping</h5></button>
								</div>
							</div>
					</div>
					<br/>
            		<table class="table table-bordered" style="background: #fff">
            			<tbody>
            				<!-- <tr>
            					<td style="width:40%;border-top-left-radius:10px;">
            						<h5 style="padding-top:10px;padding-left:3rem;text-align:left;">Accessory Repayment Option</h5>
            					</td>
            					<td style="border-top-right-radius:10px;">
									<div class="row">
										<div class="col-sm-7">
										  	<multiselect @input="onChangeAro($event)" v-model="aroSelection"
		                                      :options="[{'id':0,'name':'$0.00','value':'0.00'},{'id':1,'name':'$120.00','value':'120.00'},{'id':2,'name':'$180.00','value':'180.00'},{'id':3,'name':'$240.00','value':'240.00'}]" :close-on-select="false" :clear-on-select="false" :multiple="false" track-by="id" label="name" placeholder="Select ARO">
		                                    </multiselect>
		                                    <input type="hidden" v-model="aroMonthSelection">
									  	</div>
									  </div>
            					</td>
        					</tr> -->
            				<tr>
            					<td>
            						<h5 style="padding-top:10px;padding-left:3rem;text-align:left;">Value Added Service</h5>
            					</td>
            					<td>
									<multiselect style="min-height:85px"
                                      v-model="vas"
                                      :options="vasSimPlanOptions" :close-on-select="false" :clear-on-select="false" :multiple="true" track-by="id" label="name" placeholder="Select VAS">
                                    </multiselect>
            					</td>
            				</tr>
            				<tr>
            				<tr>
            					<td>
            						<h5 style="padding-top:10px;padding-left:3rem;text-align:left;">Item Details</h5>
            					</td>
            					<td>
            						<tr>
            							<td>
		            						Sim Plan : {{this.selectedPlanType}}<br/>
            							</td>
            							<td>
		            						Plan Price: ${{this.selectedPlan}}<br/>
		            						Value Added Service : ${{total}}<br/>
		            						Total: ${{ Number(itemTotalSim).toFixed(2) }}
		        						</td>
	        						</tr>
            					</td>
            				</tr>
            			</tbody>
            		</table>
            	</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Multiselect from 'vue-multiselect'
	export default{
    	components: { Multiselect },
		data(){
			return{
            	mobileOption: 'Legacy',
            	byoSelected: 0,
				addExtra: 0,
				confirmedCartItem: 0,
				cartItem: {'valueAddedService': '','paymentDuration' : '', 'paymentFrequency' : '', 'paymentFrequencyVal' : '', 'selectedPlan' : '', 'selectedPlanType' : '', 'planType' : '', 'deviceDiscounts': 0},
            	frequency : {'paymentFrequency' : 'monthly', 'paymentFrequencyVal' : 12, 'paymentDuration' : 24},
            	aroPayment: 0.00,
				selectedPlan: '',
				selectedPlanType : '',
            	valueAddedService: {'service' : [], 'amount': []},
            	vasOptions: [
            		{'id' : 0,'name' : 'International Calling Pack' , 'amount' : 10},
            		{'id' : 1,'name' : 'Stay Connected Advanced' , 'amount' : 15},
            		{'id' : 2,'name' : 'Telstra Locator Subscription' , 'amount' : 10},
            		{'id' : 3,'name' : 'Telstra One Number' , 'amount' : 5},
            		{'id' : 6, 'name' : 'Tech Services', 'amount' : 60},
            		{'id' : 7, 'name' : 'Cyber Security', 'amount' : 80},
            		{'id' : 8, 'name' : 'Upgrade and Protect', 'amount' : 15},
            	],
            	vasOptionsConsole: [
            		{'id' : 0,'name' : 'International Calling Pack' , 'amount' : 10},
            		{'id' : 2,'name' : 'Telstra Locator Subscription' , 'amount' : 10},
            		{'id' : 3,'name' : 'Telstra One Number' , 'amount' : 5},
            		{'id' : 6, 'name' : 'Tech Services', 'amount' : 60},
            		{'id' : 7, 'name' : 'Cyber Security', 'amount' : 80},
            		{'id' : 8, 'name' : 'Upgrade and Protect', 'amount' : 15},
            	],
            	vas: [],
            	paymentDuration: 24,
            	paymentFrequency: 'monthly',
            	paymentFrequencyVal: 12,
            	aro: {'base': 0, 'monthly' : 12},
            	selectedBrand: '',
            	mobileBroadbandCategories: [],
            	mobileBroadbands: [],
            	plan: {'id': ''},
            	search: '',
            	valueAddedService: {'service' : [], 'amount': []},
            	vasSimPlanOptions: [
            		{'id' : 0,'name' : 'International Calling Pack' , 'amount' : 10},
            		{'id' : 1,'name' : 'Telstra Locator Subscription' , 'amount' : 10},
            		{'id' : 2,'name' : 'Telstra One Number' , 'amount' : 5}
            	],
            	vas: [],
            	aroSelection: {'id':0,'name':'$0.00','value':'0.00'},
            	aroMonthSelection: {'id':0,'name':'12 months','value':'12'},
            	mobileBroadbandPageContent: {},
			}
		},
		computed: {
		    filteredList() {
		      return this.mobileBroadbands.filter(mobileDevice => {
		        return mobileDevice.model.toLowerCase().includes(this.search.toLowerCase())
		      })
		    },
        	itemTotalSim(){
        		this.cartItem.grandTotal = (Number(this.selectedPlan)  + Number(this.vas.totalAmount))
        		return (Number(this.selectedPlan)  + Number(this.vas.totalAmount))
        	},
        	itemTotal(){
        		var aroAmount = (Number(this.aro.base) / Number(this.aro.monthly))
        		this.aroPayment = (Number(this.aro.base) / Number(this.aro.monthly))
        		this.cartItem.aroPayment = (Number(this.aro.base) / Number(this.aro.monthly))

        		return (Number(this.cartItem.price) + Number(this.cartItem.planValue) + aroAmount + Number(this.vas.totalAmount))
        	},
		    total: function(){

			  	let total = [];
			  	let idArray = [];

			  	Object.entries(this.vas).forEach(([key, val]) => {
			      	total.push(val.amount) // the value of the current key.
			  	});
			  	this.vas.totalAmount = total.reduce(function(total, num){ return total + num }, 0)
			  	this.cartItem.totalAmount = total.reduce(function(total, num){ return total + num }, 0)

			  	return total.reduce(function(total, num){ return total + num }, 0);

			}
		},
		mounted(){
			this.getMobileBroadbandCategories()
        	this.getPageContent();
			console.log(this.aro.base)
		},
		methods:{
        	changeAro(base,monthly){
        		this.aro.base = base 
        		this.aro.monthly = monthly

        		this.aroPayment = monthly
        		console.log(this.aro)
        	},
        	backBtnCategory(type){
        		this.search = ''
        		console.log(type)
        		if(type == 'brand'){
        			this.selectedBrand = ''
        		}

        		if(type == 'plan'){
        			this.mobileDevices = ''
        			this.selectedPlan = ''
        		}

        		if(type == 'mobileDevice'){
        			this.cartItem = {}
        			this.addExtra = 0
        			this.confirmedCartItem = 0
        			this.selectedBrand = ''
        			this.mobileDevices = ''
        			this.selectedPlan = ''

        			window.location.href = '/';
        		}
        	},
        	selectPlan(plan, planType){
        		this.selectedPlan = plan
        		this.selectedPlanType = planType
        	},
        	changePaymentFrequency(paymentFrequency, paymentFrequencyVal){
        		this.paymentFrequency = paymentFrequencyVal
        		this.paymentFrequencyVal = paymentFrequencyVal
        	},
        	changePaymentDuration(paymentDuration){
        		this.paymentDuration = paymentDuration
        	},
        	confirmCartItem(mobileDevice, price, paymentFrequency, planValue, months){
        		var devices = []
        		if(this.cartItem.months != 'outright'){
	        		this.cartItem.aro = this.aro
	        		this.cartItem.valueAddedService = this.vas
	        		this.cartItem.itemType = 'broadBandPlan'

	        		this.confirmedCartItem = 1

	        		if(this.cartItem.months == 24){
	        			this.cartItem.mobilePlanMonths = {'id':1,'name':'24 months', 'value':24}
	        		}

	        		if(this.cartItem.months == 12){
	        			this.cartItem.mobilePlanMonths = {'id':0,'name':'12 months', 'value':12}
	        		}

	        		if(this.cartItem.aro.monthly == 12){
	        			this.cartItem.selectedAROMonth = {'id':0,'name':'12 months', 'value':12}
	        		}

	        		if(this.cartItem.aro.monthly == 24){
	        			this.cartItem.selectedAROMonth = {'id':1,'name':'24 months', 'value':24}
	        		}

	        		if(this.cartItem.planType == "XS"){
	        			this.cartItem.planOption = { 'id': 1, 'name' : 'Extra Small', 'planType': 'XS'}
	        		}

	        		if(this.cartItem.planType == "Small"){
	        			this.cartItem.planOption = { 'id': 2, 'name' : 'Small', 'planType': 'Small'}
	        		}

	        		if(this.cartItem.planType == "Medium"){
	        			this.cartItem.planOption = { 'id': 3, 'name' : 'Medium', 'planType': 'Medium'}
	        		}

	        		if(this.cartItem.planType == "Large"){
	        			this.cartItem.planOption = { 'id': 4, 'name' : 'Large', 'planType': 'L'}
	        		}

	        		if(this.cartItem.planType == "XL"){
	        			this.cartItem.planOption = { 'id': 5, 'name' : 'Extra Large', 'planType': 'XL'}
	        		}

	        		if(this.cartItem.aro.base == 0){
		        		this.cartItem.selectedARO = {'id':0,'name':'None','value':0.00}
		        	}

	        		if(this.cartItem.aro.base == 120){
	        			this.cartItem.selectedARO = {'id':1,'name':'$120.00','value':120.00}
	        		}

	        		if(this.cartItem.aro.base == 180){
	        			this.cartItem.selectedARO = {'id':2,'name':'$180.00','value':180.00}
	        		}

	        		if(this.cartItem.aro.base == 240){
	        			this.cartItem.selectedARO = {'id':3,'name':'$240.00','value':240.00}
	        		}

	        		// axios.post('add-mobile-broadband-item',this.cartItem).then((response) => {
	        		// 	this.cartItem.otherDevices = response.data
	        		// 	this.$store.commit('addToCart', this.cartItem);
	        		// })
	        		this.cartItem.smallDiscount = 0
					this.cartItem.mediumDiscount = 0
					this.cartItem.largeDiscount = 0
					this.cartItem.xlDiscount = 0
					this.cartItem.xsDiscount = 0

					if(this.mobileOption == 'Siebel'){
	        			this.mobileOption = {'id': 0, 'name': 'Siebel'}
	        		}

	        		if(this.mobileOption == 'Console'){
	        			this.mobileOption = {'id': 1, 'name': 'Console'}
	        		}

	        		if(this.mobileOption == 'Legacy'){
	        			this.mobileOption = {'id': 2, 'name': 'Legacy'}
	        		}

	        		if(!this.cartItem.mobileDevice){
	        			var crypto = require("crypto");
	        			this.simPlans = {	
			    			'aroAccessories': [{'aroID':crypto.randomBytes(20).toString('hex'),'BarCode': "",'ProductType': "",'ProductUnitRRPCost' : 0,'aroPrice': 0,'isAROBaseEqual': false}],
				    		'aroAccessoriesTotalPrice' : 0,
				    		'aroTotalMatched' : false,
				    		'addPromotion': {'id':0,'name':'no'},
							'customDescription' : '',
					        'make' :  '',
			        		'model' : '',
			        		'capacity' : '',
			        		'customDescription' : '',
			        		'totalPrice' : (Number(this.cartItem.planValue)).toFixed(2),
			        		'paymentFrequency' : 12,
			        		'frequency' : 12,
			        		'planValue' : Number(this.cartItem.planValue).toFixed(2),
			        		'planType' : this.cartItem.planType,
			        		'mobilePlanMonths' : {'id': 0, 'name' : '12 months', 'value': 12},
			        		'planOption' : this.cartItem.planOption,
			        		'quantity' : 1,
			        		'aroAmount' : (this.cartItem.aro.base / this.cartItem.aro.monthly),
			        		'aroBase' : Number(this.cartItem.aro.base),
			        		'aroMonths' : this.cartItem.aro.monthly,
			        		'vas' : this.cartItem.valueAddedService,
			        		'valueAddedService' : this.cartItem.valueAddedService,
			        		'vasTotalAmount' : Number(this.vas.totalAmount).toFixed(2),
			        		'vasIdArray' : [],
			        		'price' : Number(0).toFixed(2),
			        		'mths24Contract' : 0,
			        		'mths36Contract' : 0,
			        		'months' : 12,
			        		'id' : crypto.randomBytes(20).toString('hex'),
			        		'deviceCategory' : '',
			        		'otherDevices' : [],
			        		'deviceItem' : [],
			        		'isCustom': 1,
			        		'itemType' : 'simPlan-broadband',
			        		'selectedARO': this.cartItem.selectedARO,
			        		'selectedAROMonth' : {'id': 1, 'name' : '24 months', 'value': 24},
		        			'promotionsDescription' : '',
		        			'discounts' : '',
		        			'deviceDiscounts' : '',
		        			'promotionsPrice' : 0,
		        			'isQuadrant' : (this.$store.state.cartCount < 4) ? 'isQuadrant' : 'notQuadrant',
		        			'promotionSets' : [],
		        			'selectedPromotion': {'id' : 0, 'name' : ''},
		        			'isBusiness' : 1,
		        			'mobileOption' : this.mobileOption
				      	};
	        			this.$store.commit('addToCart', this.simPlans);
	        		}

	        		if(this.cartItem.mobileDevice){
	        			this.cartItem.isBusiness = 1
		        		axios.post('add-mobile-broadband-item',this.cartItem).then((response) => {
		        			this.cartItem.mobileOption = this.mobileOption
		        			this.cartItem.otherDevices = response.data
		        			this.$store.commit('addToCart', this.cartItem);
		        		})
		        	}
		        }

		        if(this.cartItem.months == 'outright'){
		        	// console.log(this.cartItem)
		        	// return
		        	devices.push(this.cartItem.mobileDevice)
		        	var crypto = require("crypto");
			    	var my_object = {
						'price': Number(this.cartItem.mobileDevice.rrp_incl_gst),
						'broadbandPrice': 0,
						'hardwarePrice': 0,
						'outrightDiscountedPrice' : 0,
						'aroPrice': 0,
						'customDescription' : 'outright',
						'id': crypto.randomBytes(20).toString('hex'),
						'quantity': 1,
						'itemType' : 'outright',
						'devices': devices,
						'broadBandDevices' : [],
						'hardwareDevices' : [],
						'aroDevices' : [],
						'totalPriceOutright' : Number(this.cartItem.mobileDevice.rrp_incl_gst),
						'addPromotion': {'id':0,'name':'no'},
	        			'promotionSets' : [],
	        			'selectedPromotion': {'id' : 0, 'name' : ''},
	        			'selectedPromotions' : [],
	        			'promotionsPrice' : 0,
	        			'chargeDiscount' : 0
					}
					this.$store.state.quadrantCartCount++
				    this.$store.state.cartCount++
				    this.$store.state.quadrantCart.push(my_object)

				    window.localStorage.setItem('quadrantCartCount', this.$store.state.quadrantCartCount);
	        		window.localStorage.setItem('quadrantCart', JSON.stringify(this.$store.state.quadrantCart));
	        		window.localStorage.setItem('cartCount', (this.$store.state.cartCount));
		        }
        	},
        	getMobileBroadbandCategories(){
        		axios.get('/get-business-mobile-broadband-categories').then(response => {
        			this.mobileBroadbandCategories = response.data
        		});
        	},
        	selectBrand(id){
        		this.selectedBrand = id
        		this.plan.id = id

        		axios.post('/get-business-mobile-broadbands', this.plan).then(response => {
        			this.mobileBroadbands = response.data
        		});
        	},

        	addCartItem(mobileDevice, price, paymentFrequency, planValue, months){
        		this.cartItem.mobileDevice = mobileDevice
        		this.cartItem.price = price
        		this.cartItem.paymentFrequency = paymentFrequency
        		this.cartItem.planValue = planValue
        		this.cartItem.planType = this.selectedPlanType
        		this.cartItem.months = months
        		//to show the extras page
        		this.addExtra = 1
        	},
        	onChangeAro(event){
        		this.aro.base = event.value
        		this.aro.monthly = this.aro.monthly

        	},
        	changeMobileAROMonthly(event){
        		this.aro.base = this.aro.base 
        		this.aro.monthly = event.value
        	},
        	selectedByo(paymentFrequency, planValue, months){
        		this.cartItem.mobileDevice = ''
        		this.byoSelected = 1
        		this.cartItem.paymentFrequency = paymentFrequency
        		this.cartItem.frequency = this.frequency.paymentFrequency
        		this.cartItem.planValue = planValue
        		this.cartItem.planType = this.selectedPlanType
        		this.cartItem.months = months
        		console.log(this.byoSelected)
        	},
        	getPageContent(){
        		axios.get('/get-business-broadband-page-content').then((response) => {
        			console.log(response.data)
        			this.mobileBroadbandPageContent = response.data
        		})
        	}
		}
	}
</script>

<style type="text/css" scoped>
	ul {
	  list-style-type: none;
	  padding: 0;
	}

	li {
	  display: inline-block;
	  margin: 0 10px;
	}

	.productHover:hover{
		background: rgba(234,167,33,0.6);
		color:#fff;
		cursor: pointer;
	}

	#planTable { border-collapse: separate; border-spacing: 0px; }
	#planTable td { border:1px solid #dee2e6; }
	#planTable tr:last-child td:last-child  { border-top-left-radius: 0px !important; }
	#planTable tr:first-child td:first-child { border-top-left-radius: 0px !important; }
	#planTable tr:first-child td:last-child { border-top-right-radius: 0px !important; }
	#planTable tr:last-child td:first-child { border-bottom-left-radius: 0px !important; }
	#planTable tr:last-child td:last-child {  border-bottom-right-radius: 0px !important; border-bottom-left-radius: 0px !important; }

	.customBtn{
		border-radius:25px;padding-right: 30px;padding-left:30px;
	}

	.mobilePlan {
	  position: relative;
	  width: 50%;
	}

	.image .card-title{
	  opacity: 1;
	  display: block;
	  width: 100%;
	  height: auto;
	  transition: .5s ease;
	  backface-visibility: hidden;
	  color:#028cde !important;
	}

	.middle {
	  transition: .5s ease;
	  opacity: 0;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	  text-align: center;
	}

	.mobilePlan:hover .image {
	  opacity: 0.3;

	}

	.planHover:hover{
		border-radius:10px;
		cursor: pointer;
	  	  background-color: #1670a6 !important;
	}

	.mobilePlan:hover .middle {
	  opacity: 1;
	}

	.text {
	  color: white;
	  font-size: 16px;
	  padding: 16px 32px;
	}

	.tabPlan{
		border-top-left-radius: 10x;
		border: 1px solid #e2e2e2;
		background-color:#fca318;
	}

	.customBtn{
		border-radius:25px;padding-right: 30px;padding-left:30px;
	}

	/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 10px 30px 10px 20px;
  pointer-events: none;
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;font-size:18px;}

/* add padding  */
.left-addon input  { padding-left:  50px; }
.right-addon input {  padding-right: 150px;
    border-radius: 15px;
    height: 40px;
    font-size: 20px; }

    #princingTable{ border-collapse: separate; border-spacing: 0px; }
    #princingTable tbody tr:last-child td:last-child {  border-bottom-right-radius: 10px; }
    #princingTable tbody tr:last-child td:first-child { border-bottom-left-radius: 10px;}
    .multiselect{min-height: 65px !important;}

    #planCartTable { border-collapse: separate; border-spacing: 0px; }

    .btn-secondary{
      background:#fff !important;
      border:2px solid orange !important;
      color: orange !important;
    }

    .btn-secondary:hover{
    	background: rgba(234,167,33,0.6) !important;
    	color: #fff !important;
    }

    #princingTable tbody tr:last-child td:last-child {
	    border-bottom-left-radius: 0px;
	}

	#princingTable tbody tr:last-child td:first-child {
	    border-bottom-right-radius: 0px;
	}

	/*.mobilePlan:nth-child(2){
		margin-bottom: 20px;
	    flex: 0 0 19.6667%;
	    max-width: 19.6667% !important;
	    border: 2px solid #baba;
	    border-radius: 7px;
		padding-top:10% !important;
	}*/

	/*.image:nth-child(2){
	    padding-top: 50% !important;
	    padding-bottom: 60% !important;
	}*/
	li{
    	display: block !important;
    }

    h3{
    	color:#FCA318;
    	font-weight: bolder;
    }


	p{
		font-size:18px;
		margin-bottom:.1cm;
	}
</style>