<template>
	<div id="div-id" v-if="$store.state.businessMobilePlan.length != '0' || $store.state.simPlan.length != '0'" class="container-fluid">
		
		<div class="row" style="padding-top:3rem;">
			<div class="col-md-12">
				<div class="row" style="padding-bottom: 2rem">
		    		<h3 style="color:#3490dc;padding-top:5px" class="col-3">Business Mobile Plans</h3>
		    	</div>
		    		<span v-for="(item,index) in $store.state.businessMobilePlan">
			    		<!-- <input type="text" @keyup="$emit('update:inputData', inputData);" v-model="inputData[index]" class="form-control col-4" style="margin-bottom:1rem" placeholder="Number or Phone Custom Text"> -->
			    		<input type="text" @keyup="createCustomMobileDescription(item, item.customDescription)" v-model="item.customDescription" class="form-control col-4" style="margin-bottom:1rem" placeholder="Enter Name or Number">
			        	<table  style="border:none !important;background: #fff" id="planCartTable" class="table table-bordered text-center" v-if="$store.state.businessMobilePlan.length != '0'">
			        		<thead>
			        			<tr>
			        				<td style="border-top-left-radius: 10px;padding:10px 5px 5px 5px;"><h5 style="padding:0px;">Items</h5></td>
			        				<td style="padding:10px 5px 5px 5px;"><h5 style="padding:0px;">Amount</h5></td>
			        				<td style="padding:10px 5px 5px 5px;"><h5 style="padding:0px;">Pricing Chart</h5></td>
			        				<td style="border-top-right-radius: 10px;padding:10px 5px 5px 5px;"><h5 style="padding:0px;">Remove</h5></td>
			        			</tr>
			        		</thead>
			        		<tbody class="text-center">
			            		<tr>
			            			<td style="text-align: left;width:32%;border-bottom-left-radius:10px;">
										<div class="form-group row">
										    <h5 for="staticEmail" class="col-sm-12">Mobile Plan:</h5>
										    <div class="col-sm-12">
		                                        <multiselect 
			                                      	:options="planOptions" :value="item.planOption" :close-on-select="true" :clear-on-select="false" :multiple="false" track-by="id" label="name" placeholder="Select Mobile Plan" @input="onChange($event,item)">
			                                    </multiselect>
		                                    </div>
										</div>
										
										<div class="form-group row">
										    <h5 class="col-sm-12"><span>Mobile Device:</span></h5>
									  		<div class="col-sm-12">
		                                    	<multiselect 
		                                          	:options="allDevices" :value="item.deviceItem" :close-on-select="true" :multiple="false" track-by="id" label="name" placeholder="Select Mobile Device" @input="onDeviceChange($event,item)" :custom-label="nameWithLang">
		                                        </multiselect>
										  	</div>
										  	<div class="col-sm-12" style="padding-top:1rem">
											  	<multiselect 
			                                      	:options="mobilePlanMonthOptions" :value="item.mobilePlanMonths" :close-on-select="false" :clear-on-select="false" :multiple="false" track-by="id" label="name" placeholder="Select Mobile Plan" @input="changeMobilePlanMonthly($event,item)">
			                                    </multiselect>
										  	</div>
										</div>

										<div class="form-group row">
											<h5 class="col-sm-12"><span>VAS:</span></h5>
											<div class="col-sm-12">
												<multiselect 
			                                      	:options="vasOptions" :value="item.vas" :close-on-select="false" :clear-on-select="false" :multiple="true" track-by="id" label="name" placeholder="Select VAS" @input="onChangeVas($event,item)">
			                                    </multiselect>
										  	</div>
										</div>

										<div class="form-group row">
											<h5 class="col-sm-12"><span>ARO:</span></h5>
											<div class="col-sm-12">
			                                    <multiselect 
			                                      	:options="aroOptions" :value="item.selectedARO" :close-on-select="false" :clear-on-select="false" :multiple="false" track-by="id" label="name" placeholder="Select ARO" @input="onChangeAro($event,item)">
			                                    </multiselect>
										  	</div>

										  	<!-- <div class="col-sm-12" style="padding-top:1rem">
											  	<multiselect 
			                                      	:options="aroMonthOptions" :value="item.selectedAROMonth" :close-on-select="false" :clear-on-select="false" :multiple="false" track-by="id" label="name" placeholder="Select ARO" @input="changeMobileAROMonthly($event,item)">
			                                    </multiselect>
										  	</div> -->
										</div>

									  	
			            			</td>
			            			<td style="text-align:left;width:25%">
			            				<!-- <h5><span style="text-align:left">Mobile Plan:</span> <span style="text-align:right">${{item.planValue}}</span></h5> -->
			            				<div class="row" style="margin-left:1px;">
				            				<h5 class="col-6">
				            					Mobile Plan:
				            				</h5>

				            				<h5 class="col-6">
				            					${{Number(item.planValue).toFixed(2)}}
				            				</h5>
				            			</div>

				            			<div class="row" style="margin-left:1px;">
				            				<h5 class="col-6" v-if="item.price != '0.00'">
				            					Mobile Device:
				            				</h5>
				            				<h5 class="col-6" v-else>
				            					BYO:
				            				</h5>

				            				<h5 class="col-6">
				            					${{item.price}}
				            				</h5>
				            			</div>
				            			<div class="row" style="margin-left:1px;">
				            				<h5 class="col-6">
				            					ARO:
				            				</h5>

				            				<h5 class="col-6">
				            					${{Number(item.aroAmount).toFixed(2)}}
				            				</h5>
				            			</div>
				            			<div class="row" style="margin-left:1px;">
				            				<h5 class="col-6">
				            					VAS:
				            				</h5>

				            				<h5 class="col-6">
				            					${{item.vasTotalAmount}}
				            				</h5>
				            			</div>
				            			<br/>
										<div class="row" style="margin-left:5px;margin-right:5px;margin-left:8px;">
				            				<h5 class="col-6"  style="border-top-left-radius:10px;border-bottom-left-radius:10px;background-color:#39C071;color:#fff;text-align: left;padding:10px 0px 10px 10px;">
				            					Total:
				            				</h5>

				            				<h5 class="col-6"  style="border-top-right-radius:10px;border-bottom-right-radius:10px;background-color:#39C071;color:#fff;text-align: left;padding:10px 0px 10px 20px;">
				            					${{item.totalPrice}}
				            				</h5>
				            			</div>
			            			</td>
			            			<td>
			            				<table  id="priceTable" class="table text-left" style="border:none !important;background: #fff">
									 		<thead>
									 			<tr>
									 				<td>Device</td>
									 				<td>S</td>
									 				<td>M</td>
									 				<td>L</td>
									 				<td>XL</td>
									 			</tr>
									 		</thead>
									 		<tbody>
										 		<tr v-for="chart in item.otherDevices">
										 			<td>
										 				<span>{{chart.model}} {{chart.capacity}}</span>
										 			</td>
										 			<!--small plan-->
										 			<td v-if="item.model == chart.model && item.months == '36'" :class="item.planType == 'Small' && item.totalPrice == (Number(chart.mths_36_device_payment_contract) + Number(mobilePageContent.smallPricing) + Number(item.aroAmount) + Number(item.vasTotalAmount )).toFixed(2) ? 'activeItem' : 'pricingItem'" @click.prevent="switchPlanPricing('small', chart, item)">
										 				{{ (Number(chart.mths_36_device_payment_contract) + Number(mobilePageContent.smallPricing) + Number(item.aroAmount) + Number(item.vasTotalAmount )).toFixed(2) }}
										 			</td>
										 			<td v-else :class="item.model == chart.model && item.planType == 'Small' && item.totalPrice == (Number(chart.mths_24_device_payment_contract) + Number(mobilePageContent.smallPricing) + Number(item.aroAmount) + Number(item.vasTotalAmount )).toFixed(2) ? 'activeItem' : 'pricingItem'" @click.prevent="switchPlanPricing('small', chart, item)">
										 				{{ (Number(chart.mths_24_device_payment_contract) + Number(mobilePageContent.smallPricing) + Number(item.aroAmount) + Number(item.vasTotalAmount )).toFixed(2) }}
										 			</td>
										 			<!--end small plan-->
										 			<td v-if="item.model == chart.model && item.months == '36'" :class="item.planType == 'Medium' && item.totalPrice == (Number(chart.mths_36_device_payment_contract) + Number(mobilePageContent.mediumPricing) + Number(item.aroAmount) + Number(item.vasTotalAmount )).toFixed(2) ? 'activeItem' : 'pricingItem'" @click.prevent="switchPlanPricing('medium', chart, item)">
										 				{{ (Number(chart.mths_36_device_payment_contract) + Number(mobilePageContent.mediumPricing) + Number(item.aroAmount) + Number(item.vasTotalAmount )).toFixed(2) }}
										 			</td>
										 			<td v-else :class="item.model == chart.model && item.planType == 'Medium' && item.totalPrice == (Number(chart.mths_24_device_payment_contract) + Number(mobilePageContent.mediumPricing) + Number(aro.aroTotalAmount) + Number(item.vasTotalAmount )).toFixed(2) ? 'activeItem' : 'pricingItem'" @click.prevent="switchPlanPricing('medium', chart, item)">
										 				{{ (Number(chart.mths_24_device_payment_contract) + Number(mobilePageContent.mediumPricing) + Number(item.aroAmount) + Number(item.vasTotalAmount )).toFixed(2) }}
										 			</td>

										 			<td v-if="item.model == chart.model && item.months == '36'" :class="item.planType == 'Large' && item.totalPrice == (Number(chart.mths_36_device_payment_contract) + Number(mobilePageContent.largePricing) + Number(item.aroAmount) + Number(item.vasTotalAmount )).toFixed(2) ? 'activeItem' : 'pricingItem'" @click.prevent="switchPlanPricing('large', chart, item)">
										 				{{ (Number(chart.mths_36_device_payment_contract) + Number(mobilePageContent.largePricing) + Number(item.aroAmount) + Number(item.vasTotalAmount )).toFixed(2) }}
										 			</td>
										 			<td v-else :class="item.model == chart.model && item.planType == 'Large' && item.totalPrice == (Number(chart.mths_24_device_payment_contract) + Number(mobilePageContent.largePricing) + Number(item.aroAmount) + Number(item.vasTotalAmount )).toFixed(2) ? 'activeItem' : 'pricingItem'" @click.prevent="switchPlanPricing('large', chart, item)">
										 				{{ (Number(chart.mths_24_device_payment_contract) + Number(mobilePageContent.largePricing) + Number(item.aroAmount) + Number(item.vasTotalAmount )).toFixed(2) }}
										 			</td>

										 			<td v-if="item.model == chart.model && item.months == '36'" :class="item.planType == 'XL' && item.totalPrice == (Number(chart.mths_36_device_payment_contract) + Number(mobilePageContent.extraLargePricing) + Number(item.aroAmount) + Number(item.vasTotalAmount )).toFixed(2) ? 'activeItem' : 'pricingItem'" @click.prevent="switchPlanPricing('xl', chart, item)">
										 				{{ (Number(chart.mths_36_device_payment_contract) + Number(mobilePageContent.extraLargePricing) + Number(item.aroAmount) + Number(item.vasTotalAmount )).toFixed(2) }}
										 			</td>
										 			<td v-else :class="item.model == chart.model && item.planType == 'XL' && item.totalPrice == (Number(chart.mths_24_device_payment_contract) + Number(mobilePageContent.extraLargePricing) + Number(item.aroAmount) + Number(item.vasTotalAmount )).toFixed(2) ? 'activeItem' : 'pricingItem'" @click.prevent="switchPlanPricing('xl', chart, item)">
										 				{{ (Number(chart.mths_24_device_payment_contract) + Number(mobilePageContent.extraLargePricing) + Number(item.aroAmount) + Number(item.vasTotalAmount )).toFixed(2) }}
										 			</td>
										 		</tr>
										 	</tbody>
									 	</table>
			            			</td>
			            			<td class="text-center" style="width:2%;border-bottom-right-radius:10px;">
			            				<span style="cursor:pointer" 
						                    title="Remove from cart"
						                    @click.prevent="removeFromCart(item)">
						                    <img src="/img/Delete_Icon.svg" height="30">
						               	</span>

						               	<p style="cursor:pointer;margin-top:2rem;color:rgb(206,58,58);font-size:38px;" alt="Duplicate Item"
						                    title="Duplicate Item"
						                    @click.prevent="duplicateCartItem(item)">
						                    <i class="fa fa-plus"></i>
						               	</p>
			            			</td>
						        </tr>
			            	</tbody>
			        	</table>
			        </span>

		        	<div class="container-fluid text-center">
			        	<div class="row">
			        		<div class="col-md-12">
			        			<div class="row">
				        			<div class="col-6" style="padding-right:0px;max-width:40%;flex:0 0 40%;">
					        			<h4 class="subTotalMobilePlanPrice" style="padding-top:10px;padding-bottom:10px;border-top-left-radius: 10px;border-bottom-left-radius:10px;">Subtotal</h4>
					        		</div>
					        		<div class="col-6" style="padding-left:0px;max-width:60%;flex:0 0 60%;">
					        			<h4 class="subTotalMobilePlanPrice" style="padding-top:10px;padding-bottom:10px;border-top-right-radius: 10px;border-bottom-right-radius:10px;">${{subTotalMobilePlanPrice}}</h4>
					        		</div>
					        	</div>
			        		</div>
			        		
				        </div>
			        </div>
		        	

		        	<table class="table table-bordered" v-if="$store.state.simPlan.length != '0'">
		        		<thead>
		        			<tr>
		        				<td>Items</td>
		        				<td>Amount</td>
		        				<td>Remove</td>
		        			</tr>
		        		</thead>
		        		<tbody class="text-center">
		            		<tr v-for="(item,index) in $store.state.simPlan">
		            			<td style="text-align: left;width:70%">
									<div class="form-group row">
									    <label for="staticEmail" class="col-sm-2 col-form-label">Sim Plan:</label>
									    <div class="col-sm-10">
									      	<select name="category_id" @change="onChangeSimPlan($event,item)" class="form-control">
										     	<option :selected="item.planType == 'XS'" value="1">Extra Small</option>
										     	<option :selected="item.planType == 'Small'" value="2">Small</option>
										     	<option :selected="item.planType == 'Medium'" value="3">Medium</option>
										     	<option :selected="item.planType == 'L'" value="4">Large</option>
										     	<option :selected="item.planType == 'XL'" value="5">Extra Large</option>
										  	</select>
									    </div>
									</div>
									

									<div class="form-group row">
										<label class="col-sm-2 col-form-label"><p>VAS:</p></label>
										<div class="col-sm-10">
											<multiselect 
		                                      	:options="vasSimPlanOptions" :value="item.vas" :close-on-select="false" :clear-on-select="false" :multiple="true" track-by="id" label="name" placeholder="Select VAS" @input="onChangeVasSimPlan($event,item)">
		                                    </multiselect>
									  	</div>
									</div>

								  	
		            			</td>
		            			<td style="text-align:left;width:25%">
		            				Mobile Plan: ${{item.selectedPlan}}<br/>
									VAS : ${{item.vasTotalAmount}}<br/>
									<!-- HRO : ${{item.hroMonthlyPrice}} -->
									<hr/>
		            				Total: ${{item.totalPrice}}
		            			</td>
		            			<td class="text-center" style="width:5%">
		            				<button class="btn btn-warning"
					                    title="Remove from cart"
					                    @click.prevent="removeSimPlanFromCart(item)">
					                    <i class="removeBtn fa fa-trash"></i>
					                   
					                </button>
		            			</td>
		            		</tr>
		            		<!-- <tr>
		            			<td>Subtotal:</td>
		            			<td colspan="3">${{subTotalSimPlanPrice}}</td>
		            		</tr> -->
		            	</tbody>
		        	</table>
	        </div>
        </div>
	</div>
</template>

<script>
	import Vue from "vue";
	import vSelect from "vue-select";
	import Multiselect from 'vue-multiselect'
	import moment from 'moment'

	Vue.component("v-select", vSelect);
	import "vue-select/dist/vue-select.css";
	import vueSmoothScroll from 'vue2-smooth-scroll'
	Vue.use(vueSmoothScroll)
	export default{
		components: { Multiselect },
		data(){
			return{
				inputData: '',
				customDescription:[],
				byoSelected: 0,
				value: [],
				value2: '',
				paymentPlan: [],
				cartItems : [],
				paymentFrequency: '',
				frequency: {'paymentFrequencyVal' : '', 'paymentFrequency' : ''},
				plan:{'amount': '', 'description' : '', 'item' : {}},
				simPlan:{'amount': '', 'description' : '', 'item' : {}},
				hroList: [],
				aro: {'aroAmount' : (360 / 24).toFixed(2),'aroBase' : 360,'aroMonths' : 24, 'aroTotalAmount' : (360 / 24).toFixed(2)},
				vas: {'valueAddedServiceAmount': '', 'valueAddedServiceDescription' : '', vasTotalAmount: 0},
				simPlanVas: {'valueAddedServiceAmount': '', 'valueAddedServiceDescription' : ''},
				hro: {'hroMonthly': 24, 'item' : {}, 'selectedHroItem': {}},
				mobileDevice : {'device' : '', 'item': {}, 'otherDevices': []},
            	vasSimPlanOptions: [
            		{'id' : 0,'name' : 'International Calling Pack' , 'amount' : 10},
            		{'id' : 1,'name' : 'Telstra Locator Subscription' , 'amount' : 10},
            		{'id' : 2,'name' : 'Telstra One Number' , 'amount' : 5}
            	],
            	vasOptions: [
            		{'id' : 0,'name' : 'International Calling Pack' , 'amount' : 10},
            		{'id' : 1,'name' : 'Stay Connected Advanced' , 'amount' : 15},
            		{'id' : 2,'name' : 'Telstra Locator Subscription' , 'amount' : 10},
            		{'id' : 3,'name' : 'Telstra One Number' , 'amount' : 5},
            		{'id' : 5, 'name' : 'Upgrade and Protect', 'amount' : 15},
            	],
            	device: '',
            	allDevices: [],
            	allBroadbandDevices: [],
            	checkoutItems: {'hro': [], 'cart': []},
            	grandTotal : 0,
            	subTotalHro : 0,
            	subTotalMobilePlan : 0,
            	subTotalMobileSim : 0,
            	subTotalMobileBroadband : 0,
            	mobilePlan: {item: {}, paymentFrequency: 24, months: 24},
            	planOptions: [
			        { 'id': 2, 'name' : 'Small', 'planType': 'Small'},
			        { 'id': 3, 'name' : 'Medium', 'planType': 'Medium'},
			        { 'id': 4, 'name' : 'Large', 'planType': 'L'},
			        { 'id': 5, 'name' : 'Extra Large', 'planType': 'XL'}
			    ],
			    mobilePlanMonthOptions: [{'id': 0, 'name' : '24 months', 'value': 24},{'id': 1, 'name' : '36 months', 'value': 36}],
			    aroOptions: [
			    {'id':0,'name':'None','value':0.00},
			    {'id':1,'name':'$120.00','value':120.00},
			    {'id':2,'name':'$180.00','value':180.00},
			    {'id':3,'name':'$240.00','value':240.00},
			    {'id':4,'name':'$360.00','value':360.00}],
			    aroMonthOptions: [{'id': 0, 'name' : '12 months', 'value': 12},{'id': 1, 'name' : '24 months', 'value': 24}],
			    mobilePageContent:{'smallPricing':0,'mediumPricing':0,'largePricing':0,'extraLargePricing': 0}
			}
		},
		mounted(){
			this.paymentFrequency = (this.$store.state.businessMobilePlan.length && this.$store.state.businessMobilePlan[0].paymentFrequencyVal) ? this.$store.state.businessMobilePlan[0].paymentFrequencyVal : 12

	    	axios.get('/get-all-mobile-devices').then((response) => {
	    		this.allDevices = response.data
	    	})

	    	axios.get('/get-all-mobile-broadband-devices').then((response) => {
	    		this.allBroadbandDevices = response.data
	    	})

	    	this.getPageContent()
		},
	    computed: {
	    	totalCount(){
	    		let total = 0;

	            for (let item of this.$store.state.businessMobilePlan) {
	                total += item.quantity;
	            }

	            return total;
	    	},
	    	subTotalHroPrice(){
	    		let totalHro = 0;
	    		for (let item of this.$store.state.hro) {
	                totalHro += Number(item.hroMonthlyPrice);
	            }
	            this.subTotalHro = Number(totalHro).toFixed(2)
	            return totalHro.toFixed(2)
	    	},
	    	subTotalMobilePlanPrice(){
	    		let total = 0;
				for (let item of this.$store.state.businessMobilePlan) {
	                total += Number(item.totalPrice);
	            }
	            this.subTotalMobilePlan = Number(total).toFixed(2)
	            return total.toFixed(2)
	    	},
	    	subTotalMobileSimPrice(){
	    		let total = 0;
				for (let item of this.$store.state.simPlan) {
	                total += Number(item.totalPrice);
	            }
	            this.subTotalMobileSim = Number(total).toFixed(2)
	            return total.toFixed(2)
	    	},
	    	subTotalMobileBroadbandPrice(){
	    		let total = 0;
				for (let item of this.$store.state.mobileBroadbands) {
	                total += Number(item.totalPrice);
	            }
	            this.subTotalMobileBroadband = Number(total).toFixed(2)
	            return total.toFixed(2)
	    	},
	    	subTotalSimPlanPrice(){
	    		let totalSimPlan = 0;
	    		for (let item of this.$store.state.simPlan) {
	                totalSimPlan += Number(item.totalPrice);
	            }
	            this.subTotalMobileSim = (totalSimPlan).toFixed(2)
	            return totalSimPlan.toFixed(2)
	    	},
	        totalPrice() {
	            let total = 0;
	            let totalHro = 0;
	            let totalSimPlan = 0;
	            let totalMobileBroadband = 0

	            for (let item of this.$store.state.businessMobilePlan) {
	                total += Number(item.totalPrice);
	            }

	            for (let item of this.$store.state.hro) {
	                totalHro += Number(item.hroMonthlyPrice);
	            }

	            for (let item of this.$store.state.simPlan) {
	                totalSimPlan += Number(item.totalPrice);
	            }

	            for (let item of this.$store.state.mobileBroadbands) {
	                totalMobileBroadband += Number(item.totalPrice);
	            }

	            this.grandTotal = (total + totalMobileBroadband + totalHro + totalSimPlan).toFixed(2)
	            return (total + totalMobileBroadband + totalHro + totalSimPlan).toFixed(2);
	        },

		    total: function(){

			  	let total = [];

			  	Object.entries(item.vas).forEach(([key, val]) => {
			      	total.push(val.amount) // the value of the current key.
			  	});

			  	return total.reduce(function(total, num){ return total + num }, 0);

			}
	    },
		methods:{
			createCustomMobileDescription(item, event){
				if (this.timer) {
			        clearTimeout(this.timer);
			        this.timer = null;
			    }
			    this.timer = setTimeout(() => {
			        // your code
			        var crypto = require("crypto");

					this.plan.aroMonths = item.aroMonths
					this.plan.aroAmount = item.aroAmount
					this.plan.aroBase = item.aroBase

					this.plan.vas = item.vas
					this.plan.vasTotalAmount = item.vasTotalAmount
					this.plan.vasIdArray = item.vasIdArray
					this.plan.deviceItem = item.deviceItem

					this.plan.months = item.months
					this.plan.description = item.planType
					this.plan.item = item
					this.plan.customDescription = event
					this.plan.mobilePlanMonths = item.mobilePlanMonths
					this.plan.selectedARO = item.selectedARO
					this.plan.selectedAROMonth = item.selectedAROMonth

					this.plan.amount = item.planValue
					//this.plan.description = item.description
					this.plan.planOption = item.planOption

					// console.log(this.plan)
					// return
					if(this.plan.deviceItem.length != 0){
						axios.post('add-to-cart-item',this.plan).then((response) => {
		        			this.mobileDevice.otherDevices = response.data
		        			this.plan.otherDevices = response.data
		        			this.aro.aroTotalAmount = ((this.aro.aroBase / this.aro.aroMonths).toFixed(2))
				    		this.vas.vasTotalAmount = item.vasTotalAmount

				    		var itemPrice = 0

				    		if(this.mobileDevice.deviceItem != 0 && this.mobilePlan.months == "24"){
								itemPrice = item.deviceItem.mths_24_device_payment_contract
							}

							if(this.mobileDevice.deviceItem != 0 && this.mobilePlan.months == "36"){
								itemPrice = item.deviceItem.mths_36_device_payment_contract
							}

				    		this.mobileDevice.totalAmount = (((Number(itemPrice) + Number(this.aro.aroTotalAmount)  + Number(this.vas.vasTotalAmount) + Number(this.plan.amount) ).toFixed(2) * 12) / item.paymentFrequency).toFixed(2)

							this.mobileDevice.months = item.months
							this.$store.commit('changePlanType', this.plan);
		        		})

	        		}
			    }, 800);
				
			},
			duplicateCartItem(item){
				var crypto = require("crypto");

				this.plan.aroMonths = item.aroMonths
				this.plan.aroAmount = item.aroAmount
				this.plan.aroBase = item.aroBase

				this.plan.vas = item.vas
				this.plan.vasTotalAmount = item.vasTotalAmount
				this.plan.vasIdArray = item.vasIdArray
				this.plan.deviceItem = item.deviceItem

				this.plan.months = item.months
				this.plan.planType = item.planType
				this.plan.item = item
				this.plan.mobilePlanMonths = item.mobilePlanMonths
				this.plan.selectedARO = item.selectedARO
				this.plan.selectedAROMonth = item.selectedAROMonth
				this.plan.customDescription = item.customDescription

				this.plan.amount = item.planValue
				this.plan.description = item.description
				this.plan.planOption = item.planOption
				this.plan.id = crypto.randomBytes(20).toString('hex')

				// console.log(this.plan)
				// return
				if(this.plan.deviceItem.length != 0){
					axios.post('add-to-cart-item',this.plan).then((response) => {
	        			this.mobileDevice.otherDevices = response.data
	        			this.plan.otherDevices = response.data
	        			this.aro.aroTotalAmount = ((this.aro.aroBase / this.aro.aroMonths).toFixed(2))
			    		this.vas.vasTotalAmount = item.vasTotalAmount

			    		var itemPrice = 0

			    		if(this.mobileDevice.deviceItem != 0 && this.mobilePlan.months == "24"){
							itemPrice = item.deviceItem.mths_24_device_payment_contract
						}

						if(this.mobileDevice.deviceItem != 0 && this.mobilePlan.months == "36"){
							itemPrice = item.deviceItem.mths_36_device_payment_contract
						}

			    		this.mobileDevice.totalAmount = (((Number(itemPrice) + Number(this.aro.aroTotalAmount)  + Number(this.vas.vasTotalAmount) + Number(this.plan.amount) ).toFixed(2) * 12) / item.paymentFrequency).toFixed(2)

						this.mobileDevice.months = item.months
						this.$store.commit('duplicateMobilePlan', this.plan);

						this.$toastr.s("Success! Mobile Plan has been added.");
	        		})

        		}
			},
			switchPlanPricing(plan,chart,item){   
			        
				// if(plan == 'xs'){
				// 	this.plan.amount = this.mobilePageContent.extraSmallPricing
				// 	this.plan.description = 'XS'
				// 	this.plan.planOption = 
				// }

				if(plan == 'small'){
					this.plan.amount = this.mobilePageContent.smallPricing
					this.plan.description = 'Small'
					this.plan.planOption = { 'id': 2, 'name' : 'Small', 'planType': 'Small'}
				}

				if(plan == 'medium'){
					this.plan.amount = this.mobilePageContent.mediumPricing
					this.plan.description = 'Medium'
					this.plan.planOption = { 'id': 3, 'name' : 'Medium', 'planType': 'Medium'}
				}

				if(plan == 'large'){
					this.plan.amount = this.mobilePageContent.largePricing
					this.plan.description = 'Large'
					this.plan.planOption =  { 'id': 4, 'name' : 'Large', 'planType': 'L'}
				}

				if(plan == 'xl'){
					this.plan.amount = this.mobilePageContent.extraLargePricing
					this.plan.description = 'XL'
					this.plan.planOption = { 'id': 5, 'name' : 'Extra Large', 'planType': 'XL'}
				}

				this.plan.aroMonths = item.aroMonths
				this.plan.aroAmount = item.aroAmount
				this.plan.aroBase = item.aroBase

				this.plan.vas = item.vas
				this.plan.vasTotalAmount = item.vasTotalAmount
				this.plan.vasIdArray = item.vasIdArray
				this.plan.deviceItem = chart

				this.plan.months = item.months

				this.plan.item = item
				this.plan.mobilePlanMonths = item.mobilePlanMonths
				this.plan.selectedARO = item.selectedARO
				this.plan.selectedAROMonth = item.selectedAROMonth
				this.plan.customDescription = item.customDescription
				// console.log(this.plan)
				// return
				if(this.plan.deviceItem.length != 0){
					axios.post('add-to-cart-item',this.plan).then((response) => {
	        			this.mobileDevice.otherDevices = response.data
	        			this.plan.otherDevices = response.data
	        			this.aro.aroTotalAmount = ((this.aro.aroBase / this.aro.aroMonths).toFixed(2))
			    		this.vas.vasTotalAmount = item.vasTotalAmount

			    		var itemPrice = 0

			    		if(this.mobileDevice.deviceItem != 0 && this.mobilePlan.months == "24"){
							itemPrice = item.deviceItem.mths_24_device_payment_contract
						}

						if(this.mobileDevice.deviceItem != 0 && this.mobilePlan.months == "36"){
							itemPrice = item.deviceItem.mths_36_device_payment_contract
						}

			    		this.mobileDevice.totalAmount = (((Number(itemPrice) + Number(this.aro.aroTotalAmount)  + Number(this.vas.vasTotalAmount) + Number(this.plan.amount) ).toFixed(2) * 12) / item.paymentFrequency).toFixed(2)

						this.mobileDevice.months = item.months
						this.$store.commit('changePlanType', this.plan);
	        		})

        		}else{
        			this.$store.commit('changePlanType', this.plan);
        		}
			},
			nameWithLang ({ model, capacity }) {
		      return `${model} — [${capacity}]`
		    },

        	selectedByo(){
        		this.addSim();
        		this.byoSelected = 1

        		console.log(this.byoSelected)
        	},
		    addHro(){
		    	var crypto = require("crypto");
		    	var my_object = {
		    		'hro' : [],
		    		'hroMonthlyPrice': 0,
		    		'hroMonthly': 24,
		    		'id' : crypto.randomBytes(20).toString('hex')
		    	}
		    	this.$store.state.hro.push(my_object)
		    },
		    addSim(){
		    	var crypto = require("crypto");
		    	var my_object = {
	    			'vasIdArray' : [],
	    			'paymentDuration' : 24,
	    			'paymentFrequency' : 'monthly',
	    			'paymentFrequencyVal' : 12,
	    			'frequency' : 'monthly',
	    			'planType' : 'sim',
	    			'selectedPlan' : 15.00,
	    			'selectedPlanType' : 'Extra Small',
	    			'vas' : [],
	        		'vasTotalAmount' : 0,
	        		'totalPrice' : 0,
	        		'id' : crypto.randomBytes(20).toString('hex'),
		    	}
		    	this.$store.state.simPlan.push(my_object)
		    	//window.localStorage.setItem('simPlan', JSON.stringify(this.$store.state.simPlan));
		    },
		    onChangeSimPlan(event, item){
		    	console.log(event.target.value)

				if(event.target.value == 1){
					this.plan.amount = 40.00
					this.plan.description = 'XS'
				}

				if(event.target.value == 2){
					this.plan.amount = 55.00
					this.plan.description = 'Small'
				}

				if(event.target.value == 3){
					this.plan.amount = 65.00
					this.plan.description = 'Medium'
				}

				if(event.target.value == 4){
					this.plan.amount = 75.00
					this.plan.description = 'Large'
				}

				if(event.target.value == 5){
					this.plan.amount = 115.00
					this.plan.description = 'XL'
				}
				this.byoSelected = 0

				this.plan.item = item
				this.plan.vas = item.vas
				this.$store.commit('changeSimPlanType', this.plan);
		    },
		    onChangeVasSimPlan(event, item){
		    	this.vas.vas = event
		    	this.vas.item = item

				this.vas.description = item.description
				this.vas.amount = item.selectedPlan
				this.byoSelected = 0

				this.$store.commit('changeSimPlanType', this.vas);
		    },
		    changeMobilePlanMonthly(event, item){
		    	console.log(event.value);
		    	this.mobilePlan.description = item.planType
				this.mobilePlan.amount = item.planValue

				this.mobilePlan.aroBase = item.aroBase
				this.mobilePlan.aroAmount = item.aroAmount
				this.mobilePlan.aroMonths = item.aroMonths

				this.mobilePlan.description = item.planType
				this.mobilePlan.amount = item.planValue

				this.mobilePlan.vas = item.vas
				this.mobilePlan.vasTotalAmount = item.vasTotalAmount
				this.mobilePlan.vasIdArray = item.vasIdArray

				this.mobilePlan.item = item

				this.mobilePlan.deviceItem = item.deviceItem

		    	this.mobilePlan.months = event.value
		    	this.mobilePlan.planOption = item.planOption
		    	this.mobilePlan.selectedARO = item.selectedARO
		    	this.mobilePlan.selectedAROMonth = item.selectedAROMonth

		    	this.mobilePlan.mobilePlanMonths = {'id' : event.id, 'name' : event.name, 'value': event.value}

				axios.post('add-to-cart-item',this.mobilePlan).then((response) => {
        			this.mobileDevice.otherDevices = response.data
        			this.mobilePlan.otherDevices = response.data
        			this.aro.aroTotalAmount = ((item.aroBase / item.aroMonths).toFixed(2))
		    		this.vas.vasTotalAmount = item.vasTotalAmount

		    		var itemPrice = 0

		    		if(this.mobileDevice.deviceItem != 0 && this.mobilePlan.months == "24"){
						itemPrice = this.mobilePlan.deviceItem.mths_24_device_payment_contract
					}

					if(this.mobileDevice.deviceItem != 0 && this.mobilePlan.months == "36"){
						itemPrice = this.mobilePlan.deviceItem.mths_36_device_payment_contract
					}
					console.log((((Number(itemPrice) + Number(this.aro.aroTotalAmount)  + Number(this.vas.vasTotalAmount) + Number(item.planValue) ).toFixed(2) * 12) / item.paymentFrequency).toFixed(2))
		    		this.mobileDevice.totalAmount = (((Number(itemPrice) + Number(this.aro.aroTotalAmount)  + Number(this.vas.vasTotalAmount) + Number(item.planValue) ).toFixed(2) * 12) / item.paymentFrequency).toFixed(2)

					this.mobileDevice.months = item.months
					this.$store.commit('changePlanType', this.mobilePlan);
        		})

		    },
			onChange(event,item){
				// console.log(event.name);
				// return
				if(item.itemType === 'mobilePlan' && event.id == 1){
					this.plan.amount = this.mobilePageContent.extraSmallPricing
					this.plan.description = 'XS'
				}

				if(item.itemType === 'broadBandPlan' && event.target.value == 1){
					this.plan.amount = 15.00
					this.plan.description = 'XS'
				}

				if(item.itemType === 'mobilePlan' && event.id == 2){
					this.plan.amount = this.mobilePageContent.smallPricing
					this.plan.description = 'Small'
				}

				if(item.itemType === 'broadBandPlan' && event.target.value == 2){
					this.plan.amount = 25.00
					this.plan.description = 'Small'
				}

				if(item.itemType === 'mobilePlan' && event.id == 3){
					this.plan.amount = this.mobilePageContent.mediumPricing
					this.plan.description = 'Medium'
				}

				if(item.itemType === 'broadBandPlan' && event.target.value == 3){
					this.plan.amount = 55.00
					this.plan.description = 'Medium'
				}

				if(item.itemType === 'mobilePlan' && event.id == 4){
					this.plan.amount = this.mobilePageContent.largePricing
					this.plan.description = 'Large'
				}

				if(item.itemType === 'broadBandPlan' && event.target.value == 4){
					this.plan.amount = 75.00
					this.plan.description = 'Large'
				}

				if(item.itemType === 'mobilePlan' && event.id == 5){
					this.plan.amount = this.mobilePageContent.extraLargePricing
					this.plan.description = 'XL'
				}

				this.plan.aroMonths = item.aroMonths
				this.plan.aroAmount = item.aroAmount
				this.plan.aroBase = item.aroBase

				this.plan.vas = item.vas
				this.plan.vasTotalAmount = item.vasTotalAmount
				this.plan.vasIdArray = item.vasIdArray
				this.plan.deviceItem = item.deviceItem

				this.plan.months = item.months

				this.plan.item = item
				this.plan.planOption = {'id': event.id, 'name' : event.name, 'planType' : event.planType}
				this.plan.mobilePlanMonths = item.mobilePlanMonths
				this.plan.selectedARO = item.selectedARO
				this.plan.selectedAROMonth = item.selectedAROMonth
				this.plan.customDescription = item.customDescription
				
				if(this.plan.deviceItem.length != 0){
					axios.post('add-to-cart-item',this.plan).then((response) => {
	        			this.mobileDevice.otherDevices = response.data
	        			this.plan.otherDevices = response.data
	        			this.aro.aroTotalAmount = ((this.aro.aroBase / this.aro.aroMonths).toFixed(2))
			    		this.vas.vasTotalAmount = item.vasTotalAmount

			    		var itemPrice = 0

			    		if(this.mobileDevice.deviceItem != 0 && this.mobilePlan.months == "24"){
							itemPrice = item.deviceItem.mths_24_device_payment_contract
						}

						if(this.mobileDevice.deviceItem != 0 && this.mobilePlan.months == "36"){
							itemPrice = item.deviceItem.mths_36_device_payment_contract
						}

			    		this.mobileDevice.totalAmount = (((Number(itemPrice) + Number(this.aro.aroTotalAmount)  + Number(this.vas.vasTotalAmount) + Number(this.plan.amount) ).toFixed(2) * 12) / item.paymentFrequency).toFixed(2)

						this.mobileDevice.months = item.months
						this.$store.commit('changePlanType', this.plan);
	        		})

        		}else{
        			this.$store.commit('changePlanType', this.plan);
        		}

			},
			onChangeAro(event, item){
				this.aro.aroBase = event.value
				this.aro.selectedARO = {'id': event.id, 'value': event.value, 'name': event.name}
				this.aro.mobilePlanMonths = item.mobilePlanMonths
				this.aro.selectedAROMonth = item.selectedAROMonth
				this.aro.aroMonths = item.aroMonths
				this.aro.aroAmount = item.aroAmount
				this.aro.description = item.planType
				this.aro.amount = item.planValue

				this.aro.vas = item.vas
				this.aro.vasTotalAmount = item.vasTotalAmount
				this.aro.vasIdArray = item.vasIdArray

				this.aro.months = item.months
				
				this.aro.item = item
				this.aro.planOption = item.planOption
				this.aro.deviceItem = item.deviceItem
				this.aro.customDescription = item.customDescription

				if(item.deviceItem.length != 0){
					axios.post('add-to-cart-item',this.aro).then((response) => {
	        			this.mobileDevice.otherDevices = response.data
	        			this.aro.otherDevices = response.data
	        			this.aro.aroTotalAmount = ((this.aro.aroBase / this.aro.aroMonths).toFixed(2))
			    		this.vas.vasTotalAmount = item.vasTotalAmount

			    		var itemPrice = 0

			    		if(this.mobileDevice.deviceItem != 0 && this.mobilePlan.months == "24"){
							itemPrice = item.deviceItem.mths_24_device_payment_contract
						}

						if(this.mobileDevice.deviceItem != 0 && this.mobilePlan.months == "36"){
							itemPrice = item.deviceItem.mths_36_device_payment_contract
						}

			    		this.mobileDevice.totalAmount = (((Number(itemPrice) + Number(this.aro.aroTotalAmount)  + Number(this.vas.vasTotalAmount) + Number(item.planValue) ).toFixed(2) * 12) / item.paymentFrequency).toFixed(2)

						this.mobileDevice.months = item.months
						this.$store.commit('changePlanType', this.aro);
	        		})
				}else{
					this.$store.commit('changePlanType', this.aro);
				}
			},
		    changeMobileAROMonthly(event, item){
		    	
		    	this.mobilePlan.description = item.planType
				this.mobilePlan.amount = item.planValue

				this.mobilePlan.aroAmount = item.aroAmount
				this.mobilePlan.aroBase = item.aroBase

				this.mobilePlan.description = item.planType
				this.mobilePlan.amount = item.planValue

				this.mobilePlan.vas = item.vas
				this.mobilePlan.vasTotalAmount = item.vasTotalAmount
				this.mobilePlan.vasIdArray = item.vasIdArray

				this.mobilePlan.item = item
				this.mobilePlan.planOption = item.planOption

				this.aro.aroMonths = event.value

				this.mobilePlan.deviceItem = item.deviceItem

		    	this.mobilePlan.months = item.months
		    	this.mobilePlan.aroMonths = event.value
		    	this.mobilePlan.selectedAROMonth = {'id' : event.id, 'name' : event.name, 'value' : event.value}
		    	this.mobilePlan.selectedARO = item.selectedARO
				this.mobilePlan.mobilePlanMonths = item.mobilePlanMonths
				this.mobilePlan.customDescription = item.customDescription
	
				axios.post('add-to-cart-item',this.mobilePlan).then((response) => {
        			this.mobileDevice.otherDevices = response.data
        			this.mobilePlan.otherDevices = response.data
        			this.aro.aroTotalAmount = ((this.aro.aroBase / event.value).toFixed(2))
		    		this.vas.vasTotalAmount = item.vasTotalAmount

		    		var itemPrice = 0

		    		if(this.mobileDevice.deviceItem != 0 && this.mobilePlan.months == "24"){
						itemPrice = item.deviceItem.mths_24_device_payment_contract
					}

					if(this.mobileDevice.deviceItem != 0 && this.mobilePlan.months == "36"){
						itemPrice = item.deviceItem.mths_36_device_payment_contract
					}

		    		this.mobileDevice.totalAmount = (((Number(itemPrice) + Number(this.aro.aroTotalAmount)  + Number(this.vas.vasTotalAmount) + Number(item.planValue) ).toFixed(2) * 12) / item.paymentFrequency).toFixed(2)

					this.mobileDevice.months = item.months
					this.$store.commit('changePlanType', this.mobilePlan);
        		})

		    },
			onDeviceChange(event,item){
				this.mobileDevice.description = item.planType
				this.mobileDevice.amount = item.planValue

				this.mobileDevice.aroBase = item.aroBase
				this.mobileDevice.aroAmount = item.aroAmount
				this.mobileDevice.aroMonths = item.aroMonths

				this.mobileDevice.description = item.planType
				this.mobileDevice.amount = item.planValue

				this.mobileDevice.vas = item.vas
				this.mobileDevice.vasTotalAmount = item.vasTotalAmount
				this.mobileDevice.vasIdArray = item.vasIdArray

				this.mobileDevice.item = item
				this.mobileDevice.planOption = item.planOption
				this.mobileDevice.mobilePlanMonths = item.mobilePlanMonths
				this.mobileDevice.selectedARO = item.selectedARO
				this.mobileDevice.selectedAROMonth = item.selectedAROMonth
				this.mobileDevice.customDescription = item.customDescription

				if(event != null){
					this.mobileDevice.deviceItem = event
				}else{
					this.mobileDevice.deviceItem = 0
				}

				axios.post('add-to-cart-item',this.mobileDevice).then((response) => {
        			this.mobileDevice.otherDevices = response.data
        			this.aro.aroTotalAmount = ((item.aroBase / item.aroMonths).toFixed(2))
		    		this.vas.vasTotalAmount = item.vasTotalAmount

		    		var itemPrice = 0

		    		if(this.mobileDevice.deviceItem != 0 && this.mobilePlan.months == "24"){
						itemPrice = this.mobileDevice.deviceItem.mths_24_device_payment_contract
					}

					if(this.mobileDevice.deviceItem != 0 && this.mobilePlan.months == "36"){
						itemPrice = this.mobileDevice.deviceItem.mths_36_device_payment_contract
					}

		    		this.mobileDevice.totalAmount = (((Number(itemPrice) + Number(this.aro.aroTotalAmount)  + Number(this.vas.vasTotalAmount) + Number(item.planValue) ).toFixed(2) * 12) / item.paymentFrequency).toFixed(2)

		    		console.log(this.mobileDevice.totalAmount)

					this.mobileDevice.months = item.months
					this.$store.commit('changePlanType', this.mobileDevice);
        		})
				
			},
			onChangeVas(event, item){
				var vasTotalAmount = 0;
				for (let val of event) {
			      	vasTotalAmount += val.amount
			  	}

				this.vas.vas = event

				this.vas.aroAmount = item.aroAmount
				this.vas.aroBase = item.aroBase
				this.vas.aroMonths = item.aroMonths

				this.vas.description = item.planType
				this.vas.amount = item.planValue

				this.vas.item = item
				this.vas.months = item.months
				this.vas.planOption = item.planOption
				this.vas.selectedARO = item.selectedARO
				this.vas.selectedAROMonth = item.selectedAROMonth
				this.vas.mobilePlanMonths = item.mobilePlanMonths
				this.vas.customDescription = item.customDescription

				this.vas.deviceItem = item.deviceItem

				if(item.deviceItem.length != 0){
					axios.post('add-to-cart-item',this.vas).then((response) => {
	        			this.mobileDevice.otherDevices = response.data
	        			this.vas.otherDevices = response.data
	        			this.aro.aroTotalAmount = ((item.aroBase / item.aroMonths).toFixed(2))
			    		this.vas.vasTotalAmount = vasTotalAmount

			    		var itemPrice = 0

			    		if(this.mobileDevice.deviceItem != 0 && this.mobilePlan.months == "24"){
							itemPrice = item.deviceItem.mths_24_device_payment_contract
						}

						if(this.mobileDevice.deviceItem != 0 && this.mobilePlan.months == "36"){
							itemPrice = item.deviceItem.mths_36_device_payment_contract
						}

			    		this.mobileDevice.totalAmount = (((Number(itemPrice) + Number(this.aro.aroTotalAmount)  + Number(this.vas.vasTotalAmount) + Number(item.planValue) ).toFixed(2) * 12) / item.paymentFrequency).toFixed(2)

						this.mobileDevice.months = item.months
						this.$store.commit('changePlanType', this.vas);
	        		})
				}else{
					this.$store.commit('changePlanType', this.vas);
				}
			},
			removeFromCart(item) {
				this.mobileDevice.otherDevices = ''
	            this.$store.commit('removeFromCart', item);
	        },
	        removeSimPlanFromCart(item){
	        	this.$store.commit('removeSimPlanFromCart', item);
	        },
        	getPageContent(){
        		axios.get('/get-mobile-page-content').then((response) => {
        			console.log(response.data)
        			this.mobilePageContent = response.data
        		})
        	}
		}
	}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style type="text/css" scoped>
	.subTotalMobilePlanPrice{ border:1px solid #e2e2d2;padding:10px; background-color: #bababa;}

	#planCartTable { border-collapse: separate; border-spacing: 0px; }
	thead {background-color:#068edf;color:#fff;}
	/*#planCartTable thead tr:first-child td:first-child { border-top-left-radius: 10px; }
	#planCartTable thead tr:last-child td:last-child { border-top-right-radius: 10px; }
	#planCartTable tbody tr:first-child td:first-child { border-bottom-left-radius: 10px; }
	#planCartTable tbody tr:last-child td:last-child { border-bottom-right-radius: 10px; }*/

	#priceTable { border-collapse: separate; border-spacing: 0px; }
	#priceTable thead {background-color:#bababa;color:#fff;}
	#priceTable thead tr:first-child td:first-child { border-top-left-radius: 10px; }
	#priceTable thead tr:last-child td:last-child { border-top-right-radius: 10px; }
	#priceTable tbody tr:last-child td:first-child { border-bottom-left-radius: 10px; }
	#priceTable tbody tr:last-child td:last-child { border-bottom-right-radius: 10px; }

	.activeItem{
		background-color:#068edf;
		color:#fff;
	}

	.pricingItem:hover{
		background: rgba(234,167,33,0.6) !important;
		color:#fff;
		cursor: pointer;
	}
</style>