<template>
    <div id="mobile-broadbands" v-if="$store.state.businessMobileBroadBand.length != '0'" class="container-fluid">
    	<div class="row" style="padding-top:3rem;">
			<div class="col-md-12">
	            <h3 style="color:#3490dc">Business Mobile Broadband</h3>
            	<span v-for="(item,index) in $store.state.businessMobileBroadBand">
            		<input type="text" @keyup="createCustomMobileDescription(item, item.customDescription)" v-model="item.customDescription" class="form-control col-4" style="margin-bottom:1rem" placeholder="Enter Name or Number">
		        	<table  style="border:none !important;background: #fff" id="planCartTable" class="table table-bordered text-center" v-if="$store.state.businessMobileBroadBand.length != '0'">
		        		<thead>
		        			<tr>
		        				<td style="border-top-left-radius: 10px;padding:10px 5px 5px 5px;"><h5 style="padding:0px;">Items</h5></td>
		        				<td style="padding:10px 5px 5px 5px;"><h5 style="padding:0px;">Amount</h5></td>
		        				<td style="border-top-right-radius: 10px;padding:10px 5px 5px 5px;"><h5 style="padding:0px;">Remove</h5></td>
		        			</tr>
		        		</thead>
		        		<tbody class="text-center">
		            		<tr>
		            			<td style="text-align: left;width:35%">
		            				<div class="form-group row">
									    <h5 class="col-sm-12"><p>Mobile Plan:</p></h5>
									    <div class="col-sm-12">
										  	<multiselect 
		                                      	:options="planOptions" :value="item.planOption" :close-on-select="true" :clear-on-select="false" :multiple="false" track-by="id" label="name" placeholder="Select Broadband Plan" @input="onChange($event,item)">
		                                    </multiselect>
									    </div>
									</div>
									<div class="form-group row">
									    <h5 class="col-sm-12"><p>Mobile Device:</p></h5>
									  		<div class="col-sm-12">
		                                	<multiselect 
		                                      	:options="allBroadbandDevices" :value="item.deviceItem" :close-on-select="true" :multiple="false" track-by="id" label="name" placeholder="Select Mobile Broadband Device" @input="onDeviceChange($event,item)" :custom-label="nameWithLang">
		                                    </multiselect>
									  	</div>
									  	<div class="col-sm-12" style="padding-top:1rem">
											<!-- <select name="category_id" @change="changeMobilePlanMonthly($event, item)" class="form-control">
										     	<option value="24">24 months</option>
										     	<option value="36">36 months</option>
										  	</select> -->
										  	<multiselect 
		                                      	:options="mobilePlanMonthOptions" :value="item.mobilePlanMonths" :close-on-select="false" :clear-on-select="false" :multiple="false" track-by="id" label="name" placeholder="Select Mobile Plan" @input="changeMobilePlanMonthly($event,item)">
		                                    </multiselect>
									  	</div>
									  </div>
									<div class="form-group row">
										<h5 class="col-sm-12"><p>VAS:</p></h5>
										<div class="col-sm-12">
											<multiselect 
		                                      	:options="vasMobileBroadbandOptions" :value="item.vas" :close-on-select="false" :clear-on-select="false" :multiple="true" track-by="id" label="name" placeholder="Select VAS" @input="onChangeVas($event,item)">
		                                    </multiselect>
									  	</div>
									  </div>
									<div class="form-group row">
										<h5 class="col-sm-12"><p>ARO:</p></h5>
										<div class="col-sm-12">
											<!-- <select name="category_id" @change="onChangeAro($event,item)" class="form-control">
										     	<option :selected="item.aroBase == '0.00'" value="0.00">None</option>
										     	<option :selected="item.aroBase == '120.00'" value="120.00">$120.00</option>
										     	<option :selected="item.aroBase == '240.00'" value="240.00">$240.00</option>
										     	<option :selected="item.aroBase == '360.00'" value="360.00">$360.00</option>
										  	</select> -->
										  	<multiselect 
		                                      	:options="aroOptions" :value="item.selectedARO" :close-on-select="false" :clear-on-select="false" :multiple="false" track-by="id" label="name" placeholder="Select ARO" @input="onChangeAro($event,item)">
		                                    </multiselect>
									  	</div>

									  	<div class="col-sm-12" style="padding-top:1rem">

											<!-- <select name="category_id" @change="changeMobileAROMonthly($event, item)" class="form-control">
										     	<option :selected="item.aroMonths == '12'" value="12">12 months</option>
										     	<option :selected="item.aroMonths == '24'" value="24">24 months</option>
										  	</select> -->
										  	<multiselect 
		                                      	:options="aroMonthOptions" :value="item.selectedAROMonth" :close-on-select="false" :clear-on-select="false" :multiple="false" track-by="id" label="name" placeholder="Select ARO" @input="changeMobileAROMonthly($event,item)">
		                                    </multiselect>
									  	</div>
									</div>
								  	
		            			</td>
		            			<td style="text-align:left;width:40%">
									<div class="row" style="margin-left:1px;">
			            				<h5 class="col-6">
			            					Mobile Plan:
			            				</h5>

			            				<h5 class="col-6">
			            					${{Number(item.planValue).toFixed(2)}}
			            				</h5>
			            			</div>

			            			<div class="row" style="margin-left:1px;">
			            				<h5 class="col-6">
			            					Broadband Price:
			            				</h5>

			            				<h5 class="col-6">
			            					${{item.price}}
			            				</h5>
			            			</div>

			            			<div class="row" style="margin-left:1px;">
			            				<h5 class="col-6">
			            					ARO:
			            				</h5>

			            				<h5 class="col-6">
			            					${{item.aroAmount}}
			            				</h5>
			            			</div>

			            			<div class="row" style="margin-left:1px;">
			            				<h5 class="col-6">
			            					VAS:
			            				</h5>

			            				<h5 class="col-6">
			            					${{item.vasTotalAmount}}
			            				</h5>
			            			</div>
									<br/>
									<div class="row" style="margin-left:5px;margin-right:5px;margin-left:8px;">
			            				<h5 class="col-6"  style="border-top-left-radius:10px;border-bottom-left-radius:10px;background-color:#39C071;color:#fff;text-align: left;padding:10px 0px 10px 10px;">
			            					Total:
			            				</h5>

			            				<h5 class="col-6"  style="border-top-right-radius:10px;border-bottom-right-radius:10px;background-color:#39C071;color:#fff;text-align: left;padding:10px 0px 10px 20px;">
			            					${{item.totalPrice}}
			            				</h5>
			            			</div>
		            			</td>
		            			<td class="text-center" style="width:13%">
		            				<span style="cursor:pointer" 
					                    title="Remove from cart"
					                    @click.prevent="removebroadBandPlanFromCart(item)">
					                    <img src="/img/Delete_Icon.svg" height="30">
					                   
					                </span>
		            			</td>
		            		</tr>
		            	</tbody>
		        	</table>
		        </span>

	        	<div class="container-fluid text-center">
		        	<div class="row">
		        		<div class="col-md-12">
		        			<div class="row">
			        			<div class="col-6" style="padding-right:0px;max-width:40%;flex:0 0 40%;">
				        			<h4 class="subTotalMobilePlanPrice" style="padding-top:10px;padding-bottom:10px;border-top-left-radius: 10px;border-bottom-left-radius:10px;">Subtotal</h4>
				        		</div>
				        		<div class="col-6" style="padding-left:0px;max-width:60%;flex:0 0 60%;">
				        			<h4 class="subTotalMobilePlanPrice" style="padding-top:10px;padding-bottom:10px;border-top-right-radius: 10px;border-bottom-right-radius:10px;">${{subTotalMobileBroadbandPrice}}</h4>
				        		</div>
				        	</div>
		        		</div>
		        		
			        </div>
		        </div>
	        </div>
        </div>
    </div>
</template>

<script>
	import Vue from "vue";
	import vSelect from "vue-select";
	import Multiselect from 'vue-multiselect'
	import moment from 'moment'

	Vue.component("v-select", vSelect);
	import "vue-select/dist/vue-select.css";
	import vueSmoothScroll from 'vue2-smooth-scroll'
	Vue.use(vueSmoothScroll)

	export default{
		components: { Multiselect },
		data(){
			return{
				value: [],
				customDescription:[],
				paymentPlan: [],
				cartItems : [],
				paymentFrequency: '',
				frequency: {'paymentFrequencyVal' : '', 'paymentFrequency' : ''},
				plan:{'amount': '', 'description' : '', 'item' : {}},
				simPlan:{'amount': '', 'description' : '', 'item' : {}},
				hroList: [],
				aro: {'base': '', 'monthly': ''},
				vas: {'valueAddedServiceAmount': '', 'valueAddedServiceDescription' : ''},
				simPlanVas: {'valueAddedServiceAmount': '', 'valueAddedServiceDescription' : ''},
				hro: {'hroMonthly': 24, 'item' : {}, 'selectedHroItem': {}},
				mobileDevice : {'device' : '', 'item': {}},
            	vasSimPlanOptions: [
            		{'id' : 0,'name' : 'International Calling Pack' , 'amount' : 10},
            		{'id' : 2,'name' : 'Telstra Locator Subscription' , 'amount' : 10},
            		{'id' : 3,'name' : 'Telstra One Number' , 'amount' : 5}
            	],
            	vasOptions: [
            		{'id' : 0,'name' : 'International Calling Pack' , 'amount' : 10},
            		{'id' : 1,'name' : 'Stay Connected Advanced' , 'amount' : 15},
            		{'id' : 2,'name' : 'Telstra Locator Subscription' , 'amount' : 10},
            		{'id' : 3,'name' : 'Telstra One Number' , 'amount' : 5},
            		{'id' : 4, 'name' : 'Mobile Swap Azure', 'amount' : 10},
            		{'id' : 5, 'name' : 'Upgrade and Protect', 'amount' : 15},
            	],
            	vasMobileBroadbandOptions: [
            		{'id' : 0,'name' : 'Stay Connected Advanced' , 'amount' : 15},
            		{'id' : 1,'name' : 'Telstra Locator Subscription' , 'amount' : 10},
            	],
            	device: '',
            	allDevices: [],
            	allBroadbandDevices: [],
            	checkoutItems: {'hro': [], 'cart': []},
            	grandTotal : 0,
            	subTotalHro : 0,
            	subTotalMobilePlan : 0,
            	subTotalSimPlan : 0,
            	subTotalMobileBroadband : 0,
            	mobilePlan: {item: {}, paymentFrequency: 24},
            	planOptions: [
			        { 'id': 1, 'name' : 'Extra Small', 'planType': 'XS'},
			        { 'id': 2, 'name' : 'Small', 'planType': 'Small'},
			        { 'id': 3, 'name' : 'Medium', 'planType': 'Medium'},
			        { 'id': 4, 'name' : 'Large', 'planType': 'L'},
			    ],
			    mobilePlanMonthOptions: [{'id': 0, 'name' : '24 months', 'value': 24},{'id': 1, 'name' : '36 months', 'value': 36}],
			    aroOptions: [
			    {'id':0,'name':'None','value':0.00},
			    {'id':1,'name':'$120.00','value':120.00},
			    {'id':2,'name':'$240.00','value':240.00},
			    {'id':3,'name':'$360.00','value':360.00}],
			    aroMonthOptions: [{'id': 0, 'name' : '12 months', 'value': 12},{'id': 1, 'name' : '24 months', 'value': 24}],
			}
		},
		mounted(){
			this.paymentFrequency = (this.$store.state.cart.length && this.$store.state.cart[0].paymentFrequencyVal) ? this.$store.state.cart[0].paymentFrequencyVal : 12

	    	axios.get('/get-all-mobile-devices').then((response) => {
	    		this.allDevices = response.data
	    	})

	    	axios.get('/get-all-mobile-broadband-devices').then((response) => {
	    		this.allBroadbandDevices = response.data
	    	})
		},
	    computed: {
	    	totalCount(){
	    		let total = 0;

	            for (let item of this.$store.state.cart) {
	                total += item.quantity;
	            }

	            return total;
	    	},
	    	subTotalHroPrice(){
	    		let totalHro = 0;
	    		for (let item of this.$store.state.hro) {
	                totalHro += Number(item.hroMonthlyPrice);
	            }
	            this.subTotalHro = Number(totalHro).toFixed(2)
	            return totalHro.toFixed(2)
	    	},
	    	subTotalMobilePlanPrice(){
	    		let total = 0;
				for (let item of this.$store.state.cart) {
	                total += Number(item.totalPrice);
	            }
	            this.subTotalMobilePlan = Number(total).toFixed(2)
	            return total.toFixed(2)
	    	},
	    	subTotalMobileBroadbandPrice(){
	    		let total = 0;
				for (let item of this.$store.state.businessMobileBroadBand) {
	                total += Number(item.totalPrice);
	            }
	            this.subTotalMobileBroadband = Number(total).toFixed(2)
	            return total.toFixed(2)
	    	},
	    	subTotalSimPlanPrice(){
	    		let totalSimPlan = 0;
	    		for (let item of this.$store.state.simPlan) {
	                totalSimPlan += Number(item.totalPrice);
	            }
	            this.subTotalSimPlan = (totalSimPlan).toFixed(2)
	            return totalSimPlan.toFixed(2)
	    	},
	        totalPrice() {
	            let total = 0;
	            let totalHro = 0;
	            let totalSimPlan = 0;
	            let totalMobileBroadband = 0

	            for (let item of this.$store.state.cart) {
	                total += Number(item.totalPrice);
	            }

	            for (let item of this.$store.state.hro) {
	                totalHro += Number(item.hroMonthlyPrice);
	            }

	            for (let item of this.$store.state.simPlan) {
	                totalSimPlan += Number(item.totalPrice);
	            }

	            for (let item of this.$store.state.mobileBroadbands) {
	                totalMobileBroadband += Number(item.totalPrice);
	            }

	            this.grandTotal = (total + totalMobileBroadband + totalHro + totalSimPlan).toFixed(2)
	            return (total + totalMobileBroadband + totalHro + totalSimPlan).toFixed(2);
	        },

		    total: function(){

			  	let total = [];

			  	Object.entries(item.vas).forEach(([key, val]) => {
			      	total.push(val.amount) // the value of the current key.
			  	});

			  	return total.reduce(function(total, num){ return total + num }, 0);

			}
	    },
		methods:{
			nameWithLang ({ model, capacity }) {
		      return `${model} — [${capacity}]`
		    },
		    createCustomMobileDescription(item, event){
				if (this.timer) {
			        clearTimeout(this.timer);
			        this.timer = null;
			    }
			    this.timer = setTimeout(() => {
			    	if(item){
				        this.mobilePlan.description = item.planType
						this.mobilePlan.amount = item.planValue

						this.mobilePlan.aroBase = item.aroBase
						this.mobilePlan.aroAmount = item.aroAmount
						this.mobilePlan.aroMonths = item.aroMonths

						this.mobilePlan.description = item.planType
						this.mobilePlan.amount = item.planValue

						this.mobilePlan.vas = item.vas
						this.mobilePlan.vasTotalAmount = item.vasTotalAmount
						this.mobilePlan.vasIdArray = item.vasIdArray
						this.mobilePlan.customDescription = event

						this.mobilePlan.item = item

						this.mobilePlan.deviceItem = item.deviceItem

				    	this.mobilePlan.months = item.months
				    	this.mobilePlan.mobilePlanMonths = item.mobilePlanMonths
				    	this.mobilePlan.planOption = item.planOption
						this.mobilePlan.selectedARO = item.selectedARO
						this.mobilePlan.selectedAROMonth = item.selectedAROMonth

				    	this.$store.commit('changePlanType', this.mobilePlan);
				    }
			    }, 800);
			},
		    changeMobilePlanMonthly(event, item){
		    	
		    	this.mobilePlan.description = item.planType
				this.mobilePlan.amount = item.planValue

				this.mobilePlan.aroBase = item.aroBase
				this.mobilePlan.aroAmount = item.aroAmount
				this.mobilePlan.aroMonths = item.aroMonths

				this.mobilePlan.description = item.planType
				this.mobilePlan.amount = item.planValue

				this.mobilePlan.vas = item.vas
				this.mobilePlan.vasTotalAmount = item.vasTotalAmount
				this.mobilePlan.vasIdArray = item.vasIdArray

				this.mobilePlan.item = item
				this.mobilePlan.customDescription = item.customDescription

				this.mobilePlan.deviceItem = item.deviceItem

		    	this.mobilePlan.months = event.value
		    	this.mobilePlan.mobilePlanMonths = {'id' : event.id, 'name' : event.name, 'value': event.value}
		    	this.mobilePlan.planOption = item.planOption
				this.mobilePlan.selectedARO = item.selectedARO
				this.mobilePlan.selectedAROMonth = item.selectedAROMonth
				this.$store.commit('changePlanType', this.mobilePlan);

		    },
			onChange(event,item){
				console.log(event);

				if(item.itemType === 'broadBandPlan' && event.id == 1){
					this.plan.amount = 15.00
					this.plan.description = 'XS'
				}

				if(item.itemType === 'broadBandPlan' && event.id == 2){
					this.plan.amount = 25.00
					this.plan.description = 'Small'
				}

				if(item.itemType === 'broadBandPlan' && event.id == 3){
					this.plan.amount = 55.00
					this.plan.description = 'Medium'
				}
				if(item.itemType === 'broadBandPlan' && event.id == 4){
					this.plan.amount = 75.00
					this.plan.description = 'Large'
				}

				this.plan.aroBase = item.aroBase
				this.plan.aroAmount = item.aroAmount
				this.plan.aroMonths = item.aroMonths
				this.plan.customDescription = item.customDescription

				this.plan.vas = item.vas
				this.plan.vasTotalAmount = item.vasTotalAmount
				this.plan.vasIdArray = item.vasIdArray
				this.plan.deviceItem = item.deviceItem

				this.plan.planOption = {'id': event.id, 'name' : event.name, 'planType' : event.planType}
				this.plan.mobilePlanMonths = item.mobilePlanMonths
				this.plan.selectedARO = item.selectedARO
				this.plan.selectedAROMonth = item.selectedAROMonth

				this.plan.months = item.months

				this.plan.item = item
				this.$store.commit('changePlanType', this.plan);
			},
			onChangeAro(event, item){
				this.aro.aroBase = event.value
				this.aro.selectedARO = {'id': event.id, 'value': event.value, 'name': event.name}
				this.aro.planOption = item.planOption
				this.aro.mobilePlanMonths = item.mobilePlanMonths
				this.aro.selectedAROMonth = item.selectedAROMonth

				this.aro.aroMonths = item.aroMonths
				this.aro.aroAmount = item.aroAmount
				this.aro.description = item.planType
				this.aro.amount = item.planValue
				this.aro.customDescription = item.customDescription

				this.aro.vas = item.vas
				this.aro.vasTotalAmount = item.vasTotalAmount
				this.aro.vasIdArray = item.vasIdArray

				this.aro.months = item.months
				
				this.aro.item = item
				this.aro.deviceItem = item.deviceItem
				this.$store.commit('changePlanType', this.aro);
			},
		    changeMobileAROMonthly(event, item){
		    	
		    	this.mobilePlan.selectedAROMonth = {'id' : event.id, 'name' : event.name, 'value' : event.value}
		    	this.mobilePlan.selectedARO = item.selectedARO
				this.mobilePlan.planOption = item.planOption
				this.mobilePlan.mobilePlanMonths = item.mobilePlanMonths
		    	this.mobilePlan.description = item.planType
				this.mobilePlan.amount = item.planValue

				this.mobilePlan.aroAmount = item.aroAmount
				this.mobilePlan.aroBase = item.aroBase

				this.mobilePlan.description = item.planType
				this.mobilePlan.amount = item.planValue

				this.mobilePlan.vas = item.vas
				this.mobilePlan.vasTotalAmount = item.vasTotalAmount
				this.mobilePlan.vasIdArray = item.vasIdArray
				this.mobilePlan.customDescription = item.customDescription

				this.mobilePlan.item = item

				this.mobilePlan.deviceItem = item.deviceItem

		    	this.mobilePlan.months = item.months
		    	this.mobilePlan.aroMonths = event.value
	
				this.$store.commit('changePlanType', this.mobilePlan);

		    },
			onDeviceChange(event,item){
				this.mobileDevice.description = item.planType
				this.mobileDevice.amount = item.planValue

				this.mobileDevice.aroBase = item.aroBase
				this.mobileDevice.aroAmount = item.aroAmount
				this.mobileDevice.aroMonths = item.aroMonths

				this.mobileDevice.description = item.planType
				this.mobileDevice.amount = item.planValue

				this.mobileDevice.vas = item.vas
				this.mobileDevice.vasTotalAmount = item.vasTotalAmount
				this.mobileDevice.vasIdArray = item.vasIdArray
				this.mobileDevice.customDescription = item.customDescription

				this.mobileDevice.item = item
				console.log(event)
				if(event != null){
					this.mobileDevice.deviceItem = event
				}else{
					this.mobileDevice.deviceItem = 0
				}
				
				this.mobileDevice.months = item.months
				this.mobileDevice.planOption = item.planOption
				this.mobileDevice.mobilePlanMonths = item.mobilePlanMonths
				this.mobileDevice.selectedARO = item.selectedARO
				this.mobileDevice.selectedAROMonth = item.selectedAROMonth

				this.$store.commit('changePlanType', this.mobileDevice);
			},
			onChangeVas(event, item){

				this.vas.vas = event

				this.vas.aroAmount = item.aroAmount
				this.vas.aroBase = item.aroBase
				this.vas.aroMonths = item.aroMonths

				this.vas.description = item.planType
				this.vas.amount = item.planValue

				this.vas.item = item
				this.vas.months = item.months

				this.vas.deviceItem = item.deviceItem
				this.vas.customDescription = item.customDescription

				this.vas.planOption = item.planOption
				this.vas.mobilePlanMonths = item.mobilePlanMonths
				this.vas.selectedARO = item.selectedARO
				this.vas.selectedAROMonth = item.selectedAROMonth

				this.$store.commit('changePlanType', this.vas);
			},
	        removebroadBandPlanFromCart(item){
	        	this.$store.commit('removebroadBandPlanFromCart', item);
	        },
		}
	}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style type="text/css">
	
</style>