<template>
	<div>
		<div class="row justify-content-center" style="padding-top:2rem;">
			<div class="col-md-12" style="margin-top:20px;">
			
				<div class="row">
					<div class="col-md-6">
						<h2 style="color:#068edf;padding-bottom:12px">Business Hardware Repayment Options</h2>
					</div>
					<div class="col-md-6">
						<select class="pull-right form-control col-2" v-model="mobileOption" @change="changeMobileOption">
	        				<option>Siebel</option>
	        				<option>Legacy</option>
	        			</select>
					</div>
				</div>
	            <div class="container">
					<!-- <div class="col-12">
            			<div class="row">
            				<div class="offset-7">
            				</div>
							<button  v-if="confirmedCartItem == '0'" class="btn btn-primary col-2" @click.prevent="confirmCartItem()">Add to Cart</button>
							<button  v-if="confirmedCartItem == '0'" class="btn btn-secondary col-2 spacing" @click.prevent="backBtnCategory('plan')">Cancel</button>
							<a v-if="confirmedCartItem == '1'" class="col-2" href="/cart-items"><button class="btn btn-primary">Proceed to Checkout</button></a>
							<button v-if="confirmedCartItem == '1'" class="btn btn-secondary col-2 spacing" @click.prevent="backBtnCategory('mobileDevice')">Continue Shopping</button>
						</div>
					</div> -->
					<div class="container" style="padding-left: 0px;padding-right: 0px;">
            			<div class="row">
							<div class="offset-8" v-if="confirmedCartItem == '0'">
								
							</div>
							<div class="offset-7" style="margin-left:64.333333%" v-if="confirmedCartItem == '1'">
								
							</div>
							<div class="col-2" v-if="confirmedCartItem == '0'" style="max-width: 22.666667%;flex: 0 0 22.666667%">
								<button  class="pull-right btn btn-primary customBtn" @click.prevent="confirmCartItem()"><h5 style="padding-top:5px;">Add to Cart</h5></button>
							</div>
							<div class="col-2"  v-if="confirmedCartItem == '0'" style="max-width: 10%">
								<button class="pull-right btn btn-secondary customBtn" @click.prevent="backBtnCategory('mobileDevice')"><h5 style="padding-top:5px;">Cancel</h5></button>
							</div>
							<div class="col-2" v-if="confirmedCartItem == '1'" style="padding-right: 0px;">
								<a href="/cart-items"><button class="pull-right btn btn-primary customBtn"><h5 style="padding-top:5px;">Go to Checkout</h5></button></a>
							</div>
							<div class="col-2" v-if="confirmedCartItem == '1'" style="max-width: 18.666667%;flex:0 0 18.666667%;padding-left:0px;">
								<button class="btn btn-secondary pull-right customBtn" @click.prevent="backBtnCategory('mobileDevice')"><h5 style="padding-top:5px;">Continue Shopping</h5></button>
							</div>
						</div>
					</div>
					<br/>
					<table style="border:none !important;background: #fff" id="planCartTable" class="table table-bordered text-center" >
            			<tbody>
            				<tr>
            					<td style="width:40%;border-top-left-radius:10px;">
								    <label class="col-sm-2 col-form-label"><p>HRO:</p></label>
								</td>
            					<td style="width:40%;border-top-right-radius:10px;">
            						<div class="form-group row">
										<div class="col-sm-7">
										  	<!-- <v-select label="name" :options="hroList" @input="addHroItem($event)" />
										  	</v-select> -->
										  	<multiselect 
	                                          	:options="hroList" v-model="selectedHardware" :close-on-select="false" :multiple="true" track-by="id" label="name" placeholder="Select Hardware Device" @input="addHroItem($event)">
	                                        </multiselect>
									  	</div>
									  	
									  	<div class="col-sm-3">

											<select name="category_id" @change="changeHroMonthly($event)" class="form-control">
										     	<option value="12">12 months</option>
										     	<option value="24" selected="">24 months</option>
										  	</select>
									  	</div>
									</div>
            					</td>
            				</tr>
            				<tr>
            				<tr>
            					<td style="width:40%;border-bottom-left-radius: 10px;">
            						Item Details
            					</td>
            					<td style="width:40%;border-bottom-right-radius: 10px;">
            						<div v-for="hroItem in hro.item" v-if="hro.item && hroItem.price_24_months == '0.00'"  class="alert alert-warning alert-dismissible fade show" role="alert">
									  	<strong>{{hroItem.name}} Only available over 12 months</strong> 
									  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									    	<span aria-hidden="true">&times;</span>
									  	</button>
									</div>
            						<table id="priceTable" class="table table-bordered text-center table-striped" style="border:none !important;background: #fff">
        								<tbody>
		            						<tr>
		            							<td>
				            						Plan Duration : {{this.hro.hroMonthly}} Months<br/>
		            							</td>
		            							<td>
				            						Total: ${{ Number(itemTotal).toFixed(2) }}
				        						</td>
			        						</tr>
			        					</tbody>
			        				</table>
            					</td>
            				</tr>
            			</tbody>
            		</table>
	            </div>	
			</div>
		</div>
	</div>
</template>

<script>
	import Multiselect from 'vue-multiselect'
	export default{
    	components: { Multiselect },
		data(){
			return{
				confirmedCartItem: 0,
				cartItem: {'valueAddedService': '','paymentDuration' : '', 'paymentFrequency' : '', 'paymentFrequencyVal' : '', 'selectedPlan' : '', 'selectedPlanType' : '', 'planType' : ''},
            	paymentDuration: 24,
            	paymentFrequency: 'monthly',
            	paymentFrequencyVal: 12,
				hroList: [],
				hro: {'hroMonthly': 24, 'item' : []},
				selectedHardware: [],
				mobileOption: 'Legacy',
			}
		},
		computed: {
        	itemTotal(){
        		var self = this
        		var price = 0
        		for(let item of this.selectedHardware){
        			console.log(item)
	    			if(this.hro.hroMonthly == 24){
	    				price += Number(item.price_24_months)
	    			}

	    			if(this.hro.hroMonthly == 12){
	    				price += Number(item.price_12_months)
	    			}	
	    		}

    			if(typeof price === 'undefined'){
    				price = 0
    			}
    			this.hro.hroMonthlyPrice = price
    			return price
        	}
		},
		mounted(){
			this.getHro()
		},
		methods:{
        	backBtnCategory(type){
        		if(type == 'plan'){
        			this.mobileDevices = ''
        			this.selectedPlan = ''
        		}

        		if(type == 'mobileDevice'){
        			this.mobileDevices = ''
        			this.selectedPlan = ''
        			this.vas = []
        			this.confirmedCartItem = 0
        			window.location = '/'
        		}
        	},
        	selectPlan(plan, planType){
        		this.selectedPlan = plan
        		this.selectedPlanType = planType
        	},
        	changePaymentFrequency(paymentFrequency, paymentFrequencyVal){
        		this.paymentFrequency = paymentFrequencyVal
        		this.paymentFrequencyVal = paymentFrequencyVal
        	},
        	changePaymentDuration(paymentDuration){
        		this.paymentDuration = paymentDuration
        	},
        	confirmCartItem(){
		    	var crypto = require("crypto");
		    	this.hro.hro = this.selectedHardware
		    	this.hro.itemType = 'hro'
		    	this.hro.id = crypto.randomBytes(20).toString('hex')
		    	this.confirmedCartItem = 1

		    	this.$store.state.hro.push(this.hro)
		    	this.hro.isBusiness = 1
		    	if(this.mobileOption == 'Siebel'){
        			this.mobileOption = {'id': 0, 'name': 'Siebel'}
        		}
        		if(this.mobileOption == 'Console'){
        			this.mobileOption = {'id': 1, 'name': 'Console'}
        		}

        		if(this.mobileOption == 'Legacy'){
        			this.mobileOption = {'id': 2, 'name': 'Legacy'}
        		}
		    	this.hro.mobileOption = this.mobileOption

		    	this.$store.state.cartCount++
		    	
		    	this.$store.commit('addHro', this.hro);
        	},

		    addHroItem(event){
		    	//console.log(event)
		    	this.hro.item = event

		    },

		    changeHroMonthly(event){

		    	if(event.target.length && event.target.value == 24){
					this.hro.hroMonthly = 24
				}

				if(event.target.length && event.target.value == 12){
					this.hro.hroMonthly = 12
				}
		    },
	        getHro(){
	        	axios.get('/get-hro').then((response) =>{
	        		this.hroList = response.data
	        	})
	        },
	        changeMobileOption(){
	        	this.hroList = []
	        	if(this.mobileOption == 'Siebel' || this.mobileOption == 'Legacy'){
	        		axios.get('/get-hro').then((response) =>{
		        		this.hroList = response.data
		        	})
	        	}else{
	        		axios.get('/get-hro-console').then((response) =>{
		        		this.hroList = response.data
		        	})
	        	}
	        }
		}
	}
</script>

<style type="text/css">
	#planCartTable { border-collapse: separate; border-spacing: 0px; }
</style>