<template>
	<div>
		<div class="row justify-content-center">
			<div class="col-md-10" style="margin-top:20px;">
				<div v-if="selectedPlan == ''" id="planDetails">
    				<h2 style="color:#068edf;padding-bottom:12px" class="col-10 pull-left row">Business Fixed Plans</h2>
    				<select class="pull-right form-control col-2" v-model="mobileOption">
        				<option>Siebel</option>
        				<option>Legacy</option>
        			</select>
	                <table id="planTable" class="table text-center" style="border:none !important;background: #fff">
	                    <tbody>
	                        <!-- <tr>
	                            <td style="border:none !important;"></td>
	                            <td style="border-top-left-radius: 10px;" class="tabPlan text-white"><h1>S</h1></td>
	                            <td class="tabPlan text-white"><h1>M</h1></td>
	                            <td class="tabPlan text-white"><h1>L</h1></td>
	                            <td class="tabPlan text-white"><h1>XL</h1></td>
	                        </tr> -->
	                        <tr>
	                            <td style="border-top-left-radius: 10px;vertical-align: middle;text-align: center;width:10%" ><img class="flex" src="/img/welcome_page_icons/DataAllowance_Icon.svg" height="50"></td>
	                            <td style="width: 22.5%">
	                            	<h3>Telstra Office phone plan</h3>
	                            	<span style="color:#3490dc">
		                            	<h4>$55 per month</h4>
		                            </span>
	                            	<p style="font-size:15px">Minimum cost $295. $154 for NBN customers</p>
	                            	<button class="btn btn-primary customBtn" @click="selectPlan(55.00, 'telstraOfficePhonePlan')"><h5 style="padding-top:5px;">Select</h5></button>
	                            </td>
	                            <td style="width: 22.5%">
	                            	<h3>ADSL Unlimited Data</h3>
	                            	<span style="color:#3490dc">
		                            	<h4>$100 per month</h4>
		                            </span>
	                            	<p style="font-size:15px">Min cost: $2,400</p>
	                            	<p></p>
	                            	<button class="btn btn-primary customBtn" @click="selectPlan(100.00, 'adsl')"><h5 style="padding-top:5px;">Select</h5></button>
	                            </td>
	                        </tr>
	                        <tr>
	                        	<td style="vertical-align: middle;text-align: center;" ><img src="img/welcome_page_icons/BonusInclusion_Icon.svg" height="50"></td>
	                            <td colspan="1">
	                                <br/>
	                                <div class="offset-1 col-10" style="text-align:left">
		                                <ul style="font-size:18px">
		                                	<li><i style="margin-right:.5cm;color:#3490dc" class="fa fa-check"></i> Unlimited local and national calls to standard fixed lines</li>
		                                	<li><i style="margin-right:.5cm;color:#3490dc" class="fa fa-check"></i> No lock-in contract</li>
		                                	<li><i style="margin-right:.5cm;color:#3490dc" class="fa fa-check"></i> Calls to standard Australian mobiles - 36c per minute plus 55c call connection fee</li>
		                                </ul>
		                            </div>
	                            </td>
	                            <td colspan="1">
	                                <br/>
	                                <div class="offset-1 col-10" style="text-align:left">
		                                <ul style="font-size:18px">
		                                	<li><i style="margin-right:.5cm;color:#3490dc" class="fa fa-check"></i> NBN ready</li>
		                                	<li><i style="margin-right:.5cm;color:#3490dc" class="fa fa-check"></i> Static IP address</li>
		                                	<li><i style="margin-right:.5cm;color:#3490dc" class="fa fa-check"></i> Telstra Business Smart Modem with 4G mobile network backup</li>
		                                	<li><i style="margin-right:.5cm;color:#3490dc" class="fa fa-check"></i>  Phone line + unlimited calls to Australian standard lines. (Phone not included.) See call rates</li>
		                                </ul>
		                            </div>
	                            </td>
	                        </tr>
	                    </tbody>
	                </table>
            	</div>

	            <div class="container" v-if="selectedPlan != ''">
	            	<!-- <h2 style="color:#068edf;padding-bottom:12px">Customise your Plan</h2> -->
					<div class="container" style="padding-left: 0px;padding-right: 0px;">
            			<div class="row">
							<div class="offset-8" v-if="confirmedCartItem == '0'">
								
							</div>
							<div class="offset-7" style="margin-left:64.333333%" v-if="confirmedCartItem == '1'">
								
							</div>
							<div class="col-2" v-if="confirmedCartItem == '0'" style="max-width: 22.666667%;flex: 0 0 22.666667%">
								<button  class="pull-right btn btn-primary customBtn" @click.prevent="confirmCartItem()"><h5 style="padding-top:5px;">Add to Cart</h5></button>
							</div>
							<div class="col-2"  v-if="confirmedCartItem == '0'" style="max-width: 10%">
								<button class="pull-right btn btn-secondary customBtn" @click.prevent="backBtnCategory('mobileDevice')"><h5 style="padding-top:5px;">Cancel</h5></button>
							</div>
							<div class="col-2" v-if="confirmedCartItem == '1'" style="padding-right: 0px;">
								<a href="/cart-items"><button class="pull-right btn btn-primary customBtn"><h5 style="padding-top:5px;">Go to Checkout</h5></button></a>
							</div>
							<div class="col-2" v-if="confirmedCartItem == '1'" style="max-width: 18.666667%;flex:0 0 18.666667%;padding-left:0px;">
								<button class="btn btn-secondary pull-right customBtn" @click.prevent="backBtnCategory('mobileDevice')"><h5 style="padding-top:5px;">Continue Shopping</h5></button>
							</div>
						</div>
					</div>
					<br/>
					<table style="border:none !important;background: #fff" id="planCartTable" class="table table-bordered text-center" >
            			<tbody>
            				<tr style="background: rgba(0,0,0,.05)">
            					<td style="padding-bottom:0px;">
            						<h5 style="padding-top:10px;padding-left:3rem;text-align:left;">Value Added Service</h5>
            					</td>
            					<td style="padding-bottom:0px;">
									<multiselect style="min-height:85px"
                                      v-model="vas"
                                      :options="vasOptions" :close-on-select="false" :clear-on-select="false" :multiple="true" track-by="id" label="name" placeholder="Select VAS">
                                    </multiselect>
            					</td>
            				</tr>
            				<tr>
            					<td style="width:40%;border-top-left-radius:10px;border-bottom-left-radius: 10px;">
            						<h5 style="padding-top:10px;padding-left:3rem;text-align:left;">Details</h5>
            					</td>
            					<td style="width:40%;border-top-right-radius:10px;border-bottom-right-radius: 10px;">
	        						<table id="priceTable" class="table table-bordered text-center table-striped" style="border:none !important;background: #fff">
        								<tbody>
        									<tr>
        										<td style="text-align: left;width:40%;"><h5>Plan</h5></td>
        										<td><h5 style="text-align: left;padding-left:1rem;color:rgb(6, 142, 223);text-transform:capitalize;">{{(this.selectedPlanType)}} - ${{Number(this.selectedPlan).toFixed(2)}}</h5></td>
        									</tr>
        									<tr v-if="selectedPlanType != 'ultimateVoice'">
        										<td style="text-align: left;width:40%;"><h5>Capacity</h5></td>
        										<td v-if="selectedPlanType == 'core'"><h5 style="text-align: left;padding-left:1rem;">500GB</h5></td>
        										<td v-else><h5 style="text-align: left;padding-left:1rem;">Unlimited</h5></td>
        									</tr>
        									<tr>
        										<td style="text-align: left;width:40%;"><h5>VAS</h5></td>
        										<td><h5 style="text-align: left;padding-left:1rem;">${{Number(total).toFixed(2)}}</h5></td>
        									</tr>
        								</tbody>
        							</table>

        							<div class="col-md-12">
					        			<div class="row">
						        			<div class="col-6" style="padding-left:0px;padding-right:0px;max-width:40%;flex:0 0 40%;">
							        			<h5 class="grandTotalTable" style="padding-top:10px;padding-bottom:10px;border-top-left-radius: 10px;border-bottom-left-radius:10px;text-align:left;padding-left:1rem;">Total:</h5>
							        		</div>
							        		<div class="col-6" style="padding-right:0px;padding-left:0px;max-width:60%;flex:0 0 60%;">
							        			<h5 class="grandTotalTable" style="padding-left:1.7rem;padding-top:10px;padding-bottom:10px;border-top-right-radius: 10px;border-bottom-right-radius:10px;text-align:left;padding-left:1.7rem;">${{ Number(itemTotal).toFixed(2)}}</h5>
							        		</div>
							        	</div>
					        		</div>
            					</td>
            				</tr>
            			</tbody>
            		</table>
	            </div>	
			</div>
		</div>
	</div>
</template>

<script>
	import Multiselect from 'vue-multiselect'
	export default{
    	components: { Multiselect },
		data(){
			return{
				confirmedCartItem: 0,
				cartItem: {'valueAddedService': '','paymentDuration' : '', 'paymentFrequency' : '', 'paymentFrequencyVal' : '', 'selectedPlan' : '', 'selectedPlanType' : '', 'planType' : ''},
            	paymentDuration: 24,
            	paymentFrequency: 'monthly',
            	paymentFrequencyVal: 12,
				hroList: [],
				fixed: {'fixedPlan': '', 'fixedPlanPrice' : ''},
				selectedPlan:'',
            	vasOptions: [
            		{'id' : 0,'name' : 'Tech Services' , 'amount' : 60},
            		{'id' : 1,'name' : 'NBN Hunt Group' , 'amount' : 10},
            		{'id' : 2,'name' : 'Cyber Security' , 'amount' : 80},
            		{'id' : 3,'name' : 'Business Calling Pack' , 'amount' : 25},
            		{'id' : 4,'name' : 'Small Telstra Business Digital Marketing Services Website', 'amount' : 60},
            		{'id' : 5,'name' : 'Medium Telstra Business Digital Marketing Services Website' , 'amount' : 80},
            		{'id' : 6,'name' : 'Large Telstra Business Digital Marketing Services Website' , 'amount' : 100},
            		{'id' : 7,'name' : 'Business Calling Pack' , 'amount' : 25},
            		{'id' : 8,'name' : 'NBN Speed Boost' , 'amount' : 30},
            		{'id' : 9,'name' : 'NBN Virtual Receptionist' , 'amount' : 10},
            		{'id' : 10,'name' : 'NBN Hunt Group' , 'amount' : 10},
            		{'id' : 11,'name' : 'NBN Ad On Hold' , 'amount' : 50},
            		{'id' : 12,'name' : 'Business Protect Monitoring Service' , 'amount' : 31},
            		{'id' : 13,'name' : 'Business Protect Link Package' , 'amount' : 42},
            		{'id' : 14,'name' : 'Business Protect Core Package' , 'amount' : 69},
            		{'id' : 15,'name' : 'Business Protect Advanced Package' , 'amount' : 79},
            		{'id' : 16,'name' : 'Business Protect Premium Package' , 'amount' : 89},
            	],
            	vas: [],
            	mobileOption:'Legacy'
			}
		},
		computed: {
		    total: function(){

			  	let total = [];
			  	let idArray = [];

			  	Object.entries(this.vas).forEach(([key, val]) => {
			      	total.push(val.amount) // the value of the current key.
			  	});
			  	this.vas.totalAmount = total.reduce(function(total, num){ return total + num }, 0)

			  	return total.reduce(function(total, num){ return total + num }, 0);

			},
        	itemTotal(){
        		return (Number(this.selectedPlan) + Number(this.vas.totalAmount))
        	},
		},
		mounted(){
			this.getHro()
		},
		methods:{
        	backBtnCategory(type){
        		if(type == 'plan'){
        			this.mobileDevices = ''
        			this.selectedPlan = ''
        		}

        		if(type == 'mobileDevice'){
        			this.mobileDevices = ''
        			this.selectedPlan = ''
        			this.vas = []
        			this.confirmedCartItem = 0
        			window.location = '/'
        		}
        	},
        	selectPlan(plan, planType){
        		this.selectedPlan = plan
        		this.selectedPlanType = planType
        	},
        	changePaymentFrequency(paymentFrequency, paymentFrequencyVal){
        		this.paymentFrequency = paymentFrequencyVal
        		this.paymentFrequencyVal = paymentFrequencyVal
        	},
        	changePaymentDuration(paymentDuration){
        		this.paymentDuration = paymentDuration
        	},
        	confirmCartItem(){
		    	var crypto = require("crypto");

		    	if(this.selectedPlan == 100.00){
		    		this.fixed.fixed = {'id':1,'isBusiness' : 1,'name': 'ADSL Unlimited Data', 'amount': 100.00,'capacity': 'unlimited', 'planDescription' : 'ADSL Unlimited data plan includes Unlimited Monthly Data Allowance, Unlimited Local Calls, and Unlimited National Calls. Calls to standard Australian mobiles - 36c per mintue plus 55c call connection fee. Static IP address and Telstra Business Smart Modem with 4G mobile network backup. 13 Calls - Allowance to make 500 calls per month included. Min cost $2,499'}
		    	}

		    	if(this.selectedPlan == 55.00){
		    		this.fixed.fixed = {'id':0,'isBusiness' : 1,'name': 'Telstra Office phone plan', 'amount': 55.00,'capacity': 'Not Available', 'planDescription' : 'Telstra Office phone plan includes unlimited local and national calls on a no lock-in contract. Calls to standard Australian mobiles - 36c per mintue plus 55c call connection fee. 13 calls- Allowance to make 500 calls per month. Standard Interntional rates apply. Min cost is $295.'}
		    	}

        		this.fixed.valueAddedService = this.vas
		    	this.fixed.fixedPlanPrice = this.selectedPlan
		    	this.fixed.fixedPlan = this.selectedPlanType
		    	this.fixed.id = crypto.randomBytes(20).toString('hex')
		    	this.fixed.itemType = 'fixed'
		    	this.confirmedCartItem = 1
		    	this.fixed.quantity = 1

		    	if(this.mobileOption == 'Siebel'){
        			this.mobileOption = {'id': 0, 'name': 'Siebel'}
        		}

        		if(this.mobileOption == 'Legacy'){
        			this.mobileOption = {'id': 2, 'name': 'Legacy'}
        		}

		    	this.fixed.isBusiness = 1
		    	this.$store.state.cartCount++
		    	this.$store.state.fixed.push(this.fixed)
		    	this.fixed.mobileOption = this.mobileOption
		    	this.$store.commit('addFixedPlan', this.fixed);
        	},

		    addHroItem(event){
		    	//console.log(event)
		    	this.hro.item = event

		    },

		    changeHroMonthly(event){

		    	if(event.target.length && event.target.value == 24){
					this.hro.hroMonthly = 24
				}

				if(event.target.length && event.target.value == 36){
					this.hro.hroMonthly = 36
				}
		    },
	        getHro(){
	        	axios.get('/get-hro').then((response) =>{
	        		this.hroList = response.data
	        	})
	        },
		}
	}
</script>

<style type="text/css" scoped>
	p{
		font-size:18px;
		margin-bottom:.1cm;
	}
    #planCartTable { border-collapse: separate; border-spacing: 0px; }
    .btn-secondary{
      background:#fff !important;
      border:2px solid orange !important;
      color: orange !important;
    }

    .btn-secondary:hover{
    	background: rgba(234,167,33,0.6) !important;
    	color: #fff !important;
    }

    h3{
    	color:#FCA318;
    	font-weight: bolder;
    }
    #planTable tr:last-child td:last-child{
    	border-bottom-left-radius:0px;
    }

    .offset-2{
    	margin-left: 12.666667%;
    }
</style>