<template>
	<div class="container">
	    <div class="row justify-content-center">
	        <div class="col-md-12">
	            <div class="card">
	                <div class="card-header" style="padding:10px 0px;">
	                	<div class="container-fluid">
		                	<span class="col-10 pull-left"><h3>Proposal History</h3></span>
		                	<span class="col-2 pull-right">
			                	<!-- <button style="margin-right:10px;margin-left:10px;" class="btn btn-info pull-right" @click.prevent="uploadModal()"><i class="fa fa-upload"></i> Upload</button>

			                	<button style="margin-right:10px;margin-left:10px;" v-if="mobileDevices" class="btn btn-warning pull-right"  @click.prevent="rejectUpload()"><i class="fa fa-trash"></i> Reject</button> -->


			                	
			                </span>
		                </div>
	                </div>

	                <div class="card-body">
	                	<!-- <v-client-table class="text-center" v-if="records" :data="records" :columns="['data','created_at','email','actions']" :options="options">
		                    
    					</v-client-table> -->

				    	<table class="table table-bordered">
				    		<thead>
				    			<th>Data</th>
				    			<th>Details</th>
				    			<th>Action</th>
				    		</thead>
				    		<tbody>
				    			<tr v-for="(data, index) in records">
				    				<td>Proposal {{index + 1}} - {{data.created_at | formatDate}}</td>
				    				<td>
				    					<p v-if="data.mobile">Mobile Plan:{{data.mobile}}</p>
				    					<p v-if="data.businessMobile">Business Mobile Plan:{{data.businessMobile}}</p>
										<p v-if="data.broadband">Mobile Broadband:{{data.broadband}}</p>
										<p v-if="data.businessmobileBroadband">Business Mobile Broadband: {{data.businessmobileBroadband}}</p>
										<p v-if="data.businessFixed">Business Fixed:{{data.businessFixed}}</p>
										<p v-if="data.fixed">Fixed:{{data.fixed}}</p>
										<p v-if="data.businessHRO">Business HRO:{{data.businessHRO}}</p>
										<p v-if="data.hro">HRO:{{data.hro}}</p>
										<p v-if="data.miscellaneous">Miscellaneous:{{data.miscellaneous}}</p>
										<p v-if="data.entertainment">Entertainment:{{data.entertainment}}</p>
										<p v-if="data.outright">Outright:{{data.outright}}</p>
				    				</td>
				    				<td><button @click.prevent="useTemplate(data)" class="btn btn-success">Use this template</button></td>
				    			</tr>
				    		</tbody>
				    	</table>

			    	</div>
            	</div>
        	</div>
    	</div>
	</div>
</template>

<script type="text/javascript">
	import Datepicker from 'vuejs-datepicker';
 
	import {ServerTable, ClientTable, Event} from 'vue-tables-2';
    
    Vue.use(ClientTable, {}, false, 'bootstrap4');

    import moment from 'moment';
	Vue.filter('formatDate', function(value) {
        if (value) {
            return moment(String(value)).format('D MMM Y')
        }
    })
	import Multiselect from 'vue-multiselect'
	export default{
		components: {
		    Datepicker,Multiselect
		},
		data(){
			return{
				records:[],
				proposal:{},
                options: {
                    perPage: 10,
                    sortIcon: {
				        base : 'fa',
				        is: 'fa-sort',
				        up: 'fa-sort-asc',
				        down: 'fa-sort-desc'
				    },
				  	selectable:{
				    	mode: 'multiple', // or 'multiple'
				    	only: function(row) {
				       		return true // any condition
				    	}
				  	}
                },
			}
		},
		mounted(){
			this.getProposalHistory()
		},
		methods:{
			getProposalHistory(){
				axios.get('/get-proposal-history').then((response) => {
					console.log(response.data)
					this.records = response.data
				})
			},
			useTemplate(data){
				this.proposal = data
				axios.post('/use-proposal-history', this.proposal).then((response) => {
					window.location = '/cart-items'
				})
			}
		}
	}
</script>