<template>
    <div class="navbar-item has-dropdown is-hoverable">
        <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="fa fa-shopping-cart"></i> ({{ $store.state.cartCount }})
        </a> -->
        <a class="nav-link text-white" href="/cart-items" id="navbarDropdown2" role="button" style="font-size: 20px">
            <span></span>
            <i class="fa fa-shopping-cart" style="font-size:36px;"></i> <span style="position: absolute;left:20px;border-radius: 50px" class="badge badge-success cartCount">{{ $store.state.cartCount }}</span>
        </a>

        <div v-if="$store.state.cart.length > 0" class="dropdown-menu dropdown-menu-right">
            <a v-for="item in $store.state.cart"
                :key="item.id"
                class="dropdown-item"
                href=""
            >
                <span class="removeBtn fa fa-trash"
                    title="Remove from cart"
                    @click.prevent="removeFromCart(item)"></span>

                {{ item.make }} {{ item.model }} {{item.capacity}} ({{ item.planType }}) x{{item.quantity}} - ${{ item.totalPrice }}
            </a>
            <hr class="navbar-divider">
            <a class="dropdown-item pull-right" href="">
                Total: ${{ totalPrice }} | <strong>{{$store.state.cart[0].frequency | capitalize}}</strong>
            </a>


            <a class="dropdown-item" href="/cart-items">
                View Cart Items
            </a>
        </div>

        <div v-else class="dropdown-menu dropdown-menu-right">
            <a class="navbar-item text-center" href="">
                Cart is empty
            </a>
        </div>
    </div>
</template>

<script>
Vue.filter('capitalize', function (value) {
  if (!value) return ''
  value = value.toString()
  return value.charAt(0).toUpperCase() + value.slice(1)
})

export default {
    computed: {
        totalPrice() {
            let total = 0;

            for (let item of this.$store.state.cart) {
                //console.log(item)
                total += Number(item.totalPrice);
            }

            return total.toFixed(2);
        }
    },
    methods:{
        removeFromCart(item) {
            this.$store.commit('removeFromCart', item);
        }
    }
}
</script>

<style>
    .removeBtn {
        margin-right: 1rem;
        color: red;
    }
</style>