<template>
	<div>
		<div class="row justify-content-center" style="background: #fff">
            <div class="col-md-12">
            	<div class="row container" style="clear:both;" v-if="$store.state.productRedemption.length !=0  || $store.state.quadrantCart.length !=0 || $store.state.promotions.length !=0 || $store.state.existingServices.length !=0 || $store.state.otherServices.length !=0 || $store.state.businessFixed.length !=0 || $store.state.businessMobileBroadBand.length !=0 || $store.state.businessHRO.length !=0 || $store.state.businessMobilePlan.length !=0 || $store.state.entertainment.length !=0 || $store.state.fixed.length !=0 || $store.state.cart.length !=0 || $store.state.hro.length !=0 || $store.state.simPlan.length !=0 || $store.state.mobileBroadbands.length !=0">
            		<div class="container-fluid">
            			<div class="row">
		            		<div class="col-6"  style="flex:0 0 12%;max-width: 12%">
			            		<h2 style="padding-top:30px;color:#3490dc">Cart items</h2>
			            	</div>
				            <div class="col-2">
                              	<label for="description" class="col-md-4 col-form-label text-md-right" style="padding:0px">&nbsp;</label>
	                            <div class="col-sm-12">

									<multiselect @input="onChange($event)"
                                      :options="[{'id':0, 'name': 'Personal Mobile'},{'id':7, 'name': 'Business Mobile'},{'id':1,'name':'HRO'},{'id':8, 'name': 'Business HRO'},{'id':2,'name':'Mobile Broadband'},{'id':9, 'name': 'Business Mobile Broadband'}, {'id':3,'name':'Fixed'}, {'id':10, 'name': 'Business Fixed'},{'id':4,'name':'Entertainment'}, {'id':5,'name':'Existing Services'},  {'id':5,'name':'Other Services'}, {'id':6,'name':'Outright'}, {'id':7,'name':'Miscellaneous'}, {'id':8,'name':'Telstra Platinum'}, {'id':9,'name':'BNPL'},]" :close-on-select="true" :clear-on-select="true" :multiple="false" track-by="id" label="name" placeholder="Add New">
                                    </multiselect>
	                            </div>
                           </div>
                           <div class="col-5" style="flex: 0 0 70%;max-width: 70%;padding-left: 0px;padding-right: 0px;">
                           		<!-- <button v-if="!busyProposal" @click.prevent="sendProposal(subTotalMobileBroadbandPrice, subTotalMobilePlanPrice, subTotalHroPrice, subTotalSimPlanPrice, subTotalFixedPrice, subTotalEntertainmentPrice)" data-clear car="tooltip" data-placement="top" class="btn btn-success pull-right customBtn" style="margin-top:20px;">
                           			<h5 style="padding-top:5px;">Proposal</h5>
                           		</button> -->

                           		<div class="dropdown" style="float:right">
								  	<button v-if="!busyProposal" @click.prevent="sendProposal(subTotalMobileBroadbandPrice, subTotalMobilePlanPrice, subTotalHroPrice, subTotalSimPlanPrice, subTotalFixedPrice, subTotalEntertainmentPrice, 'monthly')" data-toggle="tooltip" data-placement="top" class="btn btn-success pull-right customBtn" style="margin-top:20px;">
                           			<h5 style="padding-top:5px;">Proposal</h5>
                           			</button>
								  <div class="dropdown-content">
								    <a href="#" @click.prevent="sendProposal(subTotalMobileBroadbandPrice, subTotalMobilePlanPrice, subTotalHroPrice, subTotalSimPlanPrice, subTotalFixedPrice, subTotalEntertainmentPrice, 'monthly')">Generate Monthly Payment</a>
								    <a href="#" @click.prevent="sendProposal(subTotalMobileBroadbandPrice, subTotalMobilePlanPrice, subTotalHroPrice, subTotalSimPlanPrice, subTotalFixedPrice, subTotalEntertainmentPrice, 'fortnightly')">Generate Fortnightly Payment</a>
								    <a href="#" @click.prevent="sendProposal(subTotalMobileBroadbandPrice, subTotalMobilePlanPrice, subTotalHroPrice, subTotalSimPlanPrice, subTotalFixedPrice, subTotalEntertainmentPrice, 'weekly')">Generate Weekly Payment</a>
								  </div>
								</div>

                           		<button  v-if="busyProposal" disabled="" data-toggle="tooltip" data-placement="top" class="btn btn-success pull-right customBtn" style="margin-top:20px;">
                           			<h5 style="padding-top:5px;">Generating <i class="fa fa-spinner fa-spin"></i></h5>
                           		</button>

                           		<button  v-if="busyClear" disabled="" data-toggle="tooltip" data-placement="top" class="btn btn-primary pull-right customBtn" style="margin-top:20px;margin-right: 1%;">
                           			<h5 style="padding-top:5px;">Clearing.... <i class="fa fa-spinner fa-spin"></i></h5>
                           		</button>
                           		
                           		<button @click.prevent="clearCart" v-if="!busyClear" class="btn btn-danger pull-right customBtn" style="margin-top:20px;margin-right: 1%;">
                           			<h5 style="padding-top:5px;">Clear Cart</h5>
                           		</button>

                           		<button class="btn btn-primary pull-right customBtn" @click.prevent="sendCartTemplateModal(subTotalMobileBroadbandPrice, subTotalMobilePlanPrice, subTotalHroPrice, subTotalSimPlanPrice, subTotalFixedPrice, subTotalEntertainmentPrice)" style="margin-right:1%;margin-left:2%;margin-top:20px;">
                           			<h5 style="padding-top:5px;">Send Cart</h5>
                           		</button>

                           		<button v-if="aroAcknowledgementDisabled" disabled class="btn btn-primary pull-right customBtn" style="margin-left:2%;margin-top:20px;">
                           			<h5 style="padding-top:5px;">ARO Acknowledgement</h5>
                           		</button>

                           		<a v-else href="/aro-form" target="_blank"><button class="btn btn-primary pull-right customBtn" style="margin-left:2%;margin-top:20px;">
                           			<h5 style="padding-top:5px;">ARO Acknowledgement</h5>
                           		</button></a>

                           		<!-- <button disabled="" data-toggle="tooltip" data-placement="top" :title="errorMessage.message" class="btn btn-primary pull-right customBtn" style="margin-top:20px;" v-if="reviewSignEnabled == false || reviewSignCustomDescDisabled">
                           			<h5 style="padding-top:5px;">Office Use Only</h5>
                           		</button> -->

                           		<button  v-if="busyCheckout" disabled="" data-toggle="tooltip" data-placement="top" class="btn btn-primary pull-right customBtn" style="margin-top:20px;">
                           			<h5 style="padding-top:5px;">Generating <i class="fa fa-spinner fa-spin"></i></h5>
                           		</button>

                           		<span class="btn btn-primary pull-right customBtn" style="margin-top:20px;margin-right: 2%;" @click.prevent="checkOfficialUseOnlyFields" v-if="reviewSignEnabled == false || reviewSignCustomDescDisabled">
                           			<h5 style="padding-top:5px;">Office Use Only</h5>
                           		</span>

                           		<a @click="checkOfficialUseOnlyFields" target="_blank" v-if="!busyCheckout && reviewSignEnabled != false && !reviewSignCustomDescDisabled" href="/office-use-only" class="btn btn-primary pull-right customBtn" style="margin-top:20px;margin-right: 2%;">
                           			<h5 style="padding-top:5px;">Office Use Only</h5>
                           		</a>

				            	<!-- <button v-if="!busyCheckout && reviewSignEnabled != false && !reviewSignCustomDescDisabled" class="btn btn-primary pull-right customBtn" style="margin-top:20px;margin-right: 2%;" @click="checkout(subTotalMobileBroadbandPrice, subTotalMobilePlanPrice, subTotalHroPrice, subTotalSimPlanPrice, subTotalFixedPrice, subTotalEntertainmentPrice)"><h5 style="padding-top:5px;">Office Use Only</h5></button> -->

				            	<!--send cart modal-->
				            		<div class="modal fade" id="sendCartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
									  	<div class="modal-dialog" role="document">
										    <div class="modal-content">
										      	<div class="modal-header">
											        <h5 class="modal-title" id="exampleModalLabel">Send Cart</h5>
											        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
											          <span aria-hidden="true">&times;</span>
											        </button>
										      	</div>
										      	<div class="modal-body">
										        	<select name="data" @change="changeBranchUser($event)" class="form-control" id="branchVal" v-if="branchUsers">
							                            <option v-for="users in branchUsers" :value="users.userName">{{users.fullName}} - {{users.userName}}</option>
							                        </select>
										      	</div>
										      	<div class="modal-footer">
											        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
											        <button type="button" class="btn btn-primary" @click.prevent="sendCartTemplate(subTotalMobileBroadbandPrice, subTotalMobilePlanPrice, subTotalHroPrice, subTotalSimPlanPrice, subTotalFixedPrice, subTotalEntertainmentPrice)">Send</button>
										      	</div>
										    </div>
									  	</div>
									</div>
				            	<!--end send cart modal-->
				            </div>
				        </div>
		            </div>
		            <quadrant ref="childComponent"></quadrant>
            		<mobile-plan-cart></mobile-plan-cart>
            		<hro-cart></hro-cart>
            		<business-mobile-plan-cart></business-mobile-plan-cart>

		            <mobile-broadband-cart></mobile-broadband-cart>
            		<business-mobile-broadband-cart></business-mobile-broadband-cart>

				    <business-hro-cart></business-hro-cart>

				    <fixed-cart></fixed-cart>
				    <business-fixed-cart></business-fixed-cart>

				    <entertainment-cart></entertainment-cart>

				    <existing-services></existing-services>
				    <promotions></promotions>
				    <redemptions></redemptions>

			        <div class="container-fluid text-center">
			        	<div class="row">
			        		<!-- <div class="col-4" style="padding-top:25px;padding-bottom:25px;">
			            		<h5>Payment Frequency</h5>
			            		<select class="form-control" @change="changePaymentFrequency()" v-model="paymentFrequency">
			            			<option :selected="paymentFrequency == '12'" value="12">Monthly</option>
			            			<option :selected="paymentFrequency == '26'" value="26">Fortnightly</option>
			            			<option :selected="paymentFrequency == '52'" value="52">Weekly</option>
			            		</select>
			            	</div> -->
			        		<div class="col-md-12" style="padding-top:25px;padding-bottom:25px;">
			        			<div class="row">
				        			<div class="col-6" style="padding-right:0px;max-width:40%;flex:0 0 40%;">
					        			<h4 class="grandTotalTable" style="padding-top:10px;padding-bottom:10px;border-top-left-radius: 10px;border-bottom-left-radius:10px;">Minimum Monthly Charge:</h4>
					        		</div>
					        		<div class="col-6" style="padding-left:0px;max-width:60%;flex:0 0 60%;">
					        			<h4 class="grandTotalTable" style="padding-top:10px;padding-bottom:10px;border-top-right-radius: 10px;border-bottom-right-radius:10px;">${{totalPrice}}</h4>
					        		</div>
					        	</div>
			        		</div>
			        		
				        </div>
			        </div>
	            </div>

	            <div class="row container" style="clear:both;text-align: center;padding-right:0px;" v-else>
	            	<div class="container-fluid">
            			
		            </div>
	            	<div class="container">
	            		<div class="row">
		            		<!-- <div class="col-6"  style="flex:0 0 70.6666666667%;max-width: 70.6666666667%">
			            		&nbsp;
			            	</div> -->
			            	<!-- <div class="col-1" style="padding-right:6px;">
				            	<button href="#div-id" v-smooth-scroll class="btn btn-primary pull-right customBtn" style="margin-top:20px;" @click.prevent="addItem()"><h5 style="padding-top:5px;">Plans</h5></button>
				            </div>
				            <div class="col-1" style="padding-right: 0px;">
				            	<button href="#hro" v-smooth-scroll class="btn btn-primary pull-right customBtn" style="margin-top:20px;" @click.prevent="addHro()"><h5 style="padding-top:5px;">HRO</h5></button>
				            </div>

				            <div class="col-2 text-center" style="flex:0 0 12.6666666667%;max-width: 12.6666666667%;padding-right:0px">
				            	<button href="#mobile-broadbands" v-smooth-scroll class="btn btn-primary pull-right customBtn" style="margin-top:20px;" @click.prevent="addBroadband()"><h5 style="padding-top:5px;">Broadband</h5></button>
				            </div> -->
				            <div class="col-3">
                              	<label for="description" class="col-md-4 col-form-label text-md-right" style="padding:0px">&nbsp;</label>
	                            <div class="col-sm-12">

									<multiselect @input="onChange($event)"
                                      :options="[{'id':0, 'name': 'Personal Mobile'},{'id':7, 'name': 'Business Mobile'},{'id':1,'name':'HRO'},{'id':8, 'name': 'Business HRO'},{'id':2,'name':'Mobile Broadband'},{'id':9, 'name': 'Business Mobile Broadband'}, {'id':3,'name':'Fixed'}, {'id':10, 'name': 'Business Fixed'},{'id':4,'name':'Entertainment'}, {'id':5,'name':'Existing Services'}, {'id':5,'name':'Other Services'}, {'id':6,'name':'Outright'}, {'id':7,'name':'Miscellaneous'},{'id':8,'name':'Telstra Platinum'},{'id':9,'name':'BNPL'}]" :close-on-select="true" :clear-on-select="true" :multiple="false" track-by="id" label="name" placeholder="Add New">
                                    </multiselect>
	                            </div>
                           </div>
				        </div>
		            	<img src="/img/EmptyCart.png" style="margin-top:5rem;">
		            	<br/>
		            	<h1 style="color:#068edf">Cart is empty</h1>
		            	<h1>You have no items in your shopping cart.</h1>
		            </div>
	            </div>

	            <!--Modal Confirmation for clearing cart item-->
				<div class="modal fade" id="clearCartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  	<div class="modal-dialog" role="document">
					    <div class="modal-content">
					      	<div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Clear Cart Items?</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
					      	</div>
					      	<div class="modal-body">
					        	Are you sure you want to clear cart items?
					      	</div>
					      	<div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
						        <button type="button" class="btn btn-primary" @click="emptyCart()">Yes</button>
					      	</div>
					    </div>
				  	</div>
				</div>

				<!--Modal Confirmation for checking out cart item-->
				<div class="modal fade" id="hroNotice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  	<div class="modal-dialog" role="document">
					    <div class="modal-content">
					      	<div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Reminder</h5>
						        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button> -->
					      	</div>
					      	<div class="modal-body">
					        	Please ensure an ARO Acknowledgement form is generated for this item
					      	</div>
					      	<div class="modal-footer">
						        <button type="button" class="btn btn-primary" @click="refreshPage()">Ok</button>
					      	</div>
					    </div>
				  	</div>
				</div>

            </div>
	    </div>
	</div>
</template>

<script>
	import Vue from "vue";
	import vSelect from "vue-select";
	import Multiselect from 'vue-multiselect'
	import moment from 'moment'

	Vue.component("v-select", vSelect);
	import vueSmoothScroll from 'vue2-smooth-scroll'
	Vue.use(vueSmoothScroll)
	import "vue-select/dist/vue-select.css";
	export default{
		components: { Multiselect },
		data(){
			return{
				parentData: '',
				key: "",
				value: [],
				value2: '',
				paymentPlan: [],
				cartItems : [],
				paymentFrequency: 12,
				frequency: {'paymentFrequencyVal' : '', 'paymentFrequency' : ''},
				plan:{'amount': '', 'description' : '', 'item' : {}},
				simPlan:{'amount': '', 'description' : '', 'item' : {}},
				hroList: [],
				aro: {'aroAmount' : (240 / 12).toFixed(2),'aroBase' : 240,'aroMonths' : 12, 'aroTotalAmount' : (240 / 12).toFixed(2)},
				vas: {'valueAddedServiceAmount': '', 'valueAddedServiceDescription' : '', vasTotalAmount: 0},
				simPlanVas: {'valueAddedServiceAmount': '', 'valueAddedServiceDescription' : ''},
				hro: {'hroMonthly': 24, 'item' : {}, 'selectedHroItem': {}},
				mobileDevice : {'device' : '', 'item': {}},
            	vasSimPlanOptions: [
            		{'id' : 0,'name' : 'International Calling Pack' , 'amount' : 10},
            		{'id' : 2,'name' : 'Telstra Locator Subscription' , 'amount' : 10},
            		{'id' : 3,'name' : 'Telstra One Number' , 'amount' : 5}
            	],
            	vasOptions: [
            		{'id' : 0,'name' : 'International Calling Pack' , 'amount' : 10},
            		{'id' : 1,'name' : 'Stay Connected Advanced' , 'amount' : 15},
            		{'id' : 2,'name' : 'Telstra Locator Subscription' , 'amount' : 10},
            		{'id' : 3,'name' : 'Telstra One Number' , 'amount' : 5}
            	],
            	vasMobileBroadbandOptions: [
            		{'id' : 0,'name' : 'Stay Connected Advanced' , 'amount' : 15},
            		{'id' : 1,'name' : 'Telstra Locator Subscription' , 'amount' : 10},
            	],
            	device: '',
            	allDevices: [],
            	allBroadbandDevices: [],
            	checkoutItems: {'hro': [], 'cart': []},
            	grandTotal : 0,
            	subTotalHro : 0,
            	subTotalMobilePlan : 0,
            	subTotalMobileSim : 0,
            	subTotalFixedTotal : 0,
            	subTotalEntertainmentTotal: 0,
            	subTotalMobileBroadband : 0,
            	mobilePlan: {item: {}, paymentFrequency: 24},
            	branchUsers: [],
            	branchUser: {},
            	errorMessage: '',
            	option:{
	                penColor:"rgb(0, 0, 0)",
	                backgroundColor:"rgb(255,255,255)"
	            },
	            disabled:false,
	            dataUrl:"https://avatars2.githubusercontent.com/u/17644818?s=460&v=4",
	            busyProposal: false,
	            busyCheckout: false,
	            busyClear: false
			}
		},
		mounted(){
	    	this.getPageContent()
	    	this.getActiveCartTemplate()
	    	this.getBranchUsers()
		},
	    computed: {
	    	totalCount(){
	    		let total = 0;

	            for (let item of this.$store.state.cart) {
	                total += item.quantity;
	            }

	            return total;
	    	},
	    	subTotalFixedPrice(){
	    		let totalFixed = 0;
	    		for (let item of this.$store.state.fixed) {
	                totalFixed += Number(item.fixedPlanPrice);
	            }
	            this.subTotalFixedTotal = Number(totalFixed).toFixed(2)
	            return totalFixed.toFixed(2)
	    	},
	    	subTotalEntertainmentPrice(){
	    		let totalEntertainmentPrice = 0;
	    		for (let item of this.$store.state.entertainment) {
	                totalEntertainmentPrice += Number(item.entertainmentPlanPrice);
	            }
	            this.subTotalEntertainmentTotal = Number(totalEntertainmentPrice).toFixed(2)
	            return totalEntertainmentPrice.toFixed(2)
	    	},
	    	subTotalHroPrice(){
	    		let totalHro = 0;
	    		for (let item of this.$store.state.hro) {
	                totalHro += Number(item.hroMonthlyPrice);
	            }
	            this.subTotalHro = Number(totalHro).toFixed(2)
	            return totalHro.toFixed(2)
	    	},
	    	subTotalMobilePlanPrice(){
	    		let total = 0;
				for (let item of this.$store.state.cart) {
	                total += Number(item.totalPrice);
	            }
	            this.subTotalMobilePlan = Number(total).toFixed(2)

	            return total.toFixed(2)
	    	},
	    	subTotalMobileBroadbandPrice(){
	    		let total = 0;
				for (let item of this.$store.state.mobileBroadbands) {
	                total += Number(item.totalPrice);
	            }
	            this.subTotalMobileBroadband = Number(total).toFixed(2)
	            return total.toFixed(2)
	    	},
	    	subTotalSimPlanPrice(){
	    		let totalSimPlan = 0;
	    		for (let item of this.$store.state.simPlan) {
	                totalSimPlan += Number(item.totalPrice);
	            }
	            this.subTotalMobileSim = (totalSimPlan).toFixed(2)
	            return totalSimPlan.toFixed(2)
	    	},
	    	proposalDisabled(){
	    		for (let item of this.$store.state.quadrantCart) {
	    			if(item.itemType == 'hro' && item.hro.length == 0){
	    				this.errorMessage = {message: 'HRO item not supplied.'}
	    				return this.errorMessage
	    			}
	    		}
	    	},
	    	aroAcknowledgementDisabled(){
	    		for (let item of this.$store.state.quadrantCart) {
	    			if(item.itemType == 'mobilePlan' && item.aroAccessories.length == 0){
	    				
	    				return 'error';

	    			}

	    			if(item.itemType == 'hro' && item.hro.length == 0){
	    				
	    				return 'error';

	    			}
	    			break;
	    		}
	    	},
	    	reviewSignCustomDescDisabled(){
	    		for (let item of this.$store.state.quadrantCart) {
	    			if(item.customDescription === '' && item.itemType != 'entertainment' && item.itemType != 'hro'){
	    				this.errorMessage = {message: 'Service Number not supplied.'}
	    				return this.errorMessage
	    			}
	    		}

	    		for (let item of this.$store.state.cart) {
	    			if(item.customDescription === ''){
	    				this.errorMessage = {message: 'Service Number not supplied.'}
	    				return this.errorMessage
	    			}
	    		}

	    		for (let item of this.$store.state.mobileBroadbands) {
	    			if(item.customDescription === ''){
	    				this.errorMessage = {message: 'Service Number not supplied.'}
	    				return this.errorMessage
	    			}
	    		}

	    		// for (let item of this.$store.state.hro) {
	    		// 	if(item.customDescription === ''){
	    		// 		this.errorMessage = {message: 'Service Number not supplied.'}
	    		// 		return this.errorMessage
	    		// 	}
	    		// }

	    		for (let item of this.$store.state.businessMobileBroadBand) {
	    			if(item.customDescription === ''){
	    				this.errorMessage = {message: 'Service Number not supplied.'}
	    				return this.errorMessage
	    			}
	    		}

	    		// for (let item of this.$store.state.hro) {
	    		// 	if(item.customDescription === ''){
	    		// 		this.errorMessage = {message: 'Service Number not supplied.'}
	    		// 		return this.errorMessage
	    		// 	}
	    		// }

	    		for (let item of this.$store.state.fixed) {
	    			if(item.customDescription === ''){
	    				this.errorMessage = {message: 'Service Number not supplied.'}
	    				return this.errorMessage
	    			}
	    		}

	    		for (let item of this.$store.state.entertainment) {
	    			if(item.customDescription === ''){
	    				this.errorMessage = {message: 'Service Number not supplied.'}
	    				return this.errorMessage
	    			}
	    		}

	    		for (let item of this.$store.state.businessMobilePlan) {
	    			if(item.customDescription === ''){
	    				this.errorMessage = {message: 'Service Number not supplied.'}
	    				return this.errorMessage
	    			}
	    		}

	    		// for (let item of this.$store.state.businessHRO) {
	    		// 	if(item.customDescription === ''){
	    		// 		this.errorMessage = {message: 'Service Number not supplied.'}
	    		// 		return this.errorMessage
	    		// 	}
	    		// }

	    		for (let item of this.$store.state.businessFixed) {
	    			if(item.customDescription === ''){
	    				this.errorMessage = {message: 'Service Number not supplied.'}
	    				return this.errorMessage
	    			}
	    		}

	    		for (let item of this.$store.state.existingServices) {
	    			if(item.customDescription === ''){
	    				this.errorMessage = {message: 'Service Number not supplied.'}
	    				return this.errorMessage
	    			}
	    		}

	    		for (let item of this.$store.state.otherServices) {
	    			if(item.customDescription === ''){
	    				this.errorMessage = {message: 'Service Number not supplied.'}
	    				return this.errorMessage
	    			}
	    		}

	    		for (let item of this.$store.state.promotions) {
	    			if(item.customDescription === ''){
	    				this.errorMessage = {message: 'Service Number not supplied.'}
	    				return this.errorMessage
	    			}
	    		}
	    	},
	    	reviewSignEnabled(){
	    		for (let item of this.$store.state.quadrantCart) {
	    			if(item.aroTotalMatched == false){
	    				this.errorMessage = {message: 'ARO mismatch error.'}
	    			 	return item.aroTotalMatched
	    			}
	    		}
	    	},
	        totalPrice() {
	            let total = 0;
	            let totalHro = 0;
	            let totalSimPlan = 0;
	            let totalMobileBroadband = 0
	            let totalFixed = 0
	            let totalEntertainment = 0
	            let businessMobilePlan = 0
	            let businessHRO = 0
	            let businessMobileBroadBand = 0
	            let businessFixed = 0
	            let totalBusinessFixed = 0
	            let quadrantMobilePrice = 0
				let quadrantHROPrice = 0
				let quadrantFixedPrice = 0
				let quadrantEntertainmentPlanPrice = 0
				let existingServicesPrice = 0
				let otherServicesPrice = 0
				let quadrantexistingServicesPrice = 0
				let quadrantOtherServicesPrice = 0
				let totalDiscountsPrice = 0
				let quadrantMiscellaneousPrice = 0
				let totalPlatinumPrice = 0

	            for (let item of this.$store.state.cart) {
	                total += Number(item.totalPrice);
	            }

	            for (let item of this.$store.state.hro) {
	                totalHro += Number(item.hroMonthlyPrice);
	            }

	            for (let item of this.$store.state.simPlan) {
	                totalSimPlan += Number(item.totalPrice);
	            }

	            for (let item of this.$store.state.mobileBroadbands) {
	                //totalMobileBroadband += Number(item.totalPrice);
	            }

	            for (let item of this.$store.state.fixed) {
	                totalFixed += Number(item.fixedPlanPrice);
	            }

	            for (let item of this.$store.state.businessFixed) {
	                totalBusinessFixed += Number(item.fixedPlanPrice);
	            }

	            for (let item of this.$store.state.entertainment) {
	                totalEntertainment += Number(item.entertainmentPlanPrice);
	            }

	            for (let item of this.$store.state.businessMobilePlan) {
	                businessMobilePlan += Number(item.totalPrice);
	            }

	            for (let item of this.$store.state.businessHRO) {
	                businessHRO += Number(item.hroMonthlyPrice);
	            }

	            for (let item of this.$store.state.businessMobileBroadBand) {
	                businessMobileBroadBand += Number(item.totalPrice);
	            }

	            for (let item of this.$store.state.existingServices) {
	                existingServicesPrice += Number(item.existingServicesPrice);
	            }

	            for (let item of this.$store.state.otherServices) {
	                otherServicesPrice += Number(item.otherServicesPrice);
	            }

	            for (let item of this.$store.state.quadrantCart) {
	            	if(item.totalPrice){
		                quadrantMobilePrice += Number(item.totalPrice);
		            }

		            if(item.hroMonthlyPrice){
		                quadrantHROPrice += Number(item.hroMonthlyPrice);
		            }

		            if(item.fixedPlanPrice){
		                quadrantFixedPrice += Number(item.fixedPlanPrice);
		            }

		            if(item.totalEntertainmentPrice){
		                quadrantEntertainmentPlanPrice += Number(item.totalEntertainmentPrice);
		            }

		            if(item.totalPlatinumPrice){
		            	if(item.selectedEntertainmentPlan.type != 'once-off'){
			                totalPlatinumPrice += Number(item.totalPlatinumPrice);
			            }
		            }

		            if(item.existingServicesPrice){
		                quadrantexistingServicesPrice += Number(item.existingServicesPrice);
		            }

		            if(item.otherServicesPrice){
		                quadrantOtherServicesPrice += Number(item.otherServicesPrice);
		            }

		            if(item.itemType == 'miscellaneous' &&  item.chargeDiscount){
		                //quadrantMiscellaneousPrice += Number(item.promotionsPrice);
			            //quadrantMiscellaneousPrice += Number(item.chargeDiscount)
			            for (let misc of item.selectedPromotions) {
			            	if(misc.is_credit == 0 && misc.type.name == 'Reoccuring Discount'){
			            		quadrantMiscellaneousPrice += Number(misc.discount_price)
			            	}
			            }
		            }
		            console.log(quadrantMiscellaneousPrice)
		            if(item.promotionsPrice){
		            	if(item.itemType != 'miscellaneous'){
				            totalDiscountsPrice += Number(item.promotionsPrice)
				        }
			        }
	            }
	            
	            this.subTotalQuadrant = Number(quadrantHROPrice + quadrantMobilePrice + quadrantFixedPrice + quadrantEntertainmentPlanPrice + quadrantexistingServicesPrice + quadrantOtherServicesPrice + quadrantMiscellaneousPrice).toFixed(2)
	            this.subTotalBusinessMobileBroadband = Number(businessMobileBroadBand).toFixed(2)
	            this.subTotalBusinessMobileHRO = Number(businessHRO).toFixed(2)
	            this.subTotalBusinessMobilePlan = Number(businessMobilePlan).toFixed(2)
	            this.subTotalBusinessFixed = Number(totalBusinessFixed).toFixed(2)
	            this.subTotalExistingServices = existingServicesPrice
	            this.subTotalOtherServices = otherServicesPrice

	            this.totalDiscountsPrice = totalDiscountsPrice
	            this.grandTotal = (total + totalMobileBroadband + totalHro + totalSimPlan + totalFixed + totalEntertainment + businessMobilePlan + businessHRO + businessMobileBroadBand + totalBusinessFixed + quadrantMobilePrice + quadrantHROPrice+ quadrantFixedPrice + quadrantEntertainmentPlanPrice + existingServicesPrice + quadrantexistingServicesPrice + quadrantOtherServicesPrice + quadrantMiscellaneousPrice + totalPlatinumPrice).toFixed(2)
	            return (total + totalMobileBroadband + totalHro + totalSimPlan + totalFixed + totalEntertainment + businessMobilePlan + businessHRO + businessMobileBroadBand + totalBusinessFixed + quadrantMobilePrice + quadrantHROPrice + quadrantFixedPrice + quadrantEntertainmentPlanPrice + existingServicesPrice + quadrantexistingServicesPrice + quadrantOtherServicesPrice + quadrantMiscellaneousPrice + totalPlatinumPrice).toFixed(2);
	        },

		    total: function(){

			  	let total = [];

			  	Object.entries(item.vas).forEach(([key, val]) => {
			      	total.push(val.amount) // the value of the current key.
			  	});

			  	return total.reduce(function(total, num){ return total + num }, 0);

			}
	    },
		methods:{
			checkOfficialUseOnlyFields(){

				this.$refs.childComponent.setValue();
				for (let item of this.$store.state.quadrantCart) {
	    			if(item.customDescription === ''){
	    				this.errorMessage = {message: 'Service Number not supplied.'}
	    				return this.errorMessage
	    			}
	    		}
			},
			onChange(event) {
	            if(event.name == 'Personal Mobile'){
	            	this.addItem()
	            }

	            if(event.name == 'Business Mobile'){
	            	this.addBusinessMobile()
	            }

	            if(event.name == 'Business Mobile Broadband'){
	            	this.addBusinessMobileBroadband()
	            }

	            if(event.name == 'Business HRO'){
	            	this.addBusinessHRO()
	            }

	            if(event.name == 'Business Fixed'){
	            	this.addBusinessFixed()
	            }

	            if(event.name == 'HRO'){
	            	this.addHro()
	            }

	            if(event.name == 'Fixed'){
	            	this.addFixed()
	            }

	            if(event.name == 'Entertainment'){
	            	this.addEntertainment()
	            }

	            if(event.name == 'Telstra Platinum'){
	            	this.addPlatinum()
	            }

	            if(event.name == 'Mobile Broadband'){
	            	this.addBroadband()
	            }

	            if(event.name == 'Existing Services'){
	            	this.addExistingServices()
	            }

	            if(event.name == 'Other Services'){
	            	this.addOtherServices()
	            }

	            if(event.name == 'Promotions'){
	            	this.addPromotions()
	            }

	            if(event.name == 'Outright'){
	            	this.addOutright()
	            }

	            if(event.name == 'BNPL'){
	            	this.addBNPL()
	            }

	            if(event.name == 'Miscellaneous'){
	            	this.addMiscellaneous()
	            }
	        },
		    addPromotions(){
		    	var crypto = require("crypto");
		    	var my_object = {
					'promotionsPlanPrice': 0,
					'promotionsDescription': "",
					'customDescription' : '',
					'id': crypto.randomBytes(20).toString('hex'),
					'quantity': 1
				}

				this.$store.state.promotions.push(my_object)
		    	this.$store.state.cartCount++
		    },
		    addMiscellaneous(){
		    	var crypto = require("crypto");
		    	var my_object = {
					'customDescription' : '',
					'id': crypto.randomBytes(20).toString('hex'),
					'quantity': 1,
					'itemType' : 'miscellaneous',
					'totalPriceMiscellaneous' : 0,
        			'selectedPromotions' : [],
        			'promotionsPrice' : 0,
        			'chargeDiscount' : 0,
					'mobileOption' : {'id': 0, 'name': 'Siebel'}
				}

				//if(this.$store.state.quadrantCartCount < 4){
				    this.$store.state.quadrantCartCount++
				    this.$store.state.cartCount++
				    this.$store.state.quadrantCart.push(my_object)

				    window.localStorage.setItem('quadrantCartCount', this.$store.state.quadrantCartCount);
	        		window.localStorage.setItem('quadrantCart', JSON.stringify(this.$store.state.quadrantCart));
	        		window.localStorage.setItem('cartCount', (this.$store.state.cartCount));
			    // }else{
			    // 	this.$store.state.existingServices.push(my_object)
		    	// 	this.$store.state.cartCount++
			    // }
		    },
		    addOutright(){
		    	var crypto = require("crypto");
		    	var my_object = {
					'price': 0,
					'broadbandPrice': 0,
					'hardwarePrice': 0,
					'outrightDiscountedPrice' : 0,
					'aroPrice': 0,
					'customDescription' : 'outright',
					'id': crypto.randomBytes(20).toString('hex'),
					'quantity': 1,
					'itemType' : 'outright',
					'devices': [],
					'broadBandDevices' : [],
					'hardwareDevices' : [],
					'aroDevices' : [],
					'totalPriceOutright' : 0,
					'addPromotion': {'id':0,'name':'no'},
        			'promotionSets' : [],
        			'selectedPromotion': {'id' : 0, 'name' : ''},
        			'selectedPromotions' : [],
        			'promotionsPrice' : 0,
        			'chargeDiscount' : 0,
					'mobileOption' : {'id': 0, 'name': 'Siebel'}
				}

				//if(this.$store.state.quadrantCartCount < 4){
				    this.$store.state.quadrantCartCount++
				    this.$store.state.cartCount++
				    this.$store.state.quadrantCart.push(my_object)

				    window.localStorage.setItem('quadrantCartCount', this.$store.state.quadrantCartCount);
	        		window.localStorage.setItem('quadrantCart', JSON.stringify(this.$store.state.quadrantCart));
	        		window.localStorage.setItem('cartCount', (this.$store.state.cartCount));
			    // }else{
			    // 	this.$store.state.existingServices.push(my_object)
		    	// 	this.$store.state.cartCount++
			    // }
		    },
		    addBNPL(){
		    	var crypto = require("crypto");
		    	var my_object = {
					'price': 0,
					'broadbandPrice': 0,
					'hardwarePrice': 0,
					'outrightDiscountedPrice' : 0,
					'aroPrice': 0,
					'customDescription' : 'outright',
					'id': crypto.randomBytes(20).toString('hex'),
					'quantity': 1,
					'itemType' : 'bnpl',
					'devices': [],
					'broadBandDevices' : [],
					'hardwareDevices' : [],
					'aroDevices' : [],
					'totalPriceOutright' : 0,
					'addPromotion': {'id':0,'name':'no'},
        			'promotionSets' : [],
        			'selectedPromotion': {'id' : 0, 'name' : ''},
        			'selectedPromotions' : [],
        			'promotionsPrice' : 0,
        			'chargeDiscount' : 0,
					'mobileOption' : {'id': 0, 'name': 'Siebel'},
					'amount': 0,
					'term' : {'id':2,'name':'Monthly'},
					'company' : {'id':0,'name':'Afterpay'}
				}

				//if(this.$store.state.quadrantCartCount < 4){
				    this.$store.state.quadrantCartCount++
				    this.$store.state.cartCount++
				    this.$store.state.quadrantCart.push(my_object)

				    window.localStorage.setItem('quadrantCartCount', this.$store.state.quadrantCartCount);
	        		window.localStorage.setItem('quadrantCart', JSON.stringify(this.$store.state.quadrantCart));
	        		window.localStorage.setItem('cartCount', (this.$store.state.cartCount));
			    // }else{
			    // 	this.$store.state.existingServices.push(my_object)
		    	// 	this.$store.state.cartCount++
			    // }
		    },
		    addExistingServices(){
		    	var crypto = require("crypto");
		    	var my_object = {
					'existingServicesPlanPrice': 0,
					'existingServicesDescription': "",
					'customDescription' : '',
					'id': crypto.randomBytes(20).toString('hex'),
					'quantity': 1,
					'itemType' : 'existingServices',
					'mobileOption' : {'id': 0, 'name': 'Siebel'}
				}

			    this.$store.state.quadrantCartCount++
			    this.$store.state.cartCount++
			    this.$store.state.quadrantCart.push(my_object)

			    window.localStorage.setItem('quadrantCartCount', this.$store.state.quadrantCartCount);
        		window.localStorage.setItem('quadrantCart', JSON.stringify(this.$store.state.quadrantCart));
        		window.localStorage.setItem('cartCount', (this.$store.state.cartCount));
		    },
		    addOtherServices(){
		    	var crypto = require("crypto");
		    	var my_object = {
					'otherServicesPlanPrice': 0,
					'otherServicesDescription': "",
					'customDescription' : '',
					'id': crypto.randomBytes(20).toString('hex'),
					'quantity': 1,
					'itemType' : 'otherServices',
					'mobileOption' : {'id': 0, 'name': 'Siebel'}
				}

			    this.$store.state.quadrantCartCount++
			    this.$store.state.cartCount++
			    this.$store.state.quadrantCart.push(my_object)

			    window.localStorage.setItem('quadrantCartCount', this.$store.state.quadrantCartCount);
        		window.localStorage.setItem('quadrantCart', JSON.stringify(this.$store.state.quadrantCart));
        		window.localStorage.setItem('cartCount', (this.$store.state.cartCount));
		    },
		    addHro(){
		    	var crypto = require("crypto");
		    	var self = this
		    	var my_object = {
		    		'hro' : [],
		    		'hroMonthlyPrice': 0.00,
		    		'hroNetTotal' : 0.00,
		    		'hroMonthly': 12,
		    		'quantity' : 1,
		    		'customDescription': '',
		    		'id' : crypto.randomBytes(20).toString('hex'),
		    		'itemType' : 'hro',
		    		'isQuadrant' : (this.$store.state.quadrantItemCount < 5) ? 'isQuadrant' : 'notQuadrant',
		    		'addPromotion': {'id':0,'name':'no'},
        			'promotionSets' : [],
        			'selectedPromotion': {'id' : 0, 'name' : ''},
        			'promotionsPrice' : 0.00,
        			'isBusiness' : 0,
        			'mobileOption' : {'id': 1, 'name': 'Console'}
		    	}

		   //  	if(this.$store.state.quadrantCart.some(data => data.itemType == 'hro')){
		   //  		this.$toastr.s("Adding one more consumer HRO please wait.");

					// setTimeout(() => {

					//     self.$store.state.quadrantCartCount++
					//     self.$store.state.cartCount++
					//     self.$store.state.quadrantCart.push(my_object)

			  //   		window.localStorage.setItem('quadrantCartCount', self.$store.state.quadrantCartCount);
		   //      		window.localStorage.setItem('quadrantCart', JSON.stringify(self.$store.state.quadrantCart));
		   //      		window.localStorage.setItem('cartCount', (self.$store.state.cartCount));
					// 	window.location.reload()
					// }, 3000)
		   //  	}else{
		   //  		self.$store.state.quadrantCartCount++
				 //    self.$store.state.cartCount++
				 //    self.$store.state.quadrantCart.push(my_object)

		   //  		window.localStorage.setItem('quadrantCartCount', self.$store.state.quadrantCartCount);
	    //     		window.localStorage.setItem('quadrantCart', JSON.stringify(self.$store.state.quadrantCart));
	    //     		window.localStorage.setItem('cartCount', (self.$store.state.cartCount));
		   //  	}

		   		self.$store.state.quadrantCartCount++
			    self.$store.state.cartCount++
			    self.$store.state.quadrantCart.push(my_object)

	    		window.localStorage.setItem('quadrantCartCount', self.$store.state.quadrantCartCount);
        		window.localStorage.setItem('quadrantCart', JSON.stringify(self.$store.state.quadrantCart));
        		window.localStorage.setItem('cartCount', (self.$store.state.cartCount));

        		$('#hroNotice').modal('show')

		    	//if(this.$store.state.quadrantCartCount < 4){
			    // }else{

				   //  this.$store.state.hro.push(my_object)
		    	// 	this.$store.state.cartCount++

		    	// 	window.localStorage.setItem('cartCount', this.$store.state.cartCount);
	      //   		window.localStorage.setItem('hro', JSON.stringify(this.$store.state.hro));
			    // }
		    },
		    refreshPage(){
		    	window.location.reload()
		    },
		    addBusinessHRO(){
		    	var crypto = require("crypto");
		    	var self = this
		    	var my_object = {
		    		'hro' : [],
		    		'hroMonthlyPrice': 0,
		    		'hroNetTotal' : 0,
		    		'hroMonthly': 12,
		    		'quantity' : 1,
		    		'customDescription': '',
		    		'id' : crypto.randomBytes(20).toString('hex'),
		    		'itemType' : 'hro',
		    		'isQuadrant' : (this.$store.state.quadrantItemCount < 5) ? 'isQuadrant' : 'notQuadrant',
		    		'addPromotion': {'id':0,'name':'no'},
        			'promotionSets' : [],
        			'selectedPromotion': {'id' : 0, 'name' : ''},
        			'promotionsPrice' : 0,
        			'isBusiness' : 1,
					'mobileOption' : {'id': 0, 'name': 'Siebel'}
		    	}

		    	self.$store.state.quadrantCartCount++
			    self.$store.state.cartCount++
			    self.$store.state.quadrantCart.push(my_object)

	    		window.localStorage.setItem('quadrantCartCount', self.$store.state.quadrantCartCount);
        		window.localStorage.setItem('quadrantCart', JSON.stringify(self.$store.state.quadrantCart));
        		window.localStorage.setItem('cartCount', (self.$store.state.cartCount));
		    	$('#hroNotice').modal('show')
		    },
		    addFixed(){
		    	var crypto = require("crypto");
		    	var my_object = {
		    		'fixed' : {id: 2, name: "Premium", amount: 110, capacity: "unlimited"},
		    		'fixedPlanPrice': 110.00,
		    		'fixedPrice' : 110.00,
		    		'fixedPlanType': 'premium',
		    		'itemType' : 'fixed',
		    		'id' : crypto.randomBytes(20).toString('hex'),
		    		'quantity' : 1,
		    		'addPromotion': {'id':0,'name':'no'},
        			'promotionSets' : [],
        			'selectedPromotions' : [],
        			'selectedPromotion': "",
        			'promotionsPrice' : 0,
        			'customDescription' : '',
        			'planDescription' : 'Includes Home Phone service with Unlimited local, national, and Australian mobile calls (excludes certain Premium numbers). 500 free calls monthly to 13 numbers. nbn 100 Premium Evening Speed.  Telstra smart modem for members who stay connected for 24 months. nbn 100 Premium Evening Speed.Min cost $2400',
        			'isBusiness': 0,
	        		'vas' : [],
	        		'vasTotalAmount' : Number(0).toFixed(2),
	        		'vasIdArray' : [],
					'mobileOption' : {'id': 0, 'name': 'Siebel'}
		    	}

		    	//if(this.$store.state.quadrantCartCount < 4){
				    this.$store.state.quadrantCartCount++
				    this.$store.state.cartCount++
				    this.$store.state.quadrantCart.push(my_object)

				    window.localStorage.setItem('quadrantCartCount', this.$store.state.quadrantCartCount);
	        		window.localStorage.setItem('quadrantCart', JSON.stringify(this.$store.state.quadrantCart));
	        		window.localStorage.setItem('cartCount', (this.$store.state.cartCount));
			    // }else{
				   //  this.$store.state.fixed.push(my_object)
		    	// 	this.$store.state.cartCount++

		    	// 	window.localStorage.setItem('cartCount', this.$store.state.cartCount);
	      //   		window.localStorage.setItem('fixed', JSON.stringify(this.$store.state.fixed));
			    // }

		    	// this.$store.state.fixed.push(my_object)
		    	// this.$store.state.cartCount++
		    },
		    addBusinessFixed(){
		    	var crypto = require("crypto");
		    	var my_object = {
		    		'fixed' : {id: 5, name: "ADSL Unlimited Data", amount: 100, capacity: "unlimited"},
		    		'fixedPlanPrice': 100.00,
		    		'fixedPrice' : 100.00,
		    		'fixedPlanType': 'adsl',
		    		'itemType' : 'fixed',
		    		'id' : crypto.randomBytes(20).toString('hex'),
		    		'quantity' : 1,
		    		'addPromotion': {'id':0,'name':'no'},
        			'promotionSets' : [],
        			'selectedPromotions' : [],
        			'selectedPromotion': "",
        			'promotionsPrice' : 0,
        			'customDescription' : '',
        			'planDescription' : 'ADSL Unlimited data plan includes Unlimited Monthly Data Allowance, Unlimited Local Calls, and Unlimited National Calls. Calls to standard Australian mobiles - 36c per mintue plus 55c call connection fee. Static IP address and Telstra Business Smart Modem with 4G mobile network backup. 13 Calls - Allowance to make 500 calls per month included. Min cost $2,499',
        			'isBusiness': 1,
	        		'vas' : [],
	        		'vasTotalAmount' : Number(0).toFixed(2),
	        		'vasIdArray' : [],
					'mobileOption' : {'id': 0, 'name': 'Siebel'}
		    	}

		    	//if(this.$store.state.quadrantCartCount < 4){
				    this.$store.state.quadrantCartCount++
				    this.$store.state.cartCount++
				    this.$store.state.quadrantCart.push(my_object)

				    window.localStorage.setItem('quadrantCartCount', this.$store.state.quadrantCartCount);
	        		window.localStorage.setItem('quadrantCart', JSON.stringify(this.$store.state.quadrantCart));
	        		window.localStorage.setItem('cartCount', (this.$store.state.cartCount));
			    // }else{
				   //  this.$store.state.fixed.push(my_object)
		    	// 	this.$store.state.cartCount++

		    	// 	window.localStorage.setItem('cartCount', this.$store.state.cartCount);
	      //   		window.localStorage.setItem('fixed', JSON.stringify(this.$store.state.fixed));
			    // }

		    	// this.$store.state.fixed.push(my_object)
		    	// this.$store.state.cartCount++
		    },
		    addEntertainment(){
		    	var crypto = require("crypto");
		    	var my_object = {
					// 'entertainmentPlanPrice': 49.00,
					// 'entertainmentPlanType': "Foxtel Plus",
					// 'customDescription' : '',
					// 'id': crypto.randomBytes(20).toString('hex'),
					// 'quantity': 1,
					// 'itemType': 'entertainment',
					// 'selectedEntertainmentPlan': {id: 0, name: "Foxtel Plus", price: 49},
		   //  		'addPromotion': {'id':0,'name':'no'},
     //    			'promotionSets' : [],
     //    			'selectedPromotion': {'id' : 0, 'name' : ''},
     //    			'selectedPromotions' : [],
     //    			'promotionsPrice' : 0,
     //    			'chargeDiscount' : 0,
     //    			'totalEntertainmentPrice' : 49.00,
     //    			'planDescription' : 'Includes over 50 channels of entertainment. FX and Foxtel Original content. Foxtel GO included. Add and remove packs once per billing period. Additional installation and setup fees not included. Minimum 1 month subscription. Minimum cost $314.',
	    //     		'vas' : [],
	    //     		'vasTotalAmount' : Number(0).toFixed(2),
	    //     		'vasIdArray' : [],
		    		'addPromotion': {'id':0,'name':'no'},
        			'chargeDiscount' : 0,
					'customDescription' : '',
					'entertainment' : [],
	        		'vas' : [],
	        		'vasTotalAmount' : Number(0).toFixed(2),
	        		'vasIdArray' : [],
					'id': crypto.randomBytes(20).toString('hex'),
					'quantity': 1,
					'itemType': 'entertainment',
        			'promotionSets' : [],
        			'selectedPromotions' : [],
        			'promotionsPrice' : 0,
        			'selectedPromotion': {'id' : 0, 'name' : ''},
        			'totalEntertainmentPrice' : 0.00,
					'mobileOption' : {'id': 0, 'name': 'Siebel'}

	    // 			'entertainmentPlanPrice': 49.00,
					// 'entertainmentPlanType': "Foxtel Plus",
					// 'selectedEntertainmentPlan': {id: 0, name: "Foxtel Plus", price: 49},
     //    			'totalEntertainmentPrice' : 49.00,
     //    			'planDescription' : 'Includes over 50 channels of entertainment. FX and Foxtel Original content. Foxtel GO included. Add and remove packs once per billing period. Additional installation and setup fees not included. Minimum 1 month subscription. Minimum cost $314.',
				}

				    this.$store.state.quadrantCartCount++
				    this.$store.state.cartCount++
				    this.$store.state.quadrantCart.push(my_object)

				    window.localStorage.setItem('quadrantCartCount', this.$store.state.quadrantCartCount);
	        		window.localStorage.setItem('quadrantCart', JSON.stringify(this.$store.state.quadrantCart));
	        		window.localStorage.setItem('cartCount', (this.$store.state.cartCount));
		    },
		    addPlatinum(){
		    	var crypto = require("crypto");
		    	var my_object = {
		    		'addPromotion': {'id':0,'name':'no'},
	        		'platinumPlanPrice' : 30.00,
		    		'platinumPlanType': 'Basic',
		    		'platinumPlanDescription': 'Including setting up email, software and tablets, connecting your printer and social media tutorials.',
		    		'promotionSets' : [],
		    		'selectedEntertainmentPlan' : {'id' : 0, 'name' : 'Basic', 'price' : 30, 'planDescription' : 'Including setting up email, software and tablets, connecting your printer and social media tutorials.','type': 'once-off'},
		    		'id': crypto.randomBytes(20).toString('hex'),
		    		'itemType' : 'platinum',
		    		'quantity' : 1,
		    		'customDescription' : '',
		    		'planDescription' : 'Including setting up email, software and tablets, connecting your printer and social media tutorials.',
		    		'chargeDiscount' : 0,
		    		'promotionsPrice' : 0,
		    		'totalPlatinumPrice' : 30.00,
	        		'selectedPromotions' : [],
					'mobileOption' : {'id': 0, 'name': 'Siebel'}
		    	}

		    	this.$store.state.quadrantCartCount++
			    this.$store.state.cartCount++
			    this.$store.state.quadrantCart.push(my_object)

			    window.localStorage.setItem('quadrantCartCount', this.$store.state.quadrantCartCount);
        		window.localStorage.setItem('quadrantCart', JSON.stringify(this.$store.state.quadrantCart));
        		window.localStorage.setItem('cartCount', (this.$store.state.cartCount));
		    },
		    addItem(){
		    	var crypto = require("crypto");

		    	var my_object = {
		    		//'aroAccessories': [{'aroID':crypto.randomBytes(20).toString('hex'),'BarCode': "",'ProductType': "",'ProductUnitRRPCost' : 0,'aroPrice': 0,'isAROBaseEqual': false}],
		    		'aroAccessories' : [],
		    		'aroAccessoriesTotalPrice' : 0,
		    		'aroTotalMatched' : true,
		    		'addPromotion': {'id':0,'name':'no'},
					'customDescription' : '',
			        'make' :  '',
	        		'model' : '',
	        		'capacity' : '',
	        		'customDescription' : '',
	        		'totalPrice' : (Number(this.mobilePageContent.smallPricing)).toFixed(2),
	        		'paymentFrequency' : 12,
	        		'frequency' : 12,
	        		'planValue' : Number(this.mobilePageContent.smallPricing).toFixed(2),
	        		'planType' : 'Small',
	        		'mobilePlanMonths' : {'id': 0, 'name' : 'Select Term', 'value': 12},
	        		'planOption' : { 'id': 2, 'name' : 'Small', 'planType': 'Small'},
	        		'quantity' : 1,
	        		'aroAmount' : 0,
	        		'aroBase' : 0,
	        		'aroMonths' : 12,
	        		'vas' : [],
	        		'vasTotalAmount' : Number(0).toFixed(2),
	        		'vasIdArray' : [],
	        		'price' : Number(0).toFixed(2),
	        		'mths24Contract' : 0,
	        		'mths36Contract' : 0,
	        		'months' : 12,
	        		'id' : crypto.randomBytes(20).toString('hex'),
	        		'deviceCategory' : '',
	        		'otherDevices' : this.allDevices,
	        		'deviceItem' : [],
	        		'isCustom': 1,
	        		'itemType' : 'mobilePlan',
	        		'selectedARO': {'id':0,'name':'$0.00','value':0.00},
	        		'selectedAROMonth' : {'id': 1, 'name' : '24 months', 'value': 24},
        			'promotionsDescription' : '',
        			'discounts' : '',
        			'deviceDiscounts' : 0,
        			'promotionsPrice' : 0,
        			'isQuadrant' : (this.$store.state.cartCount < 4) ? 'isQuadrant' : 'notQuadrant',
        			'promotionSets' : [],
        			'selectedPromotion': {'id' : 0, 'name' : ''},
        			'smallDiscount' : 0,
					'mediumDiscount' : 0,
					'largeDiscount' : 0,
					'xlDiscount' : 0,
					'xsDiscount' : 0,
					'promotionDiscounts' : [],
					'selectedPromotions' : [],
					'isBusiness': 0,
					'mobileOption' : {'id': 1, 'name': 'Console'}
		      	};
			    
			    
			    // if(this.$store.state.quadrantCartCount < 4){
				    this.$store.state.quadrantCartCount++
				    this.$store.state.cartCount++
				    this.$store.state.quadrantCart.push(my_object)

		    		window.localStorage.setItem('quadrantCartCount', this.$store.state.quadrantCartCount);
	        		window.localStorage.setItem('quadrantCart', JSON.stringify(this.$store.state.quadrantCart));
	        		window.localStorage.setItem('cartCount', (this.$store.state.cartCount));
			    // }else{

				   //  this.$store.state.cartCount++
				   //  this.$store.state.cart.push(my_object)

				   //  window.localStorage.setItem('cartCount', this.$store.state.cartCount);
	      //   		window.localStorage.setItem('cart', JSON.stringify(this.$store.state.cart));
			    // }
		    	//console.log(this.$store.state.cart);
		    },
		    addBusinessMobile(){
		    	var crypto = require("crypto");

		    	var my_object = {
		    		//'aroAccessories': [{'aroID':crypto.randomBytes(20).toString('hex'),'BarCode': "",'ProductType': "",'ProductUnitRRPCost' : 0,'aroPrice': 0,'isAROBaseEqual': false}],
		    		'aroAccessories' : [],
		    		'aroAccessoriesTotalPrice' : 0,
		    		'aroTotalMatched' : true,
		    		'addPromotion': {'id':0,'name':'no'},
					'customDescription' : '',
			        'make' :  '',
	        		'model' : '',
	        		'capacity' : '',
	        		'customDescription' : '',
	        		'totalPrice' : (Number(this.mobilePageContent.smallPricing)).toFixed(2),
	        		'paymentFrequency' : 12,
	        		'frequency' : 12,
	        		'planValue' : Number(this.mobilePageContent.smallPricing).toFixed(2),
	        		'planType' : 'Small',
	        		'mobilePlanMonths' : {'id': 0, 'name' : 'Select Term', 'value': 12},
	        		'planOption' : { 'id': 2, 'name' : 'Small', 'planType': 'Small'},
	        		'quantity' : 1,
	        		'aroAmount' : 0,
	        		'aroBase' : 0,
	        		'aroMonths' : 12,
	        		'vas' : [],
	        		'vasTotalAmount' : Number(0).toFixed(2),
	        		'vasIdArray' : [],
	        		'price' : Number(0).toFixed(2),
	        		'mths24Contract' : 0,
	        		'mths36Contract' : 0,
	        		'months' : 12,
	        		'id' : crypto.randomBytes(20).toString('hex'),
	        		'deviceCategory' : '',
	        		'otherDevices' : this.allDevices,
	        		'deviceItem' : [],
	        		'isCustom': 1,
	        		'itemType' : 'mobilePlan',
	        		'selectedARO': {'id':0,'name':'$0.00','value':0.00},
	        		'selectedAROMonth' : {'id': 1, 'name' : '24 months', 'value': 24},
        			'promotionsDescription' : '',
        			'discounts' : '',
        			'deviceDiscounts' : 0,
        			'promotionsPrice' : 0,
        			'isQuadrant' : (this.$store.state.cartCount < 4) ? 'isQuadrant' : 'notQuadrant',
        			'promotionSets' : [],
        			'selectedPromotion': {'id' : 0, 'name' : ''},
        			'smallDiscount' : 0,
					'mediumDiscount' : 0,
					'largeDiscount' : 0,
					'xlDiscount' : 0,
					'xsDiscount' : 0,
					'promotionDiscounts' : [],
					'selectedPromotions' : [],
					'isBusiness': 1,
					'mobileOption' : {'id': 0, 'name': 'Siebel'}
		      	};
			    
			    
			    // if(this.$store.state.quadrantCartCount < 4){
				    this.$store.state.quadrantCartCount++
				    this.$store.state.cartCount++
				    this.$store.state.quadrantCart.push(my_object)

		    		window.localStorage.setItem('quadrantCartCount', this.$store.state.quadrantCartCount);
	        		window.localStorage.setItem('quadrantCart', JSON.stringify(this.$store.state.quadrantCart));
	        		window.localStorage.setItem('cartCount', (this.$store.state.cartCount));
			    // }else{

				   //  this.$store.state.cartCount++
				   //  this.$store.state.cart.push(my_object)

				   //  window.localStorage.setItem('cartCount', this.$store.state.cartCount);
	      //   		window.localStorage.setItem('cart', JSON.stringify(this.$store.state.cart));
			    // }
		    	//console.log(this.$store.state.cart);
		    },
		    addBroadband(){
		    	var crypto = require("crypto");

		    	var my_object = {
		    		'aroAccessories': [{'aroID':crypto.randomBytes(20).toString('hex'),'BarCode': "",'ProductType': "",'ProductUnitRRPCost' : 0,'aroPrice': 0,'isAROBaseEqual': false}],
		    		'aroAccessoriesTotalPrice' : 0,
		    		'aroTotalMatched' : true,
		    		'addPromotion': {'id':0,'name':'no'},
					'customDescription' : '',
			        'make' :  '',
	        		'model' : '',
	        		'capacity' : '',
	        		'customDescription' : '',
	        		'totalPrice' : (Number(25)).toFixed(2),
	        		'paymentFrequency' : 12,
	        		'frequency' : 12,
	        		'planValue' : Number(25).toFixed(2),
	        		'planType' : 'Small',
	        		'mobilePlanMonths' : {'id': 0, 'name' : 'Select Term', 'value': 12},
	        		'planOption' : { 'id': 2, 'name' : 'Small', 'planType': 'Small'},
	        		'quantity' : 1,
	        		'aroAmount' : 0,
	        		'aroBase' : 0,
	        		'aroMonths' : 12,
	        		'vas' : [],
	        		'vasTotalAmount' : Number(0).toFixed(2),
	        		'vasIdArray' : [],
	        		'price' : Number(0).toFixed(2),
	        		'mths24Contract' : 0,
	        		'mths36Contract' : 0,
	        		'months' : 12,
	        		'id' : crypto.randomBytes(20).toString('hex'),
	        		'deviceCategory' : '',
	        		'otherDevices' : this.allBroadbandDevices,
	        		'deviceItem' : [],
	        		'isCustom': 1,
	        		'itemType' : 'broadBandPlan',
	        		'selectedARO': {'id':0,'name':'$0.00','value':0.00},
	        		'selectedAROMonth' : {'id': 1, 'name' : '24 months', 'value': 24},
        			'promotionsDescription' : '',
        			'discounts' : '',
        			'deviceDiscounts' : 0,
        			'promotionsPrice' : 0,
        			'isQuadrant' : (this.$store.state.cartCount < 4) ? 'isQuadrant' : 'notQuadrant',
        			'promotionSets' : [],
        			'selectedPromotion': {'id' : 0, 'name' : ''},
        			'smallDiscount' : 0,
					'mediumDiscount' : 0,
					'largeDiscount' : 0,
					'xlDiscount' : 0,
					'xsDiscount' : 0,
					'selectedPromotions' : [],
					'promotionDiscounts' : [],
					'isBusiness' : 0,					
					'mobileOption' : {'id': 1, 'name': 'Console'}
		      	};
			    // this.$store.state.mobileBroadbands.push(my_object)
			    // this.$store.state.cartCount++

			    //if(this.$store.state.quadrantCartCount < 4){
				    this.$store.state.quadrantCartCount++
				    this.$store.state.cartCount++
				    this.$store.state.quadrantCart.push(my_object)

				    window.localStorage.setItem('quadrantCartCount', this.$store.state.quadrantCartCount);
	        		window.localStorage.setItem('quadrantCart', JSON.stringify(this.$store.state.quadrantCart));
	        		window.localStorage.setItem('cartCount', JSON.stringify(this.$store.state.cartCount));
			    // }else{

				   //  this.$store.state.mobileBroadbands.push(my_object)
		    	// 	this.$store.state.cartCount++

		    	// 	window.localStorage.setItem('cartCount', this.$store.state.cartCount);
	      //   		window.localStorage.setItem('mobileBroadbands', JSON.stringify(this.$store.state.mobileBroadbands));
			    // }
		    },
		    addBusinessMobileBroadband(){
		    	var crypto = require("crypto");

		    	var my_object = {
		    		'aroAccessories': [{'aroID':crypto.randomBytes(20).toString('hex'),'BarCode': "",'ProductType': "",'ProductUnitRRPCost' : 0,'aroPrice': 0,'isAROBaseEqual': false}],
		    		'aroAccessoriesTotalPrice' : 0,
		    		'aroTotalMatched' : true,
		    		'addPromotion': {'id':0,'name':'no'},
					'customDescription' : '',
			        'make' :  '',
	        		'model' : '',
	        		'capacity' : '',
	        		'customDescription' : '',
	        		'totalPrice' : (Number(25)).toFixed(2),
	        		'paymentFrequency' : 12,
	        		'frequency' : 12,
	        		'planValue' : Number(25).toFixed(2),
	        		'planType' : 'Small',
	        		'mobilePlanMonths' : {'id': 0, 'name' : 'Select Term', 'value': 12},
	        		'planOption' : { 'id': 2, 'name' : 'Small', 'planType': 'Small'},
	        		'quantity' : 1,
	        		'aroAmount' : 0,
	        		'aroBase' : 0,
	        		'aroMonths' : 12,
	        		'vas' : [],
	        		'vasTotalAmount' : Number(0).toFixed(2),
	        		'vasIdArray' : [],
	        		'price' : Number(0).toFixed(2),
	        		'mths24Contract' : 0,
	        		'mths36Contract' : 0,
	        		'months' : 12,
	        		'id' : crypto.randomBytes(20).toString('hex'),
	        		'deviceCategory' : '',
	        		'otherDevices' : this.allBroadbandDevices,
	        		'deviceItem' : [],
	        		'isCustom': 1,
	        		'itemType' : 'broadBandPlan',
	        		'selectedARO': {'id':0,'name':'$0.00','value':0.00},
	        		'selectedAROMonth' : {'id': 1, 'name' : '24 months', 'value': 24},
        			'promotionsDescription' : '',
        			'discounts' : '',
        			'deviceDiscounts' : 0,
        			'promotionsPrice' : 0,
        			'isQuadrant' : (this.$store.state.cartCount < 4) ? 'isQuadrant' : 'notQuadrant',
        			'promotionSets' : [],
        			'selectedPromotion': {'id' : 0, 'name' : ''},
        			'smallDiscount' : 0,
					'mediumDiscount' : 0,
					'largeDiscount' : 0,
					'xlDiscount' : 0,
					'xsDiscount': 0,
					'selectedPromotions' : [],
					'promotionDiscounts' : [],
					'isBusiness' : 1,
					'mobileOption' : {'id': 0, 'name': 'Siebel'}
		      	};
			    // this.$store.state.mobileBroadbands.push(my_object)
			    // this.$store.state.cartCount++

			    //if(this.$store.state.quadrantCartCount < 4){
				    this.$store.state.quadrantCartCount++
				    this.$store.state.cartCount++
				    this.$store.state.quadrantCart.push(my_object)

				    window.localStorage.setItem('quadrantCartCount', this.$store.state.quadrantCartCount);
	        		window.localStorage.setItem('quadrantCart', JSON.stringify(this.$store.state.quadrantCart));
	        		window.localStorage.setItem('cartCount', JSON.stringify(this.$store.state.cartCount));
			    // }else{

				   //  this.$store.state.mobileBroadbands.push(my_object)
		    	// 	this.$store.state.cartCount++

		    	// 	window.localStorage.setItem('cartCount', this.$store.state.cartCount);
	      //   		window.localStorage.setItem('mobileBroadbands', JSON.stringify(this.$store.state.mobileBroadbands));
			    // }
		    },
			showReviewSign(){
				$('#reviewSign').modal('show')
			},
			showEmptyCartModal(){
				$('#clearCartModal').modal('show')
			},
			sendCartTemplateModal(subTotalMobileBroadbandPrice, subTotalMobilePlanPrice, subTotalHroPrice, subTotalMobileSim, subTotalFixedTotal, subTotalEntertainmentTotal){
				$('#sendCartModal').modal('show')
			},
			sendCartTemplate(subTotalMobileBroadbandPrice, subTotalMobilePlanPrice, subTotalHroPrice, subTotalMobileSim, subTotalFixedTotal, subTotalEntertainmentTotal, duration){

				var crypto = require("crypto");
				var id = crypto.randomBytes(20).toString('hex');
				this.checkoutItems.grandTotal = this.grandTotal
				this.checkoutItems.totalDiscountsPrice = this.totalDiscountsPrice
				this.checkoutItems.subTotalHro = subTotalHroPrice
				this.checkoutItems.subTotalMobilePlan = subTotalMobilePlanPrice
				this.checkoutItems.subTotalMobileBroadband = subTotalMobileBroadbandPrice
				this.checkoutItems.subTotalMobileSim = subTotalMobileSim
				this.checkoutItems.subTotalFixedTotal = subTotalFixedTotal
				this.checkoutItems.subTotalEntertainmentTotal = subTotalEntertainmentTotal
				this.checkoutItems.cart = this.$store.state.cart
				this.checkoutItems.hro = this.$store.state.hro
				this.checkoutItems.fixed = this.$store.state.fixed
				this.checkoutItems.entertainment = this.$store.state.entertainment
				this.checkoutItems.simPlan = this.$store.state.simPlan
				this.checkoutItems.mobileBroadbands = this.$store.state.mobileBroadbands
				this.checkoutItems.productRedemption = this.$store.state.productRedemption
				this.checkoutItems.randString = id
				this.checkoutItems.timestamp = moment().unix();
				this.checkoutItems.subTotalBusinessMobileBroadband = this.subTotalBusinessMobileBroadband
				this.checkoutItems.subTotalBusinessFixed = this.subTotalBusinessFixed
				this.checkoutItems.subTotalBusinessMobileHRO = this.subTotalBusinessMobileHRO
				this.checkoutItems.subTotalBusinessMobilePlan = this.subTotalBusinessMobilePlan
				this.checkoutItems.existingServices = this.$store.state.existingServices
				this.checkoutItems.otherServices = this.$store.state.otherServices
				this.checkoutItems.promotions = this.$store.state.promotions
				this.checkoutItems.quadrantCart = this.$store.state.quadrantCart
				this.checkoutItems.subTotalQuadrant = this.subTotalQuadrant

				this.checkoutItems.businessMobilePlan = this.$store.state.businessMobilePlan
				this.checkoutItems.businessMobileBroadBand = this.$store.state.businessMobileBroadBand
				this.checkoutItems.businessHRO = this.$store.state.businessHRO
				this.checkoutItems.businessFixed = this.$store.state.businessFixed
				this.checkoutItems.cartCount = this.$store.state.cartCount
				this.checkoutItems.quadrantCartCount = this.$store.state.quadrantCartCount
				this.checkoutItems.subTotalExistingServices = this.subTotalExistingServices
				this.checkoutItems.subTotalOtherServices = this.subTotalOtherServices
				this.checkoutItems.duration = duration
				this.checkoutItems.branchUser = this.branchUser

				axios.post('/send-cart-template', this.checkoutItems).then((response) => {
					this.$toastr.s("Cart has been sent.");
					$('#sendCartModal').modal('hide')
				})

				
			},
			sendProposal(subTotalMobileBroadbandPrice, subTotalMobilePlanPrice, subTotalHroPrice, subTotalMobileSim, subTotalFixedTotal, subTotalEntertainmentTotal, duration){
				this.busyProposal = true
				var crypto = require("crypto");
				var id = crypto.randomBytes(20).toString('hex');
				this.checkoutItems.grandTotal = this.grandTotal
				this.checkoutItems.totalDiscountsPrice = this.totalDiscountsPrice
				this.checkoutItems.subTotalHro = subTotalHroPrice
				this.checkoutItems.subTotalMobilePlan = subTotalMobilePlanPrice
				this.checkoutItems.subTotalMobileBroadband = subTotalMobileBroadbandPrice
				this.checkoutItems.subTotalMobileSim = subTotalMobileSim
				this.checkoutItems.subTotalFixedTotal = subTotalFixedTotal
				this.checkoutItems.subTotalEntertainmentTotal = subTotalEntertainmentTotal
				this.checkoutItems.cart = this.$store.state.cart
				this.checkoutItems.hro = this.$store.state.hro
				this.checkoutItems.fixed = this.$store.state.fixed
				this.checkoutItems.entertainment = this.$store.state.entertainment
				this.checkoutItems.simPlan = this.$store.state.simPlan
				this.checkoutItems.mobileBroadbands = this.$store.state.mobileBroadbands
				this.checkoutItems.productRedemption = this.$store.state.productRedemption
				this.checkoutItems.randString = id
				this.checkoutItems.timestamp = moment().unix();
				this.checkoutItems.subTotalBusinessMobileBroadband = this.subTotalBusinessMobileBroadband
				this.checkoutItems.subTotalBusinessFixed = this.subTotalBusinessFixed
				this.checkoutItems.subTotalBusinessMobileHRO = this.subTotalBusinessMobileHRO
				this.checkoutItems.subTotalBusinessMobilePlan = this.subTotalBusinessMobilePlan
				this.checkoutItems.existingServices = this.$store.state.existingServices
				this.checkoutItems.otherServices = this.$store.state.otherServices
				this.checkoutItems.promotions = this.$store.state.promotions
				this.checkoutItems.quadrantCart = this.$store.state.quadrantCart
				this.checkoutItems.subTotalQuadrant = this.subTotalQuadrant

				this.checkoutItems.businessMobilePlan = this.$store.state.businessMobilePlan
				this.checkoutItems.businessMobileBroadBand = this.$store.state.businessMobileBroadBand
				this.checkoutItems.businessHRO = this.$store.state.businessHRO
				this.checkoutItems.businessFixed = this.$store.state.businessFixed
				this.checkoutItems.cartCount = this.$store.state.cartCount
				this.checkoutItems.quadrantCartCount = this.$store.state.quadrantCartCount
				this.checkoutItems.subTotalExistingServices = this.subTotalExistingServices
				this.checkoutItems.subTotalOtherServices = this.subTotalOtherServices
				this.checkoutItems.duration = duration

				axios.post('/send-proposal', this.checkoutItems,
	            {
	                headers: {
	                    'Content-Type': 'application/json',
	                    'Accept': 'application/pdf'
	                },
	                responseType: "blob"
	            }).then((response) => {
					let blob = new Blob([response.data], { type: 'application/pdf' })
				    let link = document.createElement('a')
				    link.href = window.URL.createObjectURL(blob)
				    link.download = this.checkoutItems.randString+this.checkoutItems.timestamp+'.pdf'
      				link.click()
      				this.busyProposal = false
				})

			
			},
			checkout(subTotalMobileBroadbandPrice, subTotalMobilePlanPrice, subTotalHroPrice, subTotalMobileSim, subTotalFixedTotal, subTotalEntertainmentTotal){
				this.busyCheckout = true
				var crypto = require("crypto");
				var id = crypto.randomBytes(20).toString('hex');
				this.checkoutItems.grandTotal = this.grandTotal
				this.checkoutItems.totalDiscountsPrice = this.totalDiscountsPrice
				this.checkoutItems.subTotalHro = subTotalHroPrice
				this.checkoutItems.subTotalMobilePlan = subTotalMobilePlanPrice
				this.checkoutItems.subTotalMobileBroadband = subTotalMobileBroadbandPrice
				this.checkoutItems.subTotalMobileSim = subTotalMobileSim
				this.checkoutItems.subTotalFixedTotal = subTotalFixedTotal
				this.checkoutItems.subTotalEntertainmentTotal = subTotalEntertainmentTotal
				this.checkoutItems.cart = this.$store.state.cart
				this.checkoutItems.hro = this.$store.state.hro
				this.checkoutItems.fixed = this.$store.state.fixed
				this.checkoutItems.entertainment = this.$store.state.entertainment
				this.checkoutItems.simPlan = this.$store.state.simPlan
				this.checkoutItems.mobileBroadbands = this.$store.state.mobileBroadbands
				this.checkoutItems.productRedemption = this.$store.state.productRedemption
				this.checkoutItems.randString = id
				this.checkoutItems.timestamp = moment().unix();
				this.checkoutItems.subTotalBusinessMobileBroadband = this.subTotalBusinessMobileBroadband
				this.checkoutItems.subTotalBusinessFixed = this.subTotalBusinessFixed
				this.checkoutItems.subTotalBusinessMobileHRO = this.subTotalBusinessMobileHRO
				this.checkoutItems.subTotalBusinessMobilePlan = this.subTotalBusinessMobilePlan
				this.checkoutItems.existingServices = this.$store.state.existingServices
				this.checkoutItems.otherServices = this.$store.state.otherServices
				this.checkoutItems.promotions = this.$store.state.promotions
				this.checkoutItems.quadrantCart = this.$store.state.quadrantCart
				this.checkoutItems.subTotalQuadrant = this.subTotalQuadrant

				this.checkoutItems.businessMobilePlan = this.$store.state.businessMobilePlan
				this.checkoutItems.businessMobileBroadBand = this.$store.state.businessMobileBroadBand
				this.checkoutItems.businessHRO = this.$store.state.businessHRO
				this.checkoutItems.businessFixed = this.$store.state.businessFixed
				this.checkoutItems.cartCount = this.$store.state.cartCount
				this.checkoutItems.quadrantCartCount = this.$store.state.quadrantCartCount
				this.checkoutItems.subTotalExistingServices = this.subTotalExistingServices
				this.checkoutItems.subTotalOtherServices = this.subTotalOtherServices

				// axios.post('/aro-acknowledgement', this.checkoutItems).then((response) => {
				// 	this.$toastr.s("Cart has been sent.");
				// })

				// axios.post('/aro-acknowledgement', this.checkoutItems,
	   //          {
	   //              headers: {
	   //                  'Content-Type': 'application/json',
	   //                  'Accept': 'application/pdf'
	   //              },
	   //              responseType: "blob"
	   //          }).then((response) => {
	   //          	//localStorage.clear();
				// 	let blob = new Blob([response.data], { type: 'application/pdf' })
				//     let link = document.createElement('a')
				//     link.href = window.URL.createObjectURL(blob)
				//     link.download = 'Telstra-Accessory-Purchase.pdf'
    //   				link.click()
    //   				//window.location.reload()
				// })

				axios.post('/checkout-items', this.checkoutItems,
	            {
	                headers: {
	                    'Content-Type': 'application/json',
	                    'Accept': 'application/pdf'
	                },
	                responseType: "blob"
	            }).then((response) => {
	            	//localStorage.clear();
					let blob = new Blob([response.data], { type: 'application/pdf' })
				    let link = document.createElement('a')
				    link.href = window.URL.createObjectURL(blob)
				    link.download = this.checkoutItems.randString+this.checkoutItems.timestamp+'.pdf'
      				link.click()
      				this.busyCheckout = false
      				//window.location.reload()
				})

				
			},
			clearCart(){
				this.busyClear = true
				localStorage.clear();
				axios.get('clear-cart').then((response) => {
					
				})
				//this.$toastr.s("Cart has been cleared.");

				setTimeout(() => {

						this.busyClear = true
					window.location.reload()
				}, 3000)
			},
			changePaymentFrequency(){
				//console.log(this.paymentFrequency)
				if(this.paymentFrequency == '12'){
					this.frequency.paymentFrequencyVal = 12
					this.frequency.paymentFrequency = 'monthly'
				}

				if(this.paymentFrequency == '52'){
					this.frequency.paymentFrequencyVal = 52
					this.frequency.paymentFrequency = 'weekly'
				}

				if(this.paymentFrequency == '26'){
					this.frequency.paymentFrequencyVal = 26
					this.frequency.paymentFrequency = 'fortnightly'
				}

				this.$store.commit('changeCartPaymentFrequency', this.frequency);
			},
        	getPageContent(){
        		axios.get('/get-mobile-page-content').then((response) => {
        			this.mobilePageContent = response.data
        		})
        	},
        	getBranchUsers(){
        		axios.get('/get-branch-users').then((response) => {
        			this.branchUsers = response.data
        		})
        	},
        	changeBranchUser(event){
        		//console.log(event.target.value)
        		this.branchUser = event.target.value
        	},
        	getActiveCartTemplate(){
        		axios.get('/get-active-cart-template').then((response) => {
	        		if(response.data.quadrantCartCount != undefined){
						localStorage.clear();
	        			this.grandTotal = response.data.grandTotal
	        			this.subTotalQuadrant = response.data.subTotalQuadrant
	        			this.subTotalHro = response.data.subTotalHro
	        			this.subTotalMobilePlan = response.data.subTotalMobilePlan
	        			this.subTotalMobileBroadband = response.data.subTotalMobileBroadband
	        			this.subTotalMobileSim = response.data.subTotalMobileSim
	        			this.subTotalFixedTotal = response.data.subTotalFixedTotal
	        			this.subTotalEntertainmentTotal = response.data.subTotalEntertainmentTotal
	        			this.subTotalBusinessMobileBroadband = response.data.subTotalBusinessMobileBroadband
	        			this.subTotalBusinessFixed = response.data.subTotalBusinessFixed
	        			this.subTotalBusinessMobileHRO = response.data.subTotalBusinessMobileHRO
	        			this.subTotalBusinessMobilePlan = response.data.subTotalBusinessMobilePlan
	        			this.subTotalQuadrant = response.data.subTotalQuadrant
	        			this.subTotalExistingServices = response.data.subTotalExistingServices
	        			this.subTotalOtherServices = response.data.subTotalOtherServices
		        		window.localStorage.setItem('quadrantCartCount', response.data.quadrantCartCount);
		        		window.localStorage.setItem('quadrantCart', JSON.stringify(response.data.quadrantCart));
		        		window.localStorage.setItem('cartCount', (response.data.cartCount));
		    			window.localStorage.setItem('hro', (response.data.hro));
		    			window.localStorage.setItem('cart', (response.data.cart));
		    			window.localStorage.setItem('fixed', (response.data.fixed));
		    			window.localStorage.setItem('entertainment', (response.data.entertainment));
		    			window.localStorage.setItem('simPlan', (response.data.simPlan));
		    			window.localStorage.setItem('mobileBroadbands', (response.data.mobileBroadbands));
		    			window.localStorage.setItem('existingServices', (response.data.existingServices));
		    			window.localStorage.setItem('otherServices', (response.data.otherServices));
		    			window.localStorage.setItem('promotions', (response.data.promotions));
		    			window.localStorage.setItem('businessMobilePlan', (response.data.businessMobilePlan));
		    			window.localStorage.setItem('businessMobileBroadBand', (response.data.businessMobileBroadBand));
		    			window.localStorage.setItem('businessHRO', (response.data.businessHRO));
		    			window.localStorage.setItem('businessFixed', (response.data.businessFixed));
		        		this.$toastr.s("Cart has modified please wait.");

						setTimeout(() => {
							axios.get('clear-active-cart-template').then((response) => {

							})
							window.location.reload()
						}, 3000)
					}
        		})
        	}
		}
	}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style type="text/css" scoped>
	.grandTotalTable{ border:1px solid #e2e2d2;padding:10px; background-color: #39C071;color:#fff;}

	.customBtn{
		border-radius:25px;padding-right: 30px;padding-left:30px;
	}

	#canvas16{
		border:2px solid gray;
	}

	/* Dropdown Button */
	.dropbtn {
	  background-color: #4CAF50;
	  color: white;
	  padding: 16px;
	  font-size: 16px;
	  border: none;
	}

	/* The container <div> - needed to position the dropdown content */
	.dropdown {
	  position: relative;
	  display: inline-block;
	}

	/* Dropdown Content (Hidden by Default) */
	.dropdown-content {
	  display: none;
	  position: absolute;
	  background-color: #f1f1f1;
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}

	/* Links inside the dropdown */
	.dropdown-content a {
	  color: black;
	  padding: 12px 16px;
	  text-decoration: none;
	  display: block;
	}

	/* Change color of dropdown links on hover */
	.dropdown-content a:hover {background-color: #ddd;}

	/* Show the dropdown menu on hover */
	.dropdown:hover .dropdown-content {display: block;}

	/* Change the background color of the dropdown button when the dropdown content is shown */
	.dropdown:hover .dropbtn {background-color: #3e8e41;}

	.dropdown-content{
		margin-top:70px;
	}
</style>