<template>
	<div class="container">
	    <div class="row justify-content-center">
	        <div class="col-md-12">
	            <div class="card">
	                <div class="card-header" style="padding:10px 0px;">
	                	<div class="container-fluid row">
		                	<span class="col-10 pull-left"><h3>Discounts</h3></span>
		                	<span class="col-2 pull-right">
			                	<!-- <button style="margin-right:10px;margin-left:10px;" class="btn btn-info pull-right" @click.prevent="uploadModal()"><i class="fa fa-upload"></i> Upload</button>

			                	<button style="margin-right:10px;margin-left:10px;" v-if="mobileDevices" class="btn btn-warning pull-right"  @click.prevent="rejectUpload()"><i class="fa fa-trash"></i> Reject</button> -->


			                	<button class="btn btn-success pull-right"  @click.prevent="addDiscount()"> Add Discount</button>
			                </span>
		                </div>
	                </div>

	                <div class="card-body">
	                	<v-client-table class="text-center" v-if="discounts" :data="discounts" :columns="['mobile_device','discount_on_small_plan','discount_on_medium_plan','discount_on_large_plan','discount_on_extra_large_plan','start_date','effective_date','actions']" :options="options">
							<template slot="start_date" slot-scope="props">
								{{props.row.start_date | formatDate}}
		                    </template>

		                    <template slot="effective_date" slot-scope="props">
								{{props.row.effective_date | formatDate}}
		                    </template>

		                    <template slot="mobile_device" slot-scope="props">
								{{props.row.mobile_devices.model}} {{props.row.mobile_devices.make}} 
								{{props.row.mobile_devices.capacity}}

		                    </template>

		                    <template slot="actions" slot-scope="props">
		                    	<button class="btn btn-primary" @click.prevent="showModal(props.row)">Edit</button>
		                    	<button class="btn btn-danger" @click.prevent="removeDiscount(props.row)">Delete</button>
		                    </template>
		                    
    					</v-client-table>
				    	

				        <div class="modal fade" id="addDiscountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="min-height:500px;">
						  	<div class="modal-dialog modal-lg" role="document">
							    <div class="modal-content">
							      	<div class="modal-header">
							        	<h5 class="modal-title" id="exampleModalLabel">Handset Discount</h5>
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								          <span aria-hidden="true">&times;</span>
								        </button>
							      	</div>
							      	<form class="form">
								      	<div class="modal-body">
			                                <form>
			                                	<div class="form-group col-12">
												    <label for="exampleInputEmail1">Device:</label>
													<multiselect style="min-height:85px"
				                                      v-model="discount.mobileDevice"
				                                      :options="mobileDevices" :close-on-select="true" :clear-on-select="false" :multiple="false" track-by="id" label="model" placeholder="Select Mobile Device" :custom-label="nameWithLang">
				                                    </multiselect>
				                                </div>
			                                	<div class="form-group col-12">
												    <label for="exampleInputEmail1">Discount (Small Plan):</label>
												    <input type="number" min="0" class="form-control" v-model="discount.discountOnSmallPlan" placeholder="Enter Discount on Small Plan">
												</div>
			                                	<div class="form-group col-12">
												    <label for="exampleInputEmail1">Discount (Medium Plan):</label>
												    <input type="number" min="0" class="form-control" v-model="discount.discountOnMediumPlan" placeholder="Enter Discount on Medium Plan">
												</div>
			                                	<div class="form-group col-12">
												    <label for="exampleInputEmail1">Discount (Large Plan):</label>
												    <input type="number" min="0" class="form-control" v-model="discount.discountOnLargePlan" placeholder="Enter Discount on Large Plan">
												</div>
												<div class="form-group col-12">
												    <label for="exampleInputEmail1">Discount (Extra Large Plan):</label>
												    <input type="number" min="0" class="form-control" v-model="discount.discountOnExtraLargePlan" placeholder="Enter Discount on Extra Large Plan">
												</div>
												<div class="form-group col-12">
												    <label for="exampleInputEmail1">Start date:</label>
												    <datepicker v-model="discount.startDate" required input-class="form-control"></datepicker>
												</div>
												<div class="form-group col-12">
												    <label for="exampleInputEmail1">End date:</label>
												    <datepicker v-model="discount.effectiveDate" required input-class="form-control"></datepicker>
												</div>

			                                </form>
								     	</div>
								      	<div class="modal-footer">
									        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									        <button class="btn btn-primary" :disabled="busy" @click.prevent="save()">
		                                        <span v-if="busy">
		                                            Uploading 
		                                        </span>

		                                        <span v-if="!busy">
		                                            Submit
		                                        </span>
		                                    </button>
								      	</div>
							      	</form>
							    </div>
						  	</div>
						</div>

			    	</div>
            	</div>
        	</div>
    	</div>
	</div>
</template>
<script type="text/javascript">
	import Datepicker from 'vuejs-datepicker';
 
	import {ServerTable, ClientTable, Event} from 'vue-tables-2';
    
    Vue.use(ClientTable, {}, false, 'bootstrap4');

    import moment from 'moment';
	Vue.filter('formatDate', function(value) {
        if (value) {
            return moment(String(value)).format('D MMM Y')
        }
    })
	import Multiselect from 'vue-multiselect'
	export default{
		components: {
		    Datepicker,Multiselect
		},
		data() {
            return {
            	discount:{'mobileDevice':'','discountOnSmallPlan':0,'discountOnMediumPlan':0,'discountOnLargePlan':0,'discountOnExtraLargePlan':0,'startDate':moment().format('D MMM Y'),'effectiveDate':moment().format('D MMM Y')},
            	busy:false,
            	mobileDevices: [],
            	discounts: [],
            	mobileDevice: {},
                options: {
                    perPage: 10,
                    sortIcon: {
				        base : 'fa',
				        is: 'fa-sort',
				        up: 'fa-sort-asc',
				        down: 'fa-sort-desc'
				    },
				  	selectable:{
				    	mode: 'multiple', // or 'multiple'
				    	only: function(row) {
				       		return true // any condition
				    	}
				  	}
                },
			}
		},
		mounted(){
			this.getMobileDevices()
			this.getDiscounts()
		},
		computed:{
		},
		methods:{
			nameWithLang ({ make, model, capacity }) {
		      
		      	if(!model){
					return 'Search'
				}else{
		      		return `${make} ${model} — [${capacity}]`
				}
		    },
        	addDiscount(){
        		$('#addDiscountModal').modal('show')
        	},
			getMobileDevices(){
				axios.get('/get-all-mobile-devices').then((response) => {
					console.log(response.data)
					this.mobileDevices = response.data
				})
			},
        	save(){

	            this.discount.startDate = moment(this.discount.startDate).format('D MMM Y');
	            this.discount.effectiveDate = moment(this.discount.effectiveDate).format('D MMM Y');
        		axios.post('/add-discount',this.discount).then((response) => {
        			this.getDiscounts()
        			$('#addDiscountModal').modal('hide')
        			this.discount.id = ''
        			this.discount.mobileDevice = ''
        			this.discount.discountOnSmallPlan = 0
	        		this.discount.discountOnMediumPlan = 0
	        		this.discount.discountOnLargePlan = 0
	        		this.discount.discountOnExtraLargePlan = 0
	        		this.discount.startDate = moment().format('D MMM Y')
	        		this.discount.effectiveDate = moment().format('D MMM Y')
					this.$toastr.s("Success! Discount has been added.");
        		})
        	},
        	getDiscounts(){
        		axios.get('/get-discounts').then((response) => {
        			this.discounts = response.data
        		})
        	},
        	showModal(data){
        		console.log(data)
        		this.discount.id = data.id
        		this.discount.mobileDevice = data.mobile_devices
        		this.discount.discountOnSmallPlan = data.discount_on_small_plan
        		this.discount.discountOnMediumPlan = data.discount_on_medium_plan
        		this.discount.discountOnLargePlan = data.discount_on_large_plan
        		this.discount.discountOnExtraLargePlan = data.discount_on_extra_large_plan
        		this.discount.startDate = data.start_date
        		this.discount.effectiveDate = data.effective_date
        		$('#addDiscountModal').modal('show')
        	},
        	removeDiscount(data){
        		this.discount.id = data.id
        		axios.post('/remove-discount',this.discount).then((response) => {
        			this.discount.id = ''
        			this.getDiscounts();
					this.$toastr.s("Success! Discount has been removed.");
        		})
        	}
		}
	}
</script>

<style type="text/css" scoped>
</style>