<template>
	<div id="entertainment" v-if="$store.state.entertainment.length != '0'" class="container-fluid">
    	<div class="row" style="padding-top:3rem;">
			<div class="col-md-12">
	        	<h3 style="color:#3490dc">Entertainment</h3>
	        	<span  v-for="(item,index) in $store.state.entertainment">
		    		<input type="text" @keyup="createCustomMobileDescription(item, item.customDescription)" v-model="item.customDescription" class="form-control col-4" style="margin-bottom:1rem" placeholder="Enter Name or Number">
		        	<table  style="border:none !important;background: #fff" id="planCartTable" class="table table-bordered text-center" v-if="$store.state.entertainment.length != '0'">
		        		<thead>
		        			<tr>
		        				<td style="border-top-left-radius: 10px;padding:10px 5px 5px 5px;"><h5 style="padding:0px;">Items</h5></td>
		        				<td style="padding:10px 5px 5px 5px;"><h5 style="padding:0px;">Amount</h5></td>
		        				<td style="border-top-right-radius: 10px;padding:10px 5px 5px 5px;"><h5 style="padding:0px;">Remove</h5></td>
		        			</tr>
		        		</thead>
		        		<tbody>
		        			<tr>
		            			<td style="text-align:left;width:40%;border-bottom-left-radius:10px;font-size:18px;">
		            				<div class="">
									    <h5>Entertainment Plan:</h5>
										<div style="padding-top:1rem">
										  	<multiselect 
		                                      	:options="entertainmentPlanList" :value="item.selectedEntertainmentPlan" :close-on-select="true" :clear-on-select="false" :multiple="false" track-by="id" label="name" placeholder="Select Mobile Plan" @input="addHroItem($event,item)">
		                                    </multiselect>
									  	</div>
									</div>
		            			</td>
		            			<td style="text-align:left;width:45%;">
	            					<div class="row" style="margin-left:1px;">
			            				<h5 class="col-6">
			            					Plan price:
			            				</h5>

			            				<h5 class="col-6">
			            					${{Number(item.entertainmentPlanPrice).toFixed(2)}}
			            				</h5>
			            			</div>
		            			</td>
		            			<td class="text-center" style="text-align:left;width:15%;border-bottom-right-radius:10px;">
		            				<span style="cursor:pointer" 
					                    title="Remove from cart"
					                    @click.prevent="removeEntertainmentFromCart(item)">
					                    <img src="/img/Delete_Icon.svg" height="30">
					                   
					                </span>
		            			</td>
		            		</tr>

		            		<!-- <tr>
		            			<td>Subtotal:</td>
		            			<td colspan="2">${{subTotalHroPrice}}</td>
		            		</tr> -->
		        		</tbody>
		        	</table>
		        </span>
	        	<div class="container-fluid text-center">
		        	<div class="row">
		        		<div class="col-md-12">
		        			<div class="row">
			        			<div class="col-6" style="padding-right:0px;max-width:40%;flex:0 0 40%;">
				        			<h4 class="subTotalMobilePlanPrice" style="padding-top:10px;padding-bottom:10px;border-top-left-radius: 10px;border-bottom-left-radius:10px;">Subtotal</h4>
				        		</div>
				        		<div class="col-6" style="padding-left:0px;max-width:60%;flex:0 0 60%;">
				        			<h4 class="subTotalMobilePlanPrice" style="padding-top:10px;padding-bottom:10px;border-top-right-radius: 10px;border-bottom-right-radius:10px;">${{subTotalEntertainmentPrice}}</h4>
				        		</div>
				        	</div>
		        		</div>
		        		
			        </div>
		        </div>
	        </div>
        </div>
    </div>
</template>

<script>
	import Vue from "vue";
	import vSelect from "vue-select";
	import Multiselect from 'vue-multiselect'
	import moment from 'moment'

	Vue.component("v-select", vSelect);
	import "vue-select/dist/vue-select.css";
	import vueSmoothScroll from 'vue2-smooth-scroll'
	Vue.use(vueSmoothScroll)
	
	export default{
		components: { Multiselect },
		data(){
			return{
				customDescription:[],
				value: [],
				value2: '',
				paymentPlan: [],
				cartItems : [],
				paymentFrequency: '',
				frequency: {'paymentFrequencyVal' : '', 'paymentFrequency' : ''},
				plan:{'amount': '', 'description' : '', 'item' : {}},
				simPlan:{'amount': '', 'description' : '', 'item' : {}},
				entertainmentPlanList: [
					{'id' : 0, 'name' : 'Foxtel Plus', 'price' : 49},
					{'id' : 3, 'name' : 'Foxtel Premium', price : 99},
					{'id' : 9, 'name' : 'FOXTEL NOW', price : 25},
					{'id' : 15, 'name' : 'Foxtel Plus with Netflix', price : 61},
					{'id' : 18, 'name' : 'Foxtel Premium with Netflix', price : 111},
					{'id' : 1, 'name' : 'Movies HD + Foxtel Plus', 'price' : 69.00},
					{'id' : 2, 'name' : 'Sports HD + Foxtel Plus', price : 74},
					{'id' : 16, 'name' : 'Movies HD + Foxtel Plus with Netflix ', price : 81.00},
					{'id' : 17, 'name' : 'Sports HD + Foxtel Plus with Netflix', price : 86},
					{'id' : 4, 'name' : 'Platinum Plus (incl. Netflix)', price : 139},
					{'id' : 5, 'name' : 'Xbox One S', price : 27},
					{'id' : 6, 'name' : 'Xbox One X', price : 34},
					{'id' : 7, 'name' : 'Telstra TV Outright', price : 216},
					{'id' : 8, 'name' : 'Telstra TV Monthly', price : 9},
					{'id' : 10, 'name' : 'Binge Basic', price : 10},
					{'id' : 11, 'name' : 'Binge Standard', price : 14},
					{'id' : 12, 'name' : 'Binge Premium', price : 18},
					{'id' : 13, 'name' : 'Kayo Basic', price : 15},
					{'id' : 14, 'name' : 'Kayo Premium', price : 25},
					{'id' : 19, 'name' : 'Platinum Plus (incl. Netflix) with Netflix', price : 139}
				],
				aro: {'base': '', 'monthly': ''},
				vas: {'valueAddedServiceAmount': '', 'valueAddedServiceDescription' : ''},
				simPlanVas: {'valueAddedServiceAmount': '', 'valueAddedServiceDescription' : ''},
				entertainment: {'entertainmentPlan': '', 'entertainmentPlanPrice' : '','entertainmentPlanDescription': ''},
            	device: '',
            	allDevices: [],
            	allBroadbandDevices: [],
            	checkoutItems: {'hro': [], 'cart': []},
            	grandTotal : 0,
            	subTotalEntertainmentTotal : 0,
            	mobilePlan: {item: {}, paymentFrequency: 24}
			}
		},
		mounted(){
			this.paymentFrequency = (this.$store.state.cart.length && this.$store.state.cart[0].paymentFrequencyVal) ? this.$store.state.cart[0].paymentFrequencyVal : 12

	    	axios.get('/get-all-mobile-devices').then((response) => {
	    		this.allDevices = response.data
	    	})

	    	axios.get('/get-all-mobile-broadband-devices').then((response) => {
	    		this.allBroadbandDevices = response.data
	    	})
		},
	    computed: {
	    	totalCount(){
	    		let total = 0;

	            for (let item of this.$store.state.cart) {
	                total += item.quantity;
	            }

	            return total;
	    	},
	    	subTotalEntertainmentPrice(){
	    		let totalEntertainmentPrice = 0;
	    		for (let item of this.$store.state.entertainment) {
	                totalEntertainmentPrice += Number(item.entertainmentPlanPrice);
	            }
	            this.subTotalEntertainmentTotal = Number(totalEntertainmentPrice).toFixed(2)
	            return totalEntertainmentPrice.toFixed(2)
	    	},

		    total: function(){

			  	let total = [];

			  	Object.entries(item.vas).forEach(([key, val]) => {
			      	total.push(val.price) // the value of the current key.
			  	});

			  	return total.reduce(function(total, num){ return total + num }, 0);

			}
	    },
		methods:{
			nameWithLang ({ model, capacity }) {
		      return `${model} — [${capacity}]`
		    },
		    createCustomMobileDescription(event, item){
				if (this.timer) {
			        clearTimeout(this.timer);
			        this.timer = null;
			    }
			    this.timer = setTimeout(() => {
			        this.entertainment.entertainmentPlanPrice = Number(event.price).toFixed(2)
			    	this.entertainment.item = item
			    	this.entertainment.entertainment = event
			    	this.entertainment.entertainmentPlanType = event.name
			    	this.entertainment.selectedEntertainmentPlan = event
			    	this.entertainment.id = item.id
					this.entertainment.customDescription = event
			    	this.entertainment.quantity = 1

			    	this.$store.commit('addEntertainmentPlan', this.entertainment);
			    }, 800);
			},
		    addHroItem(event, item){
		    	this.entertainment.entertainmentPlanPrice = Number(event.price).toFixed(2)
		    	this.entertainment.item = item
		    	this.entertainment.entertainment = event
		    	this.entertainment.entertainmentPlanType = event.name
		    	this.entertainment.selectedEntertainmentPlan = event
		    	this.entertainment.id = item.id
				this.entertainment.customDescription = item.customDescription

		    	this.$store.commit('addEntertainmentPlan', this.entertainment);
		    },
			removeEntertainmentFromCart(item) {
	            this.$store.commit('removeEntertainmentFromCart', item);
	        },
		}
	}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style type="text/css">
	.subTotalMobilePlanPrice{ border:1px solid #e2e2d2;padding:10px; background-color: #bababa;}

	#planCartTable { border-collapse: separate; border-spacing: 0px; }
	thead {background-color:#068edf;color:#fff;}
</style>