<template>
	<div id="fixed" v-if="$store.state.fixed.length != '0'" class="container-fluid">
    	<div class="row" style="padding-top:3rem;">
			<div class="col-md-12">
	        	<h3 style="color:#3490dc">Fixed</h3>
	        	<span v-for="(item,index) in $store.state.fixed">
	        		<input type="text" @keyup="createCustomMobileDescription(item, item.customDescription)" v-model="item.customDescription" class="form-control col-4" style="margin-bottom:1rem" placeholder="Enter Name or Number">
		        	<table  style="border:none !important;background: #fff" id="planCartTable" class="table table-bordered text-center" v-if="$store.state.fixed.length != '0'">
		        		<thead>
		        			<tr>
		        				<td style="border-top-left-radius: 10px;padding:10px 5px 5px 5px;"><h5 style="padding:0px;">Items</h5></td>
		        				<td style="padding:10px 5px 5px 5px;"><h5 style="padding:0px;">Amount</h5></td>
		        				<td style="border-top-right-radius: 10px;padding:10px 5px 5px 5px;"><h5 style="padding:0px;">Remove</h5></td>
		        			</tr>
		        		</thead>
		        		<tbody>
		        			<tr>
		            			<td style="text-align:left;width:40%;border-bottom-left-radius:10px;font-size:18px;">
		            				<div class="">
									    <h5>Fixed Plan:</h5>
										<div style="padding-top:1rem">
										  	<v-select label="name" :options="fixedList" :value="item.fixed" @input="addHroItem($event,item)"  />
										  	</v-select>
									  	</div>
									</div>
		            			</td>
		            			<td style="text-align:left;width:45%;">
	            					<div class="row" style="margin-left:1px;">
			            				<h5 class="col-6">
			            					Fixed plan price:
			            				</h5>

			            				<h5 class="col-6">
			            					${{Number(item.fixedPlanPrice).toFixed(2)}}
			            				</h5>
			            			</div>
		            			</td>
		            			<td class="text-center" style="text-align:left;width:15%;border-bottom-right-radius:10px;">
		            				<span style="cursor:pointer" 
					                    title="Remove from cart"
					                    @click.prevent="removeFixedFromCart(item)">
					                    <img src="/img/Delete_Icon.svg" height="30">
					                   
					                </span>
		            			</td>
		            		</tr>

		            		<!-- <tr>
		            			<td>Subtotal:</td>
		            			<td colspan="2">${{subTotalHroPrice}}</td>
		            		</tr> -->
		        		</tbody>
		        	</table>
		        </span>

	        	<div class="container-fluid text-center">
		        	<div class="row">
		        		<div class="col-md-12">
		        			<div class="row">
			        			<div class="col-6" style="padding-right:0px;max-width:40%;flex:0 0 40%;">
				        			<h4 class="subTotalMobilePlanPrice" style="padding-top:10px;padding-bottom:10px;border-top-left-radius: 10px;border-bottom-left-radius:10px;">Subtotal</h4>
				        		</div>
				        		<div class="col-6" style="padding-left:0px;max-width:60%;flex:0 0 60%;">
				        			<h4 class="subTotalMobilePlanPrice" style="padding-top:10px;padding-bottom:10px;border-top-right-radius: 10px;border-bottom-right-radius:10px;">${{subTotalFixedPrice}}</h4>
				        		</div>
				        	</div>
		        		</div>
		        		
			        </div>
		        </div>
	        </div>
        </div>
    </div>
</template>

<script>
	import Vue from "vue";
	import vSelect from "vue-select";
	import Multiselect from 'vue-multiselect'
	import moment from 'moment'

	Vue.component("v-select", vSelect);
	import "vue-select/dist/vue-select.css";
	import vueSmoothScroll from 'vue2-smooth-scroll'
	Vue.use(vueSmoothScroll)
	
	export default{
		components: { Multiselect },
		data(){
			return{
				customDescription:[],
				value: [],
				value2: '',
				paymentPlan: [],
				cartItems : [],
				paymentFrequency: '',
				frequency: {'paymentFrequencyVal' : '', 'paymentFrequency' : ''},
				plan:{'amount': '', 'description' : '', 'item' : {}},
				simPlan:{'amount': '', 'description' : '', 'item' : {}},
				fixedList: [
					{'id':3,'name': 'Ultimate Voice', 'amount': 55.00,'capacity': 'Not Available'},
					{'id':0,'name': 'Core', 'amount': 75.00,'capacity': '500GB'},
					{'id':1,'name': 'Unlimited', 'amount': 90.00,'capacity': 'unlimited'},
					{'id':2,'name': 'Premium', 'amount': 110.00,'capacity': 'unlimited'},
				],
				aro: {'base': '', 'monthly': ''},
				vas: {'valueAddedServiceAmount': '', 'valueAddedServiceDescription' : ''},
				simPlanVas: {'valueAddedServiceAmount': '', 'valueAddedServiceDescription' : ''},
				fixed: {'fixedPlanPrice': 0, 'item' : {}, 'fixedPlan': ''},
				mobileDevice : {'device' : '', 'item': {}},
            	vasSimPlanOptions: [
            		{'id' : 0,'name' : 'International Calling Pack' , 'amount' : 10},
            		{'id' : 2,'name' : 'Telstra Locator Subscription' , 'amount' : 10},
            		{'id' : 3,'name' : 'Telstra One Number' , 'amount' : 5}
            	],
            	vasOptions: [
            		{'id' : 0,'name' : 'International Calling Pack' , 'amount' : 10},
            		{'id' : 1,'name' : 'Stay Connected Advanced' , 'amount' : 15},
            		{'id' : 2,'name' : 'Telstra Locator Subscription' , 'amount' : 10},
            		{'id' : 3,'name' : 'Telstra One Number' , 'amount' : 5}
            	],
            	vasMobileBroadbandOptions: [
            		{'id' : 0,'name' : 'Stay Connected Advanced' , 'amount' : 15},
            		{'id' : 1,'name' : 'Telstra Locator Subscription' , 'amount' : 10},
            	],
            	device: '',
            	allDevices: [],
            	allBroadbandDevices: [],
            	checkoutItems: {'hro': [], 'cart': []},
            	grandTotal : 0,
            	subTotalFixedTotal : 0,
            	mobilePlan: {item: {}, paymentFrequency: 24}
			}
		},
		mounted(){
			this.paymentFrequency = (this.$store.state.cart.length && this.$store.state.cart[0].paymentFrequencyVal) ? this.$store.state.cart[0].paymentFrequencyVal : 12

	    	axios.get('/get-all-mobile-devices').then((response) => {
	    		this.allDevices = response.data
	    	})

	    	axios.get('/get-all-mobile-broadband-devices').then((response) => {
	    		this.allBroadbandDevices = response.data
	    	})
		},
	    computed: {
	    	totalCount(){
	    		let total = 0;

	            for (let item of this.$store.state.cart) {
	                total += item.quantity;
	            }

	            return total;
	    	},
	    	subTotalFixedPrice(){
	    		let totalFixed = 0;
	    		for (let item of this.$store.state.fixed) {
	                totalFixed += Number(item.fixedPlanPrice);
	            }
	            this.subTotalFixedTotal = Number(totalFixed).toFixed(2)
	            return totalFixed.toFixed(2)
	    	},

		    total: function(){

			  	let total = [];

			  	Object.entries(item.vas).forEach(([key, val]) => {
			      	total.push(val.amount) // the value of the current key.
			  	});

			  	return total.reduce(function(total, num){ return total + num }, 0);

			}
	    },
		methods:{
			nameWithLang ({ model, capacity }) {
		      return `${model} — [${capacity}]`
		    },
		    createCustomMobileDescription(event, item){
				if (this.timer) {
			        clearTimeout(this.timer);
			        this.timer = null;
			    }
			    this.timer = setTimeout(() => {
			        this.fixed.fixed = event
			    	this.fixed.item = item
			    	this.fixed.fixedPlanPrice = Number(event.amount).toFixed(2)
			    	this.fixed.fixedPlan = event.name
			    	this.fixed.id = item.id
					this.fixed.customDescription = event
			    	this.fixed.quantity = 1

			    	this.$store.commit('addFixedPlan', this.fixed);
			    }, 800);
			},
		    addHroItem(event, item){
		    	this.fixed.fixed = event
		    	this.fixed.item = item
		    	this.fixed.fixedPlanPrice = Number(event.amount).toFixed(2)
		    	this.fixed.fixedPlan = event.name
		    	this.fixed.id = item.id
		    	this.fixed.itemType = item.itemType
				this.fixed.customDescription = item.customDescription
		    	this.fixed.quantity = 1

		    	this.$store.commit('addFixedPlan', this.fixed);
		    },
	        removeFixedFromCart(item){
	        	this.$store.commit('removeFixedFromCart', item);
	        },
		}
	}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style type="text/css">
	.subTotalMobilePlanPrice{ border:1px solid #e2e2d2;padding:10px; background-color: #bababa;}

	#planCartTable { border-collapse: separate; border-spacing: 0px; }
	thead {background-color:#068edf;color:#fff;}
</style>