<template>
	<div>
		<div class="row justify-content-center">
			<div class="col-md-10" style="margin-top:20px;">
				<div v-if="selectedPlan == ''" id="planDetails">
    				<h2 style="color:#068edf;padding-bottom:12px" class="col-10 pull-left row">Fixed Plans</h2>
    				<select class="pull-right form-control col-2" v-model="mobileOption">
        				<option>Siebel</option>
        				<option>Console</option>
        			</select>
	                <table id="planTable" class="table text-center" style="border:none !important;background: #fff">
	                    <tbody>
	                        <!-- <tr>
	                            <td style="border:none !important;"></td>
	                            <td style="border-top-left-radius: 10px;" class="tabPlan text-white"><h1>S</h1></td>
	                            <td class="tabPlan text-white"><h1>M</h1></td>
	                            <td class="tabPlan text-white"><h1>L</h1></td>
	                            <td class="tabPlan text-white"><h1>XL</h1></td>
	                        </tr> -->
	                        <tr>
	                            <td style="border-top-left-radius: 10px;vertical-align: middle;text-align: center;width:10%" ><img class="flex" src="/img/welcome_page_icons/DataAllowance_Icon.svg" height="50"></td>
	                            <td style="width: 22.5%">
	                            	<h3>Ultimate Voice</h3>
	                            	<span style="color:#3490dc">
		                            	<h4>$55 per month</h4>
		                            </span>
	                            	<p style="font-size:15px">Min cost $154</p>
	                            	<p>&nbsp;</p>
	                            	<button class="btn btn-primary customBtn" @click="selectPlan(55.00, 'ultimateVoice')"><h5 style="padding-top:5px;">Select</h5></button>
	                            </td>
	                            <td style="width: 22.5%">
	                            	<h3>Core</h3>
	                            	<span style="color:#3490dc">
		                            	<h4>$80 per month</h4>
		                            </span>
	                            	<p style="font-size:15px">Min cost $395</p>
	                            	<p>Unlimited</p>
	                            	<button class="btn btn-primary customBtn" @click="selectPlan(80.00, 'core')"><h5 style="padding-top:5px;">Select</h5></button>
	                            </td>
	                            <td style="width: 22.5%">
	                            	<h3>Unlimited</h3>
	                            	<span style="color:#3490dc">
		                            	<h4>$95 per month</h4>
		                            </span>
	                            	<p style="font-size:15px">Min cost $405</p>
	                            	<p>Unlimited</p>
	                            	<button class="btn btn-primary customBtn" @click="selectPlan('95.00', 'unlimited')"><h5 style="padding-top:5px;">Select</h5></button>
	                            </td>
	                            <td style="width: 22.5%">
	                            	<h3>Premium</h3>
	                            	<span style="color:#3490dc">
		                            	<h4>$110 per month</h4>
		                            </span>
	                            	<p style="font-size:15px">Min cost $425</p>
	                            	<p>Unlimited</p>
	                            	<button class="btn btn-primary customBtn" @click="selectPlan('110.00', 'premium')"><h5 style="padding-top:5px;">Select</h5></button>
	                            </td>
	                        </tr>
	                        <tr>
	                        	<td style="vertical-align: middle;text-align: center;" ><img src="img/welcome_page_icons/BonusInclusion_Icon.svg" height="50"></td>
	                            <td colspan="4">
	                                <h3 style="font-weight: normal;color:#3490dc">Local Calls - Unlimited</h3>
	                                <br/>
	                                <div class="offset-1 col-10" style="text-align:left">
		                                <ul style="font-size:18px">
		                                	<li><i style="margin-right:.5cm;color:#3490dc" class="fa fa-check"></i> National calls - Unlimited (excludes certain premium numbers including 19xx numbers)</li>
		                                	<li><i style="margin-right:.5cm;color:#3490dc" class="fa fa-check"></i> Mobile calls - Unlimited</li>
		                                	<li><i style="margin-right:.5cm;color:#3490dc" class="fa fa-check"></i> Unlimited free calls to Directory Assistance</li>
		                                	<li><i style="margin-right:.5cm;color:#3490dc" class="fa fa-check"></i> 500 free calls to 13 numbers</li>
		                                </ul>
		                            </div>
	                            </td>
	                        </tr>
	                        <tr>
	                            <td style="vertical-align: middle;text-align: center;" ><img src="img/welcome_page_icons/Coverage_Icon.svg" height="50"></td>
	                        	<td>
	                        		<p>No Internet</p>
	                        	</td>
	                        	<td>
	                        		<p>nbn 25 Standard<Br/>Evening Speed</p>
	                        	</td>
	                        	<td>
	                        		<p>nbn 50 Standard Plus<br/>Evening Speed<br/>(Fixed Wireless Plus - for<br/>Fixed Wireless customers)</p>
	                        	</td>
	                        	<td>
	                        		<p>nbn 100 Premium<br/>Evening Speed<br/>(Only available on FTTP<br/>and HFC technology types)</p>
	                        	</td>
	                        </tr>
	                    </tbody>
	                </table>
            	</div>

	            <div class="container" v-if="selectedPlan != ''">
	            	<!-- <h2 style="color:#068edf;padding-bottom:12px">Customise your Plan</h2> -->
					<div class="container" style="padding-left: 0px;padding-right: 0px;">
            			<div class="row">
							<div class="offset-8" v-if="confirmedCartItem == '0'">
								
							</div>
							<div class="offset-7" style="margin-left:64.333333%" v-if="confirmedCartItem == '1'">
								
							</div>
							<div class="col-2" v-if="confirmedCartItem == '0'" style="max-width: 22.666667%;flex: 0 0 22.666667%">
								<button  class="pull-right btn btn-primary customBtn" @click.prevent="confirmCartItem()"><h5 style="padding-top:5px;">Add to Cart</h5></button>
							</div>
							<div class="col-2"  v-if="confirmedCartItem == '0'" style="max-width: 10%">
								<button class="pull-right btn btn-secondary customBtn" @click.prevent="backBtnCategory('mobileDevice')"><h5 style="padding-top:5px;">Cancel</h5></button>
							</div>
							<div class="col-2" v-if="confirmedCartItem == '1'" style="padding-right: 0px;">
								<a href="/cart-items"><button class="pull-right btn btn-primary customBtn"><h5 style="padding-top:5px;">Go to Checkout</h5></button></a>
							</div>
							<div class="col-2" v-if="confirmedCartItem == '1'" style="max-width: 18.666667%;flex:0 0 18.666667%;padding-left:0px;">
								<button class="btn btn-secondary pull-right customBtn" @click.prevent="backBtnCategory('mobileDevice')"><h5 style="padding-top:5px;">Continue Shopping</h5></button>
							</div>
						</div>
					</div>
					<br/>
					<table style="border:none !important;background: #fff" id="planCartTable" class="table table-bordered text-center" >
            			<tbody>
            				<tr style="background: rgba(0,0,0,.05)">
            					<td style="padding-bottom:0px;">
            						<h5 style="padding-top:10px;padding-left:3rem;text-align:left;">Value Added Service</h5>
            					</td>
            					<td style="padding-bottom:0px;">
									<multiselect style="min-height:85px"
                                      v-model="vas"
                                      :options="vasOptions" :close-on-select="false" :clear-on-select="false" :multiple="true" track-by="id" label="name" placeholder="Select VAS">
                                    </multiselect>
            					</td>
            				</tr>
            				<tr>
            					<td style="width:40%;border-top-left-radius:10px;border-bottom-left-radius: 10px;">
            						<h5 style="padding-top:10px;padding-left:3rem;text-align:left;">Details</h5>
            					</td>
            					<td style="width:40%;border-top-right-radius:10px;border-bottom-right-radius: 10px;">
	        						<table id="priceTable" class="table table-bordered text-center table-striped" style="border:none !important;background: #fff">
        								<tbody>
        									<tr>
        										<td style="text-align: left;width:40%;"><h5>Plan</h5></td>
        										<td><h5 style="text-align: left;padding-left:1rem;color:rgb(6, 142, 223);text-transform:capitalize;">{{(this.selectedPlanType)}} - ${{Number(this.selectedPlan).toFixed(2)}}</h5></td>
        									</tr>
        									<tr v-if="selectedPlanType != 'ultimateVoice'">
        										<td style="text-align: left;width:40%;"><h5>Capacity</h5></td>
        										<td v-if="selectedPlanType == 'core'"><h5 style="text-align: left;padding-left:1rem;">Unlimited</h5></td>
        										<td v-else><h5 style="text-align: left;padding-left:1rem;">Unlimited</h5></td>
        									</tr>
        									<tr>
        										<td style="text-align: left;width:40%;"><h5>VAS</h5></td>
        										<td><h5 style="text-align: left;padding-left:1rem;">${{Number(total).toFixed(2)}}</h5></td>
        									</tr>
        									<tr>
        										<td style="text-align: left;width:40%;"><h5>Speed</h5></td>
        										<td v-if="selectedPlanType == 'ultimateVoice'"><h5 style="text-align: left;padding-left:1rem;">No Internet</h5></td>
        										<td v-if="selectedPlanType == 'core'"><h5 style="text-align: left;padding-left:1rem;">Standard Evening Speed</h5></td>
        										<td v-if="selectedPlanType == 'unlimited'"><h5 style="text-align: left;padding-left:1rem;">Standard Plus Evening Speed (Fixed Wireless Plus - for Fixed Wireless customers)</h5></td>
        										<td v-if="selectedPlanType == 'premium'"><h5 style="text-align: left;padding-left:1rem;">Premium Evening Speed (only available on FTTP and HFC technology types).</h5></td>
        									</tr>
        								</tbody>
        							</table>

        							<div class="col-md-12">
					        			<div class="row">
						        			<div class="col-6" style="padding-left:0px;padding-right:0px;max-width:40%;flex:0 0 40%;">
							        			<h5 class="grandTotalTable" style="padding-top:10px;padding-bottom:10px;border-top-left-radius: 10px;border-bottom-left-radius:10px;text-align:left;padding-left:1rem;">Total:</h5>
							        		</div>
							        		<div class="col-6" style="padding-right:0px;padding-left:0px;max-width:60%;flex:0 0 60%;">
							        			<h5 class="grandTotalTable" style="padding-left:1.7rem;padding-top:10px;padding-bottom:10px;border-top-right-radius: 10px;border-bottom-right-radius:10px;text-align:left;padding-left:1.7rem;">${{ Number(itemTotal).toFixed(2)}}</h5>
							        		</div>
							        	</div>
					        		</div>
            					</td>
            				</tr>
            			</tbody>
            		</table>
	            </div>	
			</div>
		</div>
	</div>
</template>

<script>
	import Multiselect from 'vue-multiselect'
	export default{
    	components: { Multiselect },
		data(){
			return{
				confirmedCartItem: 0,
				cartItem: {'valueAddedService': '','paymentDuration' : '', 'paymentFrequency' : '', 'paymentFrequencyVal' : '', 'selectedPlan' : '', 'selectedPlanType' : '', 'planType' : ''},
            	paymentDuration: 24,
            	paymentFrequency: 'monthly',
            	paymentFrequencyVal: 12,
				hroList: [],
				fixed: {'fixedPlan': '', 'fixedPlanPrice' : ''},
				selectedPlan:'',
            	vasOptions: [
            		{'id' : 0,'name' : 'Telstra Internet Static IP' , 'amount' : 10},
            		{'id' : 1,'name' : 'International Ultimate Calling Pack' , 'amount' : 15},
            		{'id' : 2,'name' : 'Telstra Game Optomiser' , 'amount' : 10},
            		{'id' : 3,'name' : 'Telstra TV 1 Devices' , 'amount' : 9},
            		{'id' : 4,'name' : 'Telstra TV 2 Devices' , 'amount' : 18},
            		{'id' : 5,'name' : 'Telstra TV 3 Devices' , 'amount' : 27},
            		{'id' : 6,'name' : 'Telstra TV 4 Devices' , 'amount' : 36},
            		{'id' : 7,'name' : 'Telstra Smart Modem SRO' , 'amount' : 9},
            		{'id' : 8,'name' : 'Telstra Smart Wi-Fi Booster with Wi-Fi Guarantee' , 'amount' : 12},
            		{'id' : 9,'name' : 'NBN Superfast Speed Boost (For Premium Only)' , 'amount' : 30},
            		{'id' : 10,'name' : 'NBN Ultrafast Speed Boost (For Premium Only' , 'amount' : 70},
            	],
            	vas: [],
            	mobileOption:'Siebel'
			}
		},
		computed: {
		    total: function(){

			  	let total = [];
			  	let idArray = [];

			  	Object.entries(this.vas).forEach(([key, val]) => {
			      	total.push(val.amount) // the value of the current key.
			  	});
			  	this.vas.totalAmount = total.reduce(function(total, num){ return total + num }, 0)

			  	return total.reduce(function(total, num){ return total + num }, 0);

			},
        	itemTotal(){
        		return (Number(this.selectedPlan) + Number(this.vas.totalAmount))
        	},
		},
		mounted(){
			this.getHro()
		},
		methods:{
        	backBtnCategory(type){
        		if(type == 'plan'){
        			this.mobileDevices = ''
        			this.selectedPlan = ''
        		}

        		if(type == 'mobileDevice'){
        			this.mobileDevices = ''
        			this.selectedPlan = ''
        			this.vas = []
        			this.confirmedCartItem = 0
        			window.location = '/'
        		}
        	},
        	selectPlan(plan, planType){
        		this.selectedPlan = plan
        		this.selectedPlanType = planType
        	},
        	changePaymentFrequency(paymentFrequency, paymentFrequencyVal){
        		this.paymentFrequency = paymentFrequencyVal
        		this.paymentFrequencyVal = paymentFrequencyVal
        	},
        	changePaymentDuration(paymentDuration){
        		this.paymentDuration = paymentDuration
        	},
        	confirmCartItem(){
		    	var crypto = require("crypto");

		    	if(this.selectedPlan == 80.00){
		    		this.fixed.fixed = {'id':0,'isBusiness' : 0,'name': 'Core Unlimited', 'amount': 80.00,'capacity': '500GB', 'planDescription' : 'Includes Home Phone service with Unlimited local, national, and Australian mobile calls (excludes certain Premium numbers). 500 free calls monthly to 13 numbers. nbn 25 Standard Evening Speed. Telstra smart modem for members who stay connected for 24 months. Min cost $1800'}
		    	}

		    	if(this.selectedPlan == 95.00){
		    		this.fixed.fixed = {'id':1,'isBusiness' : 0,'name': 'Unlimited', 'amount': 95.00,'capacity': 'unlimited', 'planDescription' : 'Includes Home Phone service with Unlimited local, national, and Australian mobile calls (excludes certain Premium numbers). 500 free calls monthly to 13 numbers.  nbn Standard Plus Evening Speed. Telstra smart modem for members who stay connected for 24 months. Min cost $2160'}
		    	}

		    	if(this.selectedPlan == 110.00){
		    		this.fixed.fixed = {'id':2,'isBusiness' : 0,'name': 'Premium', 'amount': 110.00,'capacity': 'unlimited', 'planDescription' : 'Includes Home Phone service with Unlimited local, national, and Australian mobile calls (excludes certain Premium numbers). 500 free calls monthly to 13 numbers. nbn 100 Premium Evening Speed.  Telstra smart modem for members who stay connected for 24 months. nbn 100 Premium Evening Speed.Min cost $2400'}
		    	}

		    	if(this.selectedPlan == 55.00){
		    		this.fixed.fixed = {'id':3,'isBusiness' : 0,'name': 'Ultimate Voice', 'amount': 55.00,'capacity': 'Not Available', 'planDescription' : 'Fixed home phone service with unlimited local, national, and Australian mobile calls (excludes certain Premium numbers). 500 free calls monthly to 13 numbers & discounted International calls. Unlimited Directory Assistance. No lock-in contract. Does not include set-up costs. Min cost $154'}
		    	}

		    	if(this.mobileOption == 'Siebel'){
        			this.mobileOption = {'id': 0, 'name': 'Siebel'}
        		}

        		if(this.mobileOption == 'Console'){
        			this.mobileOption = {'id': 1, 'name': 'Console'}
        		}

        		this.fixed.valueAddedService = this.vas
		    	this.fixed.fixedPlanPrice = this.selectedPlan
		    	this.fixed.fixedPlan = this.selectedPlanType
		    	this.fixed.id = crypto.randomBytes(20).toString('hex')
		    	this.fixed.itemType = 'fixed'
		    	this.confirmedCartItem = 1
		    	this.fixed.quantity = 1

		    	this.fixed.isBusiness = 0
		    	this.$store.state.cartCount++
		    	this.$store.state.fixed.push(this.fixed)
		    	this.fixed.mobileOption = this.mobileOption
		    	this.$store.commit('addFixedPlan', this.fixed);
        	},

		    addHroItem(event){
		    	//console.log(event)
		    	this.hro.item = event

		    },

		    changeHroMonthly(event){

		    	if(event.target.length && event.target.value == 24){
					this.hro.hroMonthly = 24
				}

				if(event.target.length && event.target.value == 36){
					this.hro.hroMonthly = 36
				}
		    },
	        getHro(){
	        	axios.get('/get-hro').then((response) =>{
	        		this.hroList = response.data
	        	})
	        },
		}
	}
</script>

<style type="text/css" scoped>
	p{
		font-size:18px;
		margin-bottom:.1cm;
	}
    #planCartTable { border-collapse: separate; border-spacing: 0px; }
    .btn-secondary{
      background:#fff !important;
      border:2px solid orange !important;
      color: orange !important;
    }

    .btn-secondary:hover{
    	background: rgba(234,167,33,0.6) !important;
    	color: #fff !important;
    }

    h3{
    	color:#FCA318;
    	font-weight: bolder;
    }
    #planTable tr:last-child td:last-child{
    	border-bottom-left-radius:0px;
    }

    .offset-2{
    	margin-left: 12.666667%;
    }
</style>