<template>
	<div id="div-id" v-if="$store.state.cart.length != '0' || $store.state.simPlan.length != '0'" class="container-fluid" style="font-size:16px;">
		
		<div class="row" style="padding-top:3rem;">
			<div class="col-md-12">
				<!-- <div class="row" style="padding-bottom: 2rem">
		    		
		    	</div> -->
		    		<div class="row">
			    		<span v-for="(item,index) in $store.state.cart" class="col-12 planTable">
			    			<div class="row planTitle" style="margin-bottom:1rem;">
				    			<h3 style="margin-bottom:0px;flex:0 0 88.77777%;max-width:88.77777%;background-color:#3490dc;color:#fff;padding-top:10px;padding-bottom:5px;border-radius: 10px;" class="text-center col-10">Mobile Plans</h3>
				    			<span style="flex:0 0 0.7%;max-width:0.7%;">&nbsp;</span>
				    			<span class="col-1 text-right" style="max-width:5%;flex: 0 0 5%;background:#bababa;border-radius: 10px;">
				    				<span style="cursor:pointer;position: relative;top:10px;right:8px;" 
					                    title="Remove from cart"
					                    @click.prevent="removeFromCart(item)">
					                    <img src="/img/Delete_Icon.svg" height="20">
					               	</span>

					               	
				    			</span>
				    			<span style="flex:0 0 0.5%;max-width:0.5%;">&nbsp;</span>
				    			<span class="col-1 text-right" style="max-width:5%;flex: 0 0 5%;background:#bababa;border-radius: 10px;">
				    				<span style="cursor:pointer;margin-top:2rem;color:#38c172;font-size:27px;position:relative;top:3px;right:8px;" alt="Duplicate Item"
					                    title="Duplicate Item"
					                    @click.prevent="duplicateCartItem(item)">
					                    <i class="fa fa-plus" height="20"></i>
					               	</span>
				               	</span>
				    		</div>
					    		
					        	<table  style="border:none !important;background: #fff" id="planCartTable" class="table table-bordered text-center" v-if="$store.state.cart.length != '0'">
			        		<thead>
			        			<tr>
			        				<td style="border-top-left-radius: 10px;padding:10px 5px 5px 5px;"><h5 style="padding:0px;">Items</h5></td>
			        				<td style="padding:10px 5px 5px 5px;"><h5 style="padding:0px;">Amount</h5></td>
			        				<td style="padding:10px 5px 5px 5px;"><h5 style="padding:0px;">Pricing Chart</h5></td>
			        			</tr>
			        		</thead>
			        		<tbody class="text-center">
			            		<tr>
			            			<td style="text-align: left;width:32%;border-bottom-left-radius:10px;">
			            				<div class="form-group row">
										    <div class="col-sm-12">
				            					<input type="text" @keyup="createCustomMobileDescription(item, item.customDescription)" v-model="item.customDescription" class="form-control" style="margin-bottom:1rem" placeholder="Service Number">
				            				</div>
			            				</div>
										<div class="form-group row">
										    <h5 for="staticEmail" class="col-sm-12">Mobile Plan:</h5>
										    <div class="col-sm-12">
		                                        <multiselect 
			                                      	:options="planOptions" :value="item.planOption" :close-on-select="true" :clear-on-select="false" :multiple="false" track-by="id" label="name" placeholder="Select Mobile Plan" @input="onChange($event,item)">
			                                    </multiselect>
		                                    </div>
										</div>
										
										<div class="form-group row">
										    <h5 class="col-sm-12"><span>Mobile Device:</span></h5>
									  		<div class="col-sm-12">
		                                    	<multiselect 
		                                          	:options="allDevices" :value="item.deviceItem" :close-on-select="true" :multiple="false" track-by="id" label="name" placeholder="Select Mobile Device" @input="onDeviceChange($event,item)" :custom-label="nameWithLang">
		                                        </multiselect>
										  	</div>
										  	<div class="col-sm-12" style="padding-top:1rem">
											  	<multiselect 
			                                      	:options="mobilePlanMonthOptions" :value="item.mobilePlanMonths" :close-on-select="false" :clear-on-select="false" :multiple="false" track-by="id" label="name" placeholder="Select Mobile Plan" @input="changeMobilePlanMonthly($event,item)">
			                                    </multiselect>
										  	</div>
										</div>

										<div class="form-group row">
											<h5 class="col-sm-12"><span>VAS:</span></h5>
											<div class="col-sm-12">
												<multiselect 
			                                      	:options="vasOptions" :value="item.vas" :close-on-select="false" :clear-on-select="false" :multiple="true" track-by="id" label="name" placeholder="Select VAS" @input="onChangeVas($event,item)">
			                                    </multiselect>
										  	</div>
										</div>

										<div class="form-group row">
											<h5 class="col-sm-12"><span>ARO:</span></h5>
											<div class="col-sm-12">
			                                    <multiselect 
			                                      	:options="aroOptions" :value="item.selectedARO" :close-on-select="false" :clear-on-select="false" :multiple="false" track-by="id" label="name" placeholder="Select ARO" @input="onChangeAro($event,item)">
			                                    </multiselect>
										  	</div>

										  	<!-- <div class="col-sm-12" style="padding-top:1rem">
											  	<multiselect 
			                                      	:options="aroMonthOptions" :value="item.selectedAROMonth" :close-on-select="false" :clear-on-select="false" :multiple="false" track-by="id" label="name" placeholder="Select ARO" @input="changeMobileAROMonthly($event,item)">
			                                    </multiselect>
										  	</div> -->
										</div>

										<div class="">
										    <h5>Add Promotion:</h5>
											<div style="padding-top:1rem">
												<multiselect 
			                                      	:options="[{'id':0,'name':'no'},{'id':1,'name':'yes'}]" :value="item.addPromotion" :close-on-select="true" :clear-on-select="false" :multiple="false" track-by="name" label="name" placeholder="Add Promotion" @input="addPromotion($event,item)">
			                                    </multiselect>
										  	</div>
										</div>

			            				<div class="" v-if="item.addPromotion.name == 'yes'">
										    <h6>Promotions:</h6>
											<div style="padding-top:1rem">
												<input type="text" @keyup="addpromotionsDescription(item, item.promotionsDescription)" v-model="item.promotionsDescription" class="form-control">
										  	</div>
										</div>

										<div class="" style="padding-top:1rem" v-if="item.addPromotion.name == 'yes'">
									    	<h6>Discounts:</h6>
											<div style="padding-top:1rem">
											  	<v-select label="name" :options="discountLists" :value="item.discounts" @input="addPromotionDiscount($event,item)"  />
											  	</v-select>
										  	</div>
										</div>

										<h6 v-if="item.addPromotion.name == 'yes'" style="padding-top:1rem">Price:</h6>
										<div v-if="item.addPromotion.name == 'yes'" class="input-group" style="padding-top:1rem">
											<div class="input-group-prepend">
											    <span class="input-group-text" id="basic-addon1">$</span>
											</div>
											<input type="number" @keyup="addpromotionsPrice(item, item.promotionsPrice)" v-model="item.promotionsPrice" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
										</div>

										<!-- <div class="" style="padding-top:1rem">
										    <h5>Discounts:</h5>
											<div style="padding-top:1rem">
											  	<v-select label="name" :options="discountLists" :value="item.discounts" @input="addPromotionDiscount($event,item)"  />
											  	</v-select>
										  	</div>
										</div> -->

			            			</td>
			            			<td style="text-align:left;width:25%">
			            				<!-- <h5><span style="text-align:left">Mobile Plan:</span> <span style="text-align:right">${{item.planValue}}</span></h5> -->
			            				<div class="row" style="margin-left:1px;">
				            				<h5 class="col-6">
				            					Mobile Plan:
				            				</h5>

				            				<h5 class="col-6">
				            					${{Number(item.planValue).toFixed(2)}}
				            				</h5>
				            			</div>

				            			<div class="row" style="margin-left:1px;">
				            				<h5 class="col-6" v-if="item.price != '0.00'">
				            					Mobile Device:
				            				</h5>
				            				<h5 class="col-6" v-else>
				            					BYO:
				            				</h5>

				            				<h5 class="col-6">
				            					${{item.price}}
				            				</h5>
				            			</div>
				            			<div class="row" style="margin-left:1px;">
				            				<h5 class="col-6">
				            					ARO:
				            				</h5>

				            				<h5 class="col-6">
				            					${{Number(item.aroAmount).toFixed(2)}}
				            				</h5>
				            			</div>
				            			<div class="row" style="margin-left:1px;">
				            				<h5 class="col-6">
				            					VAS:
				            				</h5>

				            				<h5 class="col-6">
				            					${{item.vasTotalAmount}}
				            				</h5>
				            			</div>
				            			<div class="row" style="margin-left:1px;">
				            				<h5 class="col-6">
				            					Device Discount:
				            				</h5>

				            				<h5 class="col-6">
				            					${{Number(item.deviceDiscounts).toFixed(2)}}
				            				</h5>
				            			</div>
				            			<div class="row" style="margin-left:1px;" v-if="item.discounts">
				            				<h5 class="col-6">
				            					{{item.discounts.name}}:
				            				</h5>

				            				<h5 class="col-6">
				            					-${{(item.promotionsPrice) ? Number(item.promotionsPrice).toFixed(2) : 0.00}}
				            				</h5>
				            			</div>
				            			<br/>
										<div class="row" style="margin-left:5px;margin-right:5px;margin-left:8px;">
				            				<h5 class="col-6"  style="border-top-left-radius:10px;border-bottom-left-radius:10px;background-color:#39C071;color:#fff;text-align: left;padding:10px 0px 10px 10px;">
				            					Total:
				            				</h5>

				            				<h5 class="col-6"  style="border-top-right-radius:10px;border-bottom-right-radius:10px;background-color:#39C071;color:#fff;text-align: left;padding:10px 0px 10px 20px;">
				            					${{item.totalPrice}}
				            				</h5>
				            			</div>
			            			</td>
			            			<td>
			            				<table  id="priceTable" class="table text-left" style="border:none !important;background: #fff">
									 		<thead>
									 			<tr>
									 				<td>Device</td>
									 				<td>S</td>
									 				<td>M</td>
									 				<td>L</td>
									 				<td>XL</td>
									 			</tr>
									 		</thead>
									 		<tbody>
										 		<tr v-for="chart in item.otherDevices">
										 			<td>
										 				<span>{{chart.model}} {{chart.capacity}}</span>
										 			</td>
										 			<!--small plan-->
										 			<td v-if="item.months == '12'" :class="item.capacity == chart.capacity && item.planType == 'Small' && item.totalPrice == (Number(chart.mths_12_device_payment_contract) + Number(mobilePageContent.smallPricing) + Number(item.aroAmount) + Number(item.vasTotalAmount - Number(item.promotionsPrice).toFixed(2) - chart.discounts.discount_on_small_plan )).toFixed(2) ? 'activeItem' : 'pricingItem'" @click.prevent="switchPlanPricing('small', chart, item)">
											 				{{ (Number(chart.mths_12_device_payment_contract) + Number(mobilePageContent.smallPricing) + Number(item.aroAmount) + Number(item.vasTotalAmount ) - Number(item.promotionsPrice).toFixed(2) - chart.discounts.discount_on_small_plan ).toFixed(2) }}
											 			</td>
											 			<td v-else :class="item.capacity == chart.capacity && item.model == chart.model && item.planType == 'Small' && item.totalPrice == (Number(chart.mths_24_device_payment_contract) + Number(mobilePageContent.smallPricing) + Number(item.aroAmount) + Number(item.vasTotalAmount - Number(item.promotionsPrice).toFixed(2) - chart.discounts.discount_on_small_plan )).toFixed(2) ? 'activeItem' : 'pricingItem'" @click.prevent="switchPlanPricing('small', chart, item)">
											 				{{ (Number(chart.mths_24_device_payment_contract) + Number(mobilePageContent.smallPricing) + Number(item.aroAmount) + Number(item.vasTotalAmount - Number(item.promotionsPrice).toFixed(2) - chart.discounts.discount_on_small_plan )).toFixed(2) }}
											 			</td>
											 			<!--end small plan-->
											 			<td v-if="item.months == '12'" :class="item.capacity == chart.capacity && item.planType == 'Medium' && item.totalPrice == (Number(chart.mths_12_device_payment_contract) + Number(mobilePageContent.mediumPricing) + Number(item.aroAmount) + Number(item.vasTotalAmount - Number(item.promotionsPrice).toFixed(2) - chart.discounts.discount_on_medium_plan )).toFixed(2) ? 'activeItem' : 'pricingItem'" @click.prevent="switchPlanPricing('medium', chart, item)">
											 				{{ (Number(chart.mths_12_device_payment_contract) + Number(mobilePageContent.mediumPricing) + Number(item.aroAmount) + Number(item.vasTotalAmount - Number(item.promotionsPrice).toFixed(2) - chart.discounts.discount_on_medium_plan )).toFixed(2) }}
											 			</td>
											 			<td v-else :class="item.capacity == chart.capacity && item.model == chart.model && item.planType == 'Medium' && item.totalPrice == (Number(chart.mths_24_device_payment_contract) + Number(mobilePageContent.mediumPricing) + Number(item.aroAmount) + Number(item.vasTotalAmount - chart.discounts.discount_on_medium_plan - Number(item.promotionsPrice).toFixed(2))).toFixed(2) ? 'activeItem' : 'pricingItem'" @click.prevent="switchPlanPricing('medium', chart, item)">
											 				{{ (Number(chart.mths_24_device_payment_contract) + Number(mobilePageContent.mediumPricing) + Number(item.aroAmount) + Number(item.vasTotalAmount - chart.discounts.discount_on_medium_plan - Number(item.promotionsPrice).toFixed(2))).toFixed(2) }}
											 			</td>

											 			<td v-if="item.months == '12'" :class="item.capacity == chart.capacity && item.planType == 'Large' && item.totalPrice == (Number(chart.mths_12_device_payment_contract) + Number(mobilePageContent.largePricing) + Number(item.aroAmount) + Number(item.vasTotalAmount - chart.discounts.discount_on_large_plan - Number(item.promotionsPrice).toFixed(2))).toFixed(2) ? 'activeItem' : 'pricingItem'" @click.prevent="switchPlanPricing('large', chart, item)">
											 				{{ (Number(chart.mths_12_device_payment_contract) + Number(mobilePageContent.largePricing) + Number(item.aroAmount) + Number(item.vasTotalAmount - chart.discounts.discount_on_large_plan - Number(item.promotionsPrice).toFixed(2)  )).toFixed(2) }}
											 			</td>
											 			<td v-else :class="item.capacity == chart.capacity && item.model == chart.model && item.planType == 'Large' && item.totalPrice == (Number(chart.mths_24_device_payment_contract) + Number(mobilePageContent.largePricing) + Number(item.aroAmount) + Number(item.vasTotalAmount - chart.discounts.discount_on_large_plan - Number(item.promotionsPrice).toFixed(2))).toFixed(2) ? 'activeItem' : 'pricingItem'" @click.prevent="switchPlanPricing('large', chart, item)">
											 				{{ (Number(chart.mths_24_device_payment_contract) + Number(mobilePageContent.largePricing) + Number(item.aroAmount) + Number(item.vasTotalAmount - chart.discounts.discount_on_large_plan - Number(item.promotionsPrice).toFixed(2))).toFixed(2) }}
											 			</td>

											 			<td v-if="item.months == '12'" :class="item.capacity == chart.capacity && item.capacity == chart.capacity && item.planType == 'XL' && item.totalPrice == (Number(chart.mths_12_device_payment_contract) + Number(mobilePageContent.extraLargePricing) + Number(item.aroAmount) + Number(item.vasTotalAmount - chart.discounts.discount_on_extra_large_plan - Number(item.promotionsPrice).toFixed(2)  )).toFixed(2) ? 'activeItem' : 'pricingItem'" @click.prevent="switchPlanPricing('xl', chart, item)">
											 				{{ (Number(chart.mths_12_device_payment_contract) + Number(mobilePageContent.extraLargePricing) + Number(item.aroAmount) + Number(item.vasTotalAmount - chart.discounts.discount_on_extra_large_plan - Number(item.promotionsPrice).toFixed(2)  )).toFixed(2) }}
											 			</td>
											 			<td v-else :class="item.capacity == chart.capacity && item.model == chart.model && item.planType == 'XL' && item.totalPrice == (Number(chart.mths_24_device_payment_contract) + Number(mobilePageContent.extraLargePricing) + Number(item.aroAmount) + Number(item.vasTotalAmount - chart.discounts.discount_on_extra_large_plan - Number(item.promotionsPrice).toFixed(2)  )).toFixed(2) ? 'activeItem' : 'pricingItem'" @click.prevent="switchPlanPricing('xl', chart, item)">
											 				{{ (Number(chart.mths_24_device_payment_contract) + Number(mobilePageContent.extraLargePricing) + Number(item.aroAmount) + Number(item.vasTotalAmount - chart.discounts.discount_on_extra_large_plan - Number(item.promotionsPrice).toFixed(2)  )).toFixed(2) }}
											 			</td>
										 		</tr>
										 	</tbody>
									 	</table>
			            			</td>
						        </tr>
			            	</tbody>
			        	</table>
			        	
			        	<div class="form-group row" v-for="(aro,key) in item.aroAccessories" v-if="item.aroBase != '0' && item.aroBase != '0.00'">
				        		<div class="col-sm-8">
									<h6 class="col-sm-12"><span>Accessories:</span></h6>
									<div class="col-sm-12">
	                                    <multiselect 
	                                      	:options="clickPosStocks" :value="aro" :close-on-select="true" :clear-on-select="false" :multiple="false" track-by="BarCode" label="ProductType" placeholder="Select Accesory" @input="onChangeStock($event,item, key)" :custom-label="aroWithPrice">
	                                    </multiselect>
								  	</div>
								</div>

								<div class="col-sm-3">
									<h6 class="col-sm-12"><span>Price:</span></h6>
									<div class="col-sm-12">
										<input type="number" @keyup="addAROPrice(item, item.aroAccessories[key].aroPrice, item.aroAccessories[key])" v-model="item.aroAccessories[key].aroPrice" :class="Number(aro.ProductUnitRRPCost) < Number(aro.aroPrice) ? 'form-control red' : (Number(aro.ProductUnitRRPCost) > Number(aro.aroPrice) ? 'form-control green' : 'form-control') " style="margin-bottom:1rem" placeholder="Enter ARO Price">
									</div>
								</div>

								<div class="col-sm-1">
									<h6 class="col-sm-12"><span>&nbsp;</span></h6>
									<span class="fa fa-trash" @click.prevent="removeAroAccessory(item, key, item.aroAccessories[key])"></span>
								</div>
							</div>

							<div class="form-group row offset-8" v-if="item.aroBase != '0' && item.aroBase != '0.00'">
								<button class="btn btn-primary" v-if="Number(item.aroAccessoriesTotalPrice) < Number(item.aroBase)" @click.prevent="addNewAccessory(item)">Add New Accessory</button>
								<h4 class="col-sm-12" style="padding-top:20px;">
									<span v-if="Number(item.aroAccessoriesTotalPrice) > Number(item.aroBase) || Number(item.aroAccessoriesTotalPrice) < Number(item.aroBase)" style="color:red">ARO Total: ${{Number(item.aroAccessoriesTotalPrice).toFixed(2)}}</span>
									<span v-else style="color:green">ARO Total: ${{Number(item.aroAccessoriesTotalPrice).toFixed(2)}}</span>
								</h4>
							</div>
				        </span>
				    </div>

		        	<!-- <div class="container-fluid text-center">
			        	<div class="row">
			        		<div class="col-md-12">
			        			<div class="row">
				        			<div class="col-6" style="padding-right:0px;max-width:40%;flex:0 0 40%;">
					        			<h4 class="subTotalMobilePlanPrice" style="padding-top:10px;padding-bottom:10px;border-top-left-radius: 10px;border-bottom-left-radius:10px;">Subtotal</h4>
					        		</div>
					        		<div class="col-6" style="padding-left:0px;max-width:60%;flex:0 0 60%;">
					        			<h4 class="subTotalMobilePlanPrice" style="padding-top:10px;padding-bottom:10px;border-top-right-radius: 10px;border-bottom-right-radius:10px;">${{subTotalMobilePlanPrice}}</h4>
					        		</div>
					        	</div>
			        		</div>
			        		
				        </div>
			        </div> -->
		        	

		        	<table class="table table-bordered" v-if="$store.state.simPlan.length != '0'">
		        		<thead>
		        			<tr>
		        				<td>Items</td>
		        				<td>Amount</td>
		        				<td>Remove</td>
		        			</tr>
		        		</thead>
		        		<tbody class="text-center">
		            		<tr v-for="(item,index) in $store.state.simPlan">
		            			<td style="text-align: left;width:70%">
									<div class="form-group row">
									    <label for="staticEmail" class="col-sm-2 col-form-label">Sim Plan:</label>
									    <div class="col-sm-10">
									      	<select name="category_id" @change="onChangeSimPlan($event,item)" class="form-control">
										     	<option :selected="item.planType == 'XS'" value="1">Extra Small</option>
										     	<option :selected="item.planType == 'Small'" value="2">Small</option>
										     	<option :selected="item.planType == 'Medium'" value="3">Medium</option>
										     	<option :selected="item.planType == 'L'" value="4">Large</option>
										     	<option :selected="item.planType == 'XL'" value="5">Extra Large</option>
										  	</select>
									    </div>
									</div>
									

									<div class="form-group row">
										<label class="col-sm-2 col-form-label"><p>VAS:</p></label>
										<div class="col-sm-10">
											<multiselect 
		                                      	:options="vasSimPlanOptions" :value="item.vas" :close-on-select="false" :clear-on-select="false" :multiple="true" track-by="id" label="name" placeholder="Select VAS" @input="onChangeVasSimPlan($event,item)">
		                                    </multiselect>
									  	</div>
									</div>

								  	
		            			</td>
		            			<td style="text-align:left;width:25%">
		            				Mobile Plan: ${{item.selectedPlan}}<br/>
									VAS : ${{item.vasTotalAmount}}<br/>
									<!-- HRO : ${{item.hroMonthlyPrice}} -->
									<hr/>
		            				Total: ${{item.totalPrice}}
		            			</td>
		            			<td class="text-center" style="width:5%">
		            				<button class="btn btn-warning"
					                    title="Remove from cart"
					                    @click.prevent="removeSimPlanFromCart(item)">
					                    <i class="removeBtn fa fa-trash"></i>
					                   
					                </button>
		            			</td>
		            		</tr>
		            		<!-- <tr>
		            			<td>Subtotal:</td>
		            			<td colspan="3">${{subTotalSimPlanPrice}}</td>
		            		</tr> -->
		            	</tbody>
		        	</table>
	        </div>
        </div>
	</div>
</template>

<script>
	import Vue from "vue";
	import vSelect from "vue-select";
	import Multiselect from 'vue-multiselect'
	import moment from 'moment'

	Vue.component("v-select", vSelect);
	import "vue-select/dist/vue-select.css";
	import vueSmoothScroll from 'vue2-smooth-scroll'
	Vue.use(vueSmoothScroll)
	export default{
		components: { Multiselect },
		data(){
			return{
				inputData: '',
				customDescription:[],
				byoSelected: 0,
				value: [],
				value2: '',
				paymentPlan: [],
				cartItems : [],
				paymentFrequency: '',
				frequency: {'paymentFrequencyVal' : '', 'paymentFrequency' : ''},
				plan:{'amount': '', 'description' : '', 'item' : {}},
				simPlan:{'amount': '', 'description' : '', 'item' : {}},
				hroList: [],
				aro: {'aroAmount' : (240 / 24).toFixed(2),'aroBase' : 240,'aroMonths' : 24, 'aroTotalAmount' : (240 / 24).toFixed(2)},
				vas: {'valueAddedServiceAmount': '', 'valueAddedServiceDescription' : '', vasTotalAmount: 0},
				simPlanVas: {'valueAddedServiceAmount': '', 'valueAddedServiceDescription' : ''},
				hro: {'hroMonthly': 24, 'item' : {}, 'selectedHroItem': {}},
				mobileDevice : {'device' : '', 'item': {}, 'otherDevices': []},
            	vasSimPlanOptions: [
            		{'id' : 0,'name' : 'International Calling Pack' , 'amount' : 10},
            		{'id' : 1,'name' : 'Telstra Locator Subscription' , 'amount' : 10},
            		{'id' : 2,'name' : 'Telstra One Number' , 'amount' : 5}
            	],
            	vasOptions: [
            		{'id' : 0,'name' : 'International Calling Pack' , 'amount' : 10},
            		{'id' : 1,'name' : 'Stay Connected Advanced' , 'amount' : 15},
            		{'id' : 2,'name' : 'Telstra Locator Subscription' , 'amount' : 10},
            		{'id' : 3,'name' : 'Telstra One Number' , 'amount' : 5},
            		{'id' : 5, 'name' : 'Upgrade and Protect', 'amount' : 15},
            	],
            	device: '',
            	allDevices: [],
            	allBroadbandDevices: [],
            	checkoutItems: {'hro': [], 'cart': []},
            	grandTotal : 0,
            	subTotalHro : 0,
            	subTotalMobilePlan : 0,
            	subTotalMobileSim : 0,
            	subTotalMobileBroadband : 0,
            	mobilePlan: {item: {}, paymentFrequency: 24, months: 24},
            	planOptions: [
			        { 'id': 2, 'name' : 'Small', 'planType': 'Small'},
			        { 'id': 3, 'name' : 'Medium', 'planType': 'Medium'},
			        { 'id': 4, 'name' : 'Large', 'planType': 'L'},
			        { 'id': 5, 'name' : 'Extra Large', 'planType': 'XL'}
			    ],
			    mobilePlanMonthOptions: [{'id': 0, 'name' : '12 months', 'value': 12},{'id': 1, 'name' : '24 months', 'value': 24}],
			    aroOptions: [
			    {'id':0,'name':'None','value':0.00},
			    {'id':1,'name':'$120.00','value':120.00},
			    {'id':2,'name':'$180.00','value':180.00},
			    {'id':3,'name':'$240.00','value':240.00}],
			    aroMonthOptions: [{'id': 0, 'name' : '12 months', 'value': 12},{'id': 1, 'name' : '24 months', 'value': 24}],
			    mobilePageContent:{'smallPricing':0,'mediumPricing':0,'largePricing':0,'extraLargePricing': 0},
				discountLists: [
					{'id':0,'name': 'Once Off Discount'},
					{'id':1,'name': 'Reoccuring Discount'},
				],
				clickPosStocks: [],
				aroPrice: []
			}
		},
		mounted(){
			this.paymentFrequency = (this.$store.state.cart.length && this.$store.state.cart[0].paymentFrequencyVal) ? this.$store.state.cart[0].paymentFrequencyVal : 12

	    	axios.get('/get-all-mobile-devices').then((response) => {
	    		this.allDevices = response.data
	    	})

	    	axios.get('/get-all-mobile-broadband-devices').then((response) => {
	    		this.allBroadbandDevices = response.data
	    	})

	    	this.getPageContent()
	    	this.getStocks()
		},
	    computed: {
	    	totalCount(){
	    		let total = 0;

	            for (let item of this.$store.state.cart) {
	                total += item.quantity;
	            }

	            return total;
	    	},
	    	subTotalHroPrice(){
	    		let totalHro = 0;
	    		for (let item of this.$store.state.hro) {
	                totalHro += Number(item.hroMonthlyPrice);
	            }
	            this.subTotalHro = Number(totalHro).toFixed(2)
	            return totalHro.toFixed(2)
	    	},
	    	subTotalMobilePlanPrice(){
	    		let total = 0;
				for (let item of this.$store.state.cart) {
	                total += Number(item.totalPrice);
	            }
	            this.subTotalMobilePlan = Number(total).toFixed(2)
	            return total.toFixed(2)
	    	},
	    	subTotalMobileSimPrice(){
	    		let total = 0;
				for (let item of this.$store.state.simPlan) {
	                total += Number(item.totalPrice);
	            }
	            this.subTotalMobileSim = Number(total).toFixed(2)
	            return total.toFixed(2)
	    	},
	    	subTotalMobileBroadbandPrice(){
	    		let total = 0;
				for (let item of this.$store.state.mobileBroadbands) {
	                total += Number(item.totalPrice);
	            }
	            this.subTotalMobileBroadband = Number(total).toFixed(2)
	            return total.toFixed(2)
	    	},
	    	subTotalSimPlanPrice(){
	    		let totalSimPlan = 0;
	    		for (let item of this.$store.state.simPlan) {
	                totalSimPlan += Number(item.totalPrice);
	            }
	            this.subTotalMobileSim = (totalSimPlan).toFixed(2)
	            return totalSimPlan.toFixed(2)
	    	},
	        totalPrice() {
	            let total = 0;
	            let totalHro = 0;
	            let totalSimPlan = 0;
	            let totalMobileBroadband = 0

	            for (let item of this.$store.state.cart) {
	                total += Number(item.totalPrice);
	            }

	            for (let item of this.$store.state.hro) {
	                totalHro += Number(item.hroMonthlyPrice);
	            }

	            for (let item of this.$store.state.simPlan) {
	                totalSimPlan += Number(item.totalPrice);
	            }

	            for (let item of this.$store.state.mobileBroadbands) {
	                totalMobileBroadband += Number(item.totalPrice);
	            }

	            this.grandTotal = (total + totalMobileBroadband + totalHro + totalSimPlan).toFixed(2)
	            return (total + totalMobileBroadband + totalHro + totalSimPlan).toFixed(2);
	        },

		    total: function(){

			  	let total = [];

			  	Object.entries(item.vas).forEach(([key, val]) => {
			      	total.push(val.amount) // the value of the current key.
			  	});

			  	return total.reduce(function(total, num){ return total + num }, 0);

			}
	    },
		methods:{
		    addpromotionsPrice(item, event){
		    	if (this.timer) {
			        clearTimeout(this.timer);
			        this.timer = null;
			    }
			    this.timer = setTimeout(() => {
					this.plan = item
					this.plan.item = item
					this.plan.promotionsPrice = event
					this.$store.commit('changePlanType', this.plan);
					
			    }, 800);
		    },
		    addPromotionDiscount(event, item){
		    	this.plan = item
				this.plan.item = item
				
				if(event != null){
					this.plan.discounts = {'id': event.id, 'name' : event.name}
				}else{
					this.plan.discounts = ''
				}

				this.$store.commit('changePlanType', this.plan);
		    },
		    addpromotionsDescription(item,event ){
		    	if (this.timer) {
			        clearTimeout(this.timer);
			        this.timer = null;
			    }
			    this.timer = setTimeout(() => {

					this.plan = item
					this.plan.item = item
					this.plan.promotionsDescription = event
					this.$store.commit('changePlanType', this.plan);
			    }, 800);
		    },
			createCustomMobileDescription(item, event){
				if (this.timer) {
			        clearTimeout(this.timer);
			        this.timer = null;
			    }
			    this.timer = setTimeout(() => {
			        this.plan = item
					this.plan.item = item
					this.plan.customDescription = event
					this.$store.commit('changePlanType', this.plan);
			    }, 800);
			},
			duplicateCartItem(item){
				this.plan = item
				var crypto = require("crypto");
				var aroAccessories = []
				if(item.aroAccessories){
					for (let aro of item.aroAccessories) {
						aro.aroID = crypto.randomBytes(20).toString('hex')
						console.log(aro)
						aroAccessories.push(aro)
					}

				}
				this.plan.itemType = 'mobilePlan'
				this.plan.aroAccessories = aroAccessories

				this.$store.commit('duplicateMobilePlan', this.plan);
				this.$toastr.s("Success! Mobile Plan has been added.");
			},
			switchPlanPricing(plan,chart,item){   
				if(plan == 'small'){
					this.plan.planValue = this.mobilePageContent.smallPricing
					this.plan.planType = 'Small'
					this.plan.planOption = { 'id': 2, 'name' : 'Small', 'planType': 'Small'}
					this.plan.deviceDiscounts = chart.discounts.discount_on_small_plan
				}

				if(plan == 'medium'){
					this.plan.planValue = this.mobilePageContent.mediumPricing
					this.plan.planType = 'Medium'
					this.plan.planOption = { 'id': 3, 'name' : 'Medium', 'planType': 'Medium'}
					this.plan.deviceDiscounts = chart.discounts.discount_on_medium_plan
				}

				if(plan == 'large'){
					this.plan.planValue = this.mobilePageContent.largePricing
					this.plan.planType = 'Large'
					this.plan.planOption =  { 'id': 4, 'name' : 'Large', 'planType': 'L'}
					this.plan.deviceDiscounts = chart.discounts.discount_on_large_plan
				}

				if(plan == 'xl'){
					this.plan.planValue = this.mobilePageContent.extraLargePricing
					this.plan.planType = 'XL'
					this.plan.planOption = { 'id': 5, 'name' : 'Extra Large', 'planType': 'XL'}
					this.plan.deviceDiscounts = chart.discounts.discount_on_extra_large_plan
				}

				this.plan.aroAccessories = item.aroAccessories
				this.plan.switchPlan = true
				this.plan.aroAccessoriesTotalPrice = item.aroAccessoriesTotalPrice
				
				this.plan.aroMonths = item.aroMonths
				this.plan.aroAmount = item.aroAmount
				this.plan.aroBase = item.aroBase

				this.plan.vas = item.vas
				this.plan.vasTotalAmount = item.vasTotalAmount
				this.plan.vasIdArray = item.vasIdArray
				this.plan.deviceItem = chart
				this.plan.itemType = 'mobilePlan'

				this.plan.months = item.months
				this.plan.promotionsDescription = item.promotionsDescription
				this.plan.discounts = item.discounts
				this.plan.promotionsPrice = item.promotionsPrice
				this.plan.isQuadrant = (this.$store.state.quadrantItemCount < 5) ? 'isQuadrant' : 'notQuadrant'
				this.plan.addPromotion = item.addPromotion

				this.plan.item = item
				this.plan.mobilePlanMonths = item.mobilePlanMonths
				this.plan.selectedARO = item.selectedARO
				this.plan.selectedAROMonth = item.selectedAROMonth
				this.plan.customDescription = item.customDescription
				if(this.plan.deviceItem.length != 0){
					axios.post('add-to-cart-item',this.plan).then((response) => {
	        			this.mobileDevice.otherDevices = response.data
	        			this.plan.otherDevices = response.data
	        			this.aro.aroTotalAmount = ((this.aro.aroBase / this.aro.aroMonths).toFixed(2))
			    		this.vas.vasTotalAmount = item.vasTotalAmount

			    		var itemPrice = 0

			    		if(this.mobileDevice.deviceItem != 0 && this.mobilePlan.months == "24"){
							itemPrice = item.deviceItem.mths_24_device_payment_contract
						}

						if(this.mobileDevice.deviceItem != 0 && this.mobilePlan.months == "12"){
							itemPrice = item.deviceItem.mths_12_device_payment_contract
						}

			    		this.mobileDevice.totalAmount = (((Number(itemPrice) + Number(this.aro.aroTotalAmount)  + Number(this.vas.vasTotalAmount) + Number(this.plan.planValue) ).toFixed(2) * 12) / item.paymentFrequency).toFixed(2)

						this.mobileDevice.months = item.months
						this.$store.commit('changePlanType', this.plan);
	        		})

        		}else{
        			this.$store.commit('changePlanType', this.plan);
        		}
			},
			nameWithLang ({ model, capacity }) {
		      return `${model} — [${capacity}]`
		    },
			aroWithPrice ({ ProductType, ProductUnitRRPCost, BarCode }) {
		      	if(!ProductType){
					return 'Search'
				}else{
		      		return `${ProductType} — [$${ProductUnitRRPCost}] | ${BarCode}` 
				}
		    },
        	selectedByo(){
        		this.addSim();
        		this.byoSelected = 1

        		console.log(this.byoSelected)
        	},
		    addSim(){
		    	var crypto = require("crypto");
		    	var my_object = {
	    			'vasIdArray' : [],
	    			'paymentDuration' : 24,
	    			'paymentFrequency' : 'monthly',
	    			'paymentFrequencyVal' : 12,
	    			'frequency' : 'monthly',
	    			'planType' : 'sim',
	    			'selectedPlan' : 15.00,
	    			'selectedPlanType' : 'Extra Small',
	    			'vas' : [],
	        		'vasTotalAmount' : 0,
	        		'totalPrice' : 0,
	        		'id' : crypto.randomBytes(20).toString('hex'),
		    	}
		    	this.$store.state.simPlan.push(my_object)
		    	//window.localStorage.setItem('simPlan', JSON.stringify(this.$store.state.simPlan));
		    },
		    onChangeSimPlan(event, item){
		    	console.log(event.target.value)

				if(event.target.value == 1){
					this.plan.amount = 40.00
					this.plan.description = 'XS'
				}

				if(event.target.value == 2){
					this.plan.amount = 55.00
					this.plan.description = 'Small'
				}

				if(event.target.value == 3){
					this.plan.amount = 65.00
					this.plan.description = 'Medium'
				}

				if(event.target.value == 4){
					this.plan.amount = 75.00
					this.plan.description = 'Large'
				}

				if(event.target.value == 5){
					this.plan.amount = 115.00
					this.plan.description = 'XL'
				}
				this.byoSelected = 0

				this.plan.item = item
				this.plan.vas = item.vas
				this.$store.commit('changeSimPlanType', this.plan);
		    },
		    onChangeVasSimPlan(event, item){
		    	this.vas.vas = event
		    	this.vas.item = item

				this.vas.description = item.description
				this.vas.amount = item.selectedPlan
				this.byoSelected = 0

				this.$store.commit('changeSimPlanType', this.vas);
		    },
			addPromotion(event,item){
				this.plan = item
				this.plan.item = item

				this.plan.addPromotion = {'id': event.id, 'name' : event.name}
				if(event.name == "no"){
					this.plan.item.promotionsDescription = ''
					this.plan.item.promotionsPrice = 0
				}
				
				this.$store.commit('changePlanType', this.plan);
			},
		    changeMobilePlanMonthly(event, item){
		    	this.mobilePlan = item
		    	this.mobilePlan.item = item
		    	this.mobilePlan.months = event.value
		    	this.mobilePlan.mobilePlanMonths = {'id' : event.id, 'name' : event.name, 'value': event.value}
		    	this.$store.commit('changePlanType', this.mobilePlan);
		    },
			onChange(event,item){
				this.plan = item
				this.plan.item = item

				if(item.itemType === 'mobilePlan' && event.id == 1){
					this.plan.planValue = this.mobilePageContent.extraSmallPricing
					this.plan.planType = 'XS'
				}

				if(item.itemType === 'broadBandPlan' && event.target.value == 1){
					this.plan.planValue = 15.00
					this.plan.planType = 'XS'
				}

				if(item.itemType === 'mobilePlan' && event.id == 2){
					this.plan.planValue = this.mobilePageContent.smallPricing
					this.plan.planType = 'Small'
				}

				if(item.itemType === 'broadBandPlan' && event.target.value == 2){
					this.plan.planValue = 25.00
					this.plan.planType = 'Small'
				}

				if(item.itemType === 'mobilePlan' && event.id == 3){
					this.plan.planValue = this.mobilePageContent.mediumPricing
					this.plan.planType = 'Medium'
				}

				if(item.itemType === 'broadBandPlan' && event.target.value == 3){
					this.plan.planValue = 55.00
					this.plan.planType = 'Medium'
				}

				if(item.itemType === 'mobilePlan' && event.id == 4){
					this.plan.planValue = this.mobilePageContent.largePricing
					this.plan.planType = 'Large'
				}

				if(item.itemType === 'broadBandPlan' && event.target.value == 4){
					this.plan.planValue = 75.00
					this.plan.planType = 'Large'
				}

				if(item.itemType === 'mobilePlan' && event.id == 5){
					this.plan.planValue = this.mobilePageContent.extraLargePricing
					this.plan.planType = 'XL'
				}

				this.plan.planOption = {'id': event.id, 'name' : event.name, 'planType' : event.planType}

				this.$store.commit('changePlanType', this.plan);
			},
			onChangeAro(event, item){
				this.plan = item
				this.plan.item = item

				this.plan.aroBase = Number(event.value).toFixed(2)
				this.plan.selectedARO = {'id': event.id, 'value': Number(event.value).toFixed(2), 'name': event.name}
				
				this.$store.commit('changePlanType', this.plan);
			},
		    changeMobileAROMonthly(event, item){
		    	this.plan = item
				this.plan.item = item

				this.plan.aroMonths = event.value

		    	this.plan.aroMonths = event.value
		    	this.plan.selectedAROMonth = {'id' : event.id, 'name' : event.name, 'value' : event.value}
		    	
				this.$store.commit('changePlanType', this.plan);
		    },
			onDeviceChange(event,item){
				this.mobileDevice.description = item.planType
				this.mobileDevice.amount = item.planValue

				this.mobileDevice.aroAccessories = item.aroAccessories
				this.mobileDevice.aroBase = item.aroBase
				this.mobileDevice.aroAmount = item.aroAmount
				this.mobileDevice.aroMonths = item.aroMonths

				this.mobileDevice.planType = item.planType
				this.mobileDevice.planValue = item.planValue
				this.mobileDevice.itemType = 'mobilePlan'

				this.mobileDevice.vas = item.vas
				this.mobileDevice.vasTotalAmount = item.vasTotalAmount
				this.mobileDevice.vasIdArray = item.vasIdArray

				this.mobileDevice.item = item
				this.mobileDevice.planOption = item.planOption
				this.mobileDevice.mobilePlanMonths = item.mobilePlanMonths
				this.mobileDevice.selectedARO = item.selectedARO
				this.mobileDevice.selectedAROMonth = item.selectedAROMonth
				this.mobileDevice.customDescription = item.customDescription
				this.mobileDevice.promotionsDescription = item.promotionsDescription
				this.mobileDevice.discounts = item.discounts
				this.mobileDevice.addPromotion = item.addPromotion
				this.mobileDevice.promotionsPrice = item.promotionsPrice
				this.mobileDevice.isQuadrant = (this.$store.state.quadrantItemCount < 5) ? 'isQuadrant' : 'notQuadrant'

				if(event != null){
					this.mobileDevice.deviceItem = event
				}else{
					this.mobileDevice.deviceItem = 0
				}

				axios.post('add-to-cart-item',this.mobileDevice).then((response) => {
        			this.mobileDevice.otherDevices = response.data
        			this.aro.aroTotalAmount = ((item.aroBase / item.aroMonths).toFixed(2))
		    		this.vas.vasTotalAmount = item.vasTotalAmount

		    		var itemPrice = 0

		    		if(this.mobileDevice.deviceItem != 0 && this.mobilePlan.months == "24"){
						itemPrice = this.mobileDevice.deviceItem.mths_24_device_payment_contract
					}

					if(this.mobileDevice.deviceItem != 0 && this.mobilePlan.months == "12"){
						itemPrice = this.mobileDevice.deviceItem.mths_12_device_payment_contract
					}

					if(this.mobileDevice.deviceItem != 0 && this.mobilePlan.months == "24"){
						itemPrice = this.mobileDevice.deviceItem.mths_24_device_payment_contract
					}

					if(this.mobileDevice.deviceItem != 0 && this.mobilePlan.months == "12"){
						itemPrice = this.mobileDevice.deviceItem.mths_12_device_payment_contract
					}

					if(item.planType == 'Small'){
						this.mobileDevice.deviceDiscounts = this.mobileDevice.deviceItem.discounts.discount_on_small_plan
					}

					if(item.planType == 'Medium'){
						this.mobileDevice.deviceDiscounts = this.mobileDevice.deviceItem.discounts.discount_on_medium_plan
					}

					if(item.planType == 'Large'){
						this.mobileDevice.deviceDiscounts = this.mobileDevice.deviceItem.discounts.discount_on_large_plan
					}

					if(item.planType == 'XL'){
						this.mobileDevice.deviceDiscounts = this.mobileDevice.deviceItem.discounts.discount_on_extra_large_plan
					}

		    		this.mobileDevice.totalAmount = (((Number(itemPrice) + Number(this.aro.aroTotalAmount)  + Number(this.vas.vasTotalAmount) + Number(item.planValue) ).toFixed(2) * 12) / item.paymentFrequency).toFixed(2)

					this.mobileDevice.months = item.months
					this.$store.commit('changePlanType', this.mobileDevice);
        		})
			},
			onChangeVas(event, item){
				this.vas = item
				this.vas.item = item
				var vasTotalAmount = 0;
				for (let val of event) {
			      	vasTotalAmount += val.amount
			  	}
				this.vas.vas = event
				this.$store.commit('changePlanType', this.vas);
			},
			removeFromCart(item) {
				this.mobileDevice.otherDevices = ''
	            this.$store.commit('removeFromCart', item);
	        },
	        removeSimPlanFromCart(item){
	        	this.$store.commit('removeSimPlanFromCart', item);
	        },
        	getPageContent(){
        		axios.get('/get-mobile-page-content').then((response) => {
        			this.mobilePageContent = response.data
        		})
        	},

	        getStocks(){
	        	axios.get('/get-stock').then((response) => {
	        		this.clickPosStocks = response.data
	        	})
	        },
	        removeAroAccessory(item, index, accessory){
	        	this.plan = item
				this.plan.id = item.id
				this.plan.item = item
	        	this.plan.index = index
	        	this.plan.aroAccessoryForDelete = accessory
	        	this.$store.commit('changePlanType', this.plan);
	        },
	        addAROPrice(item, price, accessory){
	        	if (this.timer) {
			        clearTimeout(this.timer);
			        this.timer = null;
			    }
			    this.timer = setTimeout(() => {
			    	console.log(accessory)
			    	console.log(price)

			    	var my_object = {
		        		'aroID': accessory.aroID,
						'BarCode': accessory.BarCode,
						'ProductType': accessory.ProductType,
						'ProductUnitRRPCost' : accessory.ProductUnitRRPCost,
						'aroPrice' : Number(price)
					}

					this.plan = item
					this.plan.id = item.id
					this.plan.item = item
		        	this.plan.aroAccessory = my_object
		        	this.$store.commit('changePlanType', this.plan);
			    }, 800);
	        },
	        addNewAccessory(item){
		    	var crypto = require("crypto");

	        	var my_object = {
	        		'aroID':crypto.randomBytes(20).toString('hex'),
					'BarCode': "",
					'ProductType': "",
					'ProductUnitRRPCost' : 0,
					'aroPrice' : 0,
					'aroAdd': true,
					'isAROBaseEqual': false
				}	

				this.plan = item
				this.plan.id = item.id
				this.plan.item = item
	        	this.plan.aroAccessory = my_object
	        	this.$store.commit('changePlanType', this.plan);
	        },
	        onChangeStock(event, item, index){
	        	if(event){
		        	this.plan = item
					this.plan.id = item.id
					this.plan.item = item

					this.plan.aroAccessory = {'BarCode': event.BarCode,'ProductType': event.ProductType,'ProductUnitRRPCost': event.ProductUnitRRPCost, 'aroID' : item.aroAccessories[index].aroID, 'aroPrice' : event.ProductUnitRRPCost}

		        	this.$store.commit('changePlanType', this.plan);
		        }else{
		        	this.plan.aroAccessory.BarCode = ''
		        	this.plan.aroAccessory.ProductType = ''
		        	this.plan.aroAccessory.ProductUnitRRPCost = ''
		        	this.plan.aroAccessory.aroPrice = ''
		        }
	        }
		}
	}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style type="text/css" scoped>
	.subTotalMobilePlanPrice{ border:1px solid #e2e2d2;padding:10px; background-color: #bababa;}

	#planCartTable { border-collapse: separate; border-spacing: 0px; }
	thead {background-color:#068edf;color:#fff;}
	/*#planCartTable thead tr:first-child td:first-child { border-top-left-radius: 10px; }
	#planCartTable thead tr:last-child td:last-child { border-top-right-radius: 10px; }
	#planCartTable tbody tr:first-child td:first-child { border-bottom-left-radius: 10px; }
	#planCartTable tbody tr:last-child td:last-child { border-bottom-right-radius: 10px; }*/

	#priceTable { border-collapse: separate; border-spacing: 0px; }
	#priceTable thead {background-color:#bababa;color:#fff;}
	#priceTable thead tr:first-child td:first-child { border-top-left-radius: 10px; }
	#priceTable thead tr:last-child td:last-child { border-top-right-radius: 10px; }
	#priceTable tbody tr:last-child td:first-child { border-bottom-left-radius: 10px; }
	#priceTable tbody tr:last-child td:last-child { border-bottom-right-radius: 10px; }

	.activeItem{
		background-color:#068edf;
		color:#fff;
	}

	.pricingItem:hover{
		background: rgba(234,167,33,0.6) !important;
		color:#fff;
		cursor: pointer;
	}

	.text-right{
		text-align:right
	}

	.planTitle{
		/*background-color: rgb(186, 186, 186);*/
	    margin-left: 0%;
	    margin-right: 0%;
	    border-radius: 10px;
	    /*padding-left:15%;*/
	}

	.pull-right{
		float: right;
	}

	.planTable { padding-top:1rem; border-bottom:4px solid #39C071; }

	.totalRow{
		width: 113%;
	    border: 2px solid #38c172;
	    padding-right: 15px;
	    padding-top: 10px;
	    border-radius: 10px;
	    margin-left: -9px;
	    color:#38c172;
	}
</style>