<template>
	<div>
		<div class="row justify-content-center">
	        <div class="col-md-12 row">
	            <div class="col-md-6">
	            	<div v-if="mobileDevices.length == '0'">
		                <table class="table table-bordered text-center" style="border:none !important;background: #fff">
		                    <tbody>
		                        <tr>
		                            <td style="border:none !important;"></td>
		                            <td><h1>S</h1></td>
		                            <td><h1>M</h1></td>
		                            <td><h1>L</h1></td>
		                            <td><h1>XL</h1></td>
		                        </tr>
		                        <tr>
		                            <td><img src="img/icon.png"></td>
		                            <td><h5>30GB</h5><h6>with Peace of Mind Data</h6></td>
		                            <td><h5>60GB</h5><h6>with Peace of Mind Data</h6></td>
		                            <td><h5>100GB</h5><h6>with Peace of Mind Data</h6></td>
		                            <td><h5>150GB</h5><h6>with Peace of Mind Data</h6></td>
		                        </tr>
		                        <tr>
		                            <td><img src="img/icon.png"></td>
		                            <td colspan="4"><h4>Unlimited</h4><h5>Talk,Text & MMS</h5></td>
		                        </tr>
		                        <tr>
		                            <td><img src="img/icon.png"></td>
		                            <td colspan="2"><h6>5G Network access<br/>during free trial on compatible devices</h6></td>
		                            <td colspan="2"><h6>5G Network access<br/>on compatible devices</h6></td>
		                        </tr>
		                        <tr>
		                            <td><img src="img/icon.png"></td>
		                            <td colspan="4">
		                                <p><strong>Bonus inclusions that comes with your plan today</strong></p>
		                                <p>Watch AFL, AFLW, NRL, Netball and soccer games live and data free with 2020 season Live Pass</p>
		                                <p>Access free Wi-Fi data at Telstra Air hotspots accross Australia, and Fon spots overseas</p>
		                                <p>Earn rewards and experience exciting membership benefits with Telstra Plus, ask us how</p>
		                            </td>
		                        </tr>
		                    </tbody>
		                </table>
	            	</div>

	            	<div v-if="mobileDevices.length">
	            		<table class="table table-bordered text-center" style="border:none !important;background: #fff">
	            			<tr>
	            				<td colspan="3">
	            					<h4>Customise your mobile</h4>
	            				</td>
	            				<td>
	            					<button type="button" class="btn btn-primary" @click="closePlanCustomisation">Close</button>
	            				</td>
	            			</tr>
	            		</table>
	            	</div>
	            </div>

	            <div class="col-md-6">
	            	<div v-if="mobileDevices.length == '0'">
	                	<h3 class="text-white text-center">Choose Category</h3>
	                
						<paginate
						  name="plans"
						  :list="mobilePlans"
						  :per="5"
						>
							<li v-for="mobilePlan in paginated('plans')" class="list-group-item" @click.prevent="selectBrand(mobilePlan.id)">
						    	<img height="50" :src="mobilePlan.image_url"> <span>{{mobilePlan.category_name}}</span>
						 	</li>
						</paginate>
						<paginate-links for="plans" :simple="{
					        next: 'Next »',
					        prev: '« Back'
					      }"></paginate-links>
					</div>

				    <div v-if="mobileDevices.length">
				    	<!-- <h3 class="text-white text-center">Choose Device</h3> -->

					     <paginate
						  name="devices"
						  :list="mobileDevices"
						  :per="7"
						>
						 	<table class="table table-bordered text-center" style="border:none !important;background: #fff">
						 		<thead>
						 			<tr>
						 				<td></td>
						 				<td>S</td>
						 				<td>M</td>
						 				<td>L</td>
						 				<td>XL</td>
						 			</tr>
						 		</thead>
						 		<tbody>
							 		<tr v-for="mobileDevice in paginated('devices')">
							 			<td>
							 				<!-- <img height="50" src="/img/mobile_plans/default.png">  -->
							 				<span>{{mobileDevice.model}} {{mobileDevice.capacity}}</span>
							 			</td>
							 			<td class="productHover">
							 				<span v-if="paymentDuration == '36'" @click="confirmCartItem(mobileDevice, mobileDevice.mths_36_device_payment_contract, paymentFrequencyVal, Number(50.00), 'Small')">
							 					${{(((Number(mobileDevice.mths_36_device_payment_contract) + Number(50.00) ).toFixed(2) * 12) / paymentFrequencyVal).toFixed(2)}} 
							 				</span>
							 				<span v-else @click="confirmCartItem(mobileDevice, mobileDevice.mths_36_device_payment_contract, paymentFrequencyVal, Number(50.00), 'Small')">
							 					${{(((Number(mobileDevice.mths_24_device_payment_contract) + Number(50.00) ).toFixed(2) * 12) / paymentFrequencyVal).toFixed(2)}} 
							 				</span>
							 			</td>
							 			<td class="productHover">
							 				<span v-if="paymentDuration == '36'" @click="confirmCartItem(mobileDevice, mobileDevice.mths_36_device_payment_contract, paymentFrequencyVal, Number(60.00), 'Medium')">
							 					${{(((Number(mobileDevice.mths_36_device_payment_contract) + Number(60.00) ).toFixed(2) * 12) / paymentFrequencyVal).toFixed(2)}} 
							 				</span>
							 				<span v-else @click="confirmCartItem(mobileDevice, mobileDevice.mths_36_device_payment_contract, paymentFrequencyVal, Number(60.00), 'Medium')">
							 					${{(((Number(mobileDevice.mths_24_device_payment_contract) + Number(60.00) ).toFixed(2) * 12) / paymentFrequencyVal).toFixed(2)}} 
							 				</span>
							 			</td>
							 			<td class="productHover">
							 				<span v-if="paymentDuration == '36'" @click="confirmCartItem(mobileDevice, mobileDevice.mths_36_device_payment_contract, paymentFrequencyVal, Number(80.00), 'Large')">
							 					${{(((Number(mobileDevice.mths_36_device_payment_contract) + Number(80.00) ).toFixed(2) * 12) / paymentFrequencyVal).toFixed(2)}} 
							 				</span>
							 				<span v-else @click="confirmCartItem(mobileDevice, mobileDevice.mths_36_device_payment_contract, paymentFrequencyVal, Number(80.00), 'Large')">
							 					${{(((Number(mobileDevice.mths_24_device_payment_contract) + Number(80.00) ).toFixed(2) * 12) / paymentFrequencyVal).toFixed(2)}} 
							 				</span>
							 			</td>
							 			<td class="productHover">
							 				<span v-if="paymentDuration == '36'" @click="confirmCartItem(mobileDevice, mobileDevice.mths_36_device_payment_contract, paymentFrequencyVal, Number(100.00), 'XL')">
							 					${{(((Number(mobileDevice.mths_36_device_payment_contract) + Number(100.00) ).toFixed(2) * 12) / paymentFrequencyVal).toFixed(2)}} 
							 				</span>
							 				<span v-else @click="confirmCartItem(mobileDevice, mobileDevice.mths_36_device_payment_contract, paymentFrequencyVal, Number(100.00), 'XL')">
							 					${{(((Number(mobileDevice.mths_24_device_payment_contract) + Number(100.00) ).toFixed(2) * 12) / paymentFrequencyVal).toFixed(2)}} 
							 				</span>
							 			</td>
							 		</tr>
							 	</tbody>
						 	</table>
						</paginate>
						<paginate-links for="devices" :show-step-links="true"></paginate-links>
						<ul style="background: #fff;padding-top:10px;padding-bottom: 10px;">
							<li>Device Over</li>
							<li><button :class="paymentDuration == '24' ? 'btn btn-success' : 'btn btn-default bordered'" @click="changePaymentDuration(24)">24 months</button></li>
							<li><button :class="paymentDuration == '36' ? 'btn btn-success' : 'btn btn-default bordered'" @click="changePaymentDuration(36)">36 months</button></li>
						</ul>

						<ul style="background: #fff;padding-top:10px;padding-bottom: 10px;">
							<li>Payment frequency</li>
							<li><button :class="paymentFrequency == 'weekly' ? 'btn btn-success' : 'btn btn-default bordered'" @click="changePaymentFrequency('weekly', 52)">Weekly</button></li>
							<li><button :class="paymentFrequency == 'fortnightly' ? 'btn btn-success' : 'btn btn-default bordered'" @click="changePaymentFrequency('fortnightly', 26)">Fortnightly</button></li>
							<li><button :class="paymentFrequency == 'monthly' ? 'btn btn-success' : 'btn btn-default bordered'" @click="changePaymentFrequency('monthly', 12)">Monthly</button></li>
						</ul>
					</div>

					<!--Modal Confirmation for add to cart item-->
					<div class="modal fade" id="confirmCheckoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  	<div class="modal-dialog" role="document">
						    <div class="modal-content">
						      	<div class="modal-header">
							        <h5 class="modal-title" id="exampleModalLabel">Add to Cart?</h5>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
						      	</div>
						      	<div class="modal-body">
						        	Are you sure you want to add this item to cart?
						      	</div>
						      	<div class="modal-footer">
							        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
							        <button type="button" class="btn btn-primary" @click="addToCart()">Yes</button>
						      	</div>
						    </div>
					  	</div>
					</div>
	            </div>
	        </div>
	    </div>
	</div>
</template>

<style type="text/css">
	.productHover:hover{
		background-color:#000;
		color:#fff;
		cursor: pointer;
	}

	.bordered{
		border: 1px solid #000;
	}

	a:hover{
		cursor: pointer;
	}
	ul {
	  list-style-type: none;
	  padding: 0;
	}

	li {
	  display: inline-block;
	  margin: 0 10px;
	}

	.priceTable{
		border:1px solid #000;
	}

	.paginate-links{
		background-color: #fff;
		text-align: center;
		padding:10px;
		font-size: 18px;
		margin:0px 40px 20px 40px;
	}

	.paginate-list {
	  width: 159px;
	  margin: 0 auto;
	  text-align: left;
	  li {
	    display: block;
	    &:before {
	      content: '⚬ ';
	      font-weight: bold;
	      color: slategray;
	    }
	  }
	}

	.list-group-item {
		cursor: pointer;
		margin-bottom: 10px;
	}
	.paginate-links.items {
	  user-select: none;
	  a {
	    cursor: pointer;
	  }
	  li.active a {
	    font-weight: bold;
	  }
	  li.next:before {
	    content: ' | ';
	    margin-right: 13px;
	    color: #ddd;
	  }
	  li.disabled a {
	    color: #ccc;
	    cursor: no-drop;
	  }
	}

	.disabled{
		color: #ccc;
	    cursor: no-drop;
	}

	a {
	  color: #42b983;
	}
</style>

<script>
	import VuePaginate from 'vue-paginate'
	Vue.use(VuePaginate)

    export default {
    	data() {
            return {
            	mobilePlans: [],
            	paginate: ['plans','devices'],
            	plan: {'id': ''},
            	mobileDevices : [],
            	paymentDuration: 36,
            	paymentFrequency: 'monthly',
            	paymentFrequencyVal : 12,
            	cartItem: {'mobileDevice' : {}, 'price' : 0, 'paymentFrequency' : '', 'planValue' : '', 'planType' : '', 'paymentDuration' : 36},
            	frequency : {'paymentFrequency' : 'monthly', 'paymentFrequencyVal' : 12, 'paymentDuration' : 36}
            }
        },
        mounted() {
        	this.getMobilePlans();
        },
        methods:{
        	confirmCartItem(mobileDevice, price,paymentFrequency, planValue, planType){
        		this.cartItem.mobileDevice = mobileDevice
        		if(this.paymentDuration == 36){
        			this.cartItem.price = mobileDevice.mths_36_device_payment_contract
        		}else{
        			this.cartItem.price = mobileDevice.mths_24_device_payment_contract
        		}
        		//this.cartItem.price = price
        		this.cartItem.paymentFrequency = paymentFrequency
        		this.cartItem.frequency = this.frequency.paymentFrequency
        		this.cartItem.planValue = planValue
        		this.cartItem.planType = planType
        		$('#confirmCheckoutModal').modal('show')
        	},
        	addToCart(){
        		this.cartItem.paymentDuration = this.paymentDuration
        		this.$store.commit('addToCart', this.cartItem);
        		$('#confirmCheckoutModal').modal('hide')
        	},
        	changePaymentFrequency(paymentFrequency, paymentFrequencyVal){
        		this.paymentFrequency = paymentFrequency
        		this.paymentFrequencyVal = paymentFrequencyVal
        		this.frequency.paymentFrequency = paymentFrequency
        		this.frequency.changePaymentDuration = this.frequency.changePaymentDuration
        		this.frequency.paymentFrequencyVal  = paymentFrequencyVal
        		this.$store.commit('changeCartPaymentFrequency', this.frequency);
        	},
        	changePaymentDuration(paymentDuration){
        		this.paymentDuration = paymentDuration
        		this.frequency.changePaymentDuration = paymentDuration
        		this.$store.commit('changeCartPaymentFrequency', this.frequency);
        		//this.$store.commit('changeCartPaymentDuration', this.frequency);
        	},
        	closePlanCustomisation(){
        		this.mobileDevices = [];
        	},
        	getMobilePlans(){
        		axios.get('/get-mobile-plans').then(response => {
        			this.mobilePlans = response.data
        		});
        	},
        	selectBrand(id){
        		this.plan.id = id

        		axios.post('/get-mobile-devices', this.plan).then(response => {
        			this.mobileDevices = response.data
        		});
        	}
        }
    }
</script>