<template>
    <div id="mobile-broadbands" v-if="$store.state.mobileBroadbands.length != '0'" class="container-fluid">
    	<div class="row" style="padding-top:3rem;">
			<div class="col-md-12">
	            <h3 style="color:#3490dc">Mobile Broadband</h3>
            	<span v-for="(item,index) in $store.state.mobileBroadbands">
		        	<table  style="border:none !important;background: #fff" id="planCartTable" class="table table-bordered text-center" v-if="$store.state.mobileBroadbands.length != '0'">
		        		<thead>
		        			<tr>
		        				<td style="border-top-left-radius: 10px;padding:10px 5px 5px 5px;"><h5 style="padding:0px;">Items</h5></td>
		        				<td style="padding:10px 5px 5px 5px;"><h5 style="padding:0px;">Amount</h5></td>
		        				<td style="border-top-right-radius: 10px;padding:10px 5px 5px 5px;"><h5 style="padding:0px;">Remove</h5></td>
		        			</tr>
		        		</thead>
		        		<tbody class="text-center">
		            		<tr>
		            			<td style="text-align: left;width:35%">
		            				<div class="form-group row">
									    <div class="col-sm-12">
			            					<input type="text" @keyup="createCustomMobileDescription(item, item.customDescription)" v-model="item.customDescription" class="form-control" style="margin-bottom:1rem" placeholder="Service Number">
			            				</div>
		            				</div>
		            				<div class="form-group row">
									    <h5 class="col-sm-12"><p>Mobile Plan:</p></h5>
									    <div class="col-sm-12">
										  	<multiselect 
		                                      	:options="planOptions" :value="item.planOption" :close-on-select="true" :clear-on-select="false" :multiple="false" track-by="id" label="name" placeholder="Select Broadband Plan" @input="onChange($event,item)">
		                                    </multiselect>
									    </div>
									</div>
									<div class="form-group row">
									    <h5 class="col-sm-12"><p>Mobile Device:</p></h5>
									  		<div class="col-sm-12">
		                                	<multiselect 
		                                      	:options="allBroadbandDevices" :value="item.deviceItem" :close-on-select="true" :multiple="false" track-by="id" label="name" placeholder="Select Mobile Broadband Device" @input="onDeviceChange($event,item)" :custom-label="nameWithLang">
		                                    </multiselect>
									  	</div>
									  	<div class="col-sm-12" style="padding-top:1rem">
										  	<multiselect 
		                                      	:options="mobilePlanMonthOptions" :value="item.mobilePlanMonths" :close-on-select="false" :clear-on-select="false" :multiple="false" track-by="id" label="name" placeholder="Select Mobile Plan" @input="changeMobilePlanMonthly($event,item)">
		                                    </multiselect>
									  	</div>
									  </div>
									<div class="form-group row">
										<h5 class="col-sm-12"><p>VAS:</p></h5>
										<div class="col-sm-12">
											<multiselect 
		                                      	:options="vasMobileBroadbandOptions" :value="item.vas" :close-on-select="false" :clear-on-select="false" :multiple="true" track-by="id" label="name" placeholder="Select VAS" @input="onChangeVas($event,item)">
		                                    </multiselect>
									  	</div>
									  </div>
									<div class="form-group row">
										<h5 class="col-sm-12"><p>ARO:</p></h5>
										<div class="col-sm-12">
										  	<multiselect 
		                                      	:options="aroOptions" :value="item.selectedARO" :close-on-select="false" :clear-on-select="false" :multiple="false" track-by="id" label="name" placeholder="Select ARO" @input="onChangeAro($event,item)">
		                                    </multiselect>
									  	</div>

									  	<div class="col-sm-12" style="padding-top:1rem">
										  	<multiselect 
		                                      	:options="aroMonthOptions" :value="item.selectedAROMonth" :close-on-select="false" :clear-on-select="false" :multiple="false" track-by="id" label="name" placeholder="Select ARO" @input="changeMobileAROMonthly($event,item)">
		                                    </multiselect>
									  	</div>
									</div>
								  	
		            			</td>
		            			<td style="text-align:left;width:40%">
									<div class="row" style="margin-left:1px;">
			            				<h5 class="col-6">
			            					Mobile Plan:
			            				</h5>

			            				<h5 class="col-6">
			            					${{Number(item.planValue).toFixed(2)}}
			            				</h5>
			            			</div>

			            			<div class="row" style="margin-left:1px;">
			            				<h5 class="col-6">
			            					Broadband Price:
			            				</h5>

			            				<h5 class="col-6">
			            					${{item.price}}
			            				</h5>
			            			</div>

			            			<div class="row" style="margin-left:1px;">
			            				<h5 class="col-6">
			            					ARO:
			            				</h5>

			            				<h5 class="col-6">
			            					${{item.aroAmount}}
			            				</h5>
			            			</div>

			            			<div class="row" style="margin-left:1px;">
			            				<h5 class="col-6">
			            					VAS:
			            				</h5>

			            				<h5 class="col-6">
			            					${{item.vasTotalAmount}}
			            				</h5>
			            			</div>
									<br/>
									<div class="row" style="margin-left:5px;margin-right:5px;margin-left:8px;">
			            				<h5 class="col-6"  style="border-top-left-radius:10px;border-bottom-left-radius:10px;background-color:#39C071;color:#fff;text-align: left;padding:10px 0px 10px 10px;">
			            					Total:
			            				</h5>

			            				<h5 class="col-6"  style="border-top-right-radius:10px;border-bottom-right-radius:10px;background-color:#39C071;color:#fff;text-align: left;padding:10px 0px 10px 20px;">
			            					${{item.totalPrice}}
			            				</h5>
			            			</div>
		            			</td>
		            			<td class="text-center" style="width:13%">
		            				<span style="cursor:pointer" 
					                    title="Remove from cart"
					                    @click.prevent="removebroadBandPlanFromCart(item)">
					                    <img src="/img/Delete_Icon.svg" height="30">
					                   
					                </span>
		            			</td>
		            		</tr>
		            	</tbody>
		        	</table>

		        	<div class="form-group row" v-for="(aro,key) in item.aroAccessories" v-if="item.aroBase != '0' && item.aroBase != '0.00'">
				        		<div class="col-sm-8">
									<h6 class="col-sm-12"><span>Accessories:</span></h6>
									<div class="col-sm-12">
	                                    <multiselect 
	                                      	:options="clickPosStocks" :value="aro" :close-on-select="true" :clear-on-select="false" :multiple="false" track-by="BarCode" label="ProductType" placeholder="Select Accesory" @input="onChangeStock($event,item, key)" :custom-label="aroWithPrice">
	                                    </multiselect>
								  	</div>
								</div>

								<div class="col-sm-3">
									<h6 class="col-sm-12"><span>Price:</span></h6>
									<div class="col-sm-12">
										<input type="number" @keyup="addAROPrice(item, item.aroAccessories[key].aroPrice, item.aroAccessories[key])" v-model="item.aroAccessories[key].aroPrice" :class="Number(aro.ProductUnitRRPCost) < Number(aro.aroPrice) ? 'form-control red' : (Number(aro.ProductUnitRRPCost) > Number(aro.aroPrice) ? 'form-control green' : 'form-control') " style="margin-bottom:1rem" placeholder="Enter ARO Price">
									</div>
								</div>

								<div class="col-sm-1">
									<h6 class="col-sm-12"><span>&nbsp;</span></h6>
									<span class="fa fa-trash" @click.prevent="removeAroAccessory(item, key, item.aroAccessories[key])"></span>
								</div>
							</div>

							<div class="form-group row offset-8" v-if="item.aroBase != '0' && item.aroBase != '0.00'">
								<button class="btn btn-primary" v-if="Number(item.aroAccessoriesTotalPrice) < Number(item.aroBase)" @click.prevent="addNewAccessory(item)">Add New Accessory</button>
								<h4 class="col-sm-12" style="padding-top:20px;">
									<span v-if="Number(item.aroAccessoriesTotalPrice) > Number(item.aroBase) || Number(item.aroAccessoriesTotalPrice) < Number(item.aroBase)" style="color:red">ARO Total: ${{Number(item.aroAccessoriesTotalPrice).toFixed(2)}}</span>
									<span v-else style="color:green">ARO Total: ${{Number(item.aroAccessoriesTotalPrice).toFixed(2)}}</span>
								</h4>
							</div>
		        </span>

	        	<div class="container-fluid text-center">
		        	<div class="row">
		        		<div class="col-md-12">
		        			<div class="row">
			        			<div class="col-6" style="padding-right:0px;max-width:40%;flex:0 0 40%;">
				        			<h4 class="subTotalMobilePlanPrice" style="padding-top:10px;padding-bottom:10px;border-top-left-radius: 10px;border-bottom-left-radius:10px;">Subtotal</h4>
				        		</div>
				        		<div class="col-6" style="padding-left:0px;max-width:60%;flex:0 0 60%;">
				        			<h4 class="subTotalMobilePlanPrice" style="padding-top:10px;padding-bottom:10px;border-top-right-radius: 10px;border-bottom-right-radius:10px;">${{subTotalMobileBroadbandPrice}}</h4>
				        		</div>
				        	</div>
		        		</div>
		        		
			        </div>
		        </div>
	        </div>
        </div>
    </div>
</template>

<script>
	import Vue from "vue";
	import vSelect from "vue-select";
	import Multiselect from 'vue-multiselect'
	import moment from 'moment'

	Vue.component("v-select", vSelect);
	import "vue-select/dist/vue-select.css";
	import vueSmoothScroll from 'vue2-smooth-scroll'
	Vue.use(vueSmoothScroll)

	export default{
		components: { Multiselect },
		data(){
			return{
				value: [],
				customDescription:[],
				paymentPlan: [],
				cartItems : [],
				paymentFrequency: '',
				frequency: {'paymentFrequencyVal' : '', 'paymentFrequency' : ''},
				plan:{'amount': '', 'description' : '', 'item' : {}},
				simPlan:{'amount': '', 'description' : '', 'item' : {}},
				hroList: [],
				aro: {'base': '', 'monthly': ''},
				vas: {'valueAddedServiceAmount': '', 'valueAddedServiceDescription' : ''},
				simPlanVas: {'valueAddedServiceAmount': '', 'valueAddedServiceDescription' : ''},
				hro: {'hroMonthly': 24, 'item' : {}, 'selectedHroItem': {}},
				mobileDevice : {'device' : '', 'item': {}},
            	vasSimPlanOptions: [
            		{'id' : 0,'name' : 'International Calling Pack' , 'amount' : 10},
            		{'id' : 2,'name' : 'Telstra Locator Subscription' , 'amount' : 10},
            		{'id' : 3,'name' : 'Telstra One Number' , 'amount' : 5}
            	],
            	vasOptions: [
            		{'id' : 0,'name' : 'International Calling Pack' , 'amount' : 10},
            		{'id' : 1,'name' : 'Stay Connected Advanced' , 'amount' : 15},
            		{'id' : 2,'name' : 'Telstra Locator Subscription' , 'amount' : 10},
            		{'id' : 3,'name' : 'Telstra One Number' , 'amount' : 5},
            		{'id' : 4, 'name' : 'Mobile Swap Azure', 'amount' : 10},
            		{'id' : 5, 'name' : 'Upgrade and Protect', 'amount' : 15},
            	],
            	vasMobileBroadbandOptions: [
            		{'id' : 0,'name' : 'International Calling Pack' , 'amount' : 10},
            		{'id' : 1,'name' : 'Stay Connected Advanced' , 'amount' : 15},
            		{'id' : 2,'name' : 'Telstra Locator Subscription' , 'amount' : 10},
            		{'id' : 3,'name' : 'Telstra One Number' , 'amount' : 5},
            		{'id' : 5, 'name' : 'Upgrade and Protect', 'amount' : 15},
            	],
            	device: '',
            	allDevices: [],
            	allBroadbandDevices: [],
            	checkoutItems: {'hro': [], 'cart': []},
            	grandTotal : 0,
            	subTotalHro : 0,
            	subTotalMobilePlan : 0,
            	subTotalSimPlan : 0,
            	subTotalMobileBroadband : 0,
            	mobilePlan: {item: {}, paymentFrequency: 24},
            	planOptions: [
			        { 'id': 1, 'name' : 'Extra Small', 'planType': 'XS'},
			        { 'id': 2, 'name' : 'Small', 'planType': 'Small'},
			        { 'id': 3, 'name' : 'Medium', 'planType': 'Medium'},
			        { 'id': 4, 'name' : 'Large', 'planType': 'L'},
			    ],
			    mobilePlanMonthOptions: [{'id': 0, 'name' : '12 months', 'value': 12},{'id': 1, 'name' : '24 months', 'value': 24}],
			    aroOptions: [
			    {'id':0,'name':'None','value':0.00},
			    {'id':1,'name':'$120.00','value':120.00},
			    {'id':2,'name':'$180.00','value':180.00},
			    {'id':3,'name':'$240.00','value':240.00}],
			    aroMonthOptions: [{'id': 0, 'name' : '12 months', 'value': 12},{'id': 1, 'name' : '24 months', 'value': 24}],
				clickPosStocks: [],
				aroPrice: []
			}
		},
		mounted(){
			this.paymentFrequency = (this.$store.state.cart.length && this.$store.state.cart[0].paymentFrequencyVal) ? this.$store.state.cart[0].paymentFrequencyVal : 12

	    	axios.get('/get-all-mobile-devices').then((response) => {
	    		this.allDevices = response.data
	    	})

	    	axios.get('/get-all-mobile-broadband-devices').then((response) => {
	    		this.allBroadbandDevices = response.data
	    	})
	    	this.getStocks()
		},
	    computed: {
	    	totalCount(){
	    		let total = 0;

	            for (let item of this.$store.state.cart) {
	                total += item.quantity;
	            }

	            return total;
	    	},
	    	subTotalHroPrice(){
	    		let totalHro = 0;
	    		for (let item of this.$store.state.hro) {
	                totalHro += Number(item.hroMonthlyPrice);
	            }
	            this.subTotalHro = Number(totalHro).toFixed(2)
	            return totalHro.toFixed(2)
	    	},
	    	subTotalMobilePlanPrice(){
	    		let total = 0;
				for (let item of this.$store.state.cart) {
	                total += Number(item.totalPrice);
	            }
	            this.subTotalMobilePlan = Number(total).toFixed(2)
	            return total.toFixed(2)
	    	},
	    	subTotalMobileBroadbandPrice(){
	    		let total = 0;
				for (let item of this.$store.state.mobileBroadbands) {
	                total += Number(item.totalPrice);
	            }
	            this.subTotalMobileBroadband = Number(total).toFixed(2)
	            return total.toFixed(2)
	    	},
	    	subTotalSimPlanPrice(){
	    		let totalSimPlan = 0;
	    		for (let item of this.$store.state.simPlan) {
	                totalSimPlan += Number(item.totalPrice);
	            }
	            this.subTotalSimPlan = (totalSimPlan).toFixed(2)
	            return totalSimPlan.toFixed(2)
	    	},
	        totalPrice() {
	            let total = 0;
	            let totalHro = 0;
	            let totalSimPlan = 0;
	            let totalMobileBroadband = 0

	            for (let item of this.$store.state.cart) {
	                total += Number(item.totalPrice);
	            }

	            for (let item of this.$store.state.hro) {
	                totalHro += Number(item.hroMonthlyPrice);
	            }

	            for (let item of this.$store.state.simPlan) {
	                totalSimPlan += Number(item.totalPrice);
	            }

	            for (let item of this.$store.state.mobileBroadbands) {
	                totalMobileBroadband += Number(item.totalPrice);
	            }

	            this.grandTotal = (total + totalMobileBroadband + totalHro + totalSimPlan).toFixed(2)
	            return (total + totalMobileBroadband + totalHro + totalSimPlan).toFixed(2);
	        },

		    total: function(){

			  	let total = [];

			  	Object.entries(item.vas).forEach(([key, val]) => {
			      	total.push(val.planValue) // the value of the current key.
			  	});

			  	return total.reduce(function(total, num){ return total + num }, 0);

			}
	    },
		methods:{
			aroWithPrice ({ ProductType, ProductUnitRRPCost, BarCode }) {
		      return `${ProductType} — [$${ProductUnitRRPCost}] | ${BarCode}` 
		    },
			nameWithLang ({ model, capacity }) {
		      return `${model} — [${capacity}]`
		    },
		    createCustomMobileDescription(item, event){
				if (this.timer) {
			        clearTimeout(this.timer);
			        this.timer = null;
			    }
			    this.timer = setTimeout(() => {
			        this.plan = item
					this.plan.item = item
					this.plan.customDescription = event
					this.$store.commit('changePlanType', this.plan);
			    }, 800);
			},
		    changeMobilePlanMonthly(event, item){
		    	this.mobilePlan = item
		    	this.mobilePlan.item = item
		    	this.mobilePlan.months = event.value
		    	this.mobilePlan.mobilePlanMonths = {'id' : event.id, 'name' : event.name, 'value': event.value}
		    	this.$store.commit('changePlanType', this.mobilePlan);

		    },
			onChange(event,item){
				this.plan = item
				this.plan.item = item
				if(item.itemType === 'broadBandPlan' && event.id == 1){
					this.plan.planValue = 15.00
					this.plan.planType = 'XS'
				}

				if(item.itemType === 'broadBandPlan' && event.id == 2){
					this.plan.planValue = 25.00
					this.plan.planType = 'Small'
				}

				if(item.itemType === 'broadBandPlan' && event.id == 3){
					this.plan.planValue = 55.00
					this.plan.planType = 'Medium'
				}
				if(item.itemType === 'broadBandPlan' && event.id == 4){
					this.plan.planValue = 75.00
					this.plan.planType = 'Large'
				}

				this.plan.planOption = {'id': event.id, 'name' : event.name, 'planType' : event.planType}

				this.$store.commit('changePlanType', this.plan);
			},
			onChangeAro(event, item){
				this.plan = item
				this.plan.item = item

				this.plan.aroBase = Number(event.value).toFixed(2)
				this.plan.selectedARO = {'id': event.id, 'value': Number(event.value).toFixed(2), 'name': event.name}
				
				this.$store.commit('changePlanType', this.plan);
			},
		    changeMobileAROMonthly(event, item){
		    	this.plan = item
				this.plan.item = item

				this.plan.aroMonths = event.value

		    	this.plan.aroMonths = event.value
		    	this.plan.selectedAROMonth = {'id' : event.id, 'name' : event.name, 'value' : event.value}
		    	
				this.$store.commit('changePlanType', this.plan);
		    },
			onDeviceChange(event,item){
				this.mobileDevice.planType = item.planType
				this.mobileDevice.planValue = item.planValue

				this.mobileDevice.aroBase = item.aroBase
				this.mobileDevice.aroAmount = item.aroAmount
				this.mobileDevice.aroMonths = item.aroMonths
				this.mobileDevice.aroAccessories = item.aroAccessories

				this.mobileDevice.planType = item.planType
				this.mobileDevice.planValue = item.planValue
				this.mobileDevice.itemType = 'broadBandPlan'

				this.mobileDevice.vas = item.vas
				this.mobileDevice.vasTotalAmount = item.vasTotalAmount
				this.mobileDevice.vasIdArray = item.vasIdArray
				this.mobileDevice.customDescription = item.customDescription

				this.mobileDevice.item = item
				console.log(event)
				if(event != null){
					this.mobileDevice.deviceItem = event
				}else{
					this.mobileDevice.deviceItem = 0
				}
				
				this.mobileDevice.months = item.months
				this.mobileDevice.planOption = item.planOption
				this.mobileDevice.mobilePlanMonths = item.mobilePlanMonths
				this.mobileDevice.selectedARO = item.selectedARO
				this.mobileDevice.selectedAROMonth = item.selectedAROMonth

				this.$store.commit('changePlanType', this.mobileDevice);
			},
			onChangeVas(event, item){
				this.vas = item
				this.vas.item = item
				var vasTotalAmount = 0;
				for (let val of event) {
			      	vasTotalAmount += val.amount
			  	}
				this.vas.vas = event
				this.$store.commit('changePlanType', this.vas);
			},
			getStocks(){
	        	axios.get('/get-stock').then((response) => {
	        		this.clickPosStocks = response.data
	        	})
	        },
	        removebroadBandPlanFromCart(item){
	        	this.$store.commit('removebroadBandPlanFromCart', item);
	        },
	        removeAroAccessory(item, index, accessory){
	        	this.plan = item
				this.plan.id = item.id
				this.plan.item = item
	        	this.plan.index = index
	        	this.plan.aroAccessoryForDelete = accessory
	        	this.$store.commit('changePlanType', this.plan);
	        },
	        addAROPrice(item, price, accessory){
	        	if (this.timer) {
			        clearTimeout(this.timer);
			        this.timer = null;
			    }
			    this.timer = setTimeout(() => {
			    	console.log(accessory)
			    	console.log(price)

			    	var my_object = {
		        		'aroID': accessory.aroID,
						'BarCode': accessory.BarCode,
						'ProductType': accessory.ProductType,
						'ProductUnitRRPCost' : accessory.ProductUnitRRPCost,
						'aroPrice' : Number(price)
					}

					this.plan = item
					this.plan.id = item.id
					this.plan.item = item
		        	this.plan.aroAccessory = my_object
		        	this.$store.commit('changePlanType', this.plan);
			    }, 800);
	        },
	        addNewAccessory(item){
		    	var crypto = require("crypto");

	        	var my_object = {
	        		'aroID':crypto.randomBytes(20).toString('hex'),
					'BarCode': "",
					'ProductType': "",
					'ProductUnitRRPCost' : 0,
					'aroPrice' : 0,
					'aroAdd': true,
					'isAROBaseEqual': false
				}	

				this.plan = item
				this.plan.id = item.id
				this.plan.item = item
	        	this.plan.aroAccessory = my_object
	        	this.$store.commit('changePlanType', this.plan);
	        },
	        onChangeStock(event, item, index){
	        	this.plan = item
				this.plan.id = item.id
				this.plan.item = item

				this.plan.aroAccessory = {'BarCode': event.BarCode,'ProductType': event.ProductType,'ProductUnitRRPCost': event.ProductUnitRRPCost, 'aroID' : item.aroAccessories[index].aroID, 'aroPrice' : event.ProductUnitRRPCost}

	        	this.$store.commit('changePlanType', this.plan);
	        }
		}
	}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style type="text/css">
	
</style>