<template>
	<div id="promotions" v-if="$store.state.promotions.length != '0'" class="container-fluid">
    	<div class="row" style="padding-top:3rem;">
			<div class="col-md-12">
	        	<h3 style="color:#3490dc">Promotions Services</h3>
	        	<span v-for="(item,index) in $store.state.promotions">
	        		<input type="text" @keyup="createCustomMobileDescription(item, item.customDescription)" v-model="item.customDescription" class="form-control col-4" style="margin-bottom:1rem" placeholder="Enter Name or Number">
		        	<table  style="border:none !important;background: #fff" id="planCartTable" class="table table-bordered text-center" v-if="$store.state.promotions.length != '0'">
		        		<thead>
		        			<tr>
		        				<td style="border-top-left-radius: 10px;padding:10px 5px 5px 5px;"><h5 style="padding:0px;">Items</h5></td>
		        				<td style="padding:10px 5px 5px 5px;"><h5 style="padding:0px;">Amount</h5></td>
		        				<td style="border-top-right-radius: 10px;padding:10px 5px 5px 5px;"><h5 style="padding:0px;">Remove</h5></td>
		        			</tr>
		        		</thead>
		        		<tbody>
		        			<tr>
		            			<td style="text-align:left;width:40%;border-bottom-left-radius:10px;font-size:18px;">
		            				<div class="">
									    <h5>Promotions Services Plan:</h5>
										<div style="padding-top:1rem">
											<input type="text" @keyup="addpromotionsDescription(item, item.promotionsDescription)" v-model="item.promotionsDescription" class="form-control">
									  	</div>
									</div>

									<div class="" style="padding-top:1rem">
									    <h5>Discounts:</h5>
										<div style="padding-top:1rem">
										  	<v-select label="name" :options="discountLists" :value="item.discounts" @input="addPromotionDiscount($event,item)"  />
										  	</v-select>
									  	</div>
									</div>
		            			</td>
		            			<td style="text-align:left;width:45%;">

			            			<div class="">
									    <h5>Promotions Services Price:</h5>
										<div class="input-group" style="padding-top:1rem">
											  <div class="input-group-prepend">
											    <span class="input-group-text" id="basic-addon1">$</span>
											  </div>
											  <input type="text" @keyup="addpromotionsPrice(item, item.promotionsPrice)" v-model="item.promotionsPrice" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
											</div>
									</div>
		            			</td>
		            			<td class="text-center" style="text-align:left;width:15%;border-bottom-right-radius:10px;">
		            				<span style="cursor:pointer" 
					                    title="Remove from cart"
					                    @click.prevent="removePromotions(item)">
					                    <img src="/img/Delete_Icon.svg" height="30">
					                   
					                </span>
		            			</td>
		            		</tr>

		            		<!-- <tr>
		            			<td>Subtotal:</td>
		            			<td colspan="2">${{subTotalHroPrice}}</td>
		            		</tr> -->
		        		</tbody>
		        	</table>
		        </span>

	        	<!-- <div class="container-fluid text-center">
		        	<div class="row">
		        		<div class="col-md-12">
		        			<div class="row">
			        			<div class="col-6" style="padding-right:0px;max-width:40%;flex:0 0 40%;">
				        			<h4 class="subTotalMobilePlanPrice" style="padding-top:10px;padding-bottom:10px;border-top-left-radius: 10px;border-bottom-left-radius:10px;">Subtotal</h4>
				        		</div>
				        		<div class="col-6" style="padding-left:0px;max-width:60%;flex:0 0 60%;">
				        			<h4 class="subTotalMobilePlanPrice" style="padding-top:10px;padding-bottom:10px;border-top-right-radius: 10px;border-bottom-right-radius:10px;">${{subTotalFixedPrice}}</h4>
				        		</div>
				        	</div>
		        		</div>
		        		
			        </div>
		        </div> -->
	        </div>
        </div>
    </div>
</template>

<script>
	import Vue from "vue";
	import vSelect from "vue-select";
	import Multiselect from 'vue-multiselect'
	import moment from 'moment'

	Vue.component("v-select", vSelect);
	import "vue-select/dist/vue-select.css";
	import vueSmoothScroll from 'vue2-smooth-scroll'
	Vue.use(vueSmoothScroll)
	
	export default{
		components: { Multiselect },
		data(){
			return{
				discountLists: [
					{'id':0,'name': 'Once Off Discount'},
					{'id':1,'name': 'Reoccuring Discount'},
				],
				customDescription:[],
				promotions: {'promotionsPrice': 0, 'item' : {}, 'promotionsDescription': ''},
			}
		},
		mounted(){
			this.paymentFrequency = (this.$store.state.cart.length && this.$store.state.cart[0].paymentFrequencyVal) ? this.$store.state.cart[0].paymentFrequencyVal : 12

	    	axios.get('/get-all-mobile-devices').then((response) => {
	    		this.allDevices = response.data
	    	})

	    	axios.get('/get-all-mobile-broadband-devices').then((response) => {
	    		this.allBroadbandDevices = response.data
	    	})
		},
		methods:{
			nameWithLang ({ model, capacity }) {
		      return `${model} — [${capacity}]`
		    },
		    createCustomMobileDescription(event, item){
				if (this.timer) {
			        clearTimeout(this.timer);
			        this.timer = null;
			    }
			    this.timer = setTimeout(() => {
			    	this.promotions.discounts = event.discounts
			    	this.promotions.promotionsPrice = (event.promotionsPrice)
			    	this.promotions.promotionsDescription = event.promotionsDescription
			    	this.promotions.id = event.id
					this.promotions.customDescription = event.customDescription
			    	this.promotions.quantity = 1

			    	this.$store.commit('addPromotions', this.promotions);
			    }, 800);
			},
		    addpromotionsDescription(event, item){
		    	if (this.timer) {
			        clearTimeout(this.timer);
			        this.timer = null;
			    }
			    this.timer = setTimeout(() => {
			    	this.promotions.discounts = event.discounts
			    	this.promotions.promotionsPrice = (event.promotionsPrice)
			    	this.promotions.promotionsDescription = event.promotionsDescription
			    	this.promotions.id = event.id
					this.promotions.customDescription = event.customDescription
			    	this.promotions.quantity = 1

			    	this.$store.commit('addPromotions', this.promotions);
			    }, 800);
		    },
		    addpromotionsPrice(event, item){
		    	if (this.timer) {
			        clearTimeout(this.timer);
			        this.timer = null;
			    }
			    this.timer = setTimeout(() => {
			    	this.promotions.discounts = event.discounts
			    	this.promotions.promotionsPrice = (event.promotionsPrice)
			    	this.promotions.promotionsDescription = event.promotionsDescription
			    	this.promotions.id = event.id
					this.promotions.customDescription = event.customDescription
			    	this.promotions.quantity = 1

			    	this.$store.commit('addPromotions', this.promotions);
			    }, 800);
		    },
		    addPromotionDiscount(event, item){
		    	this.promotions.discounts = event
		    	this.promotions.promotionsPrice = (item.promotionsPrice)
		    	this.promotions.promotionsDescription = item.promotionsDescription
		    	this.promotions.id = item.id
				this.promotions.customDescription = item.customDescription
		    	this.promotions.quantity = 1
		    	this.$store.commit('addPromotions', this.promotions);
		    },
	        removePromotions(item){
	        	this.$store.commit('removePromotions', item);
	        },
		}
	}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style type="text/css" scoped="">
	.subTotalMobilePlanPrice{ border:1px solid #e2e2d2;padding:10px; background-color: #bababa;}

	#planCartTable { border-collapse: separate; border-spacing: 0px; }
	thead {background-color:#068edf;color:#fff;}

	.v-select, .v-select *{
		font-size:15px !important;
	}
</style>