	<template>
	<div class="container">
	    <div class="row justify-content-center">
	        <div class="col-md-12">
	            <div class="card">
	                <div class="card-header" style="padding:10px 0px;">
	                	<div class="container-fluid row">
		                	<span class="col-10 pull-left"><h3>Telstra Plus</h3></span>
		                	<span class="col-2 pull-right">
			                	<!-- <button style="margin-right:10px;margin-left:10px;" class="btn btn-info pull-right" @click.prevent="uploadModal()"><i class="fa fa-upload"></i> Upload</button>

			                	<button style="margin-right:10px;margin-left:10px;" v-if="mobileDevices" class="btn btn-warning pull-right"  @click.prevent="rejectUpload()"><i class="fa fa-trash"></i> Reject</button> -->


			                	<!-- <button class="btn btn-success pull-right"  @click.prevent="addDiscount()"> Add Discount</button> -->
			                	<button class="btn btn-success pull-right"  @click.prevent="batchingTool()"> Batching Tool</button>
			                </span>
		                </div>
	                </div>

	                <div class="card-body">
	                	<v-client-table class="text-center" v-if="products" :data="products" :columns="['product','points','pay','product3','date_created']" :options="options">
							<template slot="date_created" slot-scope="props">
								{{props.row.created_at | formatDate}}
		                    </template>
		                    
    					</v-client-table>

    					<h3>Master List</h3>
    					<v-client-table class="text-center" v-if="accessoryMasterList" :data="accessoryMasterList" :columns="['rims_id','sku','name','date_created']" :options="options">
							<template slot="date_created" slot-scope="props">
								{{props.row.created_at | formatDate}}
		                    </template>
		                    
    					</v-client-table>

    					<h3>ClickPos Stock List</h3>
    					<v-client-table class="text-center" v-if="accessoryClickPosList" :data="accessoryClickPosList" :columns="['BarCode','ProductType','ProductCode','ProductQty','ProductUnitRRPCost']" :options="options">
		                    
    					</v-client-table>

    					<h3>Filtered List</h3>
    					<v-client-table class="text-center" v-if="accessoryFilteredList" :data="accessoryFilteredList" :columns="['product','points','pay','product3','date_created']" :options="options">
							<template slot="date_created" slot-scope="props">
								{{props.row.created_at | formatDate}}
		                    </template>
	                    </v-client-table>
				    	

				        <div class="modal fade" id="batchingToolModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="min-height:500px;">
						  	<div class="modal-dialog modal-lg" role="document">
							    <div class="modal-content">
							      	<div class="modal-header">
							        	<h5 class="modal-title" id="exampleModalLabel">Upload</h5>
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								          <span aria-hidden="true">&times;</span>
								        </button>
							      	</div>
							      	<form class="form">
								      	<div class="modal-body">
								      		<div class="form-group row" v-if="uploadedBatching.length == 0">
			                                    <label for="description" class="col-md-2 col-form-label text-md-right">Upload File</label>

			                                    <div class="col-md-10">
			                                    	<div class="row">
					                                    <div class="col-md-6 upload-btn-wrapper" style="padding-top:1%">
					                                      <button class="btn-upload">Upload or Drag File</button>
					                                      <input required type="file" ref="link" @change="onFileChange">
					                                    </div>
					                                    <h4 class="col-md-6" style="padding:-top:5px;margin-top:5px;padding-top:1%;">{{fileName}}</h4>
					                                </div>
			                                    </div>
			                                </div>

			                                <div v-if="uploadedBatching.length != 0">
			                                	<v-client-table class="text-center" v-if="uploadedBatching" :data="uploadedBatching" :columns="['sku','product','points','pay','product3','date_created']" :options="options">
													<template slot="date_created" slot-scope="props">
														{{props.row.created_at | formatDate}}
								                    </template>
								                    
						    					</v-client-table>
			                                </div>
								     	</div>
								      	<div class="modal-footer">
									        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									        <button class="btn btn-primary" :disabled="busy" @click.prevent="save()">
		                                        <span v-if="busy">
		                                            Uploading 
		                                        </span>

		                                        <span v-if="!busy">
		                                            Submit
		                                        </span>
		                                    </button>
								      	</div>
							      	</form>
							    </div>
						  	</div>
						</div>

			    	</div>
            	</div>
        	</div>
    	</div>
	</div>
</template>
<script type="text/javascript">
	import Datepicker from 'vuejs-datepicker';
 
	import {ServerTable, ClientTable, Event} from 'vue-tables-2';
    
    Vue.use(ClientTable, {}, false, 'bootstrap4');

    import moment from 'moment';
	Vue.filter('formatDate', function(value) {
        if (value) {
            return moment(String(value)).format('D MMM Y')
        }
    })
	import Multiselect from 'vue-multiselect'
	export default{
		components: {
		    Datepicker,Multiselect
		},
		data() {
            return {
            	discount:{'mobileDevice':'','discountOnSmallPlan':0,'discountOnMediumPlan':0,'discountOnLargePlan':0,'discountOnExtraLargePlan':0,'effectiveDate':moment().format('D MMM Y')},
            	busy:false,
                fileName: 'No File Selected',
                schedule: {'schedDate' : moment().format('D MMM Y') },
            	mobileDevices: [],
            	uploadedBatching: [],
            	products: [],
            	mobileDevice: {},
                options: {
                    perPage: 10,
                    sortIcon: {
				        base : 'fa',
				        is: 'fa-sort',
				        up: 'fa-sort-asc',
				        down: 'fa-sort-desc'
				    },
				  	selectable:{
				    	mode: 'multiple', // or 'multiple'
				    	only: function(row) {
				       		return true // any condition
				    	}
				  	}
                },
            	accessoryMasterList : [],
				accessoryClickPosList : [],
				accessoryFilteredList : [],
				accessoryFilteredListConsole : []
			}
		},
		mounted(){
			this.getMobileDevices()
			this.getDiscounts()
			this.getAccessoryMasterList()
			this.getAccessoryClickposAccessoryList()
			this.getAccessoryFilteredList()
		},
		computed:{
		},
		methods:{
			nameWithLang ({ model, capacity }) {
		      
		      	if(!model){
					return 'Search'
				}else{
		      		return `${model} — [${capacity}]`
				}
		    },
        	addDiscount(){
        		$('#addDiscountModal').modal('show')
        	},
			getMobileDevices(){
				axios.get('/get-all-mobile-devices').then((response) => {
					console.log(response.data)
					this.mobileDevices = response.data
				})
			},
        	save(){
        		this.busy = true
				this.uploadSuccess = false
        		axios.post('/upload-batching',this.gatherFormData()).then((response) => {
        			$('#uploadModal').modal('hide')
        			this.getMobileDevices()
					this.getDiscounts()
					this.busy = false
					this.uploadSuccess = true
					this.fileName = 'No File Selected'
					this.uploadedBatching = response.data
        			//alert('upload success.')
        		})
        	},        	
            gatherFormData() {
                const data = new FormData();

                data.append('link', this.$refs.link.files[0]);    
                data.append('schedule', moment(this.schedule.schedDate).format('D MMM Y'));     
                return data;
            },
        	getDiscounts(){
        		axios.get('/get-redemption-products').then((response) => {
        			this.products = response.data
        		})
        	},
        	batchingTool(){
        		$('#batchingToolModal').modal('show')
        	},
            onFileChange(event){
               var fileData =  event.target.files[0];
               this.fileName=fileData.name;
            },
            getAccessoryMasterList(){
	        	axios.get('/get-accessory-master-list').then((response) => {
	        		this.accessoryMasterList = response.data
	        	})
	        },
			getAccessoryClickposAccessoryList(){
				axios.get('/get-accessory-clickpos-list').then((response) => {
	        		this.accessoryClickPosList = response.data
	        	})
			},
			getAccessoryFilteredList(){
				axios.get('/get-accessory-filtered-list').then((response) => {
	        		this.accessoryFilteredList = response.data
	        	})
			},
			getAccessoryFilteredListConsole(){
				axios.get('/get-accessory-filtered-list-console').then((response) => {
	        		this.accessoryFilteredListConsole = response.data
	        	})
			}
		}
	}
</script>

<style type="text/css" scoped>
	.productHover:hover{
		background: rgba(234,167,33,0.6);
		color:#fff;
		cursor: pointer;
	}

	.activeItem{
		background-color:#000;
		color:#fff;
		cursor: pointer;
	}

	.bordered{
		border: 2px solid #3490dc;
	}

	a:hover{
		cursor: pointer;
	}
	ul {
	  list-style-type: none;
	  padding: 0;
	}

	li {
	  display: inline-block;
	  margin: 0 10px;
	}

	.priceTable{
		border:1px solid #000;
	}

	.paginate-links{
		background-color: #fff;
		text-align: center;
		padding:10px;
		font-size: 18px;
		margin:0px 40px 20px 40px;
	}

	.paginate-list {
	  width: 159px;
	  margin: 0 auto;
	  text-align: left;
	  li {
	    display: block;
	    &:before {
	      content: '⚬ ';
	      font-weight: bold;
	      color: slategray;
	    }
	  }
	}

	.list-group-item {
		cursor: pointer;
		margin-bottom: 10px;
	}
	.paginate-links.items {
	  user-select: none;
	  a {
	    cursor: pointer;
	  }
	  li.active a {
	    font-weight: bold;
	  }
	  li.next:before {
	    content: ' | ';
	    margin-right: 13px;
	    color: #ddd;
	  }
	  li.disabled a {
	    color: #ccc;
	    cursor: no-drop;
	  }
	}

	.disabled{
		color: #ccc;
	    cursor: no-drop;
	}

	a {
	  color: #42b983;
	}

	.addedService{
		min-width: 210px;
	}

	.spacing{
		margin-left:1%;
	}

	.mobilePlan {
	  position: relative;
	  width: 50%;
	}

	.image .card-title{
	  opacity: 1;
	  display: block;
	  width: 100%;
	  height: auto;
	  transition: .5s ease;
	  backface-visibility: hidden;
	  color:#028cde !important;
	}

	.middle {
	  transition: .5s ease;
	  opacity: 0;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	  text-align: center;
	}

	.mobilePlan:hover .image {
	  opacity: 0.3;

	}

	.planHover:hover{
		border-radius:10px;
		cursor: pointer;
	  	  background-color: #1670a6 !important;
	}

	.mobilePlan:hover .middle {
	  opacity: 1;
	}

	.text {
	  color: white;
	  font-size: 16px;
	  padding: 16px 32px;
	}

	.tabPlan{
		border-top-left-radius: 10x;
		border: 1px solid #e2e2e2;
		background-color:#fca318;
	}

	#planTable { border-collapse: separate; border-spacing: 0px; }
	#planTable td { border:1px solid #dee2e6; }
	#planTable tr:first-child td:first-child { border-top-left-radius: 10px; }
	#planTable tr:first-child td:last-child { border-top-right-radius: 10px; }
	#planTable tr:last-child td:first-child { border-bottom-left-radius: 10px; }
	#planTable tr:last-child td:last-child { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }

	#customTbl{ border-collapse: separate; border-spacing: 0px; }
	#customTbl td { border:1px solid #dee2e6; }
	#customTbl tr:first-child td:first-child { border-top-left-radius: 10px; }
	#customTbl tr:first-child td:last-child { border-top-right-radius: 10px; }
	#customTbl tr:last-child td:first-child { border-bottom-left-radius: 10px; }
	#customTbl tr:last-child td:last-child { border-bottom-right-radius: 10px; }
	.customBtn{
		border-radius:25px;padding-right: 30px;padding-left:30px;
	}

	/* enable absolute positioning */
	.inner-addon { 
	    position: relative; 
	}

	/* style icon */
	.inner-addon .fa {
	  position: absolute;
	  padding: 10px 30px 10px 20px;
	  pointer-events: none;
	}

	/* align icon */
	.left-addon .fa  { left:  0px;}
	.right-addon .fa { right: 0px;font-size:18px;}

	/* add padding  */
	.left-addon input  { padding-left:  50px; }
	.right-addon input {  padding-right: 150px;
    border-radius: 15px;
    height: 40px;
    font-size: 20px; }

    #princingTable{ border-collapse: separate; border-spacing: 0px; }
    #princingTable tbody tr:last-child td:last-child { border-bottom-left-radius: 10px; }
    #princingTable tbody tr:last-child td:first-child { border-bottom-right-radius: 10px; }
    .multiselect{min-height: 65px !important;}

    #planCartTable { border-collapse: separate; border-spacing: 0px; }

    #priceTable { border-collapse: separate; border-spacing: 0px; }
	#priceTable thead {background-color:#bababa;color:#fff;}
	#priceTable tbody tr:first-child td:first-child { border-top-left-radius: 10px; }
	#priceTable tbody tr:first-child td:last-child { border-top-right-radius: 10px; }
	#priceTable tbody tr:last-child td:first-child { border-bottom-left-radius: 10px; }
	#priceTable tbody tr:last-child td:last-child { border-bottom-right-radius: 10px; }

	.pull-right{
		float:right;
	}

	.rowStyle{
        border:2px solid gray;
        border-radius: 5px;
        padding:15px;
    }

    .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
    }

    .btn-upload {
      border: 2px solid gray;
      color: gray;
      background-color: white;
      padding: 4px 15px;
      border-radius: 8px;
      font-size: 16px;
      font-weight: bold;
    }

    .upload-btn-wrapper input[type=file] {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }
</style>