<template>
	<div id="productRedemption" v-if="$store.state.productRedemption.length != '0'" class="container-fluid">
    	<div class="row" style="padding-top:3rem;">
			<div class="col-md-12">
	        	<h3 style="color:#3490dc">Redemptions</h3>

		    	<span v-for="(item,index) in $store.state.productRedemption">
		    		<!-- <input type="text" @keyup="createCustomMobileDescription(item, item.customDescription)" v-model="item.customDescription" class="form-control col-4" style="margin-bottom:1rem" placeholder="Service Number"> -->
		        	<table  style="border:none !important;background: #fff" id="planCartTable" class="table table-bordered text-center" v-if="$store.state.productRedemption.length != '0'">
		        		<thead>
		        			<tr>
		        				<td style="border-top-left-radius: 10px;padding:10px 5px 5px 5px;"><h5 style="padding:0px;">Items</h5></td>
		        				<td style="padding:10px 5px 5px 5px;"><h5 style="padding:0px;">Details</h5></td>
		        				<td style="border-top-right-radius: 10px;padding:10px 5px 5px 5px;"><h5 style="padding:0px;">Remove</h5></td>
		        			</tr>
		        		</thead>
		        		<tbody>
		        			<tr>
		            			<td style="text-align:left;width:40%;border-bottom-left-radius:10px;font-size:18px;">
		            				<div class="">
										<div style="padding-top:1rem">
		            						<multiselect 
		                                      	:options="products" :value="item.selectedItem" :close-on-select="true" :clear-on-select="false" :multiple="false" track-by="id" label="product" placeholder="Select Product" @input="updateRedemptionItem($event, item)" :custom-label="customLabel">
		                                    </multiselect>
									  	</div>
									</div>
		            			</td>
		            			<td style="text-align:left;width:45%;">
	            					<div class="row" style="margin-left:1px;">
			            				<h5 class="col-3">
			            					Device:
			            				</h5>

			            				<h5 class="col-9">
			            					{{item.product}} | {{item.points}} points | ${{item.pay}}
			            				</h5>
			            			</div>
		            			</td>
		            			<td class="text-center" style="text-align:left;width:15%;border-bottom-right-radius:10px;">
		            				<span style="cursor:pointer" 
					                    title="Remove from cart"
					                    @click.prevent="removeRedemption(item)">
					                    <img src="/img/Delete_Icon.svg" height="30">
					                   
					                </span>
		            			</td>
		            		</tr>
		        		</tbody>
		        	</table>
		        </span>
	        </div>
        </div>
    </div>
</template>

<script>
	import Vue from "vue";
	import vSelect from "vue-select";
	import Multiselect from 'vue-multiselect'
	import moment from 'moment'

	Vue.component("v-select", vSelect);
	import "vue-select/dist/vue-select.css";
	import vueSmoothScroll from 'vue2-smooth-scroll'
	Vue.use(vueSmoothScroll)
	
	export default{
		components: { Multiselect },
		data(){
			return{
				value: [],
				customDescription:[],
				value2: '',
				paymentPlan: [],
				cartItems : [],
				paymentFrequency: '',
				frequency: {'paymentFrequencyVal' : '', 'paymentFrequency' : ''},
				hroList: [],
				hro: {'hroMonthly': 24, 'item' : {}, 'selectedHroItem': {}},
            	subTotalHro : 0,
				productList: [],
				products: [],
				redemption: {points: 0,pay:0},
				aroProductSelection: {},
            	aroSelection: {'id':3,'name':'$240.00','value':'240.00'},
            	aro: {'base': 240, 'monthly' : 12},
			}
		},
		mounted(){
			this.paymentFrequency = (this.$store.state.cart.length && this.$store.state.cart[0].paymentFrequencyVal) ? this.$store.state.cart[0].paymentFrequencyVal : 12

	    	axios.get('/get-all-mobile-devices').then((response) => {
	    		this.allDevices = response.data
	    	})

	    	axios.get('/get-all-mobile-broadband-devices').then((response) => {
	    		this.allBroadbandDevices = response.data
	    	})

			this.getRedemptionProducts()
		},
	    computed: {
	    	totalCount(){
	    		let total = 0;

	            for (let item of this.$store.state.cart) {
	                total += item.quantity;
	            }

	            return total;
	    	},
	    	subTotalHroPrice(){
	    		let totalHro = 0;
	    		for (let item of this.$store.state.hro) {
	                totalHro += Number(item.hroMonthlyPrice);
	            }
	            this.subTotalHro = Number(totalHro).toFixed(2)
	            return totalHro.toFixed(2)
	    	},
	    	subTotalMobilePlanPrice(){
	    		let total = 0;
				for (let item of this.$store.state.cart) {
	                total += Number(item.totalPrice);
	            }
	            this.subTotalMobilePlan = Number(total).toFixed(2)
	            return total.toFixed(2)
	    	},
	    	subTotalMobileBroadbandPrice(){
	    		let total = 0;
				for (let item of this.$store.state.mobileBroadbands) {
	                total += Number(item.totalPrice);
	            }
	            this.subTotalMobileBroadband = Number(total).toFixed(2)
	            return total.toFixed(2)
	    	},
	    	subTotalSimPlanPrice(){
	    		let totalSimPlan = 0;
	    		for (let item of this.$store.state.simPlan) {
	                totalSimPlan += Number(item.totalPrice);
	            }
	            this.subTotalSimPlan = (totalSimPlan).toFixed(2)
	            return totalSimPlan.toFixed(2)
	    	},
	        totalPrice() {
	            let total = 0;
	            let totalHro = 0;
	            let totalSimPlan = 0;
	            let totalMobileBroadband = 0

	            for (let item of this.$store.state.cart) {
	                total += Number(item.totalPrice);
	            }

	            for (let item of this.$store.state.hro) {
	                totalHro += Number(item.hroMonthlyPrice);
	            }

	            for (let item of this.$store.state.simPlan) {
	                totalSimPlan += Number(item.totalPrice);
	            }

	            for (let item of this.$store.state.mobileBroadbands) {
	                totalMobileBroadband += Number(item.totalPrice);
	            }

	            this.grandTotal = (total + totalMobileBroadband + totalHro + totalSimPlan).toFixed(2)
	            return (total + totalMobileBroadband + totalHro + totalSimPlan).toFixed(2);
	        },

		    total: function(){

			  	let total = [];

			  	Object.entries(item.vas).forEach(([key, val]) => {
			      	total.push(val.amount) // the value of the current key.
			  	});

			  	return total.reduce(function(total, num){ return total + num }, 0);

			}
	    },
		methods:{
		    createCustomMobileDescription(event, item){
				if (this.timer) {
			        clearTimeout(this.timer);
			        this.timer = null;
			    }
			    this.timer = setTimeout(() => {
			        this.aroProductSelection = event
					this.aroProductSelection.customDescription = item
			    	this.aroProductSelection.quantity = 1
			    	// console.log(this.aroProductSelection)
			    	// console.log(item)
			    	// return
			    	this.$store.commit('updateProductRedemption', this.aroProductSelection);
			    }, 800);
			},
			updateRedemptionItem(event,item){
				// console.log(event)
				// console.log(item)
				// return
				this.aroProductSelection = {'id':item.id,'pay': item.pay,'points' : item.points,'product' : event.product,'selectedItem' : event, 'customDescription' : item.customDescription}
		    	this.$store.commit('updateProductRedemption', this.aroProductSelection);
			},
	        getRedemptionProducts(){
	        	axios.get('/get-redemptions-products').then((response) =>{
	        		this.products = response.data
	        	})
	        },
			customLabel ({ product, points, pay }) {
				if(!product){
					return 'Search'
				}else{
		      		return `${product} — ${points}pts | [$${pay}]`
				}
		    },
		    updatePoints(points, pay){
		    	if (this.timer) {
			        clearTimeout(this.timer);
			        this.timer = null;
			    }
			    this.timer = setTimeout(() => {
			    	this.getRedemptionProducts()
					let products = []
					let products2 = []
		    		
		    		for (let product of this.products) {
		    			if(Number(points) > Number(product.points) && Number(pay) > Number(product.pay)){
			                //product = product;
			                products.push(product)
			            }else{
			            	products2.push(product)
			            }
		            }
		            this.products = []
		            // this.products = products
					this.productList = products
			    }, 800);
		    },
			removeRedemption(item) {
	            this.$store.commit('removeRedemption', item);
	        },
		}
	}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>