	<template>
	<div class="container">
	    <div class="row justify-content-center">
	        <div class="col-md-12">
	            <div class="card">
	                <div class="card-header" style="padding:10px 0px;">
	                	<div class="container-fluid row">
		                	<span class="col-10 pull-left"><h3>Reports</h3></span>
		                	<span class="col-2 pull-right">
			                	<!-- <button style="margin-right:10px;margin-left:10px;" class="btn btn-info pull-right" @click.prevent="uploadModal()"><i class="fa fa-upload"></i> Upload</button>

			                	<button style="margin-right:10px;margin-left:10px;" v-if="mobileDevices" class="btn btn-warning pull-right"  @click.prevent="rejectUpload()"><i class="fa fa-trash"></i> Reject</button> -->


			                	<button class="btn btn-success pull-right"  @click.prevent="download()"> Download</button>
			                </span>
		                </div>
	                </div>

                	<br>
                	<h5 style="padding-left:10px;">Filter Reports by Date</h5>
	                <div class="container row ">
		                <div class="form-inline col-2">
						    <label for="dateFrom">Date From:</label>
	                        <!-- <input type="text" class="form-control" v-model="dateFrom"> -->
	                        <datepicker v-model="dateFrom" required input-class="form-control"></datepicker>
	                    </div>

	                    <div class="form-inline col-2">
						    <label for="dateTo">Date To:</label>
	                        <datepicker v-model="dateTo" required input-class="form-control"></datepicker>
	                    </div>
	                    <div class="form-inline col-2">
						    <label for="dateTo">Filter by Client or Store:</label>
	                        <select class="form-control" v-model="data.category" @change="filterByCategory()">
	                        	<option>Client</option>
	                        	<option>Store</option>
	                        </select>
	                    </div>
	                    <div class="form-inline col-2">
		                    <button type="button" class="btn btn-success" style="height:40px;margin-top:7%;padding-bottom:10px;" @click="filter()">Submit</button>
		              </div>      
	                </div>

	                <div class="card-body">
	                	<div class="row">
	                		<div class="col-6">
			                	<h3 class="text-center">Sent Counts ({{results.senderTotal}})</h3>
			                	<v-client-table class="text-center" v-if="reports.sender" :data="reports.sender" :columns="['email','count']" :options="options">
				                    
		    					</v-client-table>
		    				</div>

		    				<div class="col-6">
			                	<h3 class="text-center">Received Counts ({{results.receiverTotal}})</h3>
			                	<v-client-table class="text-center" v-if="reports.receiver" :data="reports.receiver" :columns="['email','count']" :options="options">
				                    
		    					</v-client-table>
		    				</div>
		    				<div class="col-6">
			                	<h3 class="text-center">OUO Counts ({{results.ouoTotal}})</h3>
			                	<v-client-table class="text-center" v-if="reports.ouo" :data="reports.ouo" :columns="['email','count']" :options="options">
				                    
		    					</v-client-table>
		    				</div>

		    				<div class="col-6">
			                	<h3 class="text-center">Proposal Counts ({{results.proposalTotal}})</h3>
			                	<v-client-table class="text-center" v-if="reports.proposal" :data="reports.proposal" :columns="['email','count']" :options="options">
				                    
		    					</v-client-table>
		    				</div>

		    				<div class="col-6">
			                	<h3 class="text-center">Adjusted Counts ({{results.adjustedTotal}})</h3>
			                	<v-client-table class="text-center" v-if="reports.adjusted" :data="reports.adjusted" :columns="['email','count']" :options="options">
				                    
		    					</v-client-table>
		    				</div>
	    				</div>
			    	</div>
            	</div>


	        	<div class="card">
	                <div class="card-header" style="padding:10px 0px;">
	                	<div class="container-fluid row">
		                	<span class="col-10 pull-left"><h3>OUO</h3></span>
		                	<span class="col-2 pull-right">
			                </span>
		                </div>
	                </div>

	                <div class="card-body">
	                	<v-client-table class="text-center" v-if="consoles" :data="consoles" :columns="['consoles']" :options="options">
				        	<template slot="consoles" slot-scope="props">
								<vue-json-pretty  :data="props.row"> </vue-json-pretty>
							</template>
    					</v-client-table>
	                </div>

	            </div>
        	</div>
    	</div>
	</div>
</template>
<script type="text/javascript">
	import VueJsonPretty from 'vue-json-pretty';
	import 'vue-json-pretty/lib/styles.css';
	import Datepicker from 'vuejs-datepicker';
 
	import {ServerTable, ClientTable, Event} from 'vue-tables-2';
    
    Vue.use(ClientTable, {}, false, 'bootstrap4');

    import moment from 'moment';
	Vue.filter('formatDate', function(value) {
        if (value) {
            return moment(String(value)).format('D MMM Y')
        }
    })
	import Multiselect from 'vue-multiselect'
	export default{
		components: {
		    Datepicker,Multiselect,VueJsonPretty,
		},
		data() {
            return {
            	discount:{'mobileDevice':'','discountOnSmallPlan':0,'discountOnMediumPlan':0,'discountOnLargePlan':0,'discountOnExtraLargePlan':0,'effectiveDate':moment().format('D MMM Y')},
            	busy:false,
                fileName: 'No File Selected',
                schedule: {'schedDate' : moment().format('D MMM Y') },
            	mobileDevices: [],
            	uploadedBatching: [],
            	products: [],
            	mobileDevice: {},
                options: {
                    perPage: 10,
                    sortIcon: {
				        base : 'fa',
				        is: 'fa-sort',
				        up: 'fa-sort-asc',
				        down: 'fa-sort-desc'
				    },
				  	selectable:{
				    	mode: 'multiple', // or 'multiple'
				    	only: function(row) {
				       		return true // any condition
				    	}
				  	}
                },
                reports:{sender: [], receiver: [], ouo: [], proposal: []},
                dateFrom: moment().format('D MMM Y'),
				dateTo: moment().format('D MMM Y'),
				results: [],
				storeTypes: [],
				data:{
					category: 'Client',
					dateFrom: moment().format('D MMM Y'),
					dateTo: moment().format('D MMM Y')
				},
				consoles: []
			}
		},
		mounted(){
			this.getReports()
			this.getConsoles()
		},
		computed:{
		},
		methods:{
        	getReports(){
        		axios.post('/get-reports',this.data).then((response) => {
        			this.reports.sender = response.data.sender
        			this.reports.receiver = response.data.receiver
        			this.reports.ouo = response.data.ouo
        			this.reports.proposal = response.data.proposal
        			this.reports.adjusted = response.data.adjusted
        			this.results = response.data
        		})
        	},
        	getConsoles(){
        		axios.get('/get-consoles').then((response) => {
        			console.log(response.data)
        			this.consoles = response.data
        		})
        	},
        	filter(){
        		this.data.dateFrom = this.dateFrom	
    			this.data.dateTo = this.dateTo
        		axios.post('/get-filtered-reports',this.data).then((response) => {
        			this.reports.sender = response.data.sender
        			this.reports.receiver = response.data.receiver
        			this.reports.ouo = response.data.ouo
        			this.reports.proposal = response.data.proposal
        			this.reports.adjusted = response.data.adjusted
        			this.results = response.data
        		})
        	},
        	// getAvailableStoreTypeFilters(){
        	// 	axios.get('/get-available-store-filters').then((response) => {
        	// 		this.storeTypes = response.data
        	// 	})
        	// },
        	download(){
        		this.dates = [{dateFrom: this.dateFrom},{dateTo: this.dateTo}]

        		axios.post('/export-reports', this.dates,
	            {
	                responseType: "blob"
	            }).then((response) => {
	            	//localStorage.clear();
					let blob = new Blob([response.data], { type: "application/vnd.ms-excel" })
				    let link = document.createElement('a')
				    link.href = window.URL.createObjectURL(blob)
				    link.download = 'Reports.xlsx'
      				link.click()
      				this.isBusy = false
      				//window.location.reload()
				})
        	},
        	filterByCategory(){
        		this.data.dateFrom = this.dateFrom
        		this.data.dateTo = this.dateTo
        		axios.post('/filter-by-category',this.data).then((response) => {
        			this.reports.sender = response.data.sender
        			this.reports.receiver = response.data.receiver
        			this.reports.ouo = response.data.ouo
        			this.reports.proposal = response.data.proposal
        			this.results = response.data
        		})
        	},
		}
	}
</script>

<style type="text/css" scoped>
	.productHover:hover{
		background: rgba(234,167,33,0.6);
		color:#fff;
		cursor: pointer;
	}

	.activeItem{
		background-color:#000;
		color:#fff;
		cursor: pointer;
	}

	.bordered{
		border: 2px solid #3490dc;
	}

	a:hover{
		cursor: pointer;
	}
	ul {
	  list-style-type: none;
	  padding: 0;
	}

	li {
	  display: inline-block;
	  margin: 0 10px;
	}

	.priceTable{
		border:1px solid #000;
	}

	.paginate-links{
		background-color: #fff;
		text-align: center;
		padding:10px;
		font-size: 18px;
		margin:0px 40px 20px 40px;
	}

	.paginate-list {
	  width: 159px;
	  margin: 0 auto;
	  text-align: left;
	  li {
	    display: block;
	    &:before {
	      content: '⚬ ';
	      font-weight: bold;
	      color: slategray;
	    }
	  }
	}

	.list-group-item {
		cursor: pointer;
		margin-bottom: 10px;
	}
	.paginate-links.items {
	  user-select: none;
	  a {
	    cursor: pointer;
	  }
	  li.active a {
	    font-weight: bold;
	  }
	  li.next:before {
	    content: ' | ';
	    margin-right: 13px;
	    color: #ddd;
	  }
	  li.disabled a {
	    color: #ccc;
	    cursor: no-drop;
	  }
	}

	.disabled{
		color: #ccc;
	    cursor: no-drop;
	}

	a {
	  color: #42b983;
	}

	.addedService{
		min-width: 210px;
	}

	.spacing{
		margin-left:1%;
	}

	.mobilePlan {
	  position: relative;
	  width: 50%;
	}

	.image .card-title{
	  opacity: 1;
	  display: block;
	  width: 100%;
	  height: auto;
	  transition: .5s ease;
	  backface-visibility: hidden;
	  color:#028cde !important;
	}

	.middle {
	  transition: .5s ease;
	  opacity: 0;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	  text-align: center;
	}

	.mobilePlan:hover .image {
	  opacity: 0.3;

	}

	.planHover:hover{
		border-radius:10px;
		cursor: pointer;
	  	  background-color: #1670a6 !important;
	}

	.mobilePlan:hover .middle {
	  opacity: 1;
	}

	.text {
	  color: white;
	  font-size: 16px;
	  padding: 16px 32px;
	}

	.tabPlan{
		border-top-left-radius: 10x;
		border: 1px solid #e2e2e2;
		background-color:#fca318;
	}

	#planTable { border-collapse: separate; border-spacing: 0px; }
	#planTable td { border:1px solid #dee2e6; }
	#planTable tr:first-child td:first-child { border-top-left-radius: 10px; }
	#planTable tr:first-child td:last-child { border-top-right-radius: 10px; }
	#planTable tr:last-child td:first-child { border-bottom-left-radius: 10px; }
	#planTable tr:last-child td:last-child { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }

	#customTbl{ border-collapse: separate; border-spacing: 0px; }
	#customTbl td { border:1px solid #dee2e6; }
	#customTbl tr:first-child td:first-child { border-top-left-radius: 10px; }
	#customTbl tr:first-child td:last-child { border-top-right-radius: 10px; }
	#customTbl tr:last-child td:first-child { border-bottom-left-radius: 10px; }
	#customTbl tr:last-child td:last-child { border-bottom-right-radius: 10px; }
	.customBtn{
		border-radius:25px;padding-right: 30px;padding-left:30px;
	}

	/* enable absolute positioning */
	.inner-addon { 
	    position: relative; 
	}

	/* style icon */
	.inner-addon .fa {
	  position: absolute;
	  padding: 10px 30px 10px 20px;
	  pointer-events: none;
	}

	/* align icon */
	.left-addon .fa  { left:  0px;}
	.right-addon .fa { right: 0px;font-size:18px;}

	/* add padding  */
	.left-addon input  { padding-left:  50px; }
	.right-addon input {  padding-right: 150px;
    border-radius: 15px;
    height: 40px;
    font-size: 20px; }

    #princingTable{ border-collapse: separate; border-spacing: 0px; }
    #princingTable tbody tr:last-child td:last-child { border-bottom-left-radius: 10px; }
    #princingTable tbody tr:last-child td:first-child { border-bottom-right-radius: 10px; }
    .multiselect{min-height: 65px !important;}

    #planCartTable { border-collapse: separate; border-spacing: 0px; }

    #priceTable { border-collapse: separate; border-spacing: 0px; }
	#priceTable thead {background-color:#bababa;color:#fff;}
	#priceTable tbody tr:first-child td:first-child { border-top-left-radius: 10px; }
	#priceTable tbody tr:first-child td:last-child { border-top-right-radius: 10px; }
	#priceTable tbody tr:last-child td:first-child { border-bottom-left-radius: 10px; }
	#priceTable tbody tr:last-child td:last-child { border-bottom-right-radius: 10px; }

	.pull-right{
		float:right;
	}

	.rowStyle{
        border:2px solid gray;
        border-radius: 5px;
        padding:15px;
    }

    .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
    }

    .btn-upload {
      border: 2px solid gray;
      color: gray;
      background-color: white;
      padding: 4px 15px;
      border-radius: 8px;
      font-size: 16px;
      font-weight: bold;
    }

    .upload-btn-wrapper input[type=file] {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }
</style>