<template>
	<div>
		<div class="row justify-content-center">
			<div class="col-md-12">
				<!-- <div v-if="selectedPlan == ''" id="planDetails">
					<table class="table table-bordered text-center" style="border:none !important;background: #fff">
	                    <tbody>
	                        <tr>
	                            <td style="border:none !important;"></td>
	                            <td><h1>XS</h1></td>
	                            <td><h1>S</h1></td>
	                            <td><h1>M</h1></td>
	                            <td><h1>L</h1></td>
	                        </tr>
	                        <tr>
	                            <td><img src="img/icon.png"></td>
	                            <td>
	                            	<h4>$15 per month</h4>
	                            	<h5>5GB</h5><h6>with Peace of Mind Data</h6><button class="btn btn-primary" @click="selectPlan('15', 'XS')">Select</button>
	                            </td>
	                            <td><h4>$25 per month</h4><h5>20GB</h5><h6>with Peace of Mind Data</h6><button class="btn btn-primary" @click="selectPlan('25', 'Small')">Select</button></td>
	                            <td><h4>$50 per month</h4><h5>60GB</h5><h6>with Peace of Mind Data</h6><button class="btn btn-primary" @click="selectPlan('50', 'Medium')">Select</button></td>
	                            <td><h4>$75 per month</h4><h5>200GB</h5><h6>with Peace of Mind Data</h6><button class="btn btn-primary" @click="selectPlan('75', 'Large')">Select</button></td>
	                        </tr>
	                        <tr>
	                            <td><img src="img/icon.png"></td>
	                            <td colspan="4"><h4>Unlimited</h4><h5>Talk,Text & MMS</h5></td>
	                        </tr>
	                        <tr>
	                            <td><img src="img/icon.png"></td>
	                            <td colspan="2"><h6>5G Network access<br/>during free trial on compatible devices</h6></td>
	                            <td colspan="2"><h6>5G Network access<br/>on compatible devices</h6></td>
	                        </tr>
	                        <tr>
	                            <td><img src="img/icon.png"></td>
	                            <td colspan="4">
	                                <p><strong>Bonus inclusions that comes with your plan today</strong></p>
	                                <p>Watch AFL, AFLW, NRL, Netball and soccer games live and data free with 2020 season Live Pass</p>
	                                <p>Access free Wi-Fi data at Telstra Air hotspots accross Australia, and Fon spots overseas</p>
	                                <p>Earn rewards and experience exciting membership benefits with Telstra Plus, ask us how</p>
	                            </td>
	                        </tr>
	                        <tr>
	                        	<td>Payment Frequency</td>
	                        	<td colspan="4">
	                        		<ul style="background: #fff;padding-top:10px;padding-bottom: 10px;">
										<li><button :class="paymentFrequencyVal == '52' ? 'btn btn-success' : 'btn btn-default bordered'" @click="changePaymentFrequency('weekly', 52)">Weekly</button></li>
										<li><button :class="paymentFrequencyVal == '26' ? 'btn btn-success' : 'btn btn-default bordered'" @click="changePaymentFrequency('fornightly', 26)">Fortnightly</button></li>
										<li><button :class="paymentFrequencyVal == '12' ? 'btn btn-success' : 'btn btn-default bordered'" @click="changePaymentFrequency('monthly', 12)">Monthly</button></li>
									</ul>
	                        	</td>
	                        </tr>
	                        <tr>
	                        	<td>Payment Duration</td>
	                        	<td colspan="4">
	                        		<ul style="background: #fff;padding-top:10px;padding-bottom: 10px;">
										<li><button :class="paymentDuration == '24' ? 'btn btn-success' : 'btn btn-default bordered'" @click="changePaymentDuration(24)">24 Months</button></li>
										<li><button :class="paymentDuration == '36' ? 'btn btn-success' : 'btn btn-default bordered'" @click="changePaymentDuration(36)">36 Months</button></li>
									</ul>
	                        	</td>
	                        </tr>
	                    </tbody>
	                </table>
	            </div> -->

	            <div v-if="selectedPlan != ''"class="container">
					<div class="col-12">
            			<div class="row">
            				<div class="offset-7">
            				</div>
							<button  v-if="confirmedCartItem == '0'" class="btn btn-primary col-2" @click.prevent="confirmCartItem()">Add to Cart</button>
							<button  v-if="confirmedCartItem == '0'" class="btn btn-secondary col-2 spacing" @click.prevent="backBtnCategory('plan')">Cancel</button>
							<a v-if="confirmedCartItem == '1'" class="col-2" href="/cart-items"><button class="btn btn-primary">Proceed to Checkout</button></a>
							<button v-if="confirmedCartItem == '1'" class="btn btn-secondary col-2 spacing" @click.prevent="backBtnCategory('mobileDevice')">Continue Shopping</button>
						</div>
					</div>
					<br/>
					<table class="table table-bordered" style="background: #fff">
            			<tbody>
            				<!-- <tr>
            					<td style="width:30%">
            						Accessory Repayment Option for 24 Months
            					</td>
            					<td style="width:60%">
            						<ul style="background: #fff;padding-top:10px;padding-bottom: 10px;">
            							<li><button :class="aroPayment == '0' ? 'btn btn-success' : 'btn btn-default bordered'" @click="changeAro(0, 0)">
            								None
            							</button></li>
										<li><button :class="aroPayment == '5' ? 'btn btn-success' : 'btn btn-default bordered'" @click="changeAro(120, 5)">
											$120</br>$5/month
										</button></li>
										<li><button :class="aroPayment == '10' ? 'btn btn-success' : 'btn btn-default bordered'" @click="changeAro(240, 10)">
											$240</br>$10/month
										</button></li>
										<li><button :class="aroPayment == '15' ? 'btn btn-success' : 'btn btn-default bordered'" @click="changeAro(360, 15)">
											$360</br>$15/month
										</button></li>
									</ul>
            					</td>
            				</tr> -->
            				<tr>
            					<td>
            						Value Added Service
            					</td>
            					<td>
									<multiselect style="min-height:85px"
                                      v-model="vas"
                                      :options="vasOptions" :close-on-select="false" :clear-on-select="false" :multiple="true" track-by="id" label="name" placeholder="Select VAS">
                                    </multiselect>
            					</td>
            				</tr>
            				<tr>
            				<tr>
            					<td>
            						Item Details
            					</td>
            					<td>
            						<tr>
            							<td>
		            						Sim Plan : {{this.selectedPlanType}}<br/>
		            						Plan Duration : {{this.paymentDuration}}<br/>
		            						Plan Frequency : {{this.paymentFrequency}}<br/>
            							</td>
            							<td>
		            						Plan Price: ${{this.selectedPlan}}<br/>
		            						Value Added Service : ${{total}}<br/>
		            						Total: ${{ Number(itemTotal).toFixed(2) }}
		        						</td>
	        						</tr>
            					</td>
            				</tr>
            			</tbody>
            		</table>
	            </div>	
			</div>
		</div>
	</div>
</template>

<script>
	import Multiselect from 'vue-multiselect'
	export default{
    	components: { Multiselect },
		data(){
			return{
				confirmedCartItem: 0,
				cartItem: {'valueAddedService': '','paymentDuration' : '', 'paymentFrequency' : '', 'paymentFrequencyVal' : '', 'selectedPlan' : '', 'selectedPlanType' : '', 'planType' : ''},
            	aroPayment: 15.00,
				selectedPlan: '',
				selectedPlanType : '',
            	valueAddedService: {'service' : [], 'amount': []},
            	vasOptions: [
            		{'id' : 0,'name' : 'International Calling Pack' , 'amount' : 10},
            		{'id' : 1,'name' : 'Telstra Locator Subscription' , 'amount' : 10},
            		{'id' : 2,'name' : 'Telstra One Number' , 'amount' : 5}
            	],
            	vas: [],
            	paymentDuration: 24,
            	paymentFrequency: 'monthly',
            	paymentFrequencyVal: 12,
            	aro: {'base': 360, 'monthly' : 15},
			}
		},
		computed: {
        	itemTotal(){
        		this.cartItem.grandTotal = (Number(this.selectedPlan)  + Number(this.vas.totalAmount))
        		return (Number(this.selectedPlan)  + Number(this.vas.totalAmount))
        	},
		    total: function(){

			  	let total = [];
			  	let idArray = [];

			  	Object.entries(this.vas).forEach(([key, val]) => {
			      	total.push(val.amount) // the value of the current key.
			  	});
			  	this.vas.totalAmount = total.reduce(function(total, num){ return total + num }, 0)
			  	this.cartItem.totalAmount = total.reduce(function(total, num){ return total + num }, 0)

			  	return total.reduce(function(total, num){ return total + num }, 0);

			}
		},
		mounted(){

		},
		methods:{
        	backBtnCategory(type){
        		if(type == 'plan'){
        			this.mobileDevices = ''
        			this.selectedPlan = ''
        		}

        		if(type == 'mobileDevice'){
        			this.mobileDevices = ''
        			this.selectedPlan = ''
        			this.vas = []
        			this.confirmedCartItem = 0
        		}
        	},
        	selectPlan(plan, planType){
        		this.selectedPlan = plan
        		this.selectedPlanType = planType
        	},
        	changePaymentFrequency(paymentFrequency, paymentFrequencyVal){
        		this.paymentFrequency = paymentFrequencyVal
        		this.paymentFrequencyVal = paymentFrequencyVal
        	},
        	changePaymentDuration(paymentDuration){
        		this.paymentDuration = paymentDuration
        	},
        	confirmCartItem(){
        		this.cartItem.valueAddedService = this.vas
        		this.cartItem.paymentDuration = this.paymentDuration
        		this.cartItem.paymentFrequency = this.paymentFrequency
        		this.cartItem.paymentFrequencyVal = this.paymentFrequencyVal
        		this.cartItem.selectedPlan = this.selectedPlan
        		this.cartItem.selectedPlanType = this.selectedPlanType
        		this.cartItem.planType = 'sim'

        		this.confirmedCartItem = 1

        		// axios.post('add-cart-item',this.cartItem).then((response) => {
        		// 	this.cartItem.otherDevices = response.data
        			
        		// })
        		this.$store.commit('addSimToCart', this.cartItem);
        	},
		}
	}
</script>

<style type="text/css">
	
</style>