<template>
	<div>
		<div class="container-fluid no-padding">
		  <div class="row">
		    <div class="col-md-12">
		      <!-- <img src="img/Banner_1.png" alt="placeholder 960" class="img-fluid" /> -->
		        <carousel :per-page="1" :loop="true" :autoplay="true" :autoplayTimeout="5000" :mouse-drag="false">
		        	<slide>
				    	<img src="img/banners/v2/Banner_1.1.jpg" alt="placeholder 960" height="280" class="img-fluid" />
				    </slide>
				    <slide>
				    	<img src="img/banners/v2/Banner_2.1.jpg" alt="placeholder 960" height="280" class="img-fluid" />
				    </slide>
				    <slide>
				    	<img src="img/banners/v2/Banner_2.2.jpg" alt="placeholder 960" height="280" class="img-fluid" />
				    </slide>
				    <slide>
				    	<img src="img/banners/v2/Banner_3.jpg" alt="placeholder 960" height="280" class="img-fluid" />
				    </slide>
				    <slide>
				    	<img src="img/banners/v2/Banner_4.jpg" alt="placeholder 960" height="280" class="img-fluid" />
				    </slide>
				    <!-- <slide>
				    	<img src="img/banners/Banner_1.png" alt="placeholder 960" height="280" class="img-fluid" />
				    </slide>
				    <slide>
				    	<img src="img/banners/Banner_2.png" alt="placeholder 960" height="280" class="img-fluid" />
				    </slide>
				    <slide>
				    	<img src="img/banners/Banner_3.png" alt="placeholder 960" height="280" class="img-fluid" />
				    </slide>
				    <slide>
				    	<img src="img/banners/Banner_4.png" alt="placeholder 960" height="280" class="img-fluid" />
				    </slide> -->
				 </carousel>
		    </div>
		  </div>
		</div> 
	</div>
</template>

<script type="text/javascript">
	import { Carousel, Slide } from 'vue-carousel';

	export default {
	  components: {
	    Carousel,
	    Slide
	  }	
	};
</script>

<style type="text/css"></style>