<template>
	<div>
		<div class="row justify-content-center">
			<div class="col-md-12" style="margin-top:20px;">
				<div v-if="selectedPlan == ''" id="planDetails">

				<h2 style="color:#068edf;padding-bottom:12px">Telstra Platinum</h2>
            		<nav>
		                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist" style="background: 000">
		                    <a style="border-top-left-radius: 5px;border:1px solid #e2e2e2" class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-foxtel" role="tab" aria-controls="nav-home" aria-selected="true">TELSTRA PLATINUM ONCE-OFF</a>
		                    <a style="border-top-right-radius: 5px;border:1px solid #e2e2e2" class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-xbox" role="tab" aria-controls="nav-profile" aria-selected="false">TELSTRA PLATINUM SUBSCRIPTION</a>

		                    <a style="border-top-right-radius: 5px;border:1px solid #e2e2e2" class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-telstra" role="tab" aria-controls="nav-profile" aria-selected="false">TELSTRA PLATINUM IN-HOME</a>
		                </div>
	                </nav>

	                <div class="tab-content py-3 px-3 px-sm-0 text-left" id="nav-tabContent" style="background: 000;">
	                    <div class="tab-pane fade show active plan-tab whiteBg" id="nav-foxtel" role="tabpanel" aria-labelledby="nav-home-tab" style="">
	                       	<div class="row planContainer">
		                    	<table id="planTable" class="table text-center" style="border:none !important;background: #fff;padding:20px;">
				                    <tbody>
				                        <tr>
				                            <td style="width:16.6666666667%;">
				                            	<h3>Telstra Platinum Once-off Basic Service</h3>
				                            	<span style="color:#3490dc">
				                            		<h4>$30</h4>
				                            	</span>
				                            	<span>
				                            		<h5>Once-off payment</h5>
				                            	</span>
				                            		<h5><strong>Basic tech support</strong></h5>
				                            		<p>Including setting up email, software and tablets, connecting your printer and social media tutorials.</p><br/>
					                            
				                            	<button style="margin-top:5%;" class="btn btn-primary customBtn" @click="selectPlan(30.00, 'Telstra Platinum Once-off Basic Service', '<ul><li>Including setting up email, software and tablets, connecting your printer and social media tutorials.</li></ul>')">
				                            			<h5 style="padding-top:5px;">Select</h5>
				                            		</button>
				                            </td>
				                            <td style="width:16.6666666667%">
				                            	<h3>Telstra Platinum Once-off Intermediate Service</h3>
				                            	<span style="color:#3490dc">
				                            		<h4>$60</h4>
				                            	</span>
				                            	<span>
				                            		<h5>Once-off payment</h5>
				                            	</span>
				                            		<h5><strong>Intermediate tech support</strong></h5>
				                            		<p> Including setting up printers, cloud storage and troubleshooting gaming, email and software issues.</p><br/>
					                            
				                            	<button style="margin-top:5%;" class="btn btn-primary customBtn" @click="selectPlan(60.00, 'Telstra Platinum Once-off Intermediate Service', '<ul><li>Including setting up printers, cloud storage and troubleshooting gaming, email and software issues.</li></ul>')">
				                            			<h5 style="padding-top:5px;">Select</h5>
				                            		</button>
				                            </td>
				                            <td style="width:16.6666666667%">
				                            	<h3>Telstra Platinum Once-off Complex Service</h3>
				                            	<span style="color:#3490dc">
				                            		<h4>$90</h4>
				                            	</span>
				                            	<span>
				                            		<h5>Once-off payment</h5>
				                            	</span>
				                            		<h5><strong>Complex tech support</strong></h5>
				                            		<p> Including setting up smart home devices and laptops, port forwarding and operating system recovery.</p><br/>
					                            
				                            	<button style="margin-top:5%;" class="btn btn-primary customBtn" @click="selectPlan(90.00, 'Telstra Platinum Once-off Complex Service', '<ul><li>Including setting up smart home devices and laptops, port forwarding and operating system recovery.</li></ul>')">
				                            			<h5 style="padding-top:5px;">Select</h5>
				                            		</button>
				                            </td>
				                        </tr>
				                        <tr>
				                            <td colspan="6" style="border-bottom-left-radius:10px;">
				                                <br/>
				                                <br/>
				                                <h3 style="font-weight: normal;color:#000">We'll only charge you if we fix it. That's our Guarantee.* </h3>
				                                <h5>*conditions apply</h5>
				                                <br/>
				                            </td>
				                        </tr>
				                    </tbody>
				                </table>
				            </div>
	                    </div>
	                    <div class="tab-pane fade plan-tab whiteBg" id="nav-xbox" role="tabpanel" aria-labelledby="nav-profile-tab">
	                    	<table id="planTable" class="table text-center" style="border:none !important;background: #fff;padding:20px;">
				                    <tbody>
				                        <tr>
				                            <td style="width:16.6666666667%;">
				                            	<div style="min-height: 199px;">
					                            	<h3>Remote Service</h3>
					                            	<span style="color:#3490dc">
					                            		<h4>$10 per month</h4>
					                            	</span>
					                            		<p>Contact us 24x7 to get expert help whenever you need it, whatever your problem. <br/>Call or chat with us as often as you need. </p><br/>
				                            	</div>
					                            
				                            	<button style="margin-top:5%;" class="btn btn-primary customBtn" @click="selectPlan(10.00, 'Remote', '<ul><li>Including setting up email, software and tablets, connecting your printer and social media tutorials.</li></ul>')">
				                            			<h5 style="padding-top:5px;">Select</h5>
				                            		</button>
				                            </td>
				                            <td style="width:16.6666666667%">
				                            	<div style="min-height: 199px;">
					                            	<h3>Subscription</h3>
					                            	<span style="color:#3490dc">
					                            		<h4>$15 per month</h4>
					                            	</span>
					                            		<p> Contact us 24x7 to get expert help whenever you need it, whatever your problem. <br/>Call or chat with us as often as you need. </p>
					                            		<p>
					                            			<strong>In-person tech support </strong>
					                            			<br/>
					                            			Get in-person tech support at your nearest Telstra shop during trading hours. 
					                            		</p>
			                            		</div>
					                            
				                            	<button style="margin-top:5%;" class="btn btn-primary customBtn" @click="selectPlan(15.00, 'Subscription', '<ul><li>Contact us 24x7 to get expert help whenever you need it, whatever your problem. Call or chat with us as often as you need.</li></ul>')">
				                            			<h5 style="padding-top:5px;">Select</h5>
				                            		</button>
				                            </td>
				                        </tr>
				                    </tbody>
				                </table>
	                    </div>

	                    <div class="tab-pane fade plan-tab whiteBg" id="nav-telstra" role="tabpanel" aria-labelledby="nav-profile-tab">
	                       <table id="planTable" class="table text-center" style="border:none !important;background: #fff;padding:20px;">
				                    <tbody>
				                        <tr>
				                            <td style="width:16.6666666667%">
				                            	<h3>Set it up & optimise</h3>
				                            		<p>Let us get your new modem, tech or up to five internet-enabled devices connected to your home network.</p><br/>
					                            
				                            	<span style="color:#3490dc">
				                            		<h4>$240 upfront</h4>
				                            	</span>
				                            	<button style="margin-top:1%;" class="btn btn-primary customBtn" @click="selectPlan(240.00, 'optimise-upfront', '<ul><li>Let us get your new modem, tech or up to five internet-enabled devices connected to your home network.</li></ul>')">
				                            			<h5 style="padding-top:5px;">Select</h5>
				                            		</button>
				                            	<br/>
				                            	<br/>
			                            		<h5><strong>OR</strong></h5>

			                            		<p>spread the cost over 12 equal monthly payments</p><br/>
					                            
				                            	<span style="color:#3490dc">
				                            		<h4>$20 per month for 12 months</h4>
				                            	</span>
				                            	<button style="margin-top:5%;" class="btn btn-primary customBtn" @click="selectPlan(20.00, 'optimise-monthly', '<ul><li>spread the cost over 12 equal monthly payments </li></ul>')">
				                            			<h5 style="padding-top:5px;">Select</h5>
				                            		</button>
				                            </td>
				                            <td style="width:16.6666666667%">
				                            	<h3>Support it</h3>
				                            		<p>We'll investigate and solve an issue for you, such as slow computers, removing a computer virus, or fixing a connection problem. </p><br/>
					                            
				                            	<span style="color:#3490dc">
				                            		<h4>$240 upfront</h4>
				                            	</span>
				                            	<button style="margin-top:1%;" class="btn btn-primary customBtn" @click="selectPlan(240.00, 'Support it upfront', '<ul><li>We will investigate and solve an issue for you, such as slow computers, removing a computer virus, or fixing a connection problem.</li></ul>')">
				                            			<h5 style="padding-top:5px;">Select</h5>
				                            		</button>
				                            	<br/>
				                            	<br/>
			                            		<h5><strong>OR</strong></h5>

			                            		<p>spread the cost over 12 equal monthly payments</p><br/>
					                            
				                            	<span style="color:#3490dc">
				                            		<h4>$20 per month for 12 months</h4>
				                            	</span>
				                            	<button style="margin-top:5%;" class="btn btn-primary customBtn" @click="selectPlan(20.00, 'Support it monthly', '<ul><li>spread the cost over 12 equal monthly payments </li></ul>')">
				                            			<h5 style="padding-top:5px;">Select</h5>
				                            		</button>
				                            </td>
				                        </tr>
				                    </tbody>
				                </table>
	                    </div>
                	</div>
            	</div>

	            <div class="container" v-if="selectedPlan != ''">
	            	<!-- <h2 style="color:#068edf;padding-bottom:12px">Customise your Plan</h2> -->
					<div class="container" style="padding-left: 0px;padding-right: 0px;">
            			<div class="row">
							<div class="offset-8" v-if="confirmedCartItem == '0'">
								
							</div>
							<div class="offset-7" style="margin-left:64.333333%" v-if="confirmedCartItem == '1'">
								
							</div>
							<div class="col-2" v-if="confirmedCartItem == '0'" style="max-width: 22.666667%;flex: 0 0 22.666667%">
								<button  class="pull-right btn btn-primary customBtn" @click.prevent="confirmCartItem()"><h5 style="padding-top:5px;">Add to Cart</h5></button>
							</div>
							<div class="col-2"  v-if="confirmedCartItem == '0'" style="max-width: 10%">
								<button class="pull-right btn btn-secondary customBtn" @click.prevent="backBtnCategory('mobileDevice')"><h5 style="padding-top:5px;">Cancel</h5></button>
							</div>
							<div class="col-2" v-if="confirmedCartItem == '1'" style="padding-right: 0px;">
								<a href="/cart-items"><button class="pull-right btn btn-primary customBtn"><h5 style="padding-top:5px;">Go to Checkout</h5></button></a>
							</div>
							<div class="col-2" v-if="confirmedCartItem == '1'" style="max-width: 18.666667%;flex:0 0 18.666667%;padding-left:0px;">
								<button class="btn btn-secondary pull-right customBtn" @click.prevent="backBtnCategory('mobileDevice')"><h5 style="padding-top:5px;">Continue Shopping</h5></button>
							</div>
						</div>
					</div>
					<br/>
					<table style="border:none !important;background: #fff" id="planCartTable" class="table table-bordered text-center" >
            			<tbody>
            				<tr style="background: rgba(0,0,0,.05)">
            					<td style="padding-bottom:0px;">
            						<h5 style="padding-top:10px;padding-left:3rem;text-align:left;">Value Added Service</h5>
            					</td>
            					<td style="padding-bottom:0px;">
									<!-- <multiselect style="min-height:85px"
                                      v-model="vas"
                                      :options="vasOptions" :close-on-select="false" :clear-on-select="false" :multiple="true" track-by="id" label="name" placeholder="Select VAS">
                                    </multiselect> -->
            					</td>
            				</tr>
            				<tr>
            					<td style="width:40%;border-top-left-radius:10px;border-bottom-left-radius: 10px;">
            						<h5 style="padding-top:10px;padding-left:3rem;text-align:left;">Details</h5>
            					</td>
            					<td style="width:40%;border-top-right-radius:10px;border-bottom-right-radius: 10px;">
	        						<table id="priceTable" class="table table-bordered text-center table-striped" style="border:none !important;background: #fff">
        								<tbody>
        									<tr>
        										<td style="text-align: left;width:40%;"><h5>Plan</h5></td>
        										<td><h5 style="text-align: left;padding-left:1rem;color:rgb(6, 142, 223);">{{(this.selectedPlanType)}} - ${{Number(this.selectedPlan).toFixed(2)}}</h5></td>
        									</tr>
        									<tr>
        										<td colspan="2" style="text-align: left;width:40%;"><span v-html="selectedPlanDescription" style="text-align:left"></span></td>
        									</tr>
        									<tr>
        										<td style="text-align: left;width:40%;"><h5></h5></td>
        										<td><h5 style="display:none;text-align: left;padding-left:1rem;">${{Number(total).toFixed(2)}}</h5></td>
        									</tr>
        								</tbody>
        							</table>

        							<div class="col-md-12">
					        			<div class="row">
						        			<div class="col-6" style="padding-left:0px;padding-right:0px;max-width:40%;flex:0 0 40%;">
							        			<h5 class="grandTotalTable" style="padding-top:10px;padding-bottom:10px;border-top-left-radius: 10px;border-bottom-left-radius:10px;text-align:left;padding-left:1rem;">Total:</h5>
							        		</div>
							        		<div class="col-6" style="padding-right:0px;padding-left:0px;max-width:60%;flex:0 0 60%;">
							        			<h5 class="grandTotalTable" style="padding-left:1.7rem;padding-top:10px;padding-bottom:10px;border-top-right-radius: 10px;border-bottom-right-radius:10px;text-align:left;padding-left:1.7rem;">${{ Number(itemTotal).toFixed(2)}}</h5>
							        		</div>
							        	</div>
					        		</div>
            					</td>
            				</tr>
            			</tbody>
            		</table>
	            </div>	
			</div>
		</div>
	</div>
</template>

<script>
	import Multiselect from 'vue-multiselect'
	export default{
    	components: { Multiselect },
		data(){
			return{
				confirmedCartItem: 0,
				cartItem: {'valueAddedService': '','paymentDuration' : '', 'paymentFrequency' : '', 'paymentFrequencyVal' : '', 'selectedPlan' : '', 'selectedPlanType' : '', 'planType' : ''},
            	paymentDuration: 24,
            	paymentFrequency: 'monthly',
            	paymentFrequencyVal: 12,
				hroList: [],
				entertainment: {'entertainmentPlan': '', 'entertainmentPlanPrice' : '','entertainmentPlanDescription': ''},
				selectedPlan:'',
			}
		},
		computed: {
		    total: function(){

			  	let total = [];
			  	let idArray = [];


			  	return total.reduce(function(total, num){ return total + num }, 0);

			},
        	itemTotal(){
        		return (Number(this.selectedPlan))
        	},
		},
		mounted(){
		},
		methods:{
        	backBtnCategory(type){
        		if(type == 'plan'){
        			this.mobileDevices = ''
        			this.selectedPlan = ''
        		}

        		if(type == 'mobileDevice'){
        			this.mobileDevices = ''
        			this.selectedPlan = ''
        			this.vas = []
        			this.confirmedCartItem = 0
        			window.location = '/'
        		}
        	},
        	selectPlan(plan, planType, planDescription){
        		this.selectedPlan = plan

       //  		if(planType == 'Xbox One S-1'){
       //  			planType = 'Xbox One S'
		    	// }

		    	// if(planType == 'Xbox One X-1'){
		    	// 	planType = 'Xbox One X'
		    	// }

		    	// if(planType == 'Xbox One S-2'){
		    	// 	planType = 'Xbox One S'
		    	// }

		    	// if(planType == 'Xbox One X-2'){
		    	// 	planType = 'Xbox One X'
		    	// }

		    	console.log(planType)

        		this.selectedPlanType = planType
        		this.selectedPlanDescription = planDescription
        		this.planDescription = planDescription
        	},
        	changePaymentFrequency(paymentFrequency, paymentFrequencyVal){
        		this.paymentFrequency = paymentFrequencyVal
        		this.paymentFrequencyVal = paymentFrequencyVal
        	},
        	changePaymentDuration(paymentDuration){
        		this.paymentDuration = paymentDuration
        	},
        	confirmCartItem(){
		    	var crypto = require("crypto");

		    	// console.log(this.selectedPlanType)
		    	// return
		    	if(this.selectedPlanType == 'Telstra Platinum Once-off Basic Service'){
		    		this.entertainment.selectedEntertainmentPlan = {'id' : 0, 'name' : 'Telstra Platinum Once-off Basic Service', 'price' : 30, 'planDescription' : 'Including setting up email, software and tablets, connecting your printer and social media tutorials.', 'type' : 'once-off'}
		    	}

		    	if(this.selectedPlanType == 'Telstra Platinum Once-off Intermediate Service'){
		    		this.entertainment.selectedEntertainmentPlan = {'id' : 1, 'name' : 'Telstra Platinum Once-off Intermediate Service', 'price' : 60, 'planDescription' : 'Including setting up printers, cloud storage and troubleshooting gaming, email and software issues.', 'type' : 'once-off'}
		    	}

		    	if(this.selectedPlanType == 'Telstra Platinum Once-off Complex Service'){
		    		this.entertainment.selectedEntertainmentPlan = {'id' : 2, 'name' : 'Telstra Platinum Once-off Complex Service', 'price' : 90, 'planDescription' : 'Including setting up smart home devices and laptops, port forwarding and operating system recovery.', 'type' : 'once-off'}
		    	}

		    	if(this.selectedPlanType == 'Remote'){
		    		this.entertainment.selectedEntertainmentPlan = {'id' : 3, 'name' : 'Remote Service', 'price' : 10, 'planDescription' : 'Contact us 24x7 to get expert help whenever you need it, whatever your problem. Call or chat with us as often as you need.','type' :'platinum'}
		    	}

		    	if(this.selectedPlanType == 'Subscription'){
		    		this.entertainment.selectedEntertainmentPlan = {'id' : 4, 'name' : 'Subscription', 'price' : 15, 'planDescription' : 'Contact us 24x7 to get expert help whenever you need it, whatever your problem. Call or chat with us as often as you need.','type': 'platinum'}
		    	}	

		    	if(this.selectedPlanType == 'Support it upfront'){
		    		this.entertainment.selectedEntertainmentPlan = {'id' : 5, 'name' : 'Support it- Upfront', 'price' : 240, 'planDescription' : 'We will investigate and solve an issue for you, such as slow computers, removing a computer virus, or fixing a connection problem.','type': 'once-off'}
		    	}	

		    	if(this.selectedPlanType == 'Support it monthly'){
		    		this.entertainment.selectedEntertainmentPlan = {'id' : 6, 'name' : 'Support it - Monthly', 'price' : 20, 'planDescription' : 'spread the cost over 12 equal monthly payments','type': 'platinum', 'type' : 'platinum'}
		    	}	

		    	if(this.selectedPlanType == 'optimise-upfront'){
		    		this.entertainment.selectedEntertainmentPlan = {'id' : 7, 'name' : 'Set it up & optimise', 'price' : 240, 'planDescription' : 'Let us get your new modem, tech or up to five internet-enabled devices connected to your home network.','type': 'once-off'}
		    	}	

		    	if(this.selectedPlanType == 'optimise-monthly'){
		    		this.entertainment.selectedEntertainmentPlan = {'id' : 8, 'name' : 'Set it up & optimise', 'price' : 20, 'planDescription' : 'spread the cost over 12 equal monthly payments','type': 'platinum'}
		    	}		    	

		    	this.entertainment.entertainmentPlanPrice = this.selectedPlan
		    	this.entertainment.entertainmentPlan = this.selectedPlanType
		    	this.entertainment.entertainmentPlanDescription = this.selectedPlanDescription
		    	
		    	this.entertainment.id = crypto.randomBytes(20).toString('hex')
		    	this.confirmedCartItem = 1
		    	this.$store.state.entertainment.push(this.entertainment)
		    	this.$store.commit('addTelstraPlatinum', this.entertainment);
        	}
		}
	}
</script>

<style type="text/css" scoped="">
	text-leff{
		text-align: left;
	}
	li{
		display: block;
	}
    #planCartTable { border-collapse: separate; border-spacing: 0px; }

    nav > div a.nav-item.nav-link.active{
    	background: #3490dc;
    }

    h3{
    	color:#FCA318;
    	font-weight: bolder;
    }

    #planTable tr:last-child td:last-child{
    	border-bottom-left-radius:0px;
    }

    td{
    	font-size:18px !important;
    }
</style>