<template>
	<div>
		<div class="row justify-content-center" style="padding-top:2rem;">
			<div class="col-md-12" style="margin-top:20px;">
				<h2 style="color:#068edf;padding-bottom:12px">Telstra Plus Rewards Store</h2>
	            <div class="container">
					<div class="container" style="padding-left: 0px;padding-right: 0px;">
            			<div class="row">
							<div class="offset-8" v-if="confirmedCartItem == '0'">
								
							</div>
							<div class="offset-7" style="margin-left:64.333333%" v-if="confirmedCartItem == '1'">
								
							</div>
							<div class="col-2" v-if="confirmedCartItem == '0'" style="max-width: 24%;flex: 0 0 24%">
								<button  class="pull-right btn btn-primary customBtn" @click.prevent="confirmCartItem()"><h5 style="padding-top:5px;">Add to Cart</h5></button>
							</div>
							<div class="col-2"  v-if="confirmedCartItem == '0'" style="max-width: 8.5%">
								<button class="pull-right btn btn-secondary customBtn" @click.prevent="backBtnCategory('mobileDevice')"><h5 style="padding-top:5px;">Cancel</h5></button>
							</div>
							<div class="col-2" v-if="confirmedCartItem == '1'" style="padding-right: 0px;">
								<a href="/cart-items"><button class="pull-right btn btn-primary customBtn"><h5 style="padding-top:5px;">Go to Cart</h5></button></a>
							</div>
							<div class="col-2" v-if="confirmedCartItem == '1'" style="max-width: 18.666667%;flex:0 0 18.666667%;padding-left:0px;">
								<button class="btn btn-secondary pull-right customBtn" @click.prevent="backBtnCategory('mobileDevice')"><h5 style="padding-top:5px;">Continue Shopping</h5></button>
							</div>
						</div>
					</div>
					<br/>
					<table style="border:none !important;background: #fff" id="planCartTable" class="table table-bordered text-center" >
						<thead>
							<tr>
								<th style="width:33.3333333%">
									<h3>Points</h3>
								</th>								
								<th style="width:33.3333333%">
									<h3>Pay</h3>
								</th>
								<th style="width:33.3333333%">
									<h3>Search</h3>
								</th>
							</tr>
						</thead>
            			<tbody>
            				<tr>
            					<td>
								    <div class="form-group row">
										<div class="col-sm-12">
										  	<input type="number" v-model="redemption.points" @keyup="updatePoints(redemption.points, redemption.pay)" class="form-control" min="1"> 
									  	</div>
								  	</div>
								</td>
            					<td>
            						<div class="form-group row">
									  	
									  	<div class="col-sm-12">
											<input type="number" v-model="redemption.pay" @keyup="updatePoints(redemption.points, redemption.pay)" class="form-control" min="1">
									  	</div>
									</div>
            					</td>
            					<td>
            						<div class="form-group row">
            							<div class="col-sm-12">
	            							<multiselect 
	                                          	:options="defaultProductList" v-model="selectedProduct" :close-on-select="false" :multiple="false" track-by="sku" label="product" placeholder="Select Redemption Device" @input="addRedemptionProduct($event)">
	                                        </multiselect>
	                                    </div>
            						</div>
            					</td>
            				</tr>

            				<tr v-if="aroProductSelection.length != 0">
								<td colspan="3">
									<table id="priceTable" class="table table-bordered text-center table-striped" style="border:none !important;background: #fff">
        								<tbody>
		            						<tr>
		            							<td>
				            						Product : {{aroProductSelection.product}}<br/>
		            							</td>
			        						</tr>
			        						<tr>
		            							<td>
				            						Points : {{aroProductSelection.points}}<br/>
		            							</td>
			        						</tr>
			        						<tr>
		            							<td>
				            						Pay: ${{ Number(aroProductSelection.pay).toFixed(2) }}
				        						</td>
			        						</tr>
			        					</tbody>
			        				</table>
								</td>
            				</tr>
            			</tbody>
            		</table>
            		<div class="container" v-if="productList.length != 0 && productList">
            			<div class="row">
	    					<div style="width: 100%">
							    <tabs>
							        <span v-if="productList" v-for="(product,key) in productList">
							        	<tab :name="key">
								            <div class="container">
            									<div class="row">
            										<div v-if="selectedProductCount == '1'" class="col-12 text-center">
            											<img :src="(product[0].url) ? product[0].url : '/img/product-coming-soon.png'" class="image" height="150">
            											<div class="row">
	            											<!-- <div v-for="item in product"  class="col-6 text-center">
	            												<span style="min-height:50px;">
													            	<p style="min-height: 13%" class="">{{item.product}}</p>
													            	<p>{{item.points}} points | ${{item.pay}}</p>
													            </span>
													            <hr/>
	            											</div> -->
	            											<br/>
	            											<h4 style="width:100%;text-align:center">{{product[0].product}}</h4>
	            											<table class="table table-bordered" style="width:40%;margin-left:30%">
	            												<thead>
																	<tr>
																		<th style="width:33.3333333%">
																			<h4>Points</h4>
																		</th>								
																		<th style="width:33.3333333%">
																			<h4>Pay</h4>
																		</th>
																		<th style="width:33.3333333%">
																			<h4></h4>
																		</th>
																	</tr>
																</thead>
	            												<tbody>
	            													<!-- <tr>
	            														<td><h4>Points</h4></td>
	            														<td><h4>Pay</h4></td>
	            														<td></td>
	            													</tr> -->
		            												<tr v-for="item in product">
		            													<td class="singleProduct"><p>{{item.points}} points</p></td>
		            													<td class="singleProduct"><p>${{item.pay}}</p></td>
		            													<td class="singleProduct"><button class="btn btn-primary" @click.prevent="addRedemptionProduct(item)">Select</button></td>
		            												</tr>
		            											</tbody>
	            											</table>
	            										</div>
            										</div>

										            <div v-else class="col-2 text-center redemptionPlan" v-for="item in product" style="padding:10px;" @click.prevent="addRedemptionProduct(item)">
										            	<!-- <img src="/img/product-coming-soon.png" width="100%"> -->
										            	<img :src="(item.url) ? item.url : '/img/product-coming-soon.png'" class="image" height="150">
										            	<span style="min-height:50px;">
											            	<p style="min-height: 13%" class="">{{item.product}}</p>
											            	<p>{{item.points}} points | ${{item.pay}}</p>
											            </span>

											            <div class="middle">
													    	<div class="text"><h3>Select</h3></div>
													 	</div>

										            	<!-- <button class="btn btn-primary" @click.prevent="addRedemptionProduct(item)">Select</button> -->
										            </div>
										        </div>
										    </div>
								        </tab>
							        </span>
							        <span v-else>
							        	<span class="fa fa-spinner fa-spin"></span>
							        </span>
							    </tabs>

							</div>
	    				</div>
    				</div>
	            </div>	
			</div>
		</div>
	</div>
</template>

<script>
	import Multiselect from 'vue-multiselect'
	import Tabs from 'vue-tabs-component';

	Vue.use(Tabs);
	export default{
    	components: { Multiselect },
		data(){
			return{
				confirmedCartItem: 0,
				cartItem: {'valueAddedService': '','paymentDuration' : '', 'paymentFrequency' : '', 'paymentFrequencyVal' : '', 'selectedPlan' : '', 'selectedPlanType' : '', 'planType' : ''},
            	paymentDuration: 24,
            	paymentFrequency: 'monthly',
            	paymentFrequencyVal: 12,
				productList: [],
				hro: {},
				redemption: {points: 0,pay:1},
				aroProductSelection: '',
            	aroSelection: {'id':3,'name':'$240.00','value':'240.00'},
            	aro: {'base': 240, 'monthly' : 12},
            	selectedProduct: {},
            	defaultProductList: [],
            	selectedProductCount: 0
			}
		},
		computed: {
        	itemTotal(){
        		var self = this
        		var price = 0
    			if(this.hro.item != null && this.hro.hroMonthly == 24){
    				var price = this.hro.item.price_24_months
    			}

    			if(this.hro.item != null && this.hro.hroMonthly == 12){
    				var price = this.hro.item.price_24_months * 2
    			}	

    			if(typeof price === 'undefined'){
    				price = 0
    			}
    			this.hro.hroMonthlyPrice = price
    			return price
        	}
		},
		mounted(){
			this.getRedemptionProducts()
			this.getRedemptionUniqueProducts()
	    	axios.get('/get-redemptions-unique-products').then((response) => {
	    		this.defaultProductList = response.data
	    	})
		},
		methods:{
        	backBtnCategory(type){
        		if(type == 'plan'){
        			this.mobileDevices = ''
        			this.selectedPlan = ''
        		}

        		if(type == 'mobileDevice'){
        			this.mobileDevices = ''
        			this.selectedPlan = ''
        			this.vas = []
        			this.confirmedCartItem = 0
        			window.location = '/'
        		}
        	},
        	selectPlan(plan, planType){
        		this.selectedPlan = plan
        		this.selectedPlanType = planType
        	},
        	changePaymentFrequency(paymentFrequency, paymentFrequencyVal){
        		this.paymentFrequency = paymentFrequencyVal
        		this.paymentFrequencyVal = paymentFrequencyVal
        	},
        	changePaymentDuration(paymentDuration){
        		this.paymentDuration = paymentDuration
        	},
        	confirmCartItem(){
		    	var crypto = require("crypto");
		    	this.hro = this.aroProductSelection.selectedItem
		  		// this.hro.product = this.aroProductSelection.selectedItem.product
				// this.hro.category = this.aroProductSelection.selectedItem.product3
				// this.hro.points = this.aroProductSelection.selectedItem.points
				// this.hro.pay = this.aroProductSelection.selectedItem.pay
				// this.hro.rrp = this.aroProductSelection.selectedItem.rrp
				// this.hro.sku = this.aroProductSelection.selectedItem.sku
				this.hro.quantity = 1
		    	this.hro.id = crypto.randomBytes(20).toString('hex')
		    	this.confirmedCartItem = 1
		    	this.hro.itemType = 'redemption'
		    	this.hro.mobileOption = {'id':0,'name':'Siebel'}
		    	this.$store.state.quadrantCartCount++
			    this.$store.state.cartCount++
			    this.$store.state.quadrantCart.push(this.hro)

	    		window.localStorage.setItem('quadrantCartCount', this.$store.state.quadrantCartCount);
        		window.localStorage.setItem('quadrantCart', JSON.stringify(this.$store.state.quadrantCart));
        		window.localStorage.setItem('cartCount', (this.$store.state.cartCount));
		    	
		    	// console.log(this.hro)
		    	// return
		    	//this.$store.state.updateQuadrantItem.push(this.hro)
		    	//this.$store.state.hro.push(this.hro)

		    	//this.$store.commit('addProductRedemption', this.aroProductSelection);
        	},
		    addHroItem(event){
		    	console.log(event)
		    	this.hro = event

		    },
		    changeHroMonthly(event){
		    	if(event.target.length && event.target.value == 24){
					this.hro.hroMonthly = 24
				}

				if(event.target.length && event.target.value == 12){
					this.hro.hroMonthly = 12
				}
		    },
	        getRedemptionProducts(){
	        	axios.get('/get-redemptions-products').then((response) =>{
	        		this.products = response.data
	        		//this.defaultProductList = response.data
	        	})
	        },
	        getRedemptionUniqueProducts(){
	        	axios.get('/get-redemptions-unique-products').then((response) =>{
	        		this.defaultProductList = response.data
	        	})
	        },
			customLabel ({ product, points, pay }) {
				if(!product){
					return 'Search'
				}else{
		      		return `${product} — ${points}pts | [$${pay}]`
				}
		    },
			addRedemptionProduct(event){
				// console.log(event)
				// console.log(event)
				// return
			  	if(event != null){
			  		// this.redemption.points = this.selectedProduct.points
			  		// this.redemption.pay = this.selectedProduct.pay
			  		this.selectedProduct.sku = event.sku
			    	var pay = 0
			    	if(this.redemption.pay == 0){
			    		pay = 1
			    	}
			    	this.selectedProductCount = 1
			  		this.updatePoints(this.redemption.points, pay)

			  		this.aroProductSelection = {'id':event.id,'pay': event.pay,'points' : event.points,'product' : event.product,'selectedItem' : event}
					let to = this.moveToDown
					    ? this.$refs.description.offsetTop - 60
					    : 0
					window.scroll({
					    top: to,
					    left: 0,
					    behavior: 'smooth'
				  	})
			  	}else{
			  		var pay = 0
			    	if(this.redemption.pay == 0){
			    		pay = 1
			    	}
			    	this.selectedProductCount = 0
			    	this.selectedProduct = ''
			  		this.updatePoints(this.redemption.points, pay)
			  	}
				//this.aroProductSelection = {'id':event.id,'pay': event.pay,'points' : event.points,'product' : event.product,'selectedItem' : event}
				

			},
        	onChangeAro(event){
        		this.aro.base = event.value
        		this.aro.monthly = this.aro.monthly
        	},
		    updatePoints(points, pay){
		    	if(pay == 0.00){
		    		pay = 1
		    	}
		    	if (this.timer) {
			        clearTimeout(this.timer);
			        this.timer = null;
			    }
			    this.timer = setTimeout(() => {
			    	this.getRedemptionProducts()
					let products = []
					let products2 = []
					// return
		    		//return
		    		
		    			//if(typeof this.selectedProduct.sku != "undefined"){
		    			if(this.selectedProductCount != 0){
		    				for (let product of this.products) {
			    				if(this.redemption.points == 0){
				    				if(product.product == this.selectedProduct.product){
						                products.push(product)
						            }else{
						            	//products.push(product)
						            }	
						        }

						        if(this.redemption.points > 1){
						        	if(product.product == this.selectedProduct.product){
							        	if(Number(product.points) <= Number(this.redemption.points) && (product.pay) <= Number(this.redemption.pay) && (product.product) == (this.selectedProduct.product)){
							        		console.log(product)
							                products.push(product)
							            }	
							        }
						        }
					        }
		    			}else{
		    				for (let product of this.products) {
					            	products.push(product)
				            }  				
		    			}
		            
		            this.products = []

					const grouped = _.groupBy(products, 'product3')
    				const productList = Object.keys(grouped)
    				if(products.length != 0){
	    				this.productList = _.groupBy(products, 'product3')
	    			}else{
	    				this.productList = []
	    			}
    				console.log(grouped)
			    }, 800);
		    },
		    tabClicked (selectedTab) {
	            console.log('Current tab re-clicked:' + selectedTab.tab.name);
	        },
	        tabChanged (selectedTab) {
	            console.log('Tab changed to:' + selectedTab.tab.name);
	        },
		}
	}
</script>

<style type="text/css">
	.singleProduct{
		padding-top:5px !important;
		padding-bottom:5px !important;
	}

	.singleProduct > p{
		padding-top:10px !important;
	}

	#planCartTable { border-collapse: separate; border-spacing: 0px; }
	.productCat{
		flex: 0 0 14.285714%;
    	max-width: 14.285714%;
	}

	.tabs-component {
	  margin: 4em 0;
	}

	.tabs-component-tabs {
	  border: solid 1px #ddd;
	  border-radius: 6px;
	  margin-bottom: 5px;
	}

	@media (min-width: 700px) {
	  .tabs-component-tabs {
	    border: 0;
	    align-items: stretch;
	    display: flex;
	    justify-content: flex-start;
	    margin-bottom: -1px;
	  }
	}

	.tabs-component-tab {
	  color: #999;
	  font-size: 14px;
	  font-weight: 600;
	  margin-right: 0;
	  list-style: none;
	}

	.tabs-component-tab:not(:last-child) {
	  border-bottom: dotted 1px #ddd;
	}

	.tabs-component-tab:hover {
	  color: #666;
	}

	.tabs-component-tab.is-active {
	  color: #000;
	}

	.tabs-component-tab.is-disabled * {
	  color: #cdcdcd;
	  cursor: not-allowed !important;
	}

	@media (min-width: 700px) {
	  .tabs-component-tab {
	    background-color: #fff;
	    border: solid 1px #ddd;
	    border-radius: 3px 3px 0 0;
	    margin-right: .5em;
	    transform: translateY(2px);
	    transition: transform .3s ease;
	  }

	  .tabs-component-tab.is-active {
	    border-bottom: solid 1px #fff;
	    z-index: 2;
	    transform: translateY(0);
	  }
	}

	.tabs-component-tab-a {
	  align-items: center;
	  color: inherit;
	  display: flex;
	  padding: .75em 1em;
	  text-decoration: none;
	}

	.tabs-component-panels {
	  padding: 4em 0;
	}

	@media (min-width: 700px) {
	  .tabs-component-panels {
	    border-top-left-radius: 0;
	    background-color: #fff;
	    border: solid 1px #ddd;
	    border-radius: 0 6px 6px 6px;
	    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
	    padding: 4em 2em;
	  }
	}

	li{
		margin-left:0px;
		margin-right:0px;
	}
	.tabs-component-tab{

		margin-right:0px;
	}

	.redemptionPlan:hover .image {
	  opacity: 0.3;

	}

	.redemptionPlan:hover{
		border-radius:10px;
		cursor: pointer;
	  	background-color: #1670a6 !important;
	  	color:#fff;
	}

	.middle {
	  transition: .5s ease;
	  opacity: 0;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	  text-align: center;
	  color:#000;
	}

	.redemptionPlan:hover .middle:hover {
	  opacity: 1 !important;
	}

	.image .card-title{
	  opacity: 1;
	  display: block;
	  width: 100%;
	  height: auto;
	  transition: .5s ease;
	  backface-visibility: hidden;
	  color:#028cde !important;
	}

	.text{
		color: #FCA318;
	}

	.multiselect, .multiselect__input, .multiselect__single{
		font-size:14px !important;
	}

	.tabs-component-panels {
		padding-top:1em !important;
	}
</style>