.whiteBg{
  background:#fff !important;
}

.shadow-sm{
  background-image: url('/img/TopMenu.png');
  background-size: cover;

}

.py-4{
  padding-top:0px !important;
}

nav > .nav.nav-tabs{

  border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
  padding: 18px 25px;
  color:#fff;
  background:#bababa;
  border-radius:0;
  font-size:20px;
}


nav > div a.nav-item.nav-link.active{
  background: #fca318;
  font-size:20px;
}

/*nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #e74c3c ;
}*/
.tab-content{
  background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    padding:0px 0px !important;
}


nav > div a.nav-item.nav-link:hover{
  background: #fff;
  color:#545454;
}

nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #fca318;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}

.borderless td, .borderless th {
    border: none;
}

.plan-tab{
  padding:0px 11px;
  border-radius: 5px;
}

.planContainer{
  padding:0px 5px;
}

.plans{
  border:  1px solid #e2e2e2;
  padding:10px;
  font-size: 18px;

}

.plans{
  color:#545454;
}

.plans:hover{
 background: rgba(234,167,33,0.6) !important;
  color:#fff;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.img-fluid{
  background-size: cover;
  width: 100%
}

.productHover:hover{
    background: rgba(234,167,33,0.6);
    color:#fff;
    cursor: pointer;
  }

  .activeItem{
    background-color:#000;
    color:#fff;
    cursor: pointer;
  }

  .bordered{
    border: 2px solid #3490dc;
  }

  a:hover{
    cursor: pointer;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  .priceTable{
    border:1px solid #000;
  }

  .paginate-links{
    background-color: #fff;
    text-align: center;
    padding:10px;
    font-size: 18px;
    margin:0px 40px 20px 40px;
  }

  .paginate-list {
    width: 159px;
    margin: 0 auto;
    text-align: left;
    li {
      display: block;
      &:before {
        content: '⚬ ';
        font-weight: bold;
        color: slategray;
      }
    }
  }

  .list-group-item {
    cursor: pointer;
    margin-bottom: 10px;
  }
  .paginate-links.items {
    user-select: none;
    a {
      cursor: pointer;
    }
    li.active a {
      font-weight: bold;
    }
    li.next:before {
      content: ' | ';
      margin-right: 13px;
      color: #ddd;
    }
    li.disabled a {
      color: #ccc;
      cursor: no-drop;
    }
  }

  .disabled{
    color: #ccc;
      cursor: no-drop;
  }

  a {
    color: #42b983;
  }

  .addedService{
    min-width: 210px;
  }

  .spacing{
    margin-left:1%;
  }

  .mobilePlan {
    position: relative;
    width: 50%;
  }

  .image .card-title{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    color:#028cde !important;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .mobilePlan:hover .image {
    opacity: 0.3;

  }

  .planHover:hover{
    border-radius:10px;
    cursor: pointer;
        background-color: #1670a6 !important;
  }

  .mobilePlan:hover .middle {
    opacity: 1;
  }

  .text {
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

  .tabPlan{
    border-top-left-radius: 10x;
    border: 1px solid #e2e2e2;
    background-color:#fca318;
  }

  #planTable { border-collapse: separate; border-spacing: 0px; }
  #planTable td { border:1px solid #dee2e6; }
  #planTable tr:first-child td:first-child { border-top-left-radius: 10px; }
  #planTable tr:first-child td:last-child { border-top-right-radius: 10px; }
  #planTable tr:last-child td:first-child { border-bottom-left-radius: 10px; }
  #planTable tr:last-child td:last-child { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }

  #customTbl{ border-collapse: separate; border-spacing: 0px; }
  #customTbl td { border:1px solid #dee2e6; }
  #customTbl tr:first-child td:first-child { border-top-left-radius: 10px; }
  #customTbl tr:first-child td:last-child { border-top-right-radius: 10px; }
  #customTbl tr:last-child td:first-child { border-bottom-left-radius: 10px; }
  #customTbl tr:last-child td:last-child { border-bottom-right-radius: 10px; }
  .customBtn{
    border-radius:25px;padding-right: 30px;padding-left:30px;
  }

  /* enable absolute positioning */
  .inner-addon { 
      position: relative; 
  }

  /* style icon */
  .inner-addon .fa {
    position: absolute;
    padding: 10px 30px 10px 20px;
    pointer-events: none;
  }

  /* align icon */
  .left-addon .fa  { left:  0px;}
  .right-addon .fa { right: 0px;font-size:18px;}

  /* add padding  */
  .left-addon input  { padding-left:  50px; }
  .right-addon input {  padding-right: 150px;
    border-radius: 15px;
    height: 40px;
    font-size: 20px; }

    #princingTable{ border-collapse: separate; border-spacing: 0px; }
    #princingTable tbody tr:last-child td:last-child { border-bottom-left-radius: 10px; }
    #princingTable tbody tr:last-child td:first-child { border-bottom-right-radius: 10px; }
    .multiselect{min-height: 65px !important;}

    #planCartTable { border-collapse: separate; border-spacing: 0px; }

    #priceTable { border-collapse: separate; border-spacing: 0px; }
  #priceTable thead {background-color:#bababa;color:#fff;}
  #priceTable tbody tr:first-child td:first-child { border-top-left-radius: 10px; }
  #priceTable tbody tr:first-child td:last-child { border-top-right-radius: 10px; }
  #priceTable tbody tr:last-child td:first-child { border-bottom-left-radius: 10px; }
  #priceTable tbody tr:last-child td:last-child { border-bottom-right-radius: 10px; }