body{
	/*background-image:url(/img/blue-bg.jpg);*/
	background-repeat: none;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
}

.borderless{
	border: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1440px;
  }
}

.container-fluid{
	padding-left: 0;
	padding-right: 0;
}

