<template>
	<div class="container">
	    <div class="row justify-content-center">
	        <div class="col-md-12">
	            <div class="card">
	                <div class="card-header" style="padding:10px 0px;">
	                	<div class="container-fluid row">
		                	<span class="col-6 pull-left"><h3>Consumer Mobile Broadband Devices</h3></span>
		                </div>
		            </div>

		            <div class="card-body">
		            	<v-client-table class="text-center" v-if="mobileDevices" :data="mobileDevices" :columns="['make','model','capacity','product_code','rrp_incl_gst','date_created', 'actions']" :options="options">
							<template slot="date_created" slot-scope="props">
								{{props.row.created_at | formatDate}}
		                    </template>

		                    <template slot="rrp_incl_gst" slot-scope="props">
								${{props.row.rrp_incl_gst}}
		                    </template>
		                    
		                    <template slot="actions" slot-scope="props">
		                    	<button class="btn btn-primary" @click.prevent="modifyPrice(props.row)">Modify Pricing</button>
		                    </template>
    					</v-client-table>

    					<div class="modal fade" id="modifyPricingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="min-height:500px;">
						  	<div class="modal-dialog modal-lg" role="document">
							    <div class="modal-content">
							      	<div class="modal-header">
							        	<h5 class="modal-title" id="exampleModalLabel">Pricing</h5>
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								          <span aria-hidden="true">&times;</span>
								        </button>
							      	</div>
							      	<form class="form">
								      	<div class="modal-body">
								      		<div class="form-group col-12">
											    <label for="exampleInputEmail1">Device:</label>
				                                <input type="text" class="form-control" disabled="" v-model="outright.device">
			                                </div>
								      		<div class="form-group col-12">
											    <label for="exampleInputEmail1">Outright Price:</label>
				                                <input type="text" class="form-control" v-model="outright.price">
			                                </div>

								      		<div class="form-group col-12">
											    <label for="exampleInputEmail1">12 month price:</label>
				                                <input type="text" class="form-control" v-model="outright.mths_12_device_payment_contract">
			                                </div>


								      		<div class="form-group col-12">
											    <label for="exampleInputEmail1">24 month price:</label>
				                                <input type="text" class="form-control" v-model="outright.mths_24_device_payment_contract">
			                                </div>
								      	</div>

								      	<div class="modal-footer">
									        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									        <button class="btn btn-primary" @click.prevent="save()">
		                                        Submit
		                                    </button>
								      	</div>
							      	</form>
						      	</div>
						    </div>
						</div>

		            </div>

		        </div>


	            <div class="card" style="margin-top:20px;">
	                <div class="card-header" style="padding:10px 0px;">
	                	<div class="container-fluid row">
		                	<span class="col-6 pull-left"><h3>Business Mobile Devices</h3></span>
		                </div>
		            </div>

		            <div class="card-body">
		            	<v-client-table class="text-center" v-if="businessMobileDevices" :data="businessMobileDevices" :columns="['make','model','capacity','product_code','rrp_incl_gst','date_created', 'actions']" :options="options">
							<template slot="date_created" slot-scope="props">
								{{props.row.created_at | formatDate}}
		                    </template>

		                    <template slot="rrp_incl_gst" slot-scope="props">
								${{props.row.rrp_incl_gst}}
		                    </template>
		                    
		                    <template slot="actions" slot-scope="props">
		                    	<button class="btn btn-primary" @click.prevent="modifyBusinessPricingModal(props.row)">Modify Pricing</button>
		                    </template>
    					</v-client-table>

    					<div class="modal fade" id="modifyBusinessPricingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="min-height:500px;">
						  	<div class="modal-dialog modal-lg" role="document">
							    <div class="modal-content">
							      	<div class="modal-header">
							        	<h5 class="modal-title" id="exampleModalLabel">Business Mobile Broadband Device Pricing</h5>
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								          <span aria-hidden="true">&times;</span>
								        </button>
							      	</div>
							      	<form class="form">
								      	<div class="modal-body">
								      		<div class="form-group col-12">
											    <label for="exampleInputEmail1">Device:</label>
				                                <input type="text" class="form-control" disabled="" v-model="outright.device">
			                                </div>
								      		<div class="form-group col-12">
											    <label for="exampleInputEmail1">Outright Price:</label>
				                                <input type="text" class="form-control" v-model="outright.price">
			                                </div>

								      		<div class="form-group col-12">
											    <label for="exampleInputEmail1">12 month price:</label>
				                                <input type="text" class="form-control" v-model="outright.mths_12_device_payment_contract">
			                                </div>


								      		<div class="form-group col-12">
											    <label for="exampleInputEmail1">24 month price:</label>
				                                <input type="text" class="form-control" v-model="outright.mths_24_device_payment_contract">
			                                </div>
								      	</div>

								      	<div class="modal-footer">
									        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									        <button class="btn btn-primary" @click.prevent="editBusinessMobilePrice()">
		                                        Submit
		                                    </button>
								      	</div>
							      	</form>
						      	</div>
						    </div>
						</div>

		            </div>

		        </div>
		    </div>
		</div>
	</div>
</template>

<script type="text/javascript">
	import Datepicker from 'vuejs-datepicker';
 
	import {ServerTable, ClientTable, Event} from 'vue-tables-2';
    
    Vue.use(ClientTable, {}, false, 'bootstrap4');

    import moment from 'moment';
	Vue.filter('formatDate', function(value) {
        if (value) {
            return moment(String(value)).format('D MMM Y')
        }
    })
	import Multiselect from 'vue-multiselect'
	export default{
		components: {
		    Datepicker,Multiselect
		},
		data() {
            return {
				mobileDevices:[],
				mobileDevice: {},
				businessMobileDevices: [],
				outright: {'device' : '', 'price': 0, 'mths_12_device_payment_contract' :0, 'mths_24_device_payment_contract' : 0},
                options: {
                    perPage: 30,
                    sortIcon: {
				        base : 'fa',
				        is: 'fa-sort',
				        up: 'fa-sort-asc',
				        down: 'fa-sort-desc'
				    },
                },
			}
		},
		mounted(){
			this.getOutrightMobileDevices()
			this.getBusinessMobileDevices()
		},
		methods:{
			getOutrightMobileDevices(){
				axios.get('/get-outright-mobile-broadband-devices').then((response) => {
					this.mobileDevices = response.data
				})
			},
			getBusinessMobileDevices(){
				axios.get('/get-business-mobile-broadband-devices').then((response) => {
					this.businessMobileDevices = response.data
				})
			},
			modifyPrice(data){
				console.log(data)
				this.mobileDevice = data
				this.outright.device = data.make+' '+data.model+' '+((data.capacity) ? data.capacity : '')
				this.outright.price = data.rrp_incl_gst
				this.outright.mths_12_device_payment_contract = data.mths_12_device_payment_contract
				this.outright.mths_24_device_payment_contract = data.mths_24_device_payment_contract
				this.outright.id = data.id
        		$('#modifyPricingModal').modal('show')
			},
			modifyBusinessPricingModal(data){
				console.log(data)
				console.log('triggered here')
				this.mobileDevice = data
				this.outright.device = data.make+' '+data.model+' '+((data.capacity) ? data.capacity : '')
				this.outright.price = data.rrp_incl_gst
				this.outright.mths_12_device_payment_contract = data.mths_12_device_payment_contract
				this.outright.mths_24_device_payment_contract = data.mths_24_device_payment_contract
				this.outright.id = data.id
        		$('#modifyBusinessPricingModal').modal('show')
			},
			save(){
				axios.post('/outright-edit-mobile-broadband-pricing',this.outright).then((response) => {
					$('#modifyPricingModal').modal('hide')
					this.getOutrightMobileDevices()
					this.$toastr.s("Success! Price has been modified.");
				})
			},
			editBusinessMobilePrice(){
				axios.post('/edit-business-mobile-broadband-pricing',this.outright).then((response) => {
					$('#modifyBusinessPricingModal').modal('hide')
					this.getOutrightMobileDevices()
					this.$toastr.s("Success! Price has been modified.");
				})
			}
		}
	}
</script>